{% load ttttags %}
<div id="paper{{ squad.id }}sub{{ subject.id }}" class="ppr{{ subject.id }} {% if forloop.counter == 1 %}paper_active{% else %}paper{% endif %}" style="background-color: #4A4A4A;">
    <div class="ui grid" style="margin: 0;padding: 0 14px;">
        {% for sm in subject.materials.all %}
            {% if sm|find_sc:squad|length > 0 %}
            <div class="two wide column" style="padding: 14px 3px;{% if forloop.counter > 9 %} display: none;{% endif %}" >
                <div style="padding-top: 5px;text-align: left;color: white;">
                    {% for squad_cell in sm|find_sc:squad %}
                    <div style="height: 62px;">
                        {{ squad_cell.date }}
                    </div>
                    <div style="width: 100%;float: left;">
                        <span style="font-size: 11px; color: grey;float: left;">
                            {{ squad_cell.time_period.start }}-{{ squad_cell.time_period.end }}
                        </span>
                    </div>
                    <br>
                    {% for attendance in squad_cell|hisattendance:hisprofile %}
                        {% if attendance.subject == subject %}
                        <div style="width: 100%;height: 30px;color: #222;padding: 5px;text-align: center;" class="ui segment">
                            {% if attendance.grade > 0 %}{{ attendance.grade }}{% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                        
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>