{% load ttttags %}

<div id="paper{{ squad.id }}sub{{ subject.id }}" class="ppr{{ subject.id }} {% if forloop.counter == 1 %}paper_active{% else %}paper{% endif %}" style="background-color: #4A4A4A;">
	<div class="ui grid" style="margin: 0;padding: 0 25px 0 0;">
		<div style="width: 25%;padding: 2px 0 2px 0;">
			<div style="text-align: left;color: white;height: 50px;line-height: 50px;">
		    </div>
		    <br>
			{% for student in squad.students.all %}
				<div style="padding: 10px;text-align: left;color: white;height: 40px;line-height: 25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;{% if forloop.counter|is_odd %}background-color: #545454{%endif%}">
			        {{ student.first_name }}
			    </div>
			    <div class="ui divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
			{% endfor %}
		</div>
	    <div class="main-slider{{ subject.id }}{{ squad.id }} swiper-container" id="{{ subject.id }}{{ squad.id }}" style="padding-left: 0">
	      	<div class="swiper-wrapper" style="height: auto;">
				{% for sm in subject.materials.all %}
					{% if sm|find_sc:squad|length > 0 %}
					{% for squad_cell in sm|find_sc:squad %}
					<div class="swiper-slide" style="padding: 7px 0;width: 25%; height:105px;border-right: 1px solid #545454;" >
						<div style="padding-top: 5px;text-align: left;color: white;">
							<div style="height: 40px;padding-left: 2px;">
								{{ squad_cell.date }}
								<br>
			                    <span style="font-size: 11px; color: grey;float: left;">
			                        {{ squad_cell.time_period.start }}-{{ squad_cell.time_period.end }}
			                    </span>
			                </div>
			                <br>
			            	{% for attendance in squad_cell|find_attendance:subject %}
				            	{% if attendance.student in squad.students.all %}
				            	<div style="width: 100%;height: 40px;padding: 5px 1px 1px 1px;{% if forloop.counter|is_odd %}background-color: #545454{%endif%};text-align: center;">
				            		{% if attendance.squad_cell.date|check_date:5 == 'now' %}
				            		<span style="display: none;" class="today{{ subject.id }}{{ squad.id }}" number='{{forloop.parentloop.parentloop.counter|minus}}'></span>
				            		<div id="grades{{ attendance.id }}" style="{% if attendance.present != 'present' and attendance.present != 'late' %}display: none;{% endif %};height: 100%;">
					            		<a class="ui button mini save_grade {% if attendance.grade == 5 %}green{% endif %}" url={{attendance.change_url}} id="{{attendance.id}}" grade="5">5</a>
					            		<a class="ui button mini save_grade {% if attendance.grade == 4 %}green{% endif %}" url={{attendance.change_url}} id="{{attendance.id}}" grade="4">4</a>
					            		<a class="ui button mini save_grade {% if attendance.grade == 3 %}green{% endif %}" url={{attendance.change_url}} id="{{attendance.id}}" grade="3">3</a>
					            		<a class="ui button mini save_grade {% if attendance.grade == 2 %}green{% endif %}" url={{attendance.change_url}} id="{{attendance.id}}" grade="2">2</a>
				            		</div>
				            		<div id="attendance{{ attendance.id }}" style="{% if attendance.present == 'present' or attendance.present == 'late' %}display: none;{% endif %}">
				            			<a url="{{ attendance.present_url }}" class="ui button mini full-w blue att_present" id="{{attendance.id}}" style="padding: 7px 5px;">На уроке</a>
				            		</div>
				            		{% elif attendance.squad_cell.date|check_date:2 == 'future' %}
				            		{% else %}
				            			<span style="display: none;" class="past{{ subject.id }}{{ squad.id }}" number='{{forloop.parentloop.parentloop.counter|minus}}'></span>
					            		{% if attendance.grade > 0 %}
					            		<div class="ui segment" style="color: #222;background-color: #e0e1e2;font-size:11px;width: 30%;height: 22px;padding: 3px;text-align: center;margin: auto;">
					            			{{attendance.grade}}
					            		</div>
					            		{% endif %}
				            		{% endif %}
		 		                </div>
		 		                <div class="ui divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
				                {% endif %}
			                {% endfor %}
						</div>
					</div>
					{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	    <div class="swiper-button-prev uploaded-in-prev{{ subject.id }}{{ squad.id }}" style="margin-left: 23%;"></div>
	    <div class="swiper-button-next uploaded-in-next{{ subject.id }}{{ squad.id }}" style="margin-right: 5px;"></div>
	</div>
</div>