<span style="display: none;" class="instance_id" id="{{ subject.id }}"></span>
{% if hisprofile.is_trener %}
    <div class="ui grid" style="text-align: center; margin: 14px 0 2px 0;">
        {% for squad in subject.squads.all %}
            <a class="{% if forloop.counter == 1 %}switch_att_btn_active{% endif %} switch_att_btn switch_att_btn{{ subject.id }}" style="width: calc(100%/{{ subject.squads.all|length }});" paper_id='{{ squad.id }}sub' lesson_id='{{ subject.id }}'>
                {{ squad.title }}
            </a>
        {% endfor %}
    </div>
    {% for squad in subject.squads.all %}
        {% include 'profile/att_squad_detail.html' %}
    {% endfor %}
{% else %}
    <div class="ui grid" style="text-align: center; margin: 14px 0 2px 0;">
        {% for squad in subject.squads.all %}
            {% if forloop.counter == 1 %}
            <a class="{% if forloop.counter == 1 %}switch_att_btn_active{% endif %} switch_att_btn switch_att_btn{{ subject.id }}" 
            style="width: calc(100%/{{ subject.squads.all|length }});" paper_id='{{ squad.id }}sub'  lesson_id='{{ subject.id }}'>
                {{ squad.title }}
            </a>
            {% endif %} 
        {% endfor %}
    </div>
    {% for squad in hisprofile.squads.all %}
        {% include 'profile/att_student_detail.html' %}
    {% endfor %}
{% endif %}  