{% load ttttags %}
{% load ttags %}
<div style="background-color: #4A4A4A;">
    <div class="ui grid" style="margin: 0;padding: 0 25px 0 0;">   
        <div style="width: 100%;padding: 0;overflow: hidden">
            <div id="btn-prev" class="btn-prev" onclick="moverLeft()" style="left: 0;">&#60;</div>
            <div id="slider" class="slider" first_set="no" last_set="no" index="0">
                <div id="prev_atts" style="width: max-content;display: flex;"></div>
                {% for date in att_subject|get_current_attendance_student:hisprofile %}
                    <section class="slider__section">
                        <div class="attendance_date{%if forloop.counter == 4%} last_att{%endif%} att{{forloop.counter}}" number="{{forloop.counter}}" id="{{date.0.0.subject_materials.id}}">
                            {{ date.1 }}
                        </div>
                        {% for attendance in date.0 %}
                            {% include 'profile/attendance_block_student.html' %}
                        {% endfor %}
                    </section>
                {% endfor %}
                <div id="next_atts" style="width: max-content;display: flex;"></div>
            </div>
            <div id="btn-next" class="btn-next" onclick="moverRight()">&#62;</div>
        </div>
    </div>
</div>
