{% load staticfiles %}
<style type="text/css">
    .switch_btn_active{
        background-color: #5181b8;
        color: white;
    }
    .switch_btn_active:hover{
        color: white;
    }
</style>
{% if hisprofile == profile or profile.is_manager %}
    <div class="ui segment" style="margin-bottom: 0;margin-top: 0">
        <div class="ui grid">
            <div class="one wide column">
                <img src="{% static 'images/grades.png' %}" style="width: 28px;border-radius: 3px;">  
            </div>
            <div class="two wide column" style="line-height: 28px;font-size: 15px;">
                Журналы
            </div>
        </div>
    </div> 
        <style>
        .one.wide.column {
            margin-right: 14px;
        }
        @media only screen and (max-width: 767px) {
          .one.wide.column {
            margin-right: 20px;
          }
        }
        </style>
    <div class="ui segment" style="margin-top: 0">
        {% for subject in hissubjects %}
        <a style="padding: 14px; font-size: 13px;" class="open_attendance" id="{{ subject.id }}">
            <i class="icon angle right" style="margin-right: -2px;"></i>{{ subject.title }}
        </a>
        {% endfor %} 
        <div class="attendances">
            {% for subject in hissubjects %}
                {% if forloop.counter == 1 %}
                    <div id="subject{{ subject.id }}" class="subject_attendance">
                        <span style="display: none;" class="instance_id" id="{{ subject.id }}"></span>
                        {% if hisprofile.is_trener %}
                            <div class="ui grid" style="text-align: center; margin: 14px 0 2px 0;">
                                {% for squad in subject.squads.all %}
                                    <a class="{% if forloop.counter == 1 %}switch_att_btn_active{% endif %} switch_att_btn switch_att_btn{{ subject.id }}" style="width: calc(100%/{{ subject.squads.all|length }});" paper_id='{{ squad.id }}sub' lesson_id='{{ subject.id }}'>
                                        {{ squad.title }}
                                    </a>
                                {% endfor %}
                            </div>
                            {% for squad in subject.squads.all %}
                                {% include 'profile/att_squad_detail.html' %}
                            {% endfor %}
                        {% else %}
                            <div class="ui grid" style="text-align: center; margin: 14px 0 2px 0;">
                                {% for squad in subject.squads.all %}
                                    {% if forloop.counter == 1 %}
                                    <a class="{% if forloop.counter == 1 %}switch_att_btn_active{% endif %} switch_att_btn switch_att_btn{{ subject.id }}" 
                                    style="width: calc(100%/{{ subject.squads.all|length }});" paper_id='{{ squad.id }}sub'  lesson_id='{{ subject.id }}'>
                                        {{ squad.title }}
                                    </a>
                                    {% endif %} 
                                {% endfor %}
                            </div>
                            {% for squad in hisprofile.squads.all %}
                                {% include 'profile/att_student_detail.html' %}
                            {% endfor %}
                        {% endif %}  
                    </div>
                {% endif %}
            {% endfor %} 
        </div>
    </div> 
{% endif %}

<script >
    for(var i = 0; i < document.getElementsByClassName('swiper-container').length; i++){
        var id = document.getElementsByClassName('swiper-container')[i].getAttribute('id');
        var swiper = new Swiper('.main-slider' + id, {
            slidesPerView: 5,
            spaceBetween: 0,
            centeredSlides: false,
            nextButton: '.uploaded-in-next'+id,
            prevButton: '.uploaded-in-prev'+id 
        });
        if ($('.today' + id).attr('number')){
            number = $('.today' + id).attr('number')
        }
        else{
            number = $('.past' + id).last().attr('number')
        }
        if (number){
            swiper.slideTo(parseInt(number-1))
        }
        var mySwiper = document.getElementsByClassName('.main-slider' + id).swiper
    }
</script>