{% load ttttags %}
{% load ttags %}
<div class="backdark shadow_dark bottombr5">
	<div class="ui grid no_margin" style="padding: 0 25px 0 0;">
		<div class="no_padding" style="width: 25%;">
			<div class="textw" style="height: 21px;line-height: 30px;">
		    </div>
			{% for student in att_squad.students.all %}
				<div class="student_name pl10 pt10" style="{% if forloop.counter|is_odd %}background-color: #545454{% endif %}">
			        <a href="{{student.get_absolute_url}}" class="textw">{{ student.first_name }}</a>
			        {% if not student.is_student %}
			        <br>
			        <span class="textyellow">Учитель</span>
			        {% endif %}
			    </div>
			{% endfor %}
		</div>
		<div class="no_padding" style="width: 75%;overflow: hidden">
			<div id="btn-prev" style="{% if att_squad.students.all|length == 0 %}display: none;{%endif%}" class="btn-prev" onclick="moverLeft()">&#60;</div>
			{% if att_squad.students.all|length == 0 %}
				<div class="highlight_black">
					Еще нет студентов в этой группе,<br> добавить студентов можно в <a class="ui button mini green" href="{{att_squad.get_update_url}}">Настройках группы</a> или в отделе <a class="ui button mini green" href="/schools/crm/">Клиенты</a>
				</div>
			{% elif att_subject|get_current_attendance:att_squad == 'No_schedule' %}
				<div class="highlight_black">
					Не настроено расписание, можетe настроить в <a class="ui button mini green" href="{{att_squad.get_update_url}}">Настройках группы {{att_squad.title}}</a>
				</div>
			{% else %}
			<div id="slider" class="slider" first_set="no" last_set="no" index="0">
				<div id="prev_atts" style="width: max-content;display: flex;"></div>
				{% for date in att_subject|get_current_attendance:att_squad %}
					<section class="slider__section">
						<div class="attendance_date{%if forloop.counter == 4%} last_att{%endif%} att{{forloop.counter}}" number="{{forloop.counter}}" id="{{date.0.0.subject_materials.id}}">
                            {{ date.1 }}
						</div>
						{% for attendance in date.0 %}
							{% if date.2 != 'future' %}
							<div class="attendance_block" style="{% if forloop.counter|is_odd %}background-color: #545454{%endif%}">
								{% if date.2 == 'now' %}
							    <div id="grades{{ attendance.id }}" style="{% if attendance.present != 'present' %}display: none;{% endif %};">
							    	{% if attendance.student.is_student %}
							        <a class="ui button mini grade{{attendance.id}} save_grade {% if attendance.grade == 5 %}blue{% endif %}" id="{{attendance.id}}" grade="5">5</a>
							        <a class="ui button mini grade{{attendance.id}} save_grade {% if attendance.grade == 4 %}blue{% endif %}" id="{{attendance.id}}" grade="4">4</a>
							        <a class="ui button mini grade{{attendance.id}} save_grade {% if attendance.grade == 3 %}blue{% endif %}" id="{{attendance.id}}" grade="3">3</a>
							        <a class="ui button mini grade{{attendance.id}} save_grade {% if attendance.grade == 2 %}blue{% endif %}" id="{{attendance.id}}" grade="2">2</a>
							        {%else%}
							        <div class="pl15 pt15 pr15 pb15 attendace_grade" style="background-color: #21BA45;">
							        	<i class="icon check text10 textw mr0"></i>
							        </div>
							        {%endif%}
							    </div>
							    <div id="attendance{{ attendance.id }}" style="{% if attendance.present != '' %}display: none;{% endif %}">
							    	<div class="text-center">
								        <a status="present" class="ui button mini blue att_present" id="{{attendance.id}}">На уроке</a>
								        <a status="warned" class="ui button mini orange att_present mr0" id="{{attendance.id}}"><i class="icon clock textw mr0"></i></a>
								        <a status="absent" class="mr0 ui button mini red att_present" id="{{attendance.id}}"><i class="icon close textw mr0"></i></a>
								    </div>
							    </div>
							    {%endif%}
								<div class="pl15 pt15 pr15 pb15 attendace_grade attresult{{ attendance.id }}" style="{%if date.2 == 'now' and attendance.present == 'present' or date.2 == 'now' and attendance.present == '' %}display: none;{%endif%}
						        background-color: 
						        {%if attendance.present == 'present'%}
						        #21BA45
						        {%elif attendance.present == 'warned'%}
						        #f2711c
						        {%elif attendance.present == 'noteacher'%}
						        #e03997
						        {%else%}
						        #DB2828
						        {%endif%}
						        ">
							        {% if attendance.grade > 0 %}
							            {{attendance.grade}}
							        {%else%}
							        <i class="icon clock text10 textw mr0" id="clock{{ attendance.id }}" style="{%if attendance.present == 'absent' or attendance.present == '' or attendance.present == 'present'%}display: none;{%endif%}"></i>
							        <i class="icon close text10 textw mr0" id="close{{ attendance.id }}" style="{%if attendance.present == 'warned' or attendance.present == 'noteacher' or attendance.present == 'present'%}display: none;{%endif%}"></i>
							        {%endif%}
						        </div>
						        {%if date.2 == 'now'%}
						        <a status="cancel" class="mr0 ui button mini att_present attcancel{{attendance.id}}" id="{{attendance.id}}" style="padding: 3px 10px !important;margin: 3px auto 0 auto;{%if attendance.present == ''%}display: none;{%endif%}">Отмена</a>
						        {%endif%}
							</div>
							{%endif%}
						{% endfor %}
					</section>
				{% endfor %}
				<div id="next_atts" style="width: max-content;display: flex;"></div>
			</div>
			{% endif %}
			<div id="btn-next" style="{% if att_squad.students.all|length == 0 %}display: none;{%endif%}" class="btn-next" onclick="moverRight()">&#62;</div>
		</div>
	</div>
</div>
