{% load ttttags %}
<div class="attendance_block" style="{% if forloop.counter|is_odd %}background-color: #545454{%endif%}">
    <div class="pl15 pt15 pr15 pb15 attendace_grade attresult{{ attendance.id }}" style="
    background-color: 
    {%if attendance.present == 'present'%}
    #21BA45
    {%elif attendance.present == 'warned'%}
    #f2711c
    {%elif attendance.present == 'noteacher'%}
    #e03997
    {%else%}
    #DB2828
    {%endif%}
    ">
        {% if attendance.grade > 0 %}
            <b>{{attendance.grade}}</b>
        {%endif%}
    </div>
    <div>
        {{attendance.subject_materials.id}}
        {% for lesson in attendance.subject_materials.lessons.all %}
        <div>
            <a class="full-w textw">{{lesson.title}}</a>
        </div>
        {%endfor%}
    </div>
</div>