{% load staticfiles %}
{% if hisprofile == profile or profile.is_manager %}
<span style="display: none;" id="load_attendance_squad" url="{{ hisprofile.squad_attendance }}"></span>
<span style="display: none;" id="load_attendance_subject" url="{{ hisprofile.subject_attendance }}"></span>
    <div class="ui segment shapka">
        <div class="ui grid">
            <div class="one wide column">
                <img src="{% static 'images/grades.png' %}" style="width: 28px;border-radius: 3px;">  
            </div>
            <div class="two wide column" style="line-height: 28px;font-size: 15px;">
                Журналы
            </div>
        </div>
    </div>
    <div class="ui segment" style="margin-top: 0;padding: 18px;">
        {% for subject in hissubjects %}
        <a onclick="load_attendance_subject('{{ subject.id }}')" class="load_attendance_subject {% if subject.id == att_subject.id %}current_option{% else %}other_option{% endif %}" id="subject{{ subject.id }}">
            {{ subject.title }}
        </a>
        {% endfor %} 
        <br><br><br>
        <div id="subject_attendance">
            <div class="ui stackable grid" style="margin-bottom: 0">
            {% for squad in att_subject.squads.all %}
                <a onclick="load_attendance_squad('{{ squad.id }}')" class="{% if squad.id == att_squad.id %}switch_btn_active current_option2{% else %}other_option2{% endif %} switch_btn " id="squad{{ squad.id }}" style="width: calc(100%/({{ att_subject.squads.all|length }}));">{{ squad.title }}</a>
            {% endfor %}
            </div>
            <div id="squad_attendance">
                {% include "profile/attendance_squad.html" %}
            </div>
        </div>            
    </div>
<script type="text/javascript">
    function load_attendance_subject(subject_id){
        var url = $('#load_attendance_subject').attr('url');
        console.log(url)
        $.ajax({
            url: url,
            method: "GET",
            data: {
                'subject_id':subject_id,
            },
            success: function (data) {
                for (var i = 0; i < document.getElementsByClassName("load_attendance_subject").length; i++){
                    document.getElementsByClassName("load_attendance_subject")[i].setAttribute('class', 'other_option')
                }
                $('#subject' + subject_id).attr('class', 'load_attendance_subject current_option')
                $( "#subject_attendance" ).load(document.URL +  ' #subject_attendance');
            }, 
            error: function (error) {
                console.log('error')
            }
        })
    };
    function load_attendance_squad(squad_id){
        var url = $('#load_attendance_squad').attr('url');
        $.ajax({
            url: url,
            method: "GET",
            data: {
                'squad_id':squad_id,
            },
            success: function (data) {
                for (var i = 0; i < document.getElementsByClassName("switch_btn").length; i++){
                    document.getElementsByClassName("switch_btn")[i].setAttribute('class', 'other_option2 switch_btn')
                }
                $('#squad' + squad_id).attr('class', 'load_attendance_squad current_option2 switch_btn_active switch_btn')
                $( "#squad_attendance" ).load(document.URL +  ' #squad_attendance');
            }, 
            error: function (error) {
                console.log('error')
            }
        })
    };
</script>

{% endif %}


