{% load crispy_forms_tags %}  
{% load staticfiles %} 
<div id="responsive-avatar" class="full-w ui raised card no_padding no_margin" style="height: 250px;">
    <div class="image" style="background-color: #fff">
        <div style="height: 200px;">
            {% if hisprofile.image %}
            <div class="img full-w" style="background-image: url({{ hisprofile.image.url }});"></div>
            {% else %}
            <div class="img full-w" style="background-image: url({% static 'images/nophoto.png' %});"></div>
            {% endif %}
        </div>
        <div style="padding: 0 14px;">
            <div class="highliter" style="position: absolute;margin:-40px 0 0 -210px;"></div>
            {% if profile == hisprofile %}
            <a href="{{ profile.change_url }}" class="ui button mini full-w" style="margin-top: 10px;">Редактировать</a>
            {% endif %}
        </div>
    </div>
</div>
