{% load crispy_forms_tags %}  
{% load staticfiles %} 

<style>
    .textinput{
        width: 100%;
    }
</style>                      
<div class="ui raised card help0 help20 help40 help60" style="padding: 0; margin-top: 0;height: 260px;">
    <div class="image" style="background-color: #fff">
        <div style="height: 200px;">
            {% if hisprofile.image %}
            <div class="img" style="background-image: url({{ hisprofile.image.url }});"></div>
            {% else %}
            <div class="img" style="background-image: url({% static 'images/nophoto.png' %});"></div>
            {% endif %}
        </div>
        <div style="padding: 0 14px;">
            <div class="hint0 hint20 hint40 hint60 highliter" style="position: absolute;margin:-40px 0 0 -210px;"></div>
            {% if profile == hisprofile %}
            <a href="{{ profile.change_url }}" class="help0 help00 help20 help200 help40 help400 help60 help600 ui button mini full-w" style="margin-top: 10px;">Редактировать</a>
            {% endif %}
        </div>
    </div>
</div>
