{% load crispy_forms_tags %}  
{% load staticfiles %} 

<style>
    .textinput{
        width: 100%;
    }
</style>                      
<div class="ui raised card" style="padding: 0; margin-top: 0;height: 260px;">
    <div class="image" style="background-color: #fff">
        <div style="height: 200px;">
            {% if hisprofile.image %}
            <img src="{{ hisprofile.image.url }}" style="max-height: 200px;width: 100%;">
            {% else %}
            <img src="{% static 'images/nophoto.png' %}" style="max-height: 200px;width: 100%;">        
            {% endif %}
        </div>
        <div style="padding: 0 14px;">
            {% if profile == hisprofile %}
            <a href="{{ profile.change_url }}" class="ui button mini full-w" style="margin-top: 10px;">Редактировать</a>
            {% endif %}
        </div>
    </div>
</div>

<!-- <div class="ui segment" style="padding-left: 0; padding-right: 0">
    <div style="padding: 0 10px;margin: 0">
        <span style="font-size: 12.5px; padding: 0">Курсы</span>
        <span style="font-size: 12.5px; color: #939393;padding-left: 10px"></span>
        <div style="margin-top: 10px;width: 100%;padding: 5px 14px;">
            {% for course in profile.hiscourses.all %}
                <div class="ui grid">
                    <div class="four wide column" style="padding-left: 0; padding-right: 0">
                        <a href="{{ course.get_absolute_url }}">
                        {% if course.image %}
                            <img class="ui avatar image" src="{{ course.image.url }}" style="width: 40px; height: 40px;">
                        {% else %}
                            <img class="ui avatar image" style="width: 40px; height: 40px;" src="{% static 'images/squad.png' %}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="twelve wide column" style="padding-left: 10px; padding-right: 0;color: #2a5885; ">
                        <a href="{{ course.get_absolute_url }}" >{{ course.title }}</a>
                        <br>
                        <span style="font-size: 11px;color: #656565; width: 100%">{{ course.slogan }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
 -->