{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}
{% load staticfiles %}

{% block content %}
<div id="group-create" class="">
	<a id="go-back-btn-before"  href='{{ profile.get_absolute_url }}'>
        <i class="arrow left icon"></i>
    </a>
	<div class='ui container'>
		<div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="wide column" style="margin-left: 30px;width: 80%;">
            	<form class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            		<div class="ui grid stackable">
            			<div class="twelve wide column" >
            				<div class="ui segment" style="margin-bottom: 0;font-weight: 600;">
				        		Основная информация
				        	</div>
				        	<div class="ui segment" style="margin-top: 0;">
                                <div class="hint40 highliter" style="position: absolute;margin-left: 300px;margin-top: -20px;"></div>
				        		<form class="ui form help40" class="ui form">{% csrf_token %}
								    {{ form }}
								    <input type='submit' class='ui button blue mini' value='Сохранить'/>
								</form>
			        		</div>
            				<div class="ui segment" style="margin-bottom: 0;font-weight: 600;">
				        		Пароль
				        	</div>
				        	<div class="ui segment" style="margin-top: 0;">
                                <form class="ui form" style="margin: 0 auto;width: 40%;">
                                    <b>Введите пароль</b>
                                    <input class="reset_password1" type="password" name="password" style="margin-bottom: 20px;margin-top: 10px;">
                                    <b>Повторите пароль</b>
                                    <input class="reset_password2" type="password" name="password" style="margin-bottom: 20px;margin-top: 10px;">
                                    <input class="ui button green reset_pswd full-w" id="{{ profile.id }}" value="Изменить пароль" type="submit" onclick="return false">
                                </form>
			        		</div>
			        	</div>
					</div>			
	    		</form>
			</div>
		</div>
	</div>	
</div>
{% if is_trener %}
<span style="display: none;" class="hint_data" hint_type="1" id="{{ hint }}" url="{{ profile.hint_url }}"></span>
<script type="text/javascript">
    $(document).ready(function() {
        var hint = parseInt( $('.hint_data').attr('id'))
        console.log(hint)
        text = "Ученикам будет легче запомнить Вас, если Вы загрузите свою настоящую фотографию";
        close_button = '<a id="'+hint+'" class="ui button mini white next close_hint">Ок</a>'
        var element = $('<div class="help ui segment sec help_div'+hint+' help_left"><a id="'+hint+'" class="close_hint" style="position: absolute;right: 5px;top:5px;"><i class="close icon" style="color:#f1f1f1;font-size:11px;"></i></a>' + text + '<br><span style="color:lightgrey;font-size:11px;font-weight:600;"></span><br>'+close_button+'</div>').appendTo('.hint' + hint);
    });
</script>
<script type="text/javascript" src="{% static 'js/hints.js' %}"></script>

{% endif %}
{% endblock content %}
