{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}
{% load staticfiles %}

{% block content %}
<div id="group-create">
	<a id="go-back-btn"  href='{{ profile.get_absolute_url }}'>
        <i class="arrow left icon"></i>Назад
    </a>
	<div class='ui container'>
		<div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="eleven wide column">
            	<form class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            		<div class="ui grid stackable">
            			<div class="twelve wide column" >
            				<div class="ui segment">
				        		Основная информация
				        	</div>
				        	<div class="ui segment">
				        		<form class="ui form" method='POST' enctype="multipart/form-data" class="ui form">{% csrf_token %}
								    {{ form }}
								    <input type='submit' class='ui button blue mini' value='Сохранить'/>
								</form>
			        		</div>
            				<div class="ui segment">
				        		Пароль
				        	</div>
				        	<div class="ui segment">
				        		<form class="ui form" method='POST' enctype="multipart/form-data" class="ui form">{% csrf_token %}
								    {{ password_form }}
								    <input type='submit' class='ui button blue mini' value='Сохранить'/>
								</form>
			        		</div>
			        	</div>
			        	<div class="four wide column" style="padding: 14px 0;">
							<div class="ui segment">
								<a href="{{ profile.get_absolute_url }}" >
									<div class="ui grid grey_hover">
										<div class="four wide column">
											{% if profile.image %}
                      <img src="{{ profile.image.url }}" class="ui avatar image">
                      {% else %}
                      <img class="ui avatar image" src="{% static 'images/nophoto.png' %}">
                      {% endif %}
										</div>
										<div class="ten wide column">
											{{ profile.first_name }}
											<br>
											<span>вернуться к странице</span>
										</div>
									</div>
								</a>
								<div class="ui divider"></div>
								<div>
									<a class="full-w"><b>Основное</b></a>
								</div>
							</div>
						</div>  
					</div>			
	    		</form>
			</div>
		</div>
	</div>	
</div>


{% endblock content %}