{% load ttags %}
{% load staticfiles %}
<div class="mt0 mb0 ui segment topbr5 shadow_small">
    <div class="ui grid">
        <div class="nine wide column pl0 text15 textdg textbold" style="line-height: 28px;">
            Личное расписание
        </div>
        <div class="seven wide column pl0 text15" style="line-height: 28px;">
            {% include 'profile/miss_lecture.html' %}
        </div>
    </div>
</div>
<form class="ui grid full-w mt0 change_mode textw shadow_dark bottombr5">
    <div class="bottombr5 pl10 pb15 backdark shadow_black" style="width: 58px;position: absolute;z-index: 100;">
        <div style="height: 27px;"></div>
        {% for time in constant_times %}
        <div>
            <div class="full-w tdconst" style="width: 53px;text-align: left;padding: 8px 0;">
                {{ time }}
                <div style="border-top:1px solid #565656;margin-top: -8px;" class="full-w"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="schedule_body oveflowx_h bottombr5 pb15" style="overflow-y:hidden; width: 100%;background: #4A4A4A;">
        <div style="z-index: 100;white-space: nowrap;">
            <div>
                <div class="thconst" style="width: 53px;z-index: 100"></div>
                <div class="thconst dark_grey" style="width: 100px;z-index: 100;opacity: 1;" id="constday0">Пн</div>
                <div class="thconst" style="width: 100px;" id="constday1">Вт</div>
                <div class="thconst dark_grey" style="width: 100px;" id="constday2">Ср</div>
                <div class="thconst" style="width: 100px;" id="constday3">Чт</div>
                <div class="thconst dark_grey" style="width: 100px;" id="constday4">Пт</div>
                <div class="thconst" style="width: 100px;" id="constday5">Сб</div>
                <div class="thconst dark_grey" style="width: 100px;" id="constday6">Вс</div>
            </div>
        </div>
        <div class="no_margin backdark" style="white-space: nowrap;">
            <div style="position: relative;margin-top: -29px;">
                <div class="dark_grey constback1 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
                <div class="dark_grey constback3 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
                <div class="dark_grey constback5 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
                <div class="dark_grey constback7 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
                {% for lecture in hisprofile|constant_profile_lectures %}
                    <a href="{{lecture.7.subject.get_absolute_url}}" id="{{lecture.6}}" class="show_hint_schedule lecture_const wait{{lecture.4}}" time="{{lecture.5}}" hour="{{lecture.2}}" minute="{{lecture.3}}" day="{{lecture.4}}" height="{{lecture.0}}" style="position: absolute;background-color: {%if lecture.7.squad.color_back == ''%}#313a57{%else%}{{ lecture.7.squad.color_back }}{%endif%};color: #fff;padding: 5px;width: 98px;font-size: 13px;border-radius: 3px;border: 1px solid #fff;text-align: center;cursor: pointer;">
                        {{lecture.7.squad.title}} 
                    </a>
                    <div id="{{lecture.6}}" class="hint_schedule lecture_const hint_schedule{{lecture.6}}" time="{{lecture.5}}" hour="{{lecture.2}}" minute="{{lecture.3}}" day="{{lecture.4}}" style="position: absolute;z-index: 3000;margin-left: 100px;display: none;margin-top: -50px;">
                        <div class="ui segment" style="color: #222;width: 300px;">
                            <div class="text-center">
                                <b>{{lecture.7.squad.title}}</b>
                            </div>
                            <div class="mt10">
                                <span style="color: grey;">Время</span>
                                {{lecture.7.cell.time_period.start}}:{{lecture.7.cell.time_period.end}}
                            </div>
                            <div class="mt10">
                                <span style="color: grey;">Курс</span>
                                {{lecture.7.subject.title}}
                            </div>
                            <div class="mt10">
                                <span style="color: grey;">Учитель</span>
                                {{lecture.7.squad.teacher.first_name}}
                            </div>
                            <div class="mt10">
                                <span style="color: grey;">Цена</span>
                                {{lecture.7.subject.cost}} тг за {% if lecture.7.subject.cost_period == 'lesson'%}урок{%elif lecture.7.subject.cost_period == 'month'%}месяц{%elif lecture.7.subject.cost_period == 'course'%}весь курс{%endif%}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="schedule_lines" style="min-width: 100%;white-space: nowrap;">
            <div style="height: 27px;"></div>
            {% for time in constant_times %}
            <div>
                <div class="pt10 pb10 full-w tdconst" style="text-align: left;height: 28px;">
                    <div style="border-top:1px solid #565656;margin-top: 6px;" class="full-w"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>   
</form>
<span class="dataconst" page_mode="norm" number="0" changed="no" interval="{{interval}}" chosendays="" today="{{today}}"
max1="1" max2="1" max3="1" max4="1" max5="1" max6="1" max7="1" friends=''></span>
<script type="text/javascript">
    {% include 'modals/update_schedule_lectures.html' %}
    update_schedule_lectures()    
    today = parseInt($('.dataconst').attr('today')) - 1
    $('#constday'+today).removeClass('dark_grey')
    $('#constday'+today).addClass('green')
</script>