{% load tttags %}
{% load staticfiles %}
<style type="text/css">
    .icon.angle:before{
        font-size: 20px;
    }
</style>
<span style="display: none;" class="instance_id" id="{{ hissquads.0.id }}"></span>
<div class="ui segment" style="margin-bottom: 0;margin-top: 0">
    <div class="ui grid">
        <div class="one wide column" style="margin-right: 16px;">
                <img src="{% static 'images/calendar.png' %}" style="width: 28px;border-radius: 3px;">  
        </div>
        <div class="twelve wide column" style="line-height: 28px;font-size: 15px;">
            Расписание
        </div>
    </div>
</div>
<div id="calendar" style="min-height: 200px;min-width: 100%;margin-bottom: 14px;">
    <div id="week">   
        <div class="week" id="0">
            <div class="daysmall" style="padding-top: 17px;">
            </div>
            {% for day in days %}
            {% if day.number != 7 %} 
            <div class="daysmall">
                <div class="day-name">
                    {{ day.title }}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="ui divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
        {% for timep in time_periods %}
        <div class="week" id="{{ forloop.counter }}">
            <div class="daysmall" style="padding-top: 17px;">
                {{ timep.start }}-{{ timep.end }}
            </div>
            
            {% for row in hisschedule %}
                {% for cell in row %}
                    <div class="daysmall other">
                        {% for lecture in cell %}
                        <div class="ui segment in_schedule">
                            {{ lecture.0 }}
                            <br>
                            {{ lecture.1 }}
                            <br>
                            {{ lecture.2 }}
                            <br>
                            {{ lecture.3 }}
                            <br>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>   
