{% load tttags %}
{% load ttttags %}
{% load staticfiles %}
<style type="text/css">
    .icon.angle:before{
        font-size: 20px;
    }
</style>
<span style="display: none;" class="instance_id" id="{{ hissquads.0.id }}"></span>
<div class="ui segment" style="margin-bottom: 0;margin-top: 0">
    <div class="ui grid">
        <div class="one wide column" style="margin-right: 16px;">
                <img src="{% static 'images/calendar.png' %}" style="width: 28px;border-radius: 3px;">  
        </div>
        <div class="three wide column" style="padding-left: 0;line-height: 28px;font-size: 15px;">
            Расписание
        </div>
        <div class="three wide column" style="padding-left: 0;line-height: 28px;font-size: 15px;">
            <a class="update_schedule" url="{{ profile.update_schedule_url }}"><i class="icon redo"></i></a>
        </div>
    </div>
</div> 
<div id="calendar" style="min-height: 200px;min-width: 100%;margin-bottom: 14px;background-color:#4A4A4A">
    <div id="week">   
        <div class="week" id="0">
            <div class="daysmall daysmall_time" style="padding-top: 17px;">
            </div>
            {% for day in days %}
            {% if day.number != 7 %} 
            <div class="daysmall">
                <div class="day-name">
                    {{ day.title }}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="ui divider calendar_divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
        {% for cell in hisprofile.hisschedule.all %}
            {% if forloop.counter|module_six == 1 %}
            <div class="daysmall daysmall_time">
                {{ cell.y|find_time_by_num }}
            </div>
            {% endif %}
            <div class="daysmall other">
                {% for index in cell.indexes %}
                <div class="in_schedule" style=" background-color: {{cell.colors|find_by_index:index}}">
                    {{ cell.subjects|find_by_index:index }}
                    {{ cell.teachers|find_by_index:index }}
                    {{ cell.cabinets|find_by_index:index }}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>   
