{% load tttags %}
{% load staticfiles %}
<style type="text/css">
    .icon.angle:before{
        font-size: 20px;
    }
</style>
<span style="display: none;" class="instance_id" id="{{ instance.id }}"></span>
<div class="ui segment no_margin">
    <div class="highliter hint41" style="position: absolute;margin:-50px 0 0 -225px;"></div>
    <div class="ui grid">
        <div class="responsive-fix no_padding">
            <img src="{% static 'images/calendar.png' %}" style="width: 28px;border-radius: 3px;position: relative;top: 50%;transform: translateY(-50%);">  
        </div>
        <div class="seven wide column pl0 text15" style="line-height: 28px;">
            Расписание
        </div>
        <div class="seven wide column pl0 text15" style="line-height: 28px;">
            {% include 'profile/miss_lecture.html' %}
        </div>
    </div>
</div>

{% load ttags %}
<span style="display: none;" class="instance_id" id="{{ instance.id }}"></span>
<span style="display: none;" class="change_schedule_url" url="{{ instance.change_schedule_url }}"></span>
<div id="calendarr" class="help1 help41" length='7'>           
    <div id="week">   
        <div class="week" id="0">
            <div class="daysmall daysmall_time">
            </div>
            {% for day in days %}
            <div class="daysmall">
                <div class="day-name {% if today == day.number %}today{% endif %}">
                    {{ day.title }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
        {% for timep in time_periods %}
        <div class="week" id="{{ forloop.counter }}">
            <div class="daysmall daysmall_time">
                {{ timep.start }}-{{ timep.end }}
            </div>
            {% for cell in timep.time_cell.all %}  
            <div class="daysmall other" style="padding: 0">                                     
                <div>
                    {% for lecture in cell|cell_profile_lectures:hisprofile %}
                        <a href="{{ lecture.subject.get_absolute_url }}">
                        <div class="ui segment in_schedule" squad_id='{{ lecture.squad.id }}' id="s{{ lecture.squad.id }}c{{ cell.id }}" old_cell="{{ cell.id }}" {% if page == 'subject_update' %} draggable="true" {% endif %} ondragstart="drag(event)" style="padding: 0px;margin-bottom: 3px; margin-top: 0px;cursor: pointer;background-color:
                            {%if lecture.subject.color_back == ''%}#313a57{%else%}{{ lecture.subject.color_back }}{%endif%};">
                            {{ lecture.subject.title }}
                            <br>
                            {% if lecture.cabinet %}
                            <span style="color: rgba(255, 255, 255, .5);font-size: 11px">{{ lecture.cabinet.title }} каб.</span>
                            <br>
                            {% endif %}
                            <span style="color: rgba(255, 255, 255, .5);font-size: 11px">
                                {% if is_trener or is_manager %}
                                {{ lecture.squad.title }}
                                {% else %}
                                {{ lecture.subject.teacher.first.first_name }}
                                {% endif %}
                            </span>
                        </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
        {% endfor %}
    </div>
</div>   
