{% load staticfiles %}
{% if hisprofile == profile or profile.is_manager %}
    <div class="ui segment" style="margin-bottom: 0">
        <div class="ui grid">
            <div class="one wide column">
                <img src="{% static 'images/subjects.png' %}" style="width: 28px;border-radius: 3px;">  
            </div>
            <div class="twelve wide column" style="line-height: 28px;font-size: 15px;">
                Предметы
            </div>
        </div>
    </div> 
    <div class="ui segment" style="margin-top: 0">
        <div class="ui grid" style="padding: 7px 9px;">
            {% for subject in hissubjects %}
                <div class="sixteen wide column" style="padding:7px 5px;margin-bottom: 0">
                    <a href="{{ subject.get_absolute_url }}">
                    <div class="ui segment" style="
                        background-color:  {{ subject.color_back  }};
                        color: #fff;height: 50px;
                        {% if subject.image_back %}
                        background-image: url({{ subject.image_back.url }});
                        {% endif %}
                        background-repeat: repeat;">
                        <span style="position: absolute;font-size: 16px;">{{ subject.title }}</span>
                        {% if subject.image_icon %}
                        <img src="{{ subject.image_icon.url }}" style="width: 40px;float: right;border-radius: 100%;margin-top:-7px;">
                        {% endif %}
                    </div>
                    </a>    
                </div>
            {% endfor %} 
        </div>
    </div> 
{% endif %}
