<div class="ui segment mt0">
            <div class="mt10">
                <a class="ui button mini full-w get_manager_actions" url="{%if is_this_manager %}{% url 'schools:get_manager_actions' %}{%elif is_this_trener%}{% url 'schools:get_teacher_actions' %}{%else%}{% url 'schools:get_student_actions' %}{%endif%}" id="{{hisprofile.id}}">История действий</a>
            </div>
            <div class="ui modal" style="min-height: 100%;margin-top: 10%;" id="manager_actions{{hisprofile.id}}">
                <i class="close icon"></i>
                <div class="content">
                    <div class="set_manager_actions{{hisprofile.id}}"></div>
                </div>
            </div>
</div>
<style type="text/css">
    .border{
        border: 1px solid lightgrey;
        padding: 14px;
    }
</style>