{% load staticfiles %}
{% load ttags %}
{% if hisprofile == profile or profile.is_manager %}
    <div class="ui segment" style="margin-bottom: 0;font-size: 15px;">
        Домашки
    </div> 
    <div class="ui segment" style="margin-top: 0;padding-bottom: 28px;">
        {% for subject in hissubjects %}
            <div class="ui grid">
                <div class="four wide column" style="padding: 14px 14px 0 0">
                    {% if subject.image_icon %}
                    <img src="{{ subject.image_icon.url }}" style="width: 30px; height: 30px;border-radius: 5px;">
                    {% else %}
                    <img src="{% static 'images/books.png' %}" style="width: 30px; height: 30px;border-radius: 5px;">
                    {% endif %}
                </div>
                <div class="twelve wide column" style="padding: 14px 14px 0 0">
                    <b>{{ subject.title}}</b>
                    <br>
                    {% if subject|get_material:hisprofile == '_' %}
                        <span style="color: #939393;">Домашек нет</span>
                    {% else %}
                    {% for lesson in subject|get_material:hisprofile %}
                        <a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a>
                        <br>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div> 
{% endif %}
