{% load staticfiles %}
<div class="ui raised card no_margin">
    <div class="content">
        <div class="right floated">
            <div class="hint5 hint25 hint44 hint64 highliter"></div>
            <img  src="{% static 'images/coins_gold.png' %}" style="width: 25px;">
            <span id="hiscoins">{{ hisprofile.coins }}</span>
        </div>
        <div class="header" id="header-responsive">
                <div class="avatar-phone">
                    {% if hisprofile.image %}
                    <div class="img-responsive" style="background-image: url({{ hisprofile.image.url }});"></div>
                    {% else %}
                    <div class="img-responsive" style="background-image: url({% static 'images/nophoto.png' %});"></div>
                    {% endif %}
                    <div class="name-desktop">{{ hisprofile.first_name }}</div>
                </div>
                <div id="main-info-phone">
                    <div class="four wide column pr0">
                        <p class="text13"><div class="name-responsive">{{ hisprofile.first_name }}</div> </p>
                        <p class="text13">Место учебы: </p>
                        {% if hisprofile.phone %}
                        <p class="text13">Телефон: </p>
                        {% endif %}
                        <p class="text13">Почта: </p>                   
                    </div>
                    <div class="five wide column pl0">
                        <p>
                            <div class="coins-responsive">
                                <div class="hint5 hint25 hint44 hint64 highliter"></div>
                                <img  src="{% static 'images/coins_gold.png' %}" style="width: 15px;">
                                <span id="hiscoins">{{ hisprofile.coins }}</span>
                            </div>
                        </p>
                        <a href="{{ hisprofile.schools.first.landing }}">{{ hisprofile.schools.first.title }}</a>
                        <p>{{ hisprofile.phone }}</p>
                        <p>{{ hisprofile.mail }}</p>
                    </div>
                </div>
        </div>
        <div class="meta">
            <a class="open_form_status" class="text13">
                <span class="hisstatus">
                    {% if hisprofile.is_student %}
                        Студент
                    {% else %}
                        {% for prof in hisprofile.profession.all %}
                            {{prof.title}}
                        {% endfor %}
                    {% endif %}
                </span>
            </a>
        </div>
    </div>
</div>
        <style>
        .profile_asd {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-around;
        }
        @media only screen and (max-width: 767px) {
            .profile_asd {
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                -ms-flex-direction: column;
                -o-flex-direction: column;
                flex-direction: column;
                -ms-align-items: center;
                align-items: center;
            }
            .profile_asd > div{
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
            }
            .profile_asd > div .count {
                margin-right: 10px;
            }
        }
        </style>
