{% load staticfiles %}
{% load staticfiles %}
<div class="ui segment shadow_small no_margin pb15 pt15">
    <div class="content">
        <div class="header" style="display: flex;">
            <div class="avatar-phone">
                {% if hisprofile.image %}
                <div class="img-responsive" style="background-image: url({{ hisprofile.image.url }});"></div>
                {% else %}
                <div class="img-responsive" style="background-image: url({% static 'images/nophoto.svg' %});"></div>
                {% endif %}
                {% if profile == hisprofile %}
                <div>
                    <a href="{{ profile.change_url }}" class="mt5 pb5 in_mobile text10">Редактировать</a>
                </div>
                {% endif %}
                <div class="text17 not_in_mobile">{{ hisprofile.first_name }}</div>
            </div>
            <div class="pl15 in_mobile">
                <span class="text15">{{ hisprofile.first_name }}</span>
                <div class="text13 mt5" style="color: grey">
                    <div class="text13">Школа:
                        {%for school in hisprofile.schools.all %}
                        <a href="{{ school.landing }}" class="mr10"><b>{{ school.title }}</b></a>
                        {%endfor%}
                    </div>
                    {%if not hisprofile.is_student%}
                    {%if hisprofile.job_categories.all|length > 0%}
                    <div class="text13">
                        Должности:
                        <b> 
                        {% if hisprofile.job_categories.all|length > 0 %}
                        {%for job in hisprofile.job_categories.all %}
                            {{ job.title }}
                        {%endfor%}
                        {%endif%}
                        </b>
                    </div>
                    {% endif %}                    
                    {% endif %}
                    <div class="text13">Телефон: <b>{{ hisprofile.phone }}</b></div>
                    <div class="text13">Почта: <b>{{ hisprofile.mail }}</b></div>
                </div>
            </div>
        </div>
        <div class="meta not_in_mobile">
            <a class="open_form_status" class="text13">
                <span class="hisstatus">
                    {% if hisprofile.is_student %}
                        Студент
                    {% else %}
                        {% for prof in hisprofile.profession.all %}
                            {{prof.title}}
                        {% endfor %}
                    {% endif %}
                </span>
            </a>
        </div>
    </div>
</div>
