{% load staticfiles %}
{% load crispy_forms_tags %}
{% if hisprofile == profile %}
<a class="ui button mini white shadow_small border1" onclick="$('#miss_lecture').modal('show')" style="float: right;">Сообщить о пропуске</a>
<div class="ui modal" style="width: 490px; height: 100%" id="miss_lecture">
    <i class="close icon"></i>
    <div class="content">
        <span style="display: none;" class="miss_lecture_url" url="{{ profile.miss_lecture_url }}"></span>
        <form class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            {{ miss_lesson_form|crispy }}
            <div id="calendar"></div>
            <input type="submit" class="ui button mini blue" value="Отправить">
        </form>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

{% include 'calendar.html' %}
{%endif%}