{% load ttags %}
{% if is_manager %}
<div class="ui segment shadow_small">
{%endif%}
{% if is_manager and hisprofile.is_student %}
    <div class="text17 textdg textbold">Оплата</div>
{%endif%}
{% if is_manager %}
    <div class="ui grid stackable no_margin">
        {% if hisprofile.is_student %}
        <div class="ten wide column pl0 pt0 pr30 pb10">
            Пожалуйста, укажите за какую группу вносится оплата:
            <form class="ui form mb10 mt10" style="display: flex;">
                <input class="mr10 payment_amount{{ hisprofile.id }}" placeholder="Сумма" type="number" name="">
                <select id="pay_for_group">
                    {%for squad in hissquads%}
                        <option value="{{squad.id}}">{{squad.title}}</option>
                    {%endfor%}
                </select>
            </form>
            <div class="text-center">
                <a class="ui button mini blue make_payment" onclick="make_payment('{{ hisprofile.id }}')">
                    Оплатить
                </a>
                <div class="loading_small payment_loading{{ hisprofile.id }}" style="display: none;">
                  <div class="animation"><div class="circle one"></div></div>
                  <div class="animation"><div class="circle two"></div></div>
                  <div class="animation"><div class="circle three"></div></div>
                  <div class="animation"><div class="circle four"></div></div>
                  <div class="animation"><div class="circle five"></div></div>
                  <div class="animation"><div class="circle six"></div></div>
                </div>
                <i style="display: none;" class="icon check textgreen text15 ml5" id="payment_success{{ hisprofile.id }}"></i>                
            </div>
        </div>
        {%endif%}
        <div class="six wide column pl0 pt0 pr15 pb0">
            <div class="pb0">
                {% if hisprofile.is_student %}
                <a class="border1 ui labeled icon button pt5 pb5 small textblue white shadow_blue mb10" onclick="$('.move_money').modal('show')"><i class="icon random backblue textw"></i> Перевод денег</a>
                <br>
                <a class="border1 ui labeled icon button pt5 pb5 small textblue white shadow_blue mb10 show_payment_history" onclick="show_payment_history('{{hisprofile.id}}')" id="{{hisprofile.id}}"><i class="icon shopping bag backblue textw"></i> История оплаты</a>
                <br>
                {%endif%}
                <a class="border1 ui labeled icon button pt5 pb5 small textblue white shadow_blue get_manager_actions" url="{%if is_this_manager %}{% url 'schools:get_manager_actions' %}{%elif is_this_trener%}{% url 'schools:get_teacher_actions' %}{%else%}{% url 'schools:get_student_actions' %}{%endif%}" id="{{hisprofile.id}}"><i class="icon clock backblue textw"></i> История всех действий</a>
            </div>
            {% if hisprofile.is_student %}
            <div class="ui modal payment_history full-h">
                <i class="close icon"></i>
                <div class="content">
                    <div class="text-center mb15">
                        <div class="text17 textblue">
                            <b>История оплаты</b>
                        </div>
                        <span class="textdg text13">
                            Можете отменить оплату в течении 3 суток
                        </span>
                    </div>
                    <table class="text14 br5 shadow_small" style="margin: 0 auto;">
                        <thead>
                            <tr class="textdg">
                                <th class="pt10 pb10 pl15 pr15 ">Время</th>
                                <th class="pt10 pb10 pl15 pr15 ">Сумма</th>
                                <th class="pt10 pb10 pl15 pr15 ">Группа</th>
                                <th class="pt10 pb10 pl15 pr15 ">Менеджер</th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody class="fill_payment_history">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui modal move_money">
                <i class="close icon"></i>
                <div class="content">
                    <div class="text-center mb30">
                        <b>Перевод денег среди своих счетов</b>
                    </div>
                    <form class="ui form" style="font-weight: 600;">
                        <div class="ui grid">
                            Из счета группы:
                            <select class="move_money_from ml15" style="width: 250px;">
                                {% for nm in profile|get_bills:hisprofile %}
                                <option value="{{ nm.id }}">
                                    {{ nm.squad.title }}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="ml15 mr15">в счет группы:</div>
                            <select class="move_money_to" style="width: 250px;">
                                {% for nm in profile|get_bills:hisprofile %}
                                <option value="{{ nm.id }}">
                                    {{ nm.squad.title }}
                                </option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <div style=" margin: 15px auto;width: 400px;">
                                <div style="display: inline-block;" class="mr15">Сумму:</div>
                                <input type="number" name="" class="move_money_amount" style="width: 250px;">
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <div class="move_money_loading loading" style="display: none;">
                          <div class="animation"><div class="circle one"></div></div>
                          <div class="animation"><div class="circle two"></div></div>
                          <div class="animation"><div class="circle three"></div></div>
                          <div class="animation"><div class="circle four"></div></div>
                          <div class="animation"><div class="circle five"></div></div>
                          <div class="animation"><div class="circle six"></div></div>
                        </div>
                        <a class="ui button small blue move_money_send" url="{% url 'squads:move_money' %}" id="{{hisprofile.id}}">Перевести</a>
                        <br>
                        <div style="width: 400px;margin: 15px auto;display: none;" class="highlight move_money_success">Перевод проведен успешно</div>
                    </div>
                </div>
            </div>
            {%endif%}
            {% if is_manager %}
            <div class="ui modal" style="min-height: 100%;margin-top: 10%;" id="manager_actions{{hisprofile.id}}">
                <i class="close icon"></i>
                <div class="content">
                    <div class="text-center mb15">
                        <div style="font-size: 17px;">
                            <b>История действий {{hisprofile.first_name}}</b>
                        </div>
                    </div>                    
                    <div class="set_manager_actions{{hisprofile.id}}"></div>
                </div>
            </div> 
            {%endif%}           
        </div>
    </div>
</div>
{%endif%}
{% if is_manager and hisprofile.is_student %}
<div class="mt15 mb5">
    <div class="text15 textdg textbold">Клиент записан в данные группы:</div>
</div>
<div class="dflex mt0">
    {% for nm in profile|get_bills:hisprofile %}
    <div class="third wide column pl0 pr10 squad_bill_block_cont{{nm.squad.id}}">
        <div class="no_padding border1 ui segment shadow_small squad_bill_block{{nm.squad.id}}">
            <div class="pt15 pl15 pb15 pr15 text-center topbr5" style="background-color: {%if nm.squad.color_back == '' %}#313a57{%else%}{{nm.squad.color_back}}{%endif%};">
                <a href="{{ nm.squad.get_absolute_url }}" class="textw"><b>{{ nm.squad.title }}</b></a>
            </div>    
            <div class="bottombr5 text13 pt15 pl15 pb15 pr15">
                <div class="mb5 textdg">
                    <b>Дата записи в группу:</b> 
                    {{nm|get_start_date}}
                </div>
                <div class="mb5 textdg">
                    <b>Дата следующей оплаты:</b> 
                    {{nm|get_pay_date}}
                </div>
                <div class="textdg textbold text13 text-center">Группа проходит курсы:</div>
                <div class="nm_subjects text14">
                    {% for subject in nm|get_subject_finances %}
                    <div class="full-w mb10 pt10 pl10 pr10 pb10 br5 backwhitelow">
                        <div class="text-center textblue mb5">
                            <b>{{subject.0}}</b>
                        </div>
                        <div class="dflex mb5">
                            <div class="half-w textdg pr10" style="text-align: right;">Стоимость:</div>
                            <div class="half-w ">{{subject.1}}</div>
                        </div>
                        {%if subject.3%}
                        <div class="dflex mb5">
                            <div class="half-w textdg pr10" style="text-align: right;">Первое занятие: </div>
                            <div class="half-w">{{subject.3}}</div>
                        </div>
                        {% endif %}
                        {% if subject.2 >= 0 %}
                        <div class="dflex mb5">
                            <div class="half-w textdg pr10" style="text-align: right;">Оплачено: </div>
                            <div class="half-w">за {{subject.2}} {%if subject.5 == 'month'%}месяцев{%elif subject.5 == 'lesson'%}уроков{%endif%}</div>
                        </div>
                        <div class="dflex mb5">
                            <div class="half-w textdg pr10" style="text-align: right;">Остаток: </div>
                            <div class="half-w">{{subject.4}}тг</div>
                        </div>
                        {%elif subject.2 == -2 %}
                        <div class="text-center textdg text13">
                            Еще не было оплаты                        
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="text14 mt15">
                    <span style="display: none;">{{ nm.money }}</span>
                    <b class="textdg">Итоговая стоимость посещения данной группы:</b>
                    {% if nm.squad.lesson_bill > 0 %}
                        <span class="textblue textbold">{{ nm.squad.lesson_bill }}тг за урок</span>
                        <br>
                    {% endif %}
                    {% if nm.squad.bill > 0 %}
                        <span class="textblue textbold">{{ nm.squad.bill }}тг в месяц</span>
                        <br>
                    {% endif %}
                    <div class="mt5"></div>
                    Оплачено за {{nm|get_closed_months}} месяцев
                    <div class="mt5"></div>
                    <span>{{ nm.squad|last_payment:hisprofile }}</span>
                    <br>
                    <i>(*подробнее в "Истории оплаты" сверху)</i>
                    <a class="ui button mini full-w mt5" onclick="get_student_discounts('{{hisprofile.id}}', '{{nm.squad.id}}')">Скидки</a>
                </div>
            </div>    
        </div>
    </div>
    {% endfor %}
</div>
{%endif%}
<span style="display: none;" pay_url="{% url 'accounts:make_payment' %}" class="instance_data" get_student_discounts="{% url 'squads:get_student_discounts' %}" set_student_discounts="{% url 'squads:set_student_discounts' %}" delete_payment="{% url 'squads:delete_payment' %}"></span>
<script type="text/javascript">
    function make_payment(id) {
        this_ = document.getElementById('pay_for_group');
        group_id = this_.options[this_.selectedIndex].value;        
        amount = $('.payment_amount'+id).val()
        if (amount) {
            $('#payment_success'+id).hide()
            $('.payment_loading'+id).show()
            $('.make_payment').addClass('disabled')
            $.ajax({
                url: $('.instance_data').attr('pay_url'),
                data: {
                    'amount':amount,
                    'id':id,
                    'group_id':group_id                
                },
                dataType: 'json',
                success: function (data) {
                    $('.payment_amount'+id).val('')
                    $('#payment_success'+id).show()
                    $('.payment_loading'+id).hide()
                    $('.make_payment').removeClass('disabled')
                    $('.squad_bill_block_cont'+group_id).load(document.URL +  ' .squad_bill_block'+group_id)
                }
            })            
        }
    };    
    function delete_payment(id){
        url = $('.instance_data').attr('delete_payment')        
        $('.delete_payment_error').hide()
        $.ajax({
            url: url,
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    location.reload()
                }
                else{
                    $('.payment_delete_error').show()
                }
            }
        })
    }
</script>