{% load ttags %}
{% if is_manager and hisprofile.is_student %}
<div class="ui segment mb0" style="font-size: 15px;">
    Оплата
</div>
{%endif%}
<div class="ui segment mt0">
    <div class="ui grid stackable">
        {% if is_manager and hisprofile.is_student %}        
        <div class="eight wide column pr5">
            Пожалуйста, укажите за какую группу вносится оплата:
            <form class="ui form mb10" style="display: flex;">
                <input class="payment_amount{{ hisprofile.id }}" placeholder="Сумма" type="number" name="">
                <select id="pay_for_group">
                    {%for squad in hisprofile.squads.all%}
                    <option value="{{squad.id}}">{{squad.title}}</option>
                    {%endfor%}
                </select>
            </form>
            <a class="ui button mini blue make_payment full-w" onclick="make_payment('{{ profile.make_payment }}', '{{ hisprofile.id }}')">Оплатить</a>
        </div>
        {%endif%}
        <div class="eight wide column pr5">
            <div class="mt15 pt5">
                {% if is_manager and hisprofile.is_student %}
                <a class="ui button mini mb10" onclick="$('.move_money').modal('show')">Перевод денег</a>
                <a class="ui button mini mb10" onclick="$('.payment_history').modal('show')">История оплаты</a>
                {%endif%}
                {% if is_manager %}
                <a class="ui button mini get_manager_actions" url="{%if is_this_manager %}{% url 'schools:get_manager_actions' %}{%elif is_this_trener%}{% url 'schools:get_teacher_actions' %}{%else%}{% url 'schools:get_student_actions' %}{%endif%}" id="{{hisprofile.id}}">История всех действий</a>
                {%endif%}
            </div>
            {% if is_manager and hisprofile.is_student %}
            <div class="ui modal payment_history">
                <i class="close icon"></i>
                <div class="content">
                    <table class="no_margin" style="font-size: 13px;">
                        <thead>
                            <tr>
                                <th class="border">Время</th>
                                <th class="border">Сумма</th>
                                <th class="border">Группа</th>
                                <th class="border">Менеджер</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in hisprofile.payment_history.all %}
                            <tr>
                                <td class="border">{{ payment.timestamp }}</td>
                                <td class="border">{{ payment.amount }} тг</td>
                                <td class="border">{{ payment.squad.title }}</td>
                                <td class="border"><a href="{{payment.action_author.get_absolute_url}}">{{ payment.action_author.first_name }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui modal move_money">
                <i class="close icon"></i>
                <div class="content">
                    <div class="text-center mb30">
                        <b>Перевод денег среди своих счетов</b>
                    </div>
                    <form class="ui form" style="font-weight: 600;">
                        <div class="ui grid">
                            Из счета группы:
                            <select class="move_money_from ml15" style="width: 250px;">
                                {% for nm in profile|get_bills:hisprofile %}
                                <option value="{{ nm.id }}">
                                    {{ nm.squad.title }}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="ml15 mr15">в счет группы:</div>
                            <select class="move_money_to" style="width: 250px;">
                                {% for nm in profile|get_bills:hisprofile %}
                                <option value="{{ nm.id }}">
                                    {{ nm.squad.title }}
                                </option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <div style=" margin: 15px auto;width: 400px;">
                                <div style="display: inline-block;" class="mr15">Сумму:</div>
                                <input type="number" name="" class="move_money_amount" style="width: 250px;">
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <div class="move_money_loading loading" style="display: none;">
                          <div class="animation"><div class="circle one"></div></div>
                          <div class="animation"><div class="circle two"></div></div>
                          <div class="animation"><div class="circle three"></div></div>
                          <div class="animation"><div class="circle four"></div></div>
                          <div class="animation"><div class="circle five"></div></div>
                          <div class="animation"><div class="circle six"></div></div>
                        </div>
                        <a class="ui button small blue move_money_send" url="{% url 'squads:move_money' %}" id="{{hisprofile.id}}">Перевести</a>
                        <br>
                        <div style="width: 400px;margin: 15px auto;display: none;" class="highlight move_money_success">Перевод проведен успешно</div>
                    </div>
                </div>
            </div>
            {%endif%}
            {% if is_manager %}
            <div class="ui modal" style="min-height: 100%;margin-top: 10%;" id="manager_actions{{hisprofile.id}}">
                <i class="close icon"></i>
                <div class="content">
                    <div class="set_manager_actions{{hisprofile.id}}"></div>
                </div>
            </div> 
            {%endif%}           
        </div>
    </div>
</div>
{% if is_manager and hisprofile.is_student %}
<div class="ui segment mb0" style="font-size: 15px;">
    Клиент записан в данные группы:
</div>
<div class="ui segment mt0">
    <div class="ui grid stackable">
        <div class="sixteen wide column pr0">
            <div class="ui grid mt0">
            {% for nm in profile|get_bills:hisprofile %}
                <div class="wide column pt5 pl5 pr5" style="min-width: 33%;border: 1px lightgrey solid;">
                        <a href="{{ nm.squad.get_absolute_url }}"><b>{{ nm.squad.title }}</b></a>
                        <div class="ui divider mb5 mt5"></div>
                        <span style="font-size: 14px;">Группа проходит курсы:</span>
                        <div>
                            {% for subject in nm.squad.subjects.all %}
                            <a class="ui button mini full-w mt10" style="padding: 5px;line-height: 15px;" href="{{subject.get_absolute_url}}">
                                <span style="font-size: 13px;color: #000">{{subject.title}}</span>
                                <br>
                                <span style="color: #545454">Стоимость: {{subject.cost}}тг {%if subject.cost_period == 'lesson'%}за урок{%elif subject.cost_period == 'course'%}за курс{% else %}в месяц{%endif%}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="ui divider mb5 mt5"></div>
                        <div>
                            <b>Оплачено:</b> <span class="nm_money{{nm.id}}">{{ nm.money }}тг</span>
                            <br>
                            Итоговая стоимость посещения данной группы:
                            {% if nm.lesson_bill > 0 %}
                                {{ nm.lesson_bill }}тг за урок
                                <br>
                            {% endif %}
                            {% if nm.bill > 0 %}
                                {{ nm.bill }}тг в месяц
                                <br>
                            {% endif %}
                            <a class="ui button mini full-w mt5 get_student_discounts" sq_id="{{nm.squad.id}}" id="{{hisprofile.id}}">Скидки</a>
                            <div class="ui mini modal student_discounts_modal{{nm.squad.id}}">
                                <i class="close icon"></i>
                                <div class="content">
                                    <b class="text-center">
                                        Скидки <span class="discount_student_name" id=""></span> в группе {{nm.squad.title}}
                                    </b>
                                    <br>
                                    Нажмите на те скидки, которые нужно дать студенту
                                    <br>
                                    Зелеными отмечены те скидки, которые есть у студента
                                    <div class="mt15 student_discounts_list">
                                        {% for dis in nm.squad.school.discounts.all %}
                                        <a class="dis{{dis.id}} dis ui button mini show_hint_schedule" sq_id="{{nm.squad.id}}" id="{{dis.id}}">
                                            <b>{{dis.title}}</b>
                                            <br>
                                            {{dis.amount}} 
                                            {%if dis.discount_type == 'percent' %}
                                                процентов
                                            {%else%}
                                                тенге
                                            {%endif%}
                                        </a> 
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
<!--                     <form class="ui form">
                        <table class="no_margin" class="mb0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ph in payment.2 %}
                                <tr>
                                    <td>
                                        {{ph.amount}} тг
                                        {{ph.timestamp}} тг
                                        {{ph.manager.first_name}}
                                    </td>
                                </tr>
                                {% endfor %}                    
                            </tbody>
                        </table>
                    </form>
 -->                    <div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endif%}
<span style="display: none;" class="instance_data" get_student_discounts="{% url 'squads:get_student_discounts' %}" set_student_discounts="{% url 'squads:set_student_discounts' %}"></span>