{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

{% block head_extra %}
{{ form.media }}
{{ comment_form.media }}
{% endblock head_extra %}
<div id="profile" class="">
    {% if this_folder %}
        {% if this_folder.parent %}
        <a id="go-back-btn-before"  href='{{ this_folder.parent.get_absolute_url }}'>
            <i class="arrow left icon"></i>
        </a>
        {% else %}
        <a id="go-back-btn-before"  href='/documents/'>
            <i class="arrow left icon"></i>
        </a>    
        {% endif %}
    {% endif %}
    <div class="ui container">      
        <div class="ui stackable grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column" style="margin-left: 50px;">
                <div class="ui segment" style="margin-bottom: 0;background-color: #fafbfc;">
                    <span style="font-size: 15px;">
                        {% if this_folder %}
                            Папка <b>{{ this_folder.title }}</b>
                        {% else %}
                            Документы
                        {% endif %}
                    </span>
                    {% if is_trener or is_manager or is_director %}
                    <div style="display: inline-block;margin-left: 15px;">
                        {% if cache.full %}
                            <a class="ui button mini blue pastee" data-href='{{ profile.paste_docobject_url }}' new_parent='{% if this_folder %}{{ this_folder.id }}{% else %}root{% endif %}' school="{{current_school_id}}">Вставить</a>
                        {% else %}
                            <a class="ui button mini disabled">Вставить</a>
                        {% endif %}                      
                        <a class="ui button mini blue create_docfolder" parent_id="{% if this_folder %}{{ this_folder.id }}{% else %}none{% endif %}" school="{{current_school_id}}" data-href='{{ profile.create_docfolder_url }}' >
                            Создать папку
                        </a>
                        <a class="ui button mini blue" onclick="$('#upload_doc_form').modal('show')">
                            Загрузить документ
                        </a>
                        {% include 'documents/upload.html' %}
                    </div> 
                  {% endif %}    
                </div>
                {% if hisschools|length >= 1 %}
                <div class="ui segment" style="margin-top: 0;margin-bottom: 0;padding: 18px;">
                    {% for school in hisschools %}
                        <a href="{{ school.get_school_documents }}" class="{% if school.id == current_school_id %}current_option{% else %}other_option{% endif %}">{{ school.title }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="hint20 hint40 hint60 highliter" style="position: absolute;margin-left: 0px;margin-top: -110px;"></div>
                {% if this_folder %}
                    <div class="ui segment" style="margin-top: 0;margin-bottom: 0">
                        <div id="docs" class="ui grid stackable" style="margin: 0">
                            {% for doc in this_folder.files.all %}
                                {% include 'documents/doc_file.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ui segment" style="margin-top: 0">
                        <div id="folders" class="ui grid stackable" style="margin: 0">
                        {% for folder in this_folder.children.all %}
                            {% if this_folder.parent != folder %}
                                {% include 'documents/doc_folder.html' %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="ui segment" style="margin-top: 0;margin-bottom: 0">
                        <div id="docs" class="ui grid stackable" style="margin: 0">
                        {% for doc in docs %}
                            {% if not root or doc.docfolder.all|length == 0 %}
                                {% include 'documents/doc_file.html' %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <div class="ui segment" style="margin-top: 0">
                        <div id="folders" class="ui grid stackable" style="margin: 0">
                        {% for folder in docfolders %}
                            {% if folder.parent == None %}
                                {% include 'documents/doc_folder.html' %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}     
            </div>
        </div>
    </div>
</div>
{% if is_manager or is_director or is_trener %}
<span style="display: none;" class="hint_data" hint_type="2" id="{{ hint }}" url="{{ profile.hint_url }}"></span>
{% endif %}

{% endblock %}