{% load static %}
<div style="display: none;">
    <span class="hint_text1">
        Чтобы создать карточку нового студента, нажмите на кнопку <b style="color: yellow;">Заявка</b> или <b style="color: yellow;">Добавить</b> и заполните <b>"Имя"</b> и <b>"Номер телефона"</b>
    </span>
    <span class="hint_text2">
        Чтобы добавить или редактировать данные студента нажмите на <b style="color: yellow;">карточку</b> 
    </span>
    <span class="hint_text3">
        <img src="{% static 'images/crm_hint.gif' %}" class="full-w mb10">
        Чтобы записать студента в созданную группу, нажмите на него и удерживая карточку студента, переместите на любой следующий столбец, кроме последнего
    </span>
    <span class="hint_text4">
    </span>
    <span class="hint_text5">
        Нажмите на свой <b style="color: yellow;">офис</b>, чтобы добавить кабинет или удалить его
    </span>
    <span class="hint_text6">
        Давайте создадим первого студента и запишем его в группу
    </span>
</div>
