<script type="text/javascript">
    $(document).ready(function() {
        var hint = parseInt( $('.hint_data').attr('id'))
        console.log(hint)
        if(hint == 60){
            $('#privet-modal').modal('show')
        }
        texts = [
            "Дополните информацию о себе в разделе редактирования страницы",
            "На этом графике будет показано успеваемость и посещаемость занятий всех групп Вашего центра",
            'На этих графиках будет показано результативность Ваших преподавателей и администраторов соответственно',
            'Следите за работой с заявками в этом разделе',
            'Студенты выполняют больше домашних заданий, учителя чаще их проверяют, администраторы быстрее обрабатывают заявки благодаря механике мотивации сайта использующую внутреннюю валюту «Сольдо» <br><br>За счёт заработанных сольдо сотрудники получают премии соответствующих их результативности, а студенты могут купить различные онлайн курсы или получить скидку на обучение в Вашем центре',
            'Создавайте новости и информируйте сотрудников о ближайших событиях в этом разделе',
            'Храните все документы в одном месте и регулируйте доступ сотрудников к ним',
            'Проверить рейтинг учеников и сотрудников Вашего центра можно в этом разделе',
            'Редактируйте и проверяйте расписание групп и предметов в соответствующих вкладках',
            'Храните готовые онлайн уроки и задания в этом разделе и регулируйте доступ сотрудников к ним',
            'В этой вкладке Вы найдете все онлайн-курсы Вашего центра и наших партнеров <br>Покупайте курсы, чтобы они стали доступны для всех Ваших студентов и сотрудников',
            'Создавайте проекты, назначайте ответственных и давайте задания в этом разделе',
        ]
        for(var i = 60; i < 60 + texts.length; i++){
            arrow = ' help_right'
            prev_button = ''
            next_button = '<button id="'+i+'" class="ui button mini white next">Далее</button>'
            if (i > 60){
                prev_button = '<button id="'+i+'" class="ui button mini prev">Назад</button>'
            }
            if(i-60 == texts.length - 1){
                next_button = '<button id="'+i+'" class="ui button mini green next close_hint">Готово</button>'
            }
            if(i > 62){
                arrow = ' help_left'
            }
            if(i == 64){
                arrow = ' help_top'
            }
            if(i == 65){
                arrow = ' help_left_top'
            }
            var element = $('<div class="help ui segment sec help_div'+i+arrow+'"><a id="'+i+'" class="close_hint" style="position: absolute;right: 5px;top:5px;"><i class="close icon" style="color:#f1f1f1;font-size:11px;"></i></a>'+ texts[i-60]+ '<br><span style="color:lightgrey;font-size:11px;font-weight:600;">Шаг '+(i-59)+' из '+texts.length+'</span><br>'+prev_button+next_button+'</div>').appendTo('.hint' + i);
        }
    });
</script>
