<div class="hint_box">
    <div class="shadow_blue backblue br5 pt15 pr15 pb15 pl15">
        <div style="position: absolute;right: 3px;top: 3px;">
            <a class="close_hint"><i class="icon x textw mr0 text11"></i></a>
        </div>
        <div class="textw hint_text_place">
        </div>
        <div class="pt15" style="height: 40px;">
            <a class="ui button mini prev_hint text11">Назад</a>
            <a class="ui button mini white textdg textbold next_hint" style="float: right;">Далее <i class="icon arrow right textblue"></i></a>
            <a class="text11 textw ui button mini green textbold done_hint close_hint" style="float: right;display: none;">Готово</a>
        </div>
    </div>
</div>
<script>
    $('.next_hint').click(function(e){
        change_hint('next')
    })
    $('.prev_hint').click(function(e){
        change_hint('prev')
    })
    $('.close_hint').click(function(e){
        change_hint('end')
        $('.hint_box').hide()
        $('.shadow_green').removeClass('shadow_green')
    })
    get_hints()
    function get_hints(){
        hint = parseInt($('.data').attr('hint'));
        if (hint < 100) {
            show_hint(hint)
            if (hint == 0) {
                $('.container').attr('catch_hint', 'yes')
            }            
        }
        else{
            $('.hint_box').hide()
        }
    }
    function change_hint(direction){
        url = '/api/another_hint';
        current_hint = parseInt($('.data').attr('hint'));
        if (direction == 'next') {
            another_hint = current_hint + 1;
        }
        else if (direction == 'prev'){
            another_hint = current_hint - 1;
        }
        else{
            another_hint = 100;
        }
        $('.data').attr('hint', another_hint)
        if (another_hint <= parseInt($('.data').attr('last_hint'))) {
            show_hint(another_hint)
        }
        hint_type = $('.data').attr('hint_type')
        $.ajax({
            url: url,
            data: {
                'hint_type':hint_type,
                'dir':direction,
            },
            dataType: 'json',
            success: function (data) {
            }
        })
    }
    function show_hint(hint_number){
        if (hint_number > parseInt($('.data').attr('last_hint'))) {
            return false
        }
        hint_text = $('.hint_text' + hint_number).html()
        $('.hint_text_place').html(hint_text)
        place = $('.hint_place' + hint_number)
        $('.shadow_green').removeClass('shadow_green')
        place.addClass('shadow_green')
        hint_box = $('.hint_box')
        hint_box.appendTo(place)
        side = place.attr('side')
        $('.prev_hint').hide()
        $('.next_hint').hide()
        $('.done_hint').hide()
        if (hint_number == 1) {
            $('.next_hint').show()
        }
        if (hint_number == parseInt($('.data').attr('last_hint'))) {
            $('.prev_hint').show()
            $('.done_hint').show()
            $('.next_hint').hide()
            if (hint_number == 1) {
                $('.prev_hint').hide()
            }
        }
        else if(hint_number != 1){
            $('.prev_hint').show()
            $('.next_hint').show()
        }
        left = 15
        hint_box.removeClass('help_left')
        hint_box.removeClass('help_top')
        hint_box.removeClass('help_bottom')
        hint_box.removeClass('help_left')
        hint_box.find('.backblue').removeClass('help_top_long')
        if (side == 'modal') {
            $('.hint_box1').modal('show')
            topp = 250
            left = 250
            scroll_topp = 0
            $('.dimmer').attr('onclick', 'change_hint("next")')
        }
        else if (side == 'bottom') {
            topp = place.height() + 25
            scroll_topp = place.offset().top - 100
            hint_box.addClass('help_top')
        }
        else if (side == 'top') {
            topp = -1 * (hint_box.height() + 10)
            scroll_topp = place.offset().top - 180 - hint_box.height()
            hint_box.addClass('help_bottom')
        }
        else if (side == 'right') {
            topp = place.offset().top - (hint_box.height() - 10)
            left = place.width()
            scroll_topp = place.offset().top - 150 - hint_box.height()/2
            hint_box.addClass('help_left')
        }
        else if (side == 'right2') {
            topp = place.offset().top - hint_box.height() - 15
            left = place.width()
            scroll_topp = place.offset().top - 150 - hint_box.height()/2
            hint_box.addClass('help_left')
            hint_box.find('.backblue').addClass('help_top_long')
        }
        else if (side == 'right3') {
            topp = place.offset().top - 130
            left = place.width()*0.19+200
            scroll_topp = 0
            hint_box.addClass('help_top_right')
        }
        else if (side == 'bottom2') {
            topp = 150
            left = 0
            scroll_topp = 250
            hint_box.addClass('help_bottom')
        }
        else if (side == 'top2') {
            topp = -1 * (hint_box.height() + 10)
            scroll_topp = 0
            hint_box.addClass('help_bottom')
        }
        hint_box.css({top: topp + 'px'})
        hint_box.css({left: left + 'px'})
        $([document.documentElement, document.body]).animate({
            scrollTop: scroll_topp
        }, 500);
    }
</script>
