<script type="text/javascript">
    $(document).ready(function() {
        var hint = parseInt( $('.hint_data').attr('id'))
        console.log(hint)
        if(hint == 20){
            $('#privet-modal').modal('show')
        }
        texts = [
            "Дополните информацию о себе в разделе редактирования страницы",
            "На этом графике будет показано успеваемость и посещаемость занятий классов под Вашей ответственностью",
            'На этом графике будет показано результативность и удовлетворенность студентов качеством преподавания учителей под Вашей ответственностью',
            'Работайте с входящими заявками в этом разделе',
            'Нажмите на эту кнопку в случае входящей срочной заявки',
            'Вовремя обрабатывая заявки и выполняя задания руководства, Вы получаете внутреннюю валюту «Сольдо», которая влияет на Ваш рейтинг среди сотрудников и премию',
            'Создавайте новости и информируйте сотрудников о ближайших событиях в этом разделе',
            'Сохраняйте все важные документы в этом разделе, чтобы не потерять',
            'Проверить рейтинг учеников и преподавателей центра можно в этом разделе',
            'Редактируйте и проверяйте расписание групп и предметов в соответствующих вкладках',
            'Создавайте проекты, формируйте команды и выполняйте задания в этом разделе',
        ]
        for(var i = 20; i < 20 + texts.length; i++){
            arrow = ' help_right'
            prev_button = ''
            next_button = '<button id="'+i+'" class="ui button mini white next">Далее</button>'
            if (i > 20){
                prev_button = '<button id="'+i+'" class="ui button mini prev">Назад</button>'
            }
            if(i-20 == texts.length - 1){
                next_button = '<button id="'+i+'" class="ui button mini green next close_hint">Готово</button>'
            }
            if(i > 22){
                arrow = ' help_left'
            }
            if(i == 25){
                arrow = ' help_top'
            }
            if(i == 26){
                arrow = ' help_left_top'
            }
            var element = $('<div class="help ui segment sec help_div'+i+arrow+'"><a id="'+i+'" class="close_hint" style="position: absolute;right: 5px;top:5px;"><i class="close icon" style="color:#f1f1f1;font-size:11px;"></i></a>'+ texts[i-20]+ '<br><span style="color:lightgrey;font-size:11px;font-weight:600;">Шаг '+(i-19)+' из '+texts.length+'</span><br>'+prev_button+next_button+'</div>').appendTo('.hint' + i);
        }
    });
</script>
