{% load static %}
<div style="display: none;">
    <span class="hint_text1">
        Редактируйте свой профиль, номер телефона, почту и пароль в разделе <b style="color: yellow;">Редактировать</b>
    </span>
    <span class="hint_text2">
        {% if profile.is_student %}
            Посещаемость на уроках и оценки
        {% else %}
            Отмечайте <b style="color: yellow;">посещаемость</b> студентов и преподавателя нажав на одну из этих кнопок
            <br>
            <br>
            В случае ошибки, действия можно отменить
        {% endif %}
    </span>
</div>
