<div style="display: none;">
    <span class="hint_text1">
        Чтобы <b style="color: yellow;">добавить расписание занятий</b>, которые будет проходить группа, выбирите сначала <b>"Курс"</b> из списка затем укажите время занятия и дни недели.
        <br>
        <br>
        Если уроки проходят в разное время в разные дни недели, то создайте сначала урок для одного дня, а затем повторите процедуру для другого дня
    </span>
    <span class="hint_text2">
        Нажмите на урок в расписании, чтобы <b style="color: yellow">указать кабинет</b>, в котором будет проходить занятие
    </span>
</div>
