<style type="text/css">
    i.icon.close:before {
        color: red;
        font-size: 11px;
    }
</style>
<div class="ui segment" style="margin-bottom: 0;margin-top: 0">  
    <form class="ui form">  
        Список классов:
        <br>
        <div class="ui grid">
            <div class="six wide column">
                <div class="controls"> 
                    <select class="selecttt form-control" id="id_curator"> 
                        {% for squad in squads %}
                            {% if not squad in instance.squads.all %}
                            <option value="{{ squad.id }}">{{ squad.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="two wide column">
                <a class="ui button blue mini add_squad_to_subject" data-href="{{ instance.add_squad_url }}" id="{{ instance.id }}">Добавить класс</a>
            </div>
            <div class="sixteen wide column" style="padding-top: 0">
                {% for squad in instance.squads.all %}
                    <div class="ui segment" draggable="true" old_cell="none" ondragstart="drag(event)" id="squad{{ squad.id }}" squad_id='{{ squad.id }}' style="display: inline-block; width: 10%;padding: 1px;color: white; background-color: #5181b8; cursor: pointer;text-align: center">
                        {{ squad.title }}
                        <br>
                        <span style="color: rgba(255, 255, 255, .5);font-size: 12px">{{ instance.cabinet }}</span>
                        <br>
                        <span style="color: rgba(255, 255, 255, .5);font-size: 12px">{{ instance.teacher.all.0.first_name }}</span>
                    </div>
                    <a class="delete_squad_from_subject" squad_id='{{ squad.id }}' data-href="{{ instance.delete_squad_url }}" style="margin-right: 15px;"><i class="icon close"></i></a>
                {% endfor %}
            </div>
        </div>
    </form>
</div>