{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.ten.wide.column{
		padding-bottom: 0 !important;
	}
	.six.wide.column{
		padding-bottom: 0 !important;
	}
	.form-group{
		width: 46%;
		display: inline-block;
		position: flex;
		margin-right: 2%;
	}
	.textinput, .numberinput, .clearablefileinput, .change_subject_category,.change_subject_age{
		margin: -10px 0 0 !important;
	}
	#div_id_title{
		width: 64%;
	}
	#div_id_content{
		width: 100% !important;
	}
	#div_id_cost{
		margin-left: 2%;
		margin-right: 0;
		width: 30%;
	}
</style>
<div id="profile" style="padding-bottom: 200px;">
	{% if instance %}
	<a id="go-back-btn"  href='{{ instance.get_absolute_url }}'>
        <i class="arrow left icon"></i>Назад
    </a>
	{% else %}
	<a id="go-back-btn"  href='{% url "subjects:list" %}'>
        <i class="arrow left icon"></i>Назад
    </a>
    {% endif %}
	<div class='ui container'>
		<div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
            	<form class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
	            	<div class="ui grid stackable">
			            <div class="eight wide column" style="padding-right: 0">
			            	<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;">
				        		Основная информация <b>{{ instance.title }}</b>
				        	</div>
				        	<div class="ui segment" style="line-height: 40px; margin-top: 0;padding-bottom: 31px;">
			        			<div class="ui grid">
			        				<div class="sixteen wide column" style="font-weight: 600;">
			        					{{ form|crispy }}
			        					{% if instance %}
			        						<br>
				        					Категория предмета
			                                <select class="change_subject_category" id="change_subject_category" url="{{ instance.change_category }}" option="subject"> 
			                                	{% if instance.category == None %}
			                                		<option value="-1">Другое</option>
	                                            {% elif instance.category %}
	                                                <option value="{{ instance.age.id }}">{{ instance.category.title }}</option>
	                                            {% endif %}
			                                    {% for subject_category in subject_categories %}
			                                        {% if subject_category != instance.category %}
			                                        <option value="{{ subject_category.id }}">{{ subject_category.title }}</option>
			                                        {% endif %}
			                                    {% endfor %}
	                                            {% if instance.category != None %}
			                                    <option value="-1">Другое</option>
			                                    {% endif %}
			                                </select>
				        					Возраст
			                                <select class="change_subject_age" id="change_subject_age" url="{{ instance.change_age }}" option="subject">
			                                	{% if instance.age == None %}
			                                		<option value="-1">Другое</option>
	                                            {% elif instance.age %}
	                                                <option value="{{ instance.age.id }}">{{ instance.age.title }}</option>
	                                            {% endif %}
	                                            {% for subject_age in subject_ages %}
	                                                {% if subject_age != instance.age %}
	                                                <option value="{{ subject_age.id }}">{{ subject_age.title }}</option>
	                                                {% endif %}
	                                            {% endfor %}
	                                            {% if instance.age != None %}
	                                            <option value="-1">Другое</option>
	                                            {% endif %}
	                                        </select>
				                        {% endif %}                                        
			        				</div>
			        			</div>
							</div>
						</div>
						{% if instance %}
						<div class="eight wide column">
							<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px; line-height: 54px;font-size: 15px;font-family: Tahoma, sans-serif;">
				        		Детальная информация
				        	</div>
							<div class="ui segment" style="line-height: 40px;margin-top: 0;height: 297px;">
								<div class="ui grid">
									<div class="sixteen wide column">
										{{ form2|crispy }}
									</div>
									<div class="six wide column" style="text-align: right;padding-right: 0">
										<p style="color: #656565;font-size: 13px;padding-top: 2px;">
				        					Автор:
				        				</p>
									</div>
									<div class="ten wide column">
										<select id="change_teacher" class="change_teacher" subject_id="{{ instance.id }}" url="{{ instance.change_teacher_url }}">
											<option value="{{ instance.author.id }}">{{ instance.author.first_name }}</option>
											{% for teacher in all_teachers %}
												{% if teacher != instance.author %}
													<option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
									<div class="sixteen wide column">
			                            <a href="{{ instance.get_delete_url }}" class="ui button red small" style="margin-top: 15px;">
	                                        <i class="icon trash" style="color: #fff;"></i> Удалить предмет "<b>{{ instance.title }}</b>"
			                            </a>
		                            </div>											
								</div>
			    			</div>
						</div>
						<div class="sixteen wide column" style="padding: 0 14px;">
			    			{% include 'subjects/subject_calendar.html' %}
						</div>
						{% endif %}	
						{% if instance %}
						<div class="sixteen wide column" style="padding-top: 0;padding-right: 0">
	        				<div class="ui segment" style="text-align: center;">
								<input type='submit' class='ui button blue tiny' value='Сохранить' />
							</div>
						</div>
						{% else %}
							<div class="one wide column"></div>
							<div class="{% if instance %}sixteen{%else%}eight{% endif %} wide column" style="padding-top: 0;padding-right: 0">
		        				<div class="ui segment" style="text-align: center;">
									<input type='submit' class='ui button blue tiny' value='Создать предмет' />
								</div>
							</div>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>	
	<span id='{{ instance.id }}' data-href='{{ instance.calendar_url }}' style="display: none;" name='data' class="data" days='' >
	</span>
</div>

{% endblock content %}