{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load ttags %}

{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.form-group{
		width: 46%;
	}
	.textinput, .numberinput, .clearablefileinput, .change_subject_category,.change_subject_age{
		margin: -10px 0 0 !important;
	}
	#div_id_title{
		width: 100%;
	}
	#div_id_content{
		width: 100% !important;
	}
	#div_id_cost{
		width: 30%;
        display: inline-block;
	}
</style>
<div id="profile">
	{% if instance %}
	<a id="go-back-btn-before"  href='{{ instance.get_absolute_url }}'>
        <i class="arrow left icon"></i>
    </a>
	{% else %}
	<a id="go-back-btn-before" href='{% url "subjects:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
        <i class="arrow left icon"></i>
    </a>
    {% endif %}
	<div class='ui container mb150'>
		<div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="w85 wide column mlback deskpr30">
            	<form class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                    <div class="ui shadow_small segment mt0">
                        <a href="{{ instance.get_absolute_url }}" class="mr30">
                            <b class="text15">{{ instance.title }}</b>
                        </a>
                        <div class="in_mobile mb15"></div>
                        <a href="{{ instance.get_delete_url }}" class="ui button red mini">
                            <i class="icon trash" style="color: #fff;"></i> Удалить
                        </a>
                    </div>
	            	<div class="ui grid stackable">
			            <div class="nine wide column pl0 pb0 mobpr0">
				        	<div class="ui shadow_small segment" style="min-height: 251px;">
			        			<div class="ui grid no_margin" style="line-height: 40px;">
			        				<div class="sixteen wide column no_padding" style="font-weight: 600;">
			        					{{ form|crispy }}
                                        <input class="get_subject_period" name="get_subject_period" style="display: none;" value="month">
                                        <div class="pl10" style="width: 70%;display: inline-block;">
                                            За
                                            <a class="pl10 pr10 ui button mini {%if instance.cost_period == 'lesson'%}green{%endif%} subject_period" status="lesson">Урок</a>
                                            <a class="pl10 pr10 ui button mini {%if instance.cost_period == 'month' or not instance%}green{%endif%} subject_period" status="month">Месяц</a>
                                            <a class="pl10 pr10 ui button mini {%if instance.cost_period == 'course'%}green{%endif%} subject_period" status="course">Курс</a>
                                        </div>
                                        <div style="position: absolute;width: 100%;">
                                            {% if instance %}
                                            <a class="show_hint_schedule" style="float: right;"><i class="icon info circle blue"></i><span style="font-size: 13px;">Подсказка</span></a>
                                            <div class="hint_schedule" style="display: none;">
                                                <div class="ui segment cost_hint">
                                                    <b>Внимание!</b> 
                                                    <br><br>
                                                    Укажите стоимость за 1 урок, за 1 месяц или за весь курс. 
                                                    <br><br>
                                                    Указанная цена будет учитываться в расчетах оплаты клиентов* и показана на странице Вашего образовательного центра .  
                                                    <br><br>
                                                    *При недостаточном количестве денег на счету у клиента за следующий урок/месяц ему будет прислано уведомление о необходимости оплаты и его карточка в СRM системе будет отмечена красным цветом
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
			        				</div>
			        			</div>
                                <div class="text-center mt15">
                                    <input type='submit' class='ui button blue tiny' value='Сохранить' />
                                </div>
							</div>
						</div>
						{% if instance %}
						<div class="seven wide column pl0 pr0">
							<div class="ui shadow_small segment mt0" style="line-height: 40px;min-height: 251px;">
								<div class="ui grid">
									<div class="sixteen wide column">
										<input type="file" name="subject_banner" id="subject_banner" class="postfile">
				                        <label class="file_post" for="subject_banner">
				                        	<a class="ui button mini"><i class="icon image blue"></i>Баннер</a>
				                        </label>
									</div>
                                    <div class="eight wide column pl0">
                                        <div class="ui toggle checkbox">
                                          <input class="make_public" id="{{instance.id}}" type="checkbox" {% if instance.public %}checked{% endif%} url="{%url 'subjects:make_public'%}" name="public">
                                          <label>Показывать курс в поиске</label>
                                        </div>                                        
                                    </div>
                                    <div class="eight wide column pr0">
                                        <div class="ui toggle checkbox">
                                          <input class="make_public_cost" id="{{instance.id}}" type="checkbox" {% if instance.public_cost %}checked{% endif%} url="{%url 'subjects:make_public_cost'%}" name="public">
                                          <label>Показывать стоимость в поиске</label>
                                        </div>                                        
                                    </div>
                                    <div class="sixteen wide column no_padding dflex">
                                        <span class="text15">Количество уроков:</span>
                                        <input class="mt5 ml5 pl5 pr5" type="number" style="width:100px;" name="number_of_materials" value="{{instance.number_of_materials}}">
                                    </div>
								</div>
                                <div class="text-center mt30">
                                    <input type='submit' class='ui button blue tiny' value='Сохранить' />
                                </div>                                
			    			</div>
						</div>
                        {% else %}
                        <div class="six wide column">
                            <div class="ui segment help_left full-w" style="position: absolute;margin-top: 120px;">
                                <b>Внимание!</b> 
                                <br><br>
                                Укажите стоимость за 1 урок, за 1 месяц или за весь курс. 
                                <br><br>
                                Указанная цена будет учитываться в расчетах оплаты клиентов* и показана на странице Вашего образовательного центра .  
                                <br><br>
                                *При недостаточном количестве денег на счету у клиента за следующий урок/месяц ему будет прислано уведомление о необходимости оплаты и его карточка в СRM системе будет отмечена красным цветом
                            </div>
                        </div>
						{% endif %}
						{% if instance %}
                        {% if is_director %}
                        <div class="sixteen wide column pl0 pr0">
                            <div class="ui shadow_small segment">
                                <span class="ml15" style="font-size: 15px;font-weight: 600;">Фильтры</span> 
                                <div class="filter-element ml50 filter-element-category" url="{{ instance.change_category }}" style="width: 400px;">
                                    <div onclick="filterTitleS('category')" class="filter-title-s" id="category" status="closed">
                                        Выберите предметы курса
                                        <i class="icon caret down" style="float: right;color: #222;"></i>
                                    </div>
                                    <ul class="filter-list-n choose_category" style="z-index: 2000;display: none;">
                                        {% for subject_category in subject_categories %}
                                        <li class="filter-item-s" name="filter-item-s" object="category" status="0" id="{{ subject_category.id }}">
                                            {{subject_category.title}}
                                            <i class="icon check green" id="check_subject_category{{ subject_category.id }}" style="{%if not subject_category in subject_categories_this%}display: none;{% endif %}"></i>
                                            <div class="loading_small" style="display: none;" id="loadcategory{{ subject_category.id }}">
                                              <div class="animation"><div class="circle one"></div></div>
                                              <div class="animation"><div class="circle two"></div></div>
                                              <div class="animation"><div class="circle three"></div></div>
                                              <div class="animation"><div class="circle four"></div></div>
                                              <div class="animation"><div class="circle five"></div></div>
                                              <div class="animation"><div class="circle six"></div></div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>                                
                                <div class="subject_filters">
                                    <div class="ui grid stackable no_margin"> 
                                        {% for filter in instance|get_filters %}
                                        <div class="four wide column pt5 pr0">
                                            <div class="mt10 filter-element filter-element-level" url="{{ instance.change_filter_option }}">
                                                <div class="filter-title-s textdg" id="filter{{filter.id}}" status="closed">
                                                    <b>{{ filter.title }}</b>
                                                </div>
                                            </div>
                                            <ul style="position: relative;" class=" filter-list-n filter-list-hide-filter{{ filter.id }}" pid="filter{{ filter.id }}">
                                                {% for optn in filter.filter_options.all %}
                                                <li onclick="filterItemS('{{ optn.id }}')" object="level" class="optn{{ optn.id }} filter-item-s2" id="{{ optn.id }}">
                                                    {{optn.title}}
                                                    <i class="icon check green" id="check_subject_level{{ optn.id }}" style="{%if not optn in subject_filter_options%}display: none;{% endif %}"></i>
                                                    <div class="loading_small" style="display: none;" id="loadlevel{{ optn.id }}">
                                                      <div class="animation"><div class="circle one"></div></div>
                                                      <div class="animation"><div class="circle two"></div></div>
                                                      <div class="animation"><div class="circle three"></div></div>
                                                      <div class="animation"><div class="circle four"></div></div>
                                                      <div class="animation"><div class="circle five"></div></div>
                                                      <div class="animation"><div class="circle six"></div></div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
						{% else %}
							<div class="{% if instance %}sixteen{%else%}eight{% endif %} wide column pr0 pt0">
		        				<div class="ui segment text-center">
									<input type='submit' class='ui button blue tiny' value='Создать курс'/>
								</div>
							</div>
						{% endif %}
                        <div class="sixteen wide column pl0 pr0 pb50">
                            <div class="ui shadow_small segment mt0">
                                <div class="text15 textdg mb15">
                                    Группы проходящие курс <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
                                </div>
                                {% for squad in instance.squads.all %}
                                    <a href="{{squad.get_absolute_url}}" class="ui button mini dark">{{squad.title}}</a>
                                {% endfor %}
                            </div>
                        </div>                        
					</div>
				</form>
			</div>
		</div>
	</div>	
	<span id='{{ instance.id }}' data-href='{{ instance.calendar_url }}' style="display: none;" name='data' class="data" days='' >
	<span style="display: none;" class="change_urls">
	</span>
</div>
<script type="text/javascript">
    function filterTitleS(id){
        console.log(1,id)
        this_ = $('#'+id)
        status = this_.attr('status')
        if (status == 'closed') {
            $('.choose_category').show();
            this_.attr('status','opened')
        }
        else{
            this_.attr('status','closed')
            $('.choose_category').hide();
        }
    };
    $('.filter-item-s').on('click', function () {
        console.log(2)
        this_ = $(this)
        id = this_.attr('id')
        object = this_.attr('object')
        url = $('.filter-element-'+object).attr('url')
        $('#load'+object+id).show()
        $.ajax({
            url: url,
            data: {
                "object_id":id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    $('#load'+object+id).hide()
                    if (data.is_in) {
                      this_.attr('status', '1')
                      this_.children('i').show()
                    }
                    else {
                      this_.attr('status', '0')
                      this_.children('i').hide()
                    }
                    if (object=='category') {
                        $( ".subject_filters" ).load(document.URL +  ' .subject_filters')
                        $( ".subject_filters2" ).load(document.URL +  ' .subject_filters2')
                    }
                }
            }
        })
    });   
    function filterItemS(id){ 
        console.log(3)
        this_ = $('.optn'+id)
        object = this_.attr('object')
        url = $('.filter-element-'+object).attr('url')
        $('#load'+object+id).show()
        $.ajax({
            url: url,
            data: {
                "object_id":id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    $('#load'+object+id).hide()
                    if (data.is_in) {
                      this_.attr('status', '1')
                      this_.children('i').show()
                    }
                    else {
                      this_.attr('status', '0')
                      this_.children('i').hide()
                    }
                }
            }
        })
    };    
</script>
{% endblock content %}