{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}
{% block content %}
<div id="profile">
    <div class='ui container'>
        <div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="wide column w85" id="list">
                <div class="ui grid stackable" id="updater">
                    <div class="twelve wide column pr0">
                        <div class="ui segment mb0" style="padding: 18px;">
                            <div style="font-size: 16px;display: flex;">
                                <div class="mt5" style="display: flex;">
                                    Курсы 
                                    <div class="ml5" style="color: #939393;">{{ subjects|length }}</div>
                                </div>
                                <form class="ui form mb0" style="width: 250px;">
                                    <textarea class="mb0 ml15 start_searching_subjects" placeholder="Поиск курсов" url="{% url 'subjects:searching_subjects' %}" style="height: 32px;overflow: hidden;"></textarea>
                                </form>
                            </div>
                            <div class="ui segment show_search_subjects mt5 no_padding" style="display: none;position: absolute;z-index: 1000;width: 250px;margin-left: 80px;">
                            </div>
                        </div>
                        <div class="ui option grid stackable mt0" id="allsubjects">
                            {% for sq in subjects %}
                                {% include 'subjects/subject_list_info.html' %}
                            {% endfor %}
                            {% if is_director or is_manager%}
                            <div class="eight wide column" style="padding: 0">
                                <a class="ui button full-w" style="height: 78px;line-height: 55px" href='{% url "subjects:create" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>+ Создать новый курс</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui segment" style="padding-left: 0; padding-right: 0">
                            <div class="option_vertical {% if not profile.skill.crm_subject2 %}option_vertical_active{% endif %}" id="category-1">
                                <a class="full-w choose_subject_category" onclick="choose_subject_category('-1', 'subject')" id="-1" option="subject" style="color: black;font-size: 13px;">Все курсы</a>
                            </div>
                            {% for category in subject_categories %}
                            <div class="option_vertical {% if category == profile.skill.crm_subject2 %}option_vertical_active{% endif %}" id="category{{category.id}}">
                                <a class="full-w choose_subject_category" onclick="choose_subject_category('{{ category.id }}', 'subject')" id="{{ category.id }}" option="subject" style="color: black;font-size: 13px;">{{ category.title }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span style="display: none;" class="get_subject_category_url" url="{{ school.crm_option_url }}"></span>
<script>
    function choose_subject_category(id, option){
        url = $(".get_subject_category_url").attr('url')
        $.ajax({
            url: url,
            data: {
                'object_id':id,
                'option':option,
            },
            dataType: 'json',
            success: function (data) {
                $( "#list" ).load(document.URL +  ' #updater');
                $(".option_vertical").removeClass('option_vertical_active')
                $('#category'+id).addClass('option_vertical_active')
            }
        });
    } 

    $(document).ready(function(){
      $(".group_action").click(function (event) {
        event.preventDefault();
        var this_ = $(this)
        var form_id = '#' + this_.attr("id") + 'group_action'
        $(form_id).fadeToggle();
      })
    })
</script>

{% endblock content %}