{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load staticfiles %}
{% block content %}
<div id="group-details" style="padding-bottom: 100px;">
    {% if profile.is_manager %}
    <a id="go-back-btn"  href='{% url "subjects:list" %}'>
        <i class="arrow left icon"></i>Назад
    </a>
    {% else %}
    <a id="go-back-btn"  href='{{ profile.get_absolute_url }}'>
        <i class="arrow left icon"></i>Назад
    </a>
    {% endif %}
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="ui segment" style="margin-bottom: 0;padding: 0;padding-bottom: 15px;">
                            <div class="ui grid" style="margin: 0">
                                {% if instance.image_banner %}
                                <div class="sixteen wide column" style="padding: 0">
                                    <img src="{{ instance.image_banner.url }}" style="height: 200px; width: 100%;">
                                </div>
                                {% endif %}
                                <div class="group-name" style="padding-top: 15px;">
                                    {% if instance.image_icon %}
                                    <img src="{{ instance.image_icon.url }}" class="ui avatar image" style="width: 39px; height: 39px;">
                                    {% else %}
                                    <img class="ui avatar image" style="width: 39px; height: 39px;" src="{% static 'images/squad.png' %}">
                                    {% endif %}
                                    <span class="ui header ava-title">{{ instance.title }}</span>
                                </div>
                                {% if is_trener or is_manager %}
                                <div style="padding-top: 23px;">
                                    <a href="{{ instance.get_update_url }}" style="font-size: 17px;">
                                        <i class="icon cog blue" ></i>
                                    </a>
                                </div>  
                                {% endif %}
                            </div>
                        </div>
                        <div class="ui segment" style="{% if not course.image %}margin-top: 0{% endif %}">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="icon list" style="font-size: 17px; padding-bottom: 0"></i>
                                </div>
                                <div class="fifteen wide column" style="padding-right: 25px; padding-bottom: 0">
                                    {{ instance.get_markdown }}
                                </div>
                            </div>                            
                        </div>
                        {% include 'subjects/subject_show_calendar.html' %}
                        {% include 'subjects/dated_materials.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'subjects/subject_materials.html' %}
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>

{% endblock content %}