{% load ttags %}
{% load staticfiles %}
<script src='{% static "js/vue-drag/vue.min.js" %}'></script>
<script src='{% static "js/vue-drag/axios.min.js" %}'></script>
<script src='{% static "js/vue-drag/sortable.min.js" %}'></script>
<script src='{% static "js/vue-drag/vue-draggable.min.js" %}'></script>

<span style="display: none;" class="instance_id" id="{{ instance.id }}"></span>
<span style="display: none;" class="change_schedule_url" url="{{ instance.change_schedule_url }}"></span>
 

<div id="app">
    <div class="options">
        <p>Список классов:</p>
        <div class="form">
            <form @submit.prevent="addSquad">
                <select v-model="squad">
                    <option value="Выберите Класс" selected>Выберите Класс</option>
                    <option :value="item" v-for="item in outSubjectSquads">[[ item[1][0] ]]</option>
                </select>
                <button type="submit">Добавить<br> класс</button>
            </form>
        </div>

        <div class="selected-squad-list">
            <draggable 
                    v-model="inSubjectSquads[1]" 
                    :options="{group:{ name:'people',  pull:'clone', put:false}}">
                <button v-for="(element, index) in inSubjectSquads[1]" class="item main">
                    <p class="dragg">[[ element ]]</p> <br>
                    <p class="user">[[ trener ]]</p>
                    <span @click="deleteSquad(index,element)">✖</span>
                </button>
            </draggable>
        </div>
    </div>
    <div class="table">
        <div class="day-list">
            <div class="day empty">AA</div>
            <div class="day">ПН</div>
            <div class="day">ВТ</div>
            <div class="day">СР</div>
            <div class="day">ЧТ</div>
            <div class="day">ПТ</div>
            <div class="day">Сб</div>
        </div>

        <div class="week-list">
            <div class="week" v-for="(item,i) in schedule">
                <div class="time">[[ item[0] ]]</div>
                <div class="boxes">
                    <draggable 
                            v-for="(box, i) in item[1]" 
                            class="box" 
                            :data-cellid="box[0]"
                            :list="box[1]"
                            :options="{group:{ name:'people', put: box[2] }}"
                            @change="updateSchedule($event, box)"
                            @add="added($event, box[1])">
                        <div class="inner"
                                v-for="(element, index) in box[1]" 
                                :key="index">
                            <p>[[ box[1][0] ]]</p>
                            <p class="user">[[ trener ]]</p>
                        </div>
                    </draggable>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    console.log()
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                squad: 'Выберите Класс',
                schedule: null,
                inSubjectSquads: [],
                outSubjectSquads: [],
                trener: ''
            }
        },
        methods: {
            addSquad() {
                if (this.squad == 'Выберите Класс') return; 
                if (!this.inSubjectSquads[1].includes(this.squad[1][0])) {
                    axios.get('/subjects/api/add_squad_url', {
                        params: {
                            'subject_id': 9,
                            'squad_id': this.squad[0]
                        }
                    })
                    .then((res) => {
                        // console.log(res)
                    })
                    this.inSubjectSquads[1].push(this.squad[1][0]);
                }

                this.squad = 'Выберите Класс';
            },
            deleteSquad(i, id) {
                let squad_id = this.inSubjectSquads[0][this.inSubjectSquads[1].indexOf(id)]
                // console.log(squad_id)
                axios.get('/subjects/api/delete_squad_url/', {
                    params: {
                        'subject_id': 9,
                        'squad_id': squad_id
                    }
                })
                this.inSubjectSquads[0].splice(i, 1)
                this.inSubjectSquads[1].splice(i, 1)
                https://www.pinocchio.kz/subjects/api/delete_squad_url/ 
                axios.get('/subjects/api/schedule/9/')
                    .then( (res) => {
                        this.schedule = res.data.calendar
                        // console.log(this.schedule)
                    })
            },
            updateSchedule(e, box) {
                // http://www.pinocchio.kz/subjects/api/change_schedule_url/9/
                // let cell_id = box[0];
                // let squad_id = this.inSubjectSquads[0][this.inSubjectSquads[1].indexOf(box[1][0])]
            },
            added(e, s) {
                if (s.length > 1) {
                    // console.log(e.to.dataset.cellid)
                }
                let cell_id = e.to.dataset.cellid
                let old_cell = "none";
                let squad_id = this.inSubjectSquads[0][this.inSubjectSquads[1].indexOf(s[0])]
                if (e.from.dataset.cellid) {
                    old_cell = e.from.dataset.cellid
                }
                axios.get('/subjects/api/change_schedule_url/9/', { 
                    params: {
                        'squad_id': squad_id,
                        'cell_id': cell_id,
                        'old_cell': old_cell
                    }
                })
                .then(res => {
                    // console.log(res)
                    axios.get('/subjects/api/schedule/9/')
                    .then( (res) => {
                        this.schedule = res.data.calendar
                        this.schedule.map((row) => {
                            row[1].map((item) => {
                                if (item[1].length == 1) {
                                    item.push(false)
                                    return
                                }
                                item.push(true)
                            })
                        })
                        // console.log(this.schedule)
                    })
                })
            },
            log: function (e){
                // console.log(this.schedule)
            }
        },
        created() {
            // axios.get('/profile/api/attendance/')
            // .then(res => {
            //     console.log(res)
            // })
        },
        beforeCreate() {
            axios.get('/subjects/api/schedule/9/')
                .then( (res) => {
                    this.schedule = res.data.calendar
                    this.schedule.map((row) => {
                        row[1].map((item) => {
                            if (item[1].length == 1) {
                                item.push(false)
                                return
                            }
                            item.push(true)
                        })
                    })
                    // console.log(this.schedule)
                })
            axios.get("/subjects/api/squad_list/9/")   
                .then( (res) => {
                    this.inSubjectSquads = res.data.groups_in_subject
                    this.outSubjectSquads = res.data.groups_not_in_subject
                    this.trener = res.data.trener
                    var ids = [];
                    var classes = [];
                    this.inSubjectSquads.map((item, i) => {
                        ids.push(item[0])
                        classes.push(item[1][0])
                    })
                    this.inSubjectSquads = [] = [ids, classes]
                    // console.log(this.inSubjectSquads)
                    // console.log(this.outSubjectSquads)
                })
        }
    })
</script>

<style>
#app {
    /*margin: 20px;*/
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, 0.15);
}
#app * {
    box-sizing: border-box;
    font-family: 'helvetica neue', sans-serif;
}
#app .form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /*justify-content: space-between;*/
    margin: 20px 0;
}
#app .options {
    background-color: #fff;
    font-size: 13px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}
#app .options p {
    margin: 0;
}
#app .options select {
    width: 40%;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 4px;
    padding: 7px 10px;
    margin: 5px 0;
    color: #000;
    background-color: #fff;
}
#app .options form {
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
#app .options button {
    border: none;
    border-radius: 4px;
    background-color: #5181b8;
  color: #FFFFFF;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

#app .options .selected-squad-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
} 

#app .options .selected-squad-list .item {
    position: relative;
    cursor: pointer;
    margin-right: 25px;
}

#app .options .selected-squad-list .item span {
    position: absolute;
    right: -17px;
    top: 0;
    background-color: transparent;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

#app .table {
    background-color: #4a4a4a;
}

#app .table .day-list{
    display: flex;
}
#app .table .day-list .day.empty {
    color: transparent;
}

#app .table .day {
    font-size: 9px;
  text-transform: uppercase;
  padding: 15px 10px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
  flex-grow: 1;
  text-align: center;
  font-family: 'helvetica neue', sans-serif;
  /*border-right: 1px solid #fff;*/
}

#app .table .week-list {
    display: flex;
    flex-direction: column;
    min-height: 310px;
}
#app .table .week {
    display: flex;
}

#app .table .week > div {
    text-align: center;
    flex: 1 1 ;
    color: #fff;
}
#app .table .week .time {
    padding: 17px 3px;
}

#app .table .week .boxes {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#app .table .week .boxes .box {
    flex: 1 1;
    border: 1px solid #887979;
    margin: 3px;
    border-radius: 3px;
}
#app .table .week .box .inner {
    color: #fff;
    padding: 10px 5px ;
    margin-top: 3px;
    background-color: #5181b8;
}
#app .table .week .box p {
    padding: 0;
    margin: 0;
}
#app .table .week .boxes .box button {
    border: none;
    background-color: transparent;
}
#app .table .week .time, 
#app .table .day-list .empty {
    max-width: 95px;
    min-width: 95px;
}
</style>