{% load ttags %}
<span style="display: none;" class="instance_id" id="{{ instance.id }}"></span>
<span style="display: none;" class="change_schedule_url" url="{{ instance.change_schedule_url }}"></span>
<div class="ui segment" style="margin-bottom: 0;font-size: 15px;">
    <i class="icon table blue" style="font-size: 17px;"></i> Расписание
    {% if is_trener or is_manager %}
        <a class="show_hint_schedule"><i class="icon info circle blue"></i><span style="font-size: 13px;">Подсказка</span></a>
        <div class="ui pointing below label dark hint_schedule" style="display: none;position: absolute;">
            Разные группы могут проходить один и тот же курс, в настройках групп можно менять расписание
        </div>                                
    {% endif %}
</div>

<div id="calendar" length='7'>  
    {% if is_manager %}
    {% if time_periods|length == 0 %}
    <div style="background-color:#4a4a4a;color:#fff;padding:15px;">Не настроены времена уроков, можете настроить в <a href="/schools/info/" class="ui button mini green">Управлении</a></div>
    {% endif %}
    {% endif %}
    {% if time_periods|length > 0 %}         
    <div id="week">   
        <div class="week" id="0">
            <div class="daysmall daysmall_time" style="padding-top: 17px;">
            </div>
            {% for day in days %}
            <div class="daysmall">
                <div class="day-name">
                    {{ day.title }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
        {% for timep in time_periods %}
        <div class="week" id="{{ forloop.counter }}">
            <div class="daysmall daysmall_time" style="padding-top: 17px;">
                {{ timep.start }}-{{ timep.end }}
            </div>
            {% for cell in timep.time_cell.all %}  
            <div class="daysmall other" style="padding: 0;">                                     
                <div {% if page == 'subject_update' %} style=""{% endif %}>
                    {% for lecture in cell|cell_subject_lectures:instance %}
                        {% if is_trener or is_manager or lecture.squad in profile.squads.all %}
                        <div class="ui segment in_schedule" style="padding: 0px;margin-bottom: 3px; margin-top: 0px;background-color:#5181b8;">
                            {{ lecture.squad.title }}
                            {% if instance.cabinet %}
                            <br>
                            <span style="color: rgba(255, 255, 255, .5);font-size: 11px">{{ instance.cabinet }}</span>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui divider" style="margin: 0; padding: 2px;background-color:#4A4A4A "></div>
        {% endfor %}
    </div>
    {% endif %}    
</div>   
