{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.ten.wide.column{
		padding-bottom: 0 !important;
	}
	.six.wide.column{
		padding-bottom: 0 !important;
	}
	.form-group{
		width: 46%;
		display: inline-block;
		position: flex;
		margin-right: 2%;
	}
	.textinput, .numberinput, .clearablefileinput, .change_subject_category,.change_subject_age{
		margin: -10px 0 0 !important;
	}
	#div_id_title{
		width: 64%;
	}
	#div_id_content{
		width: 100% !important;
	}
	#div_id_cost{
		margin-left: 2%;
		margin-right: 0;
		width: 30%;
	}
</style>
<div id="profile" style="padding-bottom: 200px;">
	{% if instance %}
	<a id="go-back-btn-before"  href='{{ instance.get_absolute_url }}'>
        <i class="arrow left icon"></i>
    </a>
	{% else %}
	<a id="go-back-btn-before" href='{% url "subjects:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
        <i class="arrow left icon"></i>
    </a>
    {% endif %}
	<div class='ui container'>
		<div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="wide column" style="width: 80%;margin-left: 30px;">
            	<form class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
	            	<div class="ui grid stackable">
			            <div class="eight wide column" style="padding-right: 0">
			            	<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;">
				        		Основная информация <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
				        	</div>
				        	<div class="ui segment" style="line-height: 40px; margin-top: 0;padding-bottom: 31px;">
			        			<div class="ui grid">
			        				<div class="sixteen wide column" style="font-weight: 600;">
			        					{{ form|crispy }}
			        					{% if instance %}
			                                <div class="filter-element filter-element-category" url="{{ instance.change_category }}" style="margin-top: 10px;">
			                                    <div class="filter-title-s" id="category{{ subject_category.id }}" status="closed">
			                                    	Выберите предметы курса
			                                    	<i class="icon caret down" style="float: right;color: #222;"></i>
			                                    </div>
			                                    <ul class="filter-list filter-list-hide filter-list-hide-category{{ subject_category.id }}">
			                                        {% for subject_category in subject_categories %}
			                                        <li class="filter-item-s" name="filter-item-s" object="category" status="0" id="{{ subject_category.id }}">
			                                            {{subject_category.title}}
			                                            <i class="icon check green" id="check_subject_category{{ subject_category.id }}" style="{%if not subject_category in subject_categories_this%}display: none;{% endif %}"></i>
											            <div class="loading_small" style="display: none;" id="loadcategory{{ subject_category.id }}">
											              <div class="animation"><div class="circle one"></div></div>
											              <div class="animation"><div class="circle two"></div></div>
											              <div class="animation"><div class="circle three"></div></div>
											              <div class="animation"><div class="circle four"></div></div>
											              <div class="animation"><div class="circle five"></div></div>
											              <div class="animation"><div class="circle six"></div></div>
											            </div>
			                                        </li>
			                                        {% endfor %}
			                                    </ul>
			                                </div>
                                            <div class="filter-element filter-element-level" url="{{ instance.change_level }}" style="margin-top: 10px;">
                                                <div class="filter-title-s" id="level{{ subject_level.id }}" status="closed">
                                                    Выберите уровни курса
                                                    <i class="icon caret down" style="float: right;color: #222;"></i>
                                                </div>
                                                <ul class="filter-list filter-list-hide filter-list-hide-level{{ subject_level.id }}">
                                                    {% for subject_level in subject_levels %}
                                                    <li class="filter-item-s" name="filter-item-s" object="level" status="0" id="{{ subject_level.id }}">
                                                        {{subject_level.title}}
                                                        <i class="icon check green" id="check_subject_level{{ subject_level.id }}" style="{%if not subject_level in subject_levels_this%}display: none;{% endif %}"></i>
                                                        <div class="loading_small" style="display: none;" id="loadlevel{{ subject_level.id }}">
                                                          <div class="animation"><div class="circle one"></div></div>
                                                          <div class="animation"><div class="circle two"></div></div>
                                                          <div class="animation"><div class="circle three"></div></div>
                                                          <div class="animation"><div class="circle four"></div></div>
                                                          <div class="animation"><div class="circle five"></div></div>
                                                          <div class="animation"><div class="circle six"></div></div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>			                                
                                            <div class="filter-element filter-element-age" url="{{ instance.change_age }}" style="margin-top: 10px;">
                                                <div class="filter-title-s" id="age{{ subject_age.id }}" status="closed">
                                                    Выберите возрасты для курса
                                                    <i class="icon caret down" style="float: right;color: #222;"></i>
                                                </div>
                                                <ul class="filter-list filter-list-hide filter-list-hide-age{{ subject_age.id }}">
                                                    {% for subject_age in subject_ages %}
                                                    <li class="filter-item-s" name="filter-item-s" object="age" status="0" id="{{ subject_age.id }}">
                                                        {{subject_age.title}}
                                                        <i class="icon check green" id="check_subject_age{{ subject_age.id }}" style="{%if not subject_age in subject_ages_this%}display: none;{% endif %}"></i>
                                                        <div class="loading_small" style="display: none;" id="loadage{{ subject_age.id }}">
                                                          <div class="animation"><div class="circle one"></div></div>
                                                          <div class="animation"><div class="circle two"></div></div>
                                                          <div class="animation"><div class="circle three"></div></div>
                                                          <div class="animation"><div class="circle four"></div></div>
                                                          <div class="animation"><div class="circle five"></div></div>
                                                          <div class="animation"><div class="circle six"></div></div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
				                        {% endif %}                                        
			        				</div>
			        			</div>
							</div>
						</div>
						{% if instance %}
						<div class="eight wide column">
							<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px; line-height: 54px;font-size: 15px;font-family: Tahoma, sans-serif;">
				        		Детальная информация <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
				        	</div>
							<div class="ui segment" style="line-height: 40px;margin-top: 0;height: 297px;">
								<div class="ui grid">
									<div class="sixteen wide column">
										<input type="file" name="subject_banner" id="subject_banner" class="postfile">
				                        <label class="file_post" for="subject_banner">
				                        	<a class="ui button mini"><i class="icon image blue"></i>Баннер</a>
				                        </label>
										<input type="file" name="subject_icon" id="subject_icon" class="postfile">
				                        <label class="file_post" for="subject_icon">
				                        	<a class="ui button mini"><i class="icon image blue"></i>Иконка</a>
				                        </label>
									</div>
									<div class="eight wide column" style="padding:0 0 0 14px;">
			        					Количество уроков:
									    <input type="number" style="width:70px;" name="number_of_materials" value="{{instance.number_of_materials}}">
									</div>
									<div class="eight wide column no_padding">
			        					Цвет:
			        					<textarea name="color_back" class="no_margin" style="width:100px;">{{ instance.color_back }}</textarea>
									</div>
									<div class="sixteen wide column">
			                            <a href="{{ instance.get_delete_url }}" class="ui button red small">
	                                        <i class="icon trash" style="color: #fff;"></i> Удалить курс "<b>{{ instance.title }}</b>"
			                            </a>
		                            </div>											
								</div>
			    			</div>
						</div>
						{% endif %}	
						{% if instance %}
						<div class="sixteen wide column" style="padding-top: 0;padding-right: 0">
	        				<div class="ui segment" style="text-align: center;">
								<input type='submit' class='ui button blue tiny' value='Сохранить' />
							</div>
						</div>
						{% else %}
							<div class="one wide column"></div>
							<div class="{% if instance %}sixteen{%else%}eight{% endif %} wide column" style="padding-top: 0;padding-right: 0">
		        				<div class="ui segment" style="text-align: center;">
									<input type='submit' class='ui button blue tiny' value='Создать курс'/>
								</div>
							</div>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>	
	<span id='{{ instance.id }}' data-href='{{ instance.calendar_url }}' style="display: none;" name='data' class="data" days='' >
	<span style="display: none;" class="change_urls">
	</span>
</div>

{% endblock content %}