{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load staticfiles %}
{% block content %}
<div id="group-details" class="pb150">
    {% if is_manager %}
    <a id="go-back-btn-before"  href='{% url "subjects:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
        <i class="arrow left icon"></i>
    </a>
    {% else %}
    <a id="go-back-btn-before"  href='{{ profile.get_absolute_url }}'>
        <i class="arrow left icon"></i>
    </a>
    {% endif %}
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="w85 wide column mlback deskpr30">
                <div class="ui grid stackable no_margin">
                    <div class="sixteen wide column no_padding">
                        <div class="pt20 pl20 pb20 pr20 ui segment shadow_small">
                            <b class="text24 textdg mr15">{{ instance.title }}</b>
                            {% if is_trener or is_manager %}
                            <a href="{{ instance.get_update_url }}">
                                <i class="icon cog blue text17"></i>
                            </a>
                            {% endif %}
                            <div class="mt20">
                                <div class="dflex mb15">
                                    <span class="text15">{{ instance.get_markdown }}</span>
                                </div>
                                <div class="dflex">
                                    <span class="text15">Стоимость: <b>{{ instance.cost }} тг</b></span>
                                </div>
                            </div>                            
                        </div>
                        {% include 'subjects/dated_materials.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'subjects/subject_materials.html' %}
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>

{% endblock content %}