{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    Рассылки | Bilimtap
{% endblock head_title %}
{% load ttags %}
{% load staticfiles %}
{% block content %}
<div class='ui container pt15' style="height: calc(100% - 50px);overflow-y: hidden;">
    <div class="ui grid stackable" style="height: 100%;">
        {% include 'left_menu.html' %}
        <div class="w85 wide column" style="height: 100%;">
            <div class="ui grid stackable no_margin" style="height: 100%;">
                <div class="ten wide column pl0 pt0 pb0">
                    <div class="ui segment border1 shadow_small no_padding">
                        <div class="backlightblue pt10 pr10 pb10 pl10 topbr5 shadow_dark_low">
                            <span class="textw text14 textbold mr15">Новая рассылка</span>
                            <a class="ui button mini white shadow_blue ">
                                Email
                            </a>
                            <a class="ui button mini">SMS</a>
                            <div class="mt10"></div>
                            <a class="ui button mini white  shadow_blue pt5 pb5 ">Единоразовая</a>
                            <a class="ui button mini  pt5 pb5">Авторассылка</a>
                        </div>
                        <form class="ui form pt15 pr15 pb15 pl15">
                            <div class="dflex">
                                <div class="text13 pt5" style="width: 95px;">Кому:</div>
                                <div style="width: calc(100% - 95px);flex-wrap: wrap;" class="mail_points_box border1 br5 mb10 dflex">
                                    <div class="mail_points dflex" style="flex-wrap: wrap;">
                                        <div class="backlightblue textw mail_point_orig textdots h20 br15 border1 pl10 pr5 mt5 text12 dflex" style="display: none;">
                                            <span class="mail_point_address"></span>
                                            <a>
                                                <i class="icon x ml5 mr0 text11 textw"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <textarea class="mb0 dinline add_mail_point pt5 pr10 pb5 pl10"></textarea>
                                </div>
                            </div>
                            <div class="dflex">
                                <div class="text13 pt5" style="width: 110px;">Тема письма:</div>
                                <textarea class="mb10 mail_head"></textarea>
                            </div>
                            <div class="dflex">
                                <div class="text13 pt5" style="width: 110px;">Шаблоны:</div>
                                <select class="text15">
                                    <option>n</option>
                                    <option>n</option>
                                    <option>n</option>
                                </select>
                            </div>
                            <div class="mt20 mb5">
                                <a class="mr5 ui button mini white shadow_small pl10 pr10">
                                    <i class="icon bold textdark mr0"></i>
                                </a>
                                <a class="mr5 ui button mini white shadow_small pl10 pr10">
                                    <i class="icon italic textdark mr0"></i>
                                </a>
                                <a class="textblue ui button mini white shadow_small pl10 pr10" onclick='saveSelection();$(".create_link_box").modal("show");'>
                                    Ссылка
                                </a>
                                <a class="textblue ui button mini white shadow_small pl10 pr10" onclick='saveSelection();$(".create_link_box").modal("show");'>
                                    Имя студента
                                </a>
                            </div>
                            <div style="outline: none;min-height: 100px;" contenteditable="true" class="mail_content border1 br5 pt5 pr10 pb15 pl10">
                            </div>
                            <div class="mt15">
                                <a class="ui button mini white border1 shadow_small">
                                    Сохранить как шаблон
                                </a>
                                <a class="send_mails ui button small green shadow_green" style="float: right;" url="{% url 'schools:send_mails' %}">
                                    Отправить
                                    <i class="icon textw envelope mail ml5 mr0"></i>
                                    <i class="icon check textw send_mails_success" style="display: none;"></i>
                                    <div style="margin-top: -7px;right: 15px;display: none;" class="ml5 tiny ui active loader ww send_mails_load"></div>
                                </a>
                            </div>                      
                        </form>
                    </div>
                </div>
                <div class="six wide column no_padding" style="height: 100%;">
                    <div class="scrollable ui segment shadow_small mb0 no_padding" style="overflow-y: scroll;height: 100%;" scroll="no" onscroll="catch_scroll()">
                        <div class="backwhitelow topbr5">
                            <div class="text-center text13 textblue textbold pt10">Добавить студента</div>
                            <form class="ui form mt5 mb0 pl10 pr10 pb10 ">
                                <div class="ui grid stackable no_margin">
                                    <div class="eight wide column pl0 pt0 pr5 pb0">
                                        <div class="text13 pt5" style="width: 110px;">Филиал:</div>
                                        <select> 
                                            <option value="-1">Все филиалы</option>
                                            {% for office in offices %}
                                                <option value="{{ office.id }}">{{ office.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="eight wide column pl5 pt0 pr0 pb0">
                                        <div class="text13 pt5" style="width: 110px;">Предмет:</div>
                                        <select> 
                                            <option value="-1">Все предметы</option>
                                            {% for subject_category in subject_categories %}
                                                <option value="{{ subject_category.id }}">{{ subject_category.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="eight wide column pl0 pt0 pr5 pb0">
                                        <div class="text13 pt5" style="width: 110px;">Курс:</div>
                                        <select> 
                                            <option value="-1">Все предметы</option>
                                            {% for subject in subjects %}
                                                <option value="{{ subject.id }}">{{ subject.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="eight wide column pl5 pt0 pr0 pb0">
                                        <div class="text13 pt5" style="width: 110px;">Группа:</div>
                                        <select> 
                                            <option value="-1">Все группы</option>
                                            {% for squad in squads %}
                                                <option value="{{ squad.id }}">{{ squad.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="pt5 pb5 text-center">
                            <a class="add_student_to_point ui button pt5 pb5 pl30 pr30 mini blue shadow_blue">
                                Добавить всех
                            </a>                                
                        </div>
                        <div class="mail_student_list pb50" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
    <div class="mail_student_orig pl10 pt5 pb30 pr10 h35">
        <div class="dinline textbold textblue student_name">Артур</div>
        <a class="add_student_to_point ui button pt5 pb5 mini white shadow_small border1" style="float: right;">
            Добавить
        </a>
    </div>    
    <span class="data" get_mail_students_list="{% url 'schools:get_mail_students_list'%}" ></span>
</div>
{% include 'mails/mail_scripts.html' %}
{% endblock content %}