{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" style="padding-bottom: 200px;">
    {% if user.is_authenticated %}
    <a id="go-back-btn"  href='{% url "squads:list" %}'>
        <i class="arrow left icon"></i>Назад
    </a>
    {% endif %}
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="{% if instance.image_banner %}sixteen{%else%}twelve{%endif%} wide column" style="padding-bottom: 0;padding-right: 0;">
                        <div class="ui segment" {% if not instance.image_banner %} style="margin-bottom: 0"{% endif %}>
                            <div class="ui grid">
                                {% if instance.image_banner %}
                                <div class="sixteen wide column">
                                    <img src="{{ instance.image_banner.url }}" style="height: 200px; width: 100%;">
                                </div>
                                {% endif %}
                                <div class="twelve wide column">
                                    <div class="group-name">
                                        {% if instance.image_banner %}
                                            {% if instance.image_icon %}
                                            <img src="{{ instance.image_icon.url }}" class="ui avatar image" style="width: 39px; height: 39px;">
                                            {% else %}
                                            <img class="ui avatar image" style="width: 39px; height: 39px;" src="{% static 'images/squad.png' %}">
                                            {% endif %}
                                        {% endif %}
                                        <span class="ui header ava-title">{{ instance.title }}</span>
                                    </div>
                                </div>
                                <div class="four wide column" >
                                </div>  
                            </div>
                        </div>
                    {% if instance.image_banner %}    
                    </div>
                    <div class="twelve wide column" style="padding-right: 0">
                    {% endif %}
                        <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;{% if not course.image %}margin-top: 0{% endif %}">
                            Информация
                        </div>
                        <div class="ui segment" style="{% if not course.image %}margin-top: 0{% endif %}">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="icon list" style="font-size: 17px;"></i>
                                </div>
                                <div class="fifteen wide column" style="padding-right: 25px;">
                                    {{ instance.get_markdown }}
                                </div>
                                <div class="one wide column">
                                    <i class="icon id badge" style="font-size: 22px;padding: 0;margin-left: -5px;"></i>
                                </div>
                                <div class="fifteen wide column" style="padding-right: 25px;">
                                    Классный руководитель: 
                                        <a href='{{ instance.curator.get_absolute_url }}'>{{ instance.curator.all.0.first_name }} {{ instance.curator.all.0.second_name }}</a>
                                </div>
                            </div>
                        </div>
                        {% include 'squads/squad_calendar.html' %} 
                        <br>
                        {% include 'squads/top_chart.html' %} 
                    </div>
                    <div class="four wide column" style="padding-right: 0;">
                        {% if not instance.image_banner %}
                        <div class="ui segment">
                            {% if instance.image_icon %}
                            <img src="{{ instance.image_icon.url }}" style="width: 100%;">
                            {% else %}
                            <img style="width: 100%; " src="{% static 'images/squad.png' %}">
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if course.author_profile == profile or profile.user.is_superuser %}
                        <div class="ui segment" style="color: #67707a;">
                            <a href="{{ instance.get_update_url }}">
                                <div class="ui grid">
                                    <span class="two wide column">
                                        <i class="icon cog" style="font-size: 20px;"></i>
                                    </span>
                                    <span class="thirteen wide column">
                                        Управление
                                    </span>                                    
                                </div>
                            </a>
                            <a href="{{ instance.get_delete_url }}">
                                <div class="ui grid">
                                    <span class="two wide column">
                                        <i class="icon x" style="font-size: 20px;"></i>
                                    </span>
                                    <span class="thirteen wide column">
                                        Удалить
                                    </span>                                    
                                </div>
                            </a>
                        </div>
                        {% endif %}
                        <div class="ui segment">
                            Ученики <span style="color: #939393;">{{ instance.students_number }}</span>
                            <div style="margin-top: 0;" class="ui grid">
                            {% for student in instance.students.all %}
                                <div class="sixteen wide column" style="padding-bottom: 0;text-align: center;">
                                    {% if student.image %}
                                        <img class="ui avatar image" src="{{ student.image.url }}" style="width: 30px; height: 30px;">
                                    {% else %}
                                        <img class="ui avatar image" style="width: 30px; height: 30px;" src="{% static 'images/nophoto.png' %}">
                                    {% endif %}
                                    <br>
                                    <div style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                                        {{ student.first_name }}
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
{% include 'squads/squad_materials.html' %}

{% endblock content %}