{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.ten.wide.column{
		padding-bottom: 0 !important;
	}
	.six.wide.column{
		padding-bottom: 0 !important;
	}
	.form-group{
		width: 46%;
		display: inline-block;
		position: flex;
		margin-right: 2%;
	}
	#div_id_title{
		width: 64%;
	}
	#div_id_content{
		width: 100% !important;
	}
	#div_id_slogan{
		margin-left: 2%;
		margin-right: 0;
		width: 30%;
	}
</style>
<div id="group-create">
	{% if instance %}
	<span class="add_student_url" id="{{instance.id}}" style="display: none;" url="{{ instance.add_student_url }}"></span>
	<a id="go-back-btn-before"  href='{{ instance.get_absolute_url }}'>
        <i class="arrow left icon"></i>
    </a>
	{% else %}
	<a id="go-back-btn-before" href='{% url "squads:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
        <i class="arrow left icon"></i>
    </a>
    {% endif %}
	<div class='ui container'>
		<div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="wide column" style="width: 80%;margin-left: 30px;">
            	<form class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}  
	            	<div class="ui grid stackable">
	            		<div class="nine wide column" style="padding-right: 0;padding-bottom: 0">
		    				<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;">
				        		Основная информация <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
				        	</div>
				        	<div class="ui segment" style="margin-top: 0;height: 297px;">
				        		<div class="ui grid">
				        			<div class="sixteen wide column">
			        					{{ form|crispy }}
			        					{% if instance %}
				        					<br>
				        					Учитель:
											<select id="change_teacher" class="change_teacher" squad_id="{{ instance.id }}" url="{{ instance.change_curator_url }}" name="change_teacher">
												<option value="{{ instance.teacher.id }}">{{ instance.teacher.first_name }}</option>
												{% for teacher in all_teachers %}
													{% if teacher != instance.teacher %}
														<option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
													{% endif %}
												{% endfor %}
											</select>
						    			{% endif %}
			        				</div>
									<div class="eight wide column" style="padding-top: 0">
										<p style="font-size: 13px;padding-top: 2px;">
				        					Выберите дату <b>начала</b> учебы:
				        				</p>
										<input type="date" url="{{ instance.change_start_url }}" squad_id="{{ instance.id }}" name='start' class="start" style="width: 200px;" value="{{ instance.start_date|date:'Y-m-d'}}"> 
				    					<div class="ui mini modal ws">
    										<i class="close icon"></i>
										    <div class="content">
				    							Начало учебы не может быть позднее конца, выберите другую дату
				    						</div>
				    					</div>
									</div>
									<div class="eight wide column" style="padding-top: 0">
										<p style="font-size: 13px;padding-top: 2px;">
				        					Выберите дату <b>окончания</b> учебы:
				        				</p>
										<input type="date" url="{{ instance.change_end_url }}" squad_id="{{ instance.id }}" name='end' class="end" style="width: 200px;" value="{{ instance.end_date|date:'Y-m-d'}}">
				    					<div class="ui mini modal we">
    										<i class="close icon"></i>
										    <div class="content">
				    							Конец учебы не может быть раньше начала, выберите другую дату
				    						</div>
				    					</div>				        				
									</div>
			        			</div>
			        		</div>
			        	</div>
						{% if not instance %}
						<div class="nine wide column" style="padding-right: 0;text-align: center;">
							<div class="ui segment">
					    		<input type='submit' style="margin-top: 1rem;height: 30px;" class='ui button blue tiny' value='Продолжить создание группы' />								
							</div>
			    		</div>
			        	{% else %}
						<div class="seven wide column" style="padding-bottom: 0;padding-left: 0">
							<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px; line-height: 54px;font-size: 15px;font-family: Tahoma, sans-serif;">
				        		Детальная информация <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
				        	</div>
							<div class="ui segment" style="line-height: 40px;margin-top: 0;height: 297px;">
								<div class="ui grid">
									<div class="sixteen wide column">
                                        <input type="file" name="squad_banner" id="squad_banner" class="postfile">
                                        <label class="file_post" for="squad_banner">
                                            <a class="ui button mini"><i class="icon image blue"></i>Баннер</a>
                                        </label>
                                        <input type="file" name="squad_icon" id="squad_icon" class="postfile">
                                        <label class="file_post" for="squad_icon">
                                            <a class="ui button mini"><i class="icon image blue"></i>Иконка</a>
                                        </label>
									</div>
                                    <div class="seven wide column">
                                        Цвет:
                                        <textarea name="color_back" class="no_margin" style="width:100px;">{{ instance.color_back }}</textarea>
                                    </div>
                                    <div class="sixteen wide column" style="padding-top: 0">
                                        <b>Офис:</b>
                                        <select class="change_squad_office" id="change_squad_office" url="{{ instance.change_office }}" option="office" style="margin-top: -10px;">
                                            {% if instance.office == None %}
                                                <option value="-1">Другое</option>
                                            {% elif instance.office %}
                                                <option value="{{ instance.office.id }}">{{ instance.office.title }}</option>
                                            {% endif %}
                                            {% for office in offices %}
                                                {% if office != instance.office %}
                                                <option value="{{ office.id }}">{{ office.title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                            {% if instance.office != None %}
                                                <option value="-1">Другое</option>
                                            {% endif %}
                                        </select>                                       
                                    </div>
									<div class="sixteen wide column">
			                            <a href="{{ instance.get_delete_url }}" class="ui button red small">
	                                        <i class="icon trash" style="color: #fff;"></i> Удалить группу "<b>{{ instance.title }}</b>"
			                            </a>
		                            </div>	
								</div>
							</div>
						</div>
	        			<div class="sixteen wide column" style="text-align: center;padding-top: 0">
	        				<div class="ui segment">
								<input type='submit' class='ui button blue tiny' value='Сохранить' />
	        				</div>
        				</div>
                        <div class="sixteen wide column" style="padding: 0 14px;">
                            {% include 'squads/squad_change_calendar.html' %}
                        </div>
        				<div class="sixteen wide column">
		    				<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;">
				        		Студенты <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>:
                                <a class="show_hint_schedule"><i class="icon info circle blue"></i><span style="font-size: 13px;">Подсказка</span></a>
                                <div class="ui pointing below label dark hint_schedule" style="display: none;">
                                    Нажимая на кнопки "+" или "-" можете управлять списком
                                </div>                                
				        	</div>
				        	<div class="ui segment no_margin" style="background-color: #4a4a4a;color: #fff;padding-top: 15px;">
				        		<div class="ui grid stackable" style="margin-top: 0">
                                    {% if squad_students|length == 0 %}
                                    <div class="mb15">
                                        Еще нет студентов в этой группе, можете добавить их {% if all_students|length > 0 %}ниже из студентов вашей школы или{% endif %} в <a href="{% url 'schools:crm' %}" class="ui button mini green"><b>СRМ</b></a>
                                    </div>
                                    {% endif %}
									{% for student in squad_students %}
									<div class="five wide column" style="padding:5px;">
										<div class="test_variant_chosed" style="">
			        						{% if student.image %}
			                                    <img class="ui avatar image" src="{{ student.image.url }}" style="width: 30px; height: 30px;">
			                                {% else %}
			                                    <img class="ui avatar image" style="width: 30px; height: 30px;" src="{% static 'images/nophoto.png' %}">
			                                {% endif %}
				                            <div style="width: 70%;" class="student_name2">
				                            	{{ student.first_name }}
				                            </div>
			                            	<i class="icon check circle green studenticon{{ student.id }}"></i> 
				                            <a class="ui button mini blue add_student add_student{{ student.id }}" id="{{ student.id }}" onclick="add_student('{{ student.id }}')" style="float: right;padding: 2px 10px;height: 23px;">-</a>
										</div>
				                    </div>
									{% endfor %}
                                </div>
                            </div>
                            <div class="ui segment" style="background: #fafbfc;margin-bottom: 0;height: 54px;padding: 0 20px;font-size: 15px;">
                                <span style="line-height: 54px;">Остальные студенты школы:</span>
                                <form class="ui form no_margin" style="display: inline-block;float: right;right: 6%;">
                                    <input type="text" class="search_students_group" url="{{ instance.hint_students_group }}" placeholder="Введите имя или телефон">
                                    <a class="ui button mini blue search_group_show" style="margin-top: 14px;"><i class="icon search" style="color: #fff;"></i> Найти</a>
                                    <div class="ui segment hint_students_group" style="display: none;">
                                    </div>
                                </form>
                            </div>
                            <div class="ui segment" style="margin-top: 0;background-color: #4a4a4a;color: #fff;padding-top: 15px;">
                                <div class="ui grid stackable not_group_students" style="margin-top: 0;">
                                    {% if all_students|length == 0 and squad_students == 0 %}
                                    <div class="mb15">
                                        В вашей школе еще нет студентов, можете добавить их в <a href="{% url 'schools:crm' %}" class="ui button mini green"><b>СRМ</b></a> вашей школы
                                    </div>
                                    {% elif all_students|length == 0 %}
                                    <div class="mb15">
                                        Пока все студенты в этой группе, можете добавить новых в <a href="{% url 'schools:crm' %}" class="ui button mini green"><b>СRМ</b></a> вашей школы
                                    </div>                                    
                                    {% else %}
									{% for student in all_students %}
									<div class="five wide column" style="padding:5px;">
										<div class="test_variant2">
			        						{% if student.image %}
			                                    <img class="ui avatar image" src="{{ student.image.url }}" style="width: 30px; height: 30px;">
			                                {% else %}
			                                    <img class="ui avatar image" style="width: 30px; height: 30px;" src="{% static 'images/nophoto.png' %}">
			                                {% endif %}
				                            <span style="width:70%;" class="student_name2">
				                            	{{ student.first_name }}
				                            </span>
			                            	<i style="display: none;" class="icon check circle green studenticon{{ student.id }}"></i> 
				                            <a class="ui button mini blue add_student add_student{{ student.id }}"  onclick="add_student('{{ student.id }}')"  id="{{ student.id }}">+</a>
				                        </div>
				                    </div>
		                            {% endfor %}
                                    {% endif %}
			        			</div>
                                <div style="text-align: center;font-size: 15px;margin: 25px;">
                                    {% if number_of_pages > 1 %}
                                    <a class="ui inverted basic button mini get_page_students" onclick="get_page_students('prev')" id="prev"><i class="icon chevron left" style="color: #fff;"></i>Налево</a>
                                    <div class="page_numbers" style="min-width: 275px;display: inline-block;">
                                        <a class="ui button mini green get_page_students page1" onclick="get_page_students('1')" id="1">1</a>
                                        <a class="ui button mini get_page_students page2" onclick="get_page_students('2')" id="2">2</a>
                                        <span>. . .</span>
                                        <a class="ui button mini get_page_students page{{number_of_pages}}" onclick="get_page_students('{{ number_of_pages }}')" id="{{ number_of_pages }}">{{ number_of_pages }}</a>                                        
                                    </div>
                                    <a class="ui inverted basic button mini get_page_students" onclick="get_page_students('next')" id="next">Направо<i class="icon chevron right" style="color: #fff;"></i></a>
                                    <span style="display: none;" length="{{ number_of_pages }}" url="{{ instance.get_page_students }}" class="current_page" number="1"></span>
                                    {% endif %}
                                </div>
                                {% if all_students|length > 0 %}
                                <div style="text-align: center;">
                                    <input type='submit' class='ui button blue tiny' value='Сохранить' />
                                </div>
                                {% endif %}
			        		</div>
			        	</div>
		        		{% endif %}
	        		</div>
	    		</form>
			</div>
		</div>
	</div>	
</div>

<script type="text/javascript">
    function add_student(student_id) {
        url = $('.add_student_url').attr('url')
        squad_id = $('.add_student_url').attr('id')
        $.ajax({
            url: url,
            method: "GET",
            data: {
                'squad_id':squad_id,
                'student_id':student_id,
            },
            success: function (data) {
                if (data.add) {
                    $('.add_student'+student_id).text('-')
                    $('.studenticon'+student_id).show()
                }
                else{
                    $('.add_student'+student_id).text('+')                    
                    $('.studenticon'+student_id).hide()
                }
            }, 
            error: function (error) {
                console.log('error')
            }
        })
    };    
    function get_page_students(id) {
        url = $('.current_page').attr('url')
        current_page = parseInt($('.current_page').attr('number'))
        length = parseInt($('.current_page').attr('length'))
        if (id == 'prev') {
            need_page = current_page - 1
        }
        else if (id == 'next') {
            need_page = current_page + 1
        }
        else{
            need_page = parseInt(id)
        }
        console.log(need_page)
        if (need_page <= length && need_page > 0) {
            $('.not_group_students').empty()
            $.ajax({
                url: url,
                method: "GET",
                data: {
                    'need_page':need_page,
                },
                success: function (data) {
                    $('.get_page_students').removeClass('green');
                    $('.page'+need_page).addClass('green');
                    $('.current_page').attr('number', need_page);
                    for (var i = 0; i < data.all_students.length; i++) {
                        id = data.all_students[i][0]
                        name = data.all_students[i][1]
                        image = data.all_students[i][2]
                        $('<div class="five wide column" style="padding:5px;"> <div class="test_variant2"> <img class="ui avatar image" src="'+image+'" style="width: 30px; height: 30px;"> <span style="width:70%;" class="student_name2"> '+name+' </span> <i style="display: none;" class="icon check circle green studenticon'+id+'"></i> <a class="ui button mini blue add_student add_student'+id+'"  onclick="add_student('+"'"+id+"'"+')" id="'+id+'">+</a> </div> </div>').appendTo('.not_group_students')
                    }
                    $('.page_numbers').empty();
                    //first page is always here
                    if (need_page > 1) {
                        $('<a class="ui button mini get_page_students page1" onclick="get_page_students(1)" id="1">1</a>').appendTo('.page_numbers')
                    }
                    if (need_page > 3) {
                        $('<span> . . . </span>').appendTo('.page_numbers')
                    }
                    if (need_page > 2) { //previous page
                        $('<a class="ui button mini get_page_students page'+(need_page-1)+'" onclick="get_page_students('+(need_page-1)+')" id="'+(need_page-1)+'">'+(need_page-1)+'</a>').appendTo('.page_numbers')
                    }
                    $('<a class="ui button mini green get_page_students page'+need_page+'" onclick="get_page_students('+need_page+')" id="'+need_page+'">'+need_page+'</a>').appendTo('.page_numbers')
                    if (need_page + 1 < length) { //next page
                        $('<a class="ui button mini get_page_students page'+(need_page+1)+'" onclick="get_page_students('+(need_page+1)+')" id="'+(need_page+1)+'">'+(need_page+1)+'</a>').appendTo('.page_numbers')
                    }
                    if (need_page + 2 < length) {
                        $('<span> . . . </span>').appendTo('.page_numbers')
                    }
                    if (need_page < length) {
                        $('<a class="ui button mini get_page_students page'+length+'" onclick="get_page_students('+length+')" id="'+length+'">'+length+'</a>').appendTo('.page_numbers')
                    }
                }, 
                error: function (error) {
                    console.log('error')
                }
            })            
        }
    };

</script>
{% endblock content %}