{% load staticfiles %}
<script src='{% static "js/vue-drag/vue.min.js" %}'></script>
<script src='{% static "js/vue-drag/axios.min.js" %}'></script>
<script src='{% static "js/vue-drag/sortable.min.js" %}'></script>
<script src='{% static "js/vue-drag/vue-draggable.min.js" %}'></script>

<span style="display: none;" class="instance_id" id="{{ instance.id }}"></span>
<span style="display: none;" class="change_schedule_url" url="{{ instance.change_schedule_url }}"></span>
 
<div class="ui segment" style="margin: 0;background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;">
    Расписание <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
</div>
<div id="app">
    <div class="options">
        <div class="form"  style="margin-top: 0">
            <form @submit.prevent="addSquad">
                <select v-model="squad">
                    <option value="Выберите Класс" selected>Выберите курс</option>
                    <option :value="[outSubjectSquads[0][index],element]" :id="'select_squad'+outSubjectSquads[0][index]" v-for="(element, index) in outSubjectSquads[1]">[[ element ]]</option>
                    <option :value="[inSubjectSquads[0][index],element]" :id="'select_squad'+inSubjectSquads[0][index]" style="display: none;" v-for="(element, index) in inSubjectSquads[1]">[[ element ]]</option>
                </select>
                <a class="ui button mini blue" style="margin-left: 15px;" @click="addSquad">Добавить курс</a>
            </form>
        </div>

        <div class="selected-squad-list">
            <draggable 
                    class="daysmall"
                    v-model="inSubjectSquads[1]" 
                    :options="{group:{ name:'people',  pull:'clone', put:false}}">
                <div v-for="(element, index) in inSubjectSquads[1]"
                    :ondragstart="'save_card_id('+inSubjectSquads[0][index]+')'"
                    class="item ui segment in_squad_schedule" style="cursor: grab;" >
                    <p class="dragg">[[ element ]]</p>
                    <p class="user">[[ trener ]]</p>
                    <span @click="deleteSquad(index,element)">✖</span>
                </div>
            </draggable>
        </div>
    </div>
    <div class="table">
        <div class="day-list">
            <div class="daysmall daysmall_time"></div>
            <div class="daysmall day-name">ПН</div>
            <div class="daysmall day-name">ВТ</div>
            <div class="daysmall day-name">СР</div>
            <div class="daysmall day-name">ЧТ</div>
            <div class="daysmall day-name">ПТ</div>
            <div class="daysmall day-name">Сб</div>
            <div class="daysmall day-name">Вс</div>
        </div>

        <div class="week-list">
            <div class="week" v-for="(item,i) in schedule">
                <div class="daysmall daysmall_time">[[ item[0] ]]</div>
                <draggable 
                        v-for="(box, i) in item[1]" 
                        class="box daysmall" 
                        :data-cellid="box[0]"
                        :list="box[1]"
                        :options="{group:{ name:'people'}}"
                        @change="updateSchedule($event, box)"
                        @add="added($event, box[1])">
                    <div class="ui segment in_squad_schedule"
                            :ondragstart="'save_card_id('+box[1][index][2]+')'"
                            style="cursor: grab;" 
                            v-for="(element, index) in box[1]" 
                            :key="index"
                            :id="'squad_lesson' + box[1][index][0]">
                        <a class="delete_squad_lesson" :id="box[1][index][0]"><b>×</b></a>
                        <p>[[ box[1][index][1] ]]</p>
                        <select class="no_padding change_lecture_cabinet" @change="change_cabinet('change_lecture_cabinet'+[[ box[1][index][0] ]], '{{ instance.change_lecture_cabinet }}')" :id="'change_lecture_cabinet'+[[ box[1][index][0] ]]" :lecture_id='[[ box[1][index][0] ]]' style="margin: auto;">
                            <option v-for="(element, index) in box[1][index][5]" :value="element[0]">[[ element[1] ]]</option>
                        </select>
                    </div>
                </draggable>
                <div class="ui divider grey_divider"></div>
            </div>
        </div>
    </div>
</div>
<span style="display: none;" id="-1" class="delete_lesson_data" url="{{ instance.delete_lesson_url }}"></span>
<script>
    function change_cabinet(id, url){
        this_ = $('#'+id);
        cabinet_id = this_.children("option:selected").val()
        lecture_id = $('#'+id).attr('lecture_id')
        console.log('a', cabinet_id, id, lecture_id)
        $.ajax({
            url: url,
            data: {
                'cabinet_id':cabinet_id,
                'lecture_id':lecture_id,
            },
            dataType: 'json',
            success: function (data) {
                console.log('ffff1')
            }
        });
    }

    function save_card_id(id){
        console.log(id)
        $('.delete_lesson_data').attr('id', id)
    }

    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                squad: 'Выберите Класс',
                schedule: null,
                inSubjectSquads: [],
                outSubjectSquads: [],
                trener: ''
            }
        },
        methods: {
            addSquad() {
                if (this.squad == 'Выберите Класс') {
                    return
                }; 
                if (!this.inSubjectSquads[1].includes(this.squad[1][0])) {
                    id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                    axios.get('/groups/api/add_subject_url', {
                        params: {
                            'squad_id': id,
                            'subject_id': this.squad[0]
                        }
                    })
                    .then((res) => {
                        // console.log(res)
                    })
                    axios.get('/groups/api/schedule/' + id)
                        .then( (res) => {
                            this.schedule = res.data.calendar
                    })
                    this.inSubjectSquads[1].push(this.squad[1]);
                    this.inSubjectSquads[0].push(this.squad[0]);
                    indexx = this.outSubjectSquads[0].indexOf(this.squad[0])
                    console.log(indexx)
                    this.outSubjectSquads[0].splice(indexx, 1);
                    this.outSubjectSquads[1].splice(indexx, 1);
                    //this.outSubjectSquads.splice();
                }
                this.squad = 'Выберите Класс';
            },
            deleteSquad(i, id) {
                let subject_id = this.inSubjectSquads[0][this.inSubjectSquads[1].indexOf(id)]
                let subject_title = this.inSubjectSquads[1][this.inSubjectSquads[1].indexOf(id)]
                id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                axios.get('/groups/api/delete_subject_url/', {
                    params: {
                        'squad_id': id,
                        'subject_id': subject_id
                    }
                })
                console.log('#select_squad', subject_id, subject_title)
                this.inSubjectSquads[0].splice(i, 1)
                this.inSubjectSquads[1].splice(i, 1)
                console.log(this.outSubjectSquads)
                this.outSubjectSquads[0].push(subject_id);
                this.outSubjectSquads[1].push(subject_title);
                https://www.pinocchio.kz/squads/api/delete_squad_url/ 
                id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                axios.get('/groups/api/schedule/' + id)
                    .then( (res) => {
                        this.schedule = res.data.calendar
                    })
            },
            updateSchedule(e, box) {
            },
            added(e, s) {
                if (s.length > 1) {
                }
                let cell_id = e.to.dataset.cellid
                let old_cell = "none";
                let subject_id = $('.delete_lesson_data').attr('id')
                if (e.from.dataset.cellid) {
                    old_cell = e.from.dataset.cellid
                }
                id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                axios.get('/groups/api/change_schedule_url/' + id, { 
                    params: {
                        'subject_id': subject_id,
                        'cell_id': cell_id,
                        'old_cell': old_cell
                    }
                })
                .then(res => {
                    id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                    axios.get('/groups/api/schedule/' + id)
                    .then( (res) => {
                        this.schedule = res.data.calendar
                        this.schedule.map((row) => {
                            row[1].map((item) => {
                                if (item[1].length == 1) {
                                    item.push(false)
                                    return
                                }
                                item.push(true)
                            })
                        })
                    })
                })
            },
            log: function (e){
            }
        },
        created() {
        },
        beforeCreate() {
            id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
            axios.get('/groups/api/schedule/' + id)
                .then( (res) => {
                    this.schedule = res.data.calendar
                    this.schedule.map((row) => {
                        row[1].map((item) => {
                            if (item[1].length == 1) {
                                item.push(false)
                                return
                            }
                            item.push(true)
                        })
                    })
                })
            axios.get('/groups/api/subject_list/' + id)
                .then( (res) => {
                    this.inSubjectSquads = res.data.courses_in_group
                    this.outSubjectSquads = res.data.courses_not_in_group
                    this.trener = res.data.trener
                    var ids = [];
                    var classes = [];
                    this.inSubjectSquads.map((item, i) => {
                        ids.push(item[0])
                        classes.push(item[1][0])
                    })
                    this.inSubjectSquads = [] = [ids, classes]
                    var ids = [];
                    var classes = [];
                    this.outSubjectSquads.map((item, i) => {
                        ids.push(item[0])
                        classes.push(item[1][0])
                    })
                    this.outSubjectSquads = [] = [ids, classes]
                })
        }
    })
</script>

<style>
.day-name{
    margin: 0 2px;
}
.box{
    min-height: 50px;
    margin: 0 2px;
}
#app .form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /*justify-content: space-between;*/
    margin: 20px 0;
}
#app .options {
    background-color: #fff;
    font-size: 13px;
    padding: 10px;
}
#app .options p {
    margin: 0;
}
#app .options select {
    width: 40%;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
}
#app .options form {
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

#app .options .selected-squad-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
} 

#app .options .selected-squad-list .item {
    position: relative;
    cursor: pointer;
    margin-right: 25px;
}

#app .options .selected-squad-list .item span {
    position: absolute;
    right: -17px;
    top: 0;
    background-color: transparent;
    color: red;
    font-size: 13px;
    cursor: pointer;
}

#app .table {
    background-color: #4a4a4a;
}

#app .table .day-list{
    display: flex;
}
#app .table .day-list .day.empty {
    color: transparent;
}

#app .table .day {
  font-size: 9px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .7px;
  flex-grow: 1;
  text-align: center;
}

#app .table .week {
}

#app .table .week > div {
    text-align: center;
    color: #fff;
}
#app .table .week .time {
    padding: 30px 5px;
    font-size: 11px;
}

#app .table .week .boxes {
    width: 100%; 
}
#app .table .week .boxes .box {
    border: 1px solid #887979;
    margin: 3px;
    border-radius: 3px;
}
#app .table .week .box p {
    padding: 0;
    margin: 0;
}
</style>