{% load staticfiles %}
{% load ttags %}
<script src='{% static "js/vue-drag/vue.min.js" %}'></script>
<script src='{% static "js/vue-drag/axios.min.js" %}'></script>
<script src='{% static "js/vue-drag/sortable.min.js" %}'></script>
<script src='{% static "js/vue-drag/vue-draggable.min.js" %}'></script>

<span style="display: none;" class="instance_id" id="{{ instance.id }}"></span>
<span style="display: none;" class="change_schedule_url" url="{{ instance.change_schedule_url }}"></span>
<style type="text/css">
    .small_input{
        padding: 5px !important;
        height: 25px !important;
    }
    .dark_grey{
        background-color: #545454;
    }
    th{
        padding: 5px !important;
        display: inline-block;
    }
    td{
        display: inline-block;
    }
</style>
{% if instance.school.schedule_type == 'classic' %}
<div class="ui segment segment_head no_margin" style="background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;">
    Расписание <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
    <a class="show_hint_schedule"><i class="icon info circle blue"></i><span style="font-size: 13px;">Подсказка</span></a>
    <div class="ui pointing below label dark hint_schedule" style="display: none;">
        Выберите курс, напишите время урока, затем выберите дни недели для урока и нажмите добавить
    </div>
</div>
<div class="ui segment no_margin">
    <form class="ui grid">
        <select style="width: 300px;display: inline-block;height: 28px;" class="mr15" id="constselect">
            <option value="-1">Выберите курс</option>            
            {% for subject in instance.subjects.all %}
            <option value="{{subject.id}}">{{subject.title}}</option>
            {% endfor %}
        </select>
        <input type="text" class="conststart" style="width: 100px;padding:5px;display: inline-block;"> - <input class="constend" style="width: 100px;padding:5px;display: inline-block;" type="text" name="">
    </form>
    <div class="mt10">
        Выберите дни недели
        {% for day in days %}
        <a class="ui button mini no_margin constday_choose" id="{{forloop.counter}}">{{day}}</a>
        {% endfor %}
        <a class="ui button mini blue no_margin const_create_lectures" url="{{instance.const_create_lectures}}">Добавить</a>
    </div>
</div>
<form class="ui grid full-w mt0">
    <div style="overflow-x: auto;width: 100%;background: #4A4A4A;">
        <table class="no_margin" id="keywords" class="mb0" cellspacing="0" cellpadding="0" style="background: #4A4A4A;white-space: nowrap;">
            <div style="position: relative;">
            {% for lecture in instance|constant_schedule_lectures %}
                <div onclick="$('.constlect_modal{{lecture.6}}').modal('show')" id="{{lecture.6}}" class="lecture_const wait{{lecture.4}}" time="{{lecture.5}}" hour="{{lecture.2}}" minute="{{lecture.3}}" day="{{lecture.4}}" height="{{lecture.0}}" style="position: absolute;background-color: #313a57;color: #fff;padding: 5px;width: 98px;font-size: 13px;border-radius: 3px;border: 1px solid #fff;text-align: center;cursor: pointer;">
                    {{lecture.1}} 
                </div>
                <div class="ui modal constlect_modal{{lecture.6}}">
                    <i class="close icon"></i>
                    <div class="content">
                        {{lecture.1}}
                    </div>
                </div>

            {% endfor %}
            </div>
            <thead>
                <tr>
                    <th style="width: 53px;"></th>
                    <th style="width: 100px;" id="constday0" class="dark_grey">Пн</th>
                    <th style="width: 100px;" id="constday1">Вт</th>
                    <th style="width: 100px;" id="constday2" class="dark_grey">Ср</th>
                    <th style="width: 100px;" id="constday3">Чт</th>
                    <th style="width: 100px;" id="constday4" class="dark_grey">Пт</th>
                    <th style="width: 100px;" id="constday5">Сб</th>
                    <th style="width: 100px;" id="constday6" class="dark_grey">Вс</th>
                </tr>
            </thead>
            <tbody>
                {% for time in constant_times %}
                <tr>
                    <td class="pt10 pb10 full-w" style="width: 53px;text-align: left;">
                        {{ time }}
                        <div style="border-top:1px solid #565656;margin-top: -8px;" class="full-w"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>   
</form>
<span class="dataconst" id={{instance.id}} number="0" changed="no" interval="{{interval}}" chosendays=""
max1="1" max2="1" max3="1" max4="1" max5="1" max6="1" max7="1"></span>
{% else %}
<div class="ui segment segment_head no_margin" style="background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;">
    Расписание <a href="{{ instance.get_absolute_url }}"><b>{{ instance.title }}</b></a>
    <a class="show_hint_schedule"><i class="icon info circle blue"></i><span style="font-size: 13px;">Подсказка</span></a>
    <div class="ui pointing below label dark hint_schedule" style="display: none;">
        Выберите курс и добавьте в список курсов, затем перетаскиванием добавляйте в расписание
    </div>
</div>
<div id="app">
    <div class="options">
        <div class="form addSquadform" style="margin-top: 0">
            <form @submit.prevent="addSquad">
                <select v-model="squad">
                    <option value="Выберите Класс" selected>Выберите курс</option>
                    <option :value="[outSubjectSquads[0][index],element]" :id="'select_squad'+outSubjectSquads[0][index]" v-for="(element, index) in outSubjectSquads[1]">[[ element ]]</option>
                    <option :value="[inSubjectSquads[0][index],element]" :id="'select_squad'+inSubjectSquads[0][index]" style="display: none;" v-for="(element, index) in inSubjectSquads[1]">[[ element ]]</option>
                </select>
                <a class="ui button mini blue" style="margin-left: 15px;" @click="addSquad">Добавить курс группе <b>{{ instance.title }}</b></a>
            </form>
        </div>
        <div style="font-size: 15px;" class="mb10">
            Список курсов группы <b>{{ instance.title }}</b>:
            <a class="show_hint_schedule ml15"><i class="icon info circle blue"></i><span style="font-size: 13px;">Подсказка</span></a>
            <div class="ui pointing below label dark hint_schedule" style="display: none;position: absolute;">
                Захватите нужный курс мышкой и перетаскивайте в расписание
            </div>
        </div>

        <div class="selected-squad-list">
            <draggable 
                    class="daysmall"
                    v-model="inSubjectSquads[1]" 
                    :options="{group:{ name:'people',  pull:'clone', put:false}}">
                <div v-for="(element, index) in inSubjectSquads[1]"
                    :ondragstart="'save_card_id('+inSubjectSquads[0][index]+')'"
                    class="item ui segment in_squad_schedule" style="cursor: grab;" >
                    <p class="dragg">[[ element ]]</p>
                    <p class="user">[[ trener ]]</p>
                    <span @click="deleteSquad(index,element)">✖</span>
                </div>
            </draggable>
        </div>
    </div>
    <div class="table">
        <div class="day-list">
            <div class="daysmall daysmall_time"></div>
            <div class="daysmall day-name">ПН</div>
            <div class="daysmall day-name">ВТ</div>
            <div class="daysmall day-name">СР</div>
            <div class="daysmall day-name">ЧТ</div>
            <div class="daysmall day-name">ПТ</div>
            <div class="daysmall day-name">Сб</div>
            <div class="daysmall day-name">Вс</div>
        </div>
        <div class="week-list">
            <div class="week" v-for="(item,i) in schedule">
                <div class="daysmall daysmall_time">[[ item[0] ]]</div>
                <draggable 
                        v-for="(box, i) in item[1]" 
                        class="box daysmall" 
                        :data-cellid="box[0]"
                        :list="box[1]"
                        :options="{group:{ name:'people'}}"
                        @change="updateSchedule($event, box)"
                        @add="added($event, box[1])">
                    <div class="ui segment in_squad_schedule"
                            :ondragstart="'save_card_id('+box[1][index][2]+')'"
                            style="cursor: grab;" 
                            v-for="(element, index) in box[1]" 
                            :key="index"
                            :id="'squad_lesson' + box[1][index][0]">
                        <a class="delete_squad_lesson" :id="box[1][index][0]"><b>×</b></a>
                        <p>[[ box[1][index][1] ]]</p>
                        <select class="no_padding change_lecture_cabinet" @change="change_cabinet('change_lecture_cabinet'+[[ box[1][index][0] ]], '{{ instance.change_lecture_cabinet }}')" :id="'change_lecture_cabinet'+[[ box[1][index][0] ]]" :lecture_id='[[ box[1][index][0] ]]' style="margin: auto;">
                            <option v-for="(element, index) in box[1][index][5]" :value="element[0]">[[ element[1] ]]</option>
                        </select>
                    </div>
                </draggable>
                <div class="ui divider grey_divider"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<span style="display: none;" id="-1" class="delete_lesson_data" url="{{ instance.delete_lesson_url }}"></span>
<script>
    function change_cabinet(id, url){
        this_ = $('#'+id);
        cabinet_id = this_.children("option:selected").val()
        lecture_id = $('#'+id).attr('lecture_id')
        console.log('a', cabinet_id, id, lecture_id)
        $.ajax({
            url: url,
            data: {
                'cabinet_id':cabinet_id,
                'lecture_id':lecture_id,
            },
            dataType: 'json',
            success: function (data) {
                console.log('ffff1')
            }
        });
    }

    function save_card_id(id){
        console.log(id)
        $('.delete_lesson_data').attr('id', id)
    }

    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                squad: 'Выберите Класс',
                schedule: null,
                inSubjectSquads: [],
                outSubjectSquads: [],
                trener: ''
            }
        },
        methods: {
            addSquad() {
                if (this.squad == 'Выберите Класс') {
                    return
                }; 
                if (!this.inSubjectSquads[1].includes(this.squad[1][0])) {
                    id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                    axios.get('/groups/api/add_subject_url', {
                        params: {
                            'squad_id': id,
                            'subject_id': this.squad[0]
                        }
                    })
                    .then((res) => {
                        // console.log(res)
                    })
                    axios.get('/groups/api/schedule/' + id)
                        .then( (res) => {
                            this.schedule = res.data.calendar
                    })
                    this.inSubjectSquads[1].push(this.squad[1]);
                    this.inSubjectSquads[0].push(this.squad[0]);
                    indexx = this.outSubjectSquads[0].indexOf(this.squad[0])
                    console.log(indexx)
                    this.outSubjectSquads[0].splice(indexx, 1);
                    this.outSubjectSquads[1].splice(indexx, 1);
                    //this.outSubjectSquads.splice();
                }
                this.squad = 'Выберите Класс';
            },
            deleteSquad(i, id) {
                let subject_id = this.inSubjectSquads[0][this.inSubjectSquads[1].indexOf(id)]
                let subject_title = this.inSubjectSquads[1][this.inSubjectSquads[1].indexOf(id)]
                id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                axios.get('/groups/api/delete_subject_url/', {
                    params: {
                        'squad_id': id,
                        'subject_id': subject_id
                    }
                })
                console.log('#select_squad', subject_id, subject_title)
                this.inSubjectSquads[0].splice(i, 1)
                this.inSubjectSquads[1].splice(i, 1)
                console.log(this.outSubjectSquads)
                this.outSubjectSquads[0].push(subject_id);
                this.outSubjectSquads[1].push(subject_title);
                https://www.pinocchio.kz/squads/api/delete_squad_url/ 
                id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                axios.get('/groups/api/schedule/' + id)
                    .then( (res) => {
                        this.schedule = res.data.calendar
                    })
            },
            updateSchedule(e, box) {
            },
            added(e, s) {
                if (s.length > 1) {
                }
                let cell_id = e.to.dataset.cellid
                let old_cell = "none";
                let subject_id = $('.delete_lesson_data').attr('id')
                if (e.from.dataset.cellid) {
                    old_cell = e.from.dataset.cellid
                }
                id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                axios.get('/groups/api/change_schedule_url/' + id, { 
                    params: {
                        'subject_id': subject_id,
                        'cell_id': cell_id,
                        'old_cell': old_cell
                    }
                })
                .then(res => {
                    id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
                    axios.get('/groups/api/schedule/' + id)
                    .then( (res) => {
                        this.schedule = res.data.calendar
                        this.schedule.map((row) => {
                            row[1].map((item) => {
                                if (item[1].length == 1) {
                                    item.push(false)
                                    return
                                }
                                item.push(true)
                            })
                        })
                    })
                })
            },
            log: function (e){
            }
        },
        created() {
        },
        beforeCreate() {
            id = document.getElementsByClassName('instance_id')[0].getAttribute('id')
            axios.get('/groups/api/schedule/' + id)
                .then( (res) => {
                    if (res.data.calendar.length == 0) {
                        $('<div style="background-color:#4a4a4a;color:#fff;padding:15px;">Не настроены времена уроков, можете настроить в <a href="/schools/info/" class="ui button mini green">Управлении</a></div>').appendTo('#app')
                    }
                    else{
                        this.schedule = res.data.calendar
                        this.schedule.map((row) => {
                            row[1].map((item) => {
                                if (item[1].length == 1) {
                                    item.push(false)
                                    return
                                }
                                item.push(true)
                            })
                        })
                    }
                })
            axios.get('/groups/api/subject_list/' + id)
                .then( (res) => {
                    this.inSubjectSquads = res.data.courses_in_group
                    this.outSubjectSquads = res.data.courses_not_in_group
                    if (res.data.courses_in_group.length == 0 && res.data.courses_not_in_group.length == 0) {
                        $('<div style="background-color:#4a4a4a;color:#fff;padding:15px;margin:0 -10px;">В вашей школе еще не созданы курсы, можете создать их на <a href="/subjects/" class="ui button mini green">Странице курсов</a></div>').appendTo('.options');
                        $('.addSquadform').hide()
                    }
                    else{}
                    this.trener = res.data.trener
                    var ids = [];
                    var classes = [];
                    this.inSubjectSquads.map((item, i) => {
                        ids.push(item[0])
                        classes.push(item[1][0])
                    })
                    this.inSubjectSquads = [] = [ids, classes]
                    var ids = [];
                    var classes = [];
                    this.outSubjectSquads.map((item, i) => {
                        ids.push(item[0])
                        classes.push(item[1][0])
                    })
                    this.outSubjectSquads = [] = [ids, classes]
                })
        }
    })
</script>

<style>
.day-name{
    margin: 0 2px;
}
.box{
    min-height: 50px;
    margin: 0 2px;
}
#app .form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /*justify-content: space-between;*/
    margin: 20px 0;
}
#app .options {
    background-color: #fff;
    font-size: 13px;
    padding: 10px;
}
#app .options p {
    margin: 0;
}
#app .options select {
    width: 40%;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
}
#app .options form {
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

#app .options .selected-squad-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
} 

#app .options .selected-squad-list .item {
    position: relative;
    cursor: pointer;
    margin-right: 25px;
}

#app .options .selected-squad-list .item span {
    position: absolute;
    right: -17px;
    top: 0;
    background-color: transparent;
    color: red;
    font-size: 13px;
    cursor: pointer;
}

#app .table {
    background-color: #4a4a4a;
}

#app .table .day-list{
    display: flex;
}
#app .table .day-list .day.empty {
    color: transparent;
}

#app .table .day {
  font-size: 9px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .7px;
  flex-grow: 1;
  text-align: center;
}

#app .table .week {
}

#app .table .week > div {
    text-align: center;
    color: #fff;
}
#app .table .week .time {
    padding: 30px 5px;
    font-size: 11px;
}

#app .table .week .boxes {
    width: 100%; 
}
#app .table .week .boxes .box {
    border: 1px solid #887979;
    margin: 3px;
    border-radius: 3px;
}
#app .table .week .box p {
    padding: 0;
    margin: 0;
}
</style>