{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" class="pt15">
    <a id="go-back-btn-before"  href='{% url "squads:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
        <i class="arrow left icon"></i>
    </a>
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="wide column pt0" style="width: 80%;margin-left: 30px;">
                <div class="ui grid no_margin">
                    <div class="sixteen wide column">
                        <div class="ui segment pt0 pl0 pr0 pb15 mb0">
                            <div class="ui grid no_margin">
                                {% if instance.image_banner %}
                                <div class="sixteen wide column no_padding">
                                    <img src="{{ instance.image_banner.url }}" class="full-w" style="height: 200px;">
                                </div>
                                {% endif %}
                                <div class="group-name pt15">
                                    {% if instance.image_icon %}
                                    <img src="{{ instance.image_icon.url }}" class="ui avatar image" style="width: 39px; height: 39px;">
                                    {% else %}
                                    <img class="ui avatar image" style="width: 39px; height: 39px;" src="{% static 'images/squad.png' %}">
                                    {% endif %}
                                    <span class="ui header ava-title pl10">{{ instance.title }}</span>
                                </div>
                                {% if is_trener or is_manager %}
                                <div style="padding-top: 23px;">
                                    <a href="{{ instance.get_update_url }}" style="font-size: 17px;">
                                        <i class="icon cog blue" ></i>
                                    </a>
                                </div>  
                                {% endif %}                                
                            </div>
                        </div>
                    {% if instance.image_banner %}    
                    </div>
                    <div class="sixteen wide column pr0">
                    {% endif %}
                        <div class="ui segment {% if not instance.image %}mt0{% endif %}">
                            <div class="ui grid">
                                {% if instance.get_markdown != '' %}
                                <div class="one wide column pb0">
                                    <i class="icon list" style="font-size: 17px;"></i>
                                </div>
                                <div class="fifteen wide column pb0">
                                    {{ instance.get_markdown }}
                                </div>
                                {% endif %}
                                {% if instance.teacher %}
                                <div class="one wide column pb0">
                                    <i class="icon id badge no_padding" style="font-size: 22px;margin-left: -5px;"></i>
                                </div>
                                <div class="fifteen wide column pb0">
                                    Учитель: 
                                        <a href='{{ instance.teacher.get_absolute_url }}'>
                                            {% if instance.teacher.image %}
                                            <img class="ui image avatar" src="{{ instance.teacher.image.url }}">
                                            {% else %}
                                            <img class="ui image avatar" src="{% static 'images/nophoto.png' %}">
                                            {% endif %}
                                            {{ instance.teacher.first_name }}
                                        </a>
                                </div>
                                {% endif %}
                                <div class="one wide column">
                                    <i class="icon calendar alternate no_padding" style="font-size: 20px;margin-left: -5px;"></i>
                                </div>
                                <div class="fifteen wide column">
                                    Начало обучения: {{ instance.start_date }}
                                </div>

                            </div>
                        </div>
                        {% include 'squads/squad_calendar.html' %} 
                        <br>
                        {% include 'squads/top_chart.html' %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
{% include 'squads/squad_materials.html' %}

{% endblock content %}