{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" style="padding-bottom: 200px;">
    <a id="go-back-btn-before"  href='{% url "squads:list" %}'>
        <i class="arrow left icon"></i>
    </a>
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="wide column" style="width: 80%;margin-left: 30px;">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="ui segment" style="margin-bottom: 0;padding: 0;padding-bottom: 15px;">
                            <div class="ui grid" style="margin: 0">
                                {% if instance.image_banner %}
                                <div class="sixteen wide column" style="padding: 0">
                                    <img src="{{ instance.image_banner.url }}" style="height: 200px; width: 100%;">
                                </div>
                                {% endif %}
                                <div class="group-name" style="padding-top: 15px;">
                                    {% if instance.image_icon %}
                                    <img src="{{ instance.image_icon.url }}" class="ui avatar image" style="width: 39px; height: 39px;">
                                    {% else %}
                                    <img class="ui avatar image" style="width: 39px; height: 39px;" src="{% static 'images/squad.png' %}">
                                    {% endif %}
                                    <span class="ui header ava-title">{{ instance.title }}</span>
                                </div>
                                {% if is_trener or is_manager %}
                                <div style="padding-top: 23px;">
                                    <a href="{{ instance.get_update_url }}" style="font-size: 17px;">
                                        <i class="icon cog blue" ></i>
                                    </a>
                                </div>  
                                {% endif %}                                
                            </div>
                        </div>
                    {% if instance.image_banner %}    
                    </div>
                    <div class="sixteen wide column" style="padding-right: 0">
                    {% endif %}
                        <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;{% if not instance.image %}margin-top: 0{% endif %}">
                            Информация
                        </div>
                        <div class="ui segment" style="{% if not instance.image %}margin-top: 0{% endif %}">
                            <div class="ui grid">
                                {% if instance.get_markdown != '' %}
                                <div class="one wide column">
                                    <i class="icon list" style="font-size: 17px;"></i>
                                </div>
                                <div class="fifteen wide column" style="padding-right: 25px;">
                                    {{ instance.get_markdown }}
                                </div>
                                {% endif %}
                                <div class="one wide column">
                                    <i class="icon id badge" style="font-size: 22px;padding: 0;margin-left: -5px;"></i>
                                </div>
                                <div class="fifteen wide column" style="padding-right: 25px;">
                                    Учитель: 
                                        <a href='{{ instance.teacher.get_absolute_url }}'>
                                            {% if instance.teacher.image %}
                                            <img class="ui image avatar" src="{{ instance.teacher.image.url }}">
                                            {% else %}
                                            <img class="ui image avatar" src="{% static 'images/nophoto.png' %}">
                                            {% endif %}
                                            {{ instance.teacher.first_name }}
                                        </a>
                                </div>
                                <div class="one wide column" style="padding-top: 0">
                                    <i class="icon calendar alternate" style="font-size: 20px;padding: 0;margin-left: -5px;"></i>
                                </div>
                                <div class="fifteen wide column" style="padding-top: 0;">
                                    Начало курса: {{ instance.start_date }} | 
                                    Окончание: {{ instance.end_date }}
                                </div>

                            </div>
                        </div>
                        {% include 'squads/squad_calendar.html' %} 
                        <br>
                        {% include 'squads/top_chart.html' %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
{% include 'squads/squad_materials.html' %}

{% endblock content %}