{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block head_extra %}
{% endblock head_extra %}
{% block content %}

<div id="profile">
    <div class="ui container">
        <div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="ten wide column" >
                <div class="ui segment text-center" style="margin-bottom: 0">
                    <h3>Список учеников</h3>
                </div>
                <div class="ui top menu" style="margin-top: 0">
                    <a style="width: 25%; padding-left: 0; padding-right: 0; text-align: center;display: block;" class="item open_students_table zaiavka_list" page='zaiavka_list'>Оставили заявку</a>
                    <a style="width: 25%; padding-left: 0; padding-right: 0; text-align: center;display: block;" class="item open_students_table registered_list" page='registered_list'>Ждут начала уроков</a>
                    <a style="width: 25%; padding-left: 0; padding-right: 0; text-align: center;display: block;" class="item open_students_table study_list" page='study_list'>Ходят на уроки</a>
                    <a style="width: 25%; padding-left: 0; padding-right: 0; text-align: center;display: block;" class="item open_students_table waiting_list" page='waiting_list'>На сайте</a>
                </div>
                <div class="ui active tab" id="zaiavka_list">
                    <table class="ui celled table text-center">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th class="text-left" style="width: 50%;">Имя</th>
                            <th>Номер телефона</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for prf in zaiavka_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-left">
                                        <a href="{{ prf.get_absolute_url }}">
                                            <img src='{{ main_page.image.url }}' class="ui avatar image" style="width: 30px;">
                                            {{ prf.name }}
                                        </a>
                                    </td>
                                    <td>{{ prf.phone }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="ui tab" id="registered_list">
                    <table class="ui celled table text-center">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th class="text-left" style="width: 50%;">Имя</th>
                            <th>Номер телефона</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for prf in registered_list %}
                            {% if prf.status == 'student' %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-left">
                                        <a href="{{ prf.get_absolute_url }}">
                                            <img src='{{ main_page.image.url }}' class="ui avatar image" style="width: 30px;">
                                            {{ prf.name }} ({{ prf.user }})
                                        </a>
                                    </td>
                                    <td>{{ prf.phone }}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="ui tab" id="study_list">
                    <table class="ui celled table text-center">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th class="text-left" style="width: 50%;">Имя</th>
                            <th>Номер телефона</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for prf in study_list %}
                            {% if prf.status == 'student' %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-left">
                                        <a href="{{ prf.get_absolute_url }}">
                                            <img src='{{ main_page.image.url }}' class="ui avatar image" style="width: 30px;">
                                            {{ prf.name }} ({{ prf.user }})
                                        </a>
                                    </td>
                                    <td>{{ prf.phone }}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="ui tab" id="waiting_list">
                    <table class="ui celled table text-center">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th class="text-left" style="width: 50%;">Имя</th>
                            <th>Номер телефона</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for prf in waiting_list %}
                            {% if prf.status == 'student' %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-left">
                                        <a href="{{ prf.get_absolute_url }}">
                                            <img src='{{ main_page.image.url }}' class="ui avatar image" style="width: 30px;">
                                            {{ prf.name }} ({{ prf.user }})
                                        </a>
                                    </td>
                                    <td>{{ prf.phone }}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

		</div>
	</div>
</div>

{% endblock content %}