.post_add_part{
  height: 24px !important;
}
.save_post{
  height: 24px !important;
}
.card_dialog{
  overflow-y: scroll;
}
.newcardlight{
  background-color: #fff;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 7s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: #fbbd08;}
  to {background-color: #fff;}
}
/* Standard syntax */
@keyframes example {
  from {background-color: #fbbd08;}
  to {background-color: #fff;}
}
.no_radius_tl{
  border-top-left-radius: 0 !important;
}
.no_radius_tr{
  border-top-right-radius: 0 !important;
}
.backblue{
  background-color: #506ca9 !important;
  background: #506ca9 !important;
}
.backlightblue{
  background-color: #7289ba !important;
  background: #7289ba !important;
}
.backdarklow{
  background-color: #545454 !important;
}
.backdark{
  background-color: #4a4a4a !important;
}
.backwhite{
  background-color: #fff !important;
}
.backwhitelow{
  background-color: #f0f0f0 !important;
}
.backgrey{
  background-color: #f9f9f9 !important;
}
.backgreenlow{
  background-color: #ccffcc !important;
}
.textw{
  color: #fff !important;
}
.textg{
  color: #909090 !important;
}
.textdg{
  color: #545454 !important;
}
.textb{
  color: #000 !important;
}
.textblue{
  color: #285473 !important;
}
.text13{
  font-size:13px !important; 
}
.text12{
  font-size:12px !important; 
}
.text11{
  font-size:11px !important; 
}
.topbr5{
  border-radius: 5px 5px 0 0 !important;
}
.shadow{
  box-shadow: 0 0 15px 0 #d7d7d7 !important;
}
.shadow{
  box-shadow: 0 0 15px 0 #d7d7d7 !important;
}
.shadow_small{
  box-shadow: 0 0 5px 0 #d3d3d3 !important;
}
.shadow_mini{
  box-shadow: 0 0 3px 0 #d3d3d3 !important;
}
.shadow_blue{
  box-shadow: 0 0 5px 0 #506ca9 !important;
}
.shadow_green{
  box-shadow: 0 0 5px 0 #21BA45 !important;
}
.bt1{
  border-top: 1px solid #e5e5e5 !important;
}
.border1{
  border: 1px solid #e5e5e5 !important;
}
.textbold{
  font-weight: 600;
}
.text17{
  font-size:17px !important; 
}
.text21{
  font-size:21px !important; 
}
.text10{
  font-size:10px !important; 
}
.text15{
  font-size:15px !important; 
}
.text14{
  font-size:14px !important; 
}
.underline{
  text-decoration: underline;
}
.textblue{
  color:#285473;  
}
.textdark{
  color:#4A4A4A;  
}
.textgrey{
  color: #707070;
}
.choose_color{
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #d3d3d3 !important;
}
.choose_color_def{
  padding: 10px;
  display: inline-block;
  line-height: 13px;
  color: #fff;
  border-radius: 3px;  
}
.border{
    border: 1px solid lightgrey;
    padding: 14px;
}
.card_form{
  height: 70%;
}
.modal2{
  position: fixed;z-index: 3001;margin-top: 100px;display: none;
}
.third.wide.column{
  width: 33% !important;
}
.darker{
  position: fixed;
  background-color: #000;opacity: 0.7;z-index: 3000;
}
.close_modal2{
  margin-left: 630px;
  position: absolute;
}
.btn_select{
  cursor: pointer;
  box-shadow: 0 2px 2px 0 #d7d7d7;
  transition: box-shadow 400ms ease;
  -webkit-transition: box-shadow 400ms ease;
}
.btn_select:hover{
  box-shadow: 0 15px 15px 0 #d7d7d7;
}
.show_free_cards{
  margin-top: 5px;
  margin-left: 5px;
}
.thconst{
  padding: 5px !important;
  display: inline-block;
  text-align: center;
}
.rotateminus{
  transform: rotate(-90deg);
}
.rotateplus{
  transform: rotate(90deg);
}
.w98{
  width: 98px;
}
.lecture_const{
  position: absolute;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
  line-height: 12px;
  overflow: hidden;
}
.tdconst{
  display: inline-block;
}
.dark_grey{
    background-color: #545454;
}
.show_hint_schedule:hover + .hint_schedule {
    display: inline-block !important;
}
.show_url{ color: red; }
body{ 
  min-height: 100%;
}
.fix_mod{
  position: fixed;
  z-index: 3010;
}
.full-w {
  width: 100% !important;
}
.pb10{
  padding-bottom: 10px !important;
}
.pt10{
  padding-top: 10px !important;
}
.pl10{
  padding-left: 10px !important;
}
.pr10{
  padding-right: 10px !important;
}
.pb5{
  padding-bottom: 5px !important;
}
.pt5{
  padding-top: 5px !important;
}
.pl5{
  padding-left: 5px !important;
}
.pr5{
  padding-right: 5px !important;
}
.pb30{
  padding-bottom: 30px !important;
}
.pt30{
  padding-top: 30px !important;
}
.pl30{
  padding-left: 30px !important;
}
.pr30{
  padding-right: 30px !important;
}
.mb10{
  margin-bottom: 10px !important;
}
.bbtm:hover{
  border-bottom: 1px solid #fff;
}
.mt10{
  margin-top: 10px !important;
}
.ml10{
  margin-left: 10px !important;
}
.mr10{
  margin-right: 10px !important;
}
.mb30{
  margin-bottom: 30px !important;
}
.mt30{
  margin-top: 30px !important;
}
.ml30{
  margin-left: 30px !important;
}
.mr30{
  margin-right: 30px !important;
}
.mb5{
  margin-bottom: 5px !important;
}
.mt5{
  margin-top: 5px !important;
}
.ml5{
  margin-left: 5px !important;
}
.mr5{
  margin-right: 5px !important;
}
.mb20{
  margin-bottom: 20px !important;
}
.mt20{
  margin-top: 20px !important;
}
.ml20{
  margin-left: 20px !important;
}
.mr20{
  margin-right: 20px !important;
}
.pb15{
  padding-bottom: 15px !important;
}
.pt15{
  padding-top: 15px !important;
}
.pl15{
  padding-left: 15px !important;
}
.pr15{
  padding-right: 15px !important;
}
.mb15{
  margin-bottom: 15px !important;
}
.mt15{
  margin-top: 15px !important;
}
.ml15{
  margin-left: 15px !important;
}
.mr15{
  margin-right: 15px !important;
}
.pb150{
  padding-bottom: 150px !important;
}
.pt150{
  padding-top: 150px !important;
}
.pl150{
  padding-left: 150px !important;
}
.pr150{
  padding-right: 150px !important;
}
.mb150{
  margin-bottom: 150px !important;
}
.mt150{
  margin-top: 150px !important;
}
.ml150{
  margin-left: 150px;
}
.mr150{
  margin-right: 150px;
}
.mb50{
  margin-bottom: 50px !important;
}
.mt50{
  margin-top: 50px !important;
}
.ml50{
  margin-left: 50px;
}
.mr50{
  margin-right: 50px;
}
.pb50{
  padding-bottom: 50px !important;
}
.pt50{
  padding-top: 50px !important;
}
.pl50{
  padding-left: 50px !important;
}
.pr50{
  padding-right: 50px !important;
}
.pb0{
  padding-bottom: 0px !important;
}
.pt0{
  padding-top: 0px !important;
}
.pl0{
  padding-left: 0px !important;
}
.pr0{
  padding-right: 0px !important;
}
.mb0{
  margin-bottom: 0px !important;
}
.mt0{
  margin-top: 0px !important;
}
.ml0{
  margin-left: 0px !important;
}
.mr0{
  margin-right: 0px !important;
}
.content-container{
  min-height: 92% !important;
  background-color: #f4f4f4;
}
.search-group-img{
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.search_group_add{
  height: 23px;padding: 6px 10px !important;
}
.search-group-name{
  margin-left: 10px;line-height: 30px;
  width: 220px;
}
.hint_students_group{
  position: absolute !important;
  z-index: 1000;
  background-color: #f5f5f5 !important;
  margin-top: 3px !important;
  width: 300px;
  padding: 7px !important;
}
.search_group_link{
  display: flex;
}
.search_students_group{
  display: inline-block !important;
  width: 300px !important;margin-top: 14px !important;
  height: 30px !important;
}
.add_student{
  float: right;padding: 6px 10px !important;height: 23px;
}
.new_money_title{
  height: 33px !important;
}
.new_money_amount{
  margin: 0 10px;width: 50% !important;height: 33px !important;
}
.folder_features{
  position: absolute !important; 
  z-index: 3000;
  margin: 30px 0 0 30px !important; 
  width: 155px;
}
.predoplata_form{
  width: 300px !important;
  margin-top: -5px !important;
  margin-left: 25px !important;
}
.predoplata_number{
  margin-bottom: 0 !important;
  padding: 4 12 6 12 !important;
  height: 30px !important;
}
.delete_school_banner{
  position: absolute;
  margin-left: 50px;
}
.make_review{
  font-size: 25px !important;
  cursor: pointer;
}
.change_lecture_cabinet{
  width: 50% !important;
  background-color: #313a57 !important;
  color: #fff !important;
  border-color: grey !important;
}
.office_cabinet_create_capacity{
  width: 40% !important;height: 30px !important;
  font-size: 12px !important;
}
.office_cabinet_create_title{
  width: 60% !important;height: 30px !important;overflow-y: hidden;
}
.highlight{
  background-color: #21BA45;padding: 5 10px !important;color: #fff;border-radius: 3px;
}
.highlight_line{
  border:1px solid #5181b8;
  padding: 5 10px !important;
  border-radius: 3px;
}
.highlight_blue{
  background-color: #5181b8;padding: 5 10px !important;color: #fff;border-radius: 3px;
}
.highlight_red{
  background-color: #DB2828;padding: 5 10px;color: #fff;border-radius: 3px;
}
.highlight_black{
  background-color: #4a4a4a;padding: 5 10px !important;color: #fff;border-radius: 3px;
}
#search_text{
  margin: 0;border-radius: 3px 0 0 3px;height: 31px;overflow-y: hidden;
}
.search_by_tags{
  padding-right: 1px !important;padding-left: 9px !important;height: 31px;border-radius: 0 3px 3px 0 !important;
}
.search_hint{
  position: absolute !important;
  margin-top:0px !important;
  margin-left:1px !important;
  z-index: 500;
  width: calc(100% + 22px);
  min-height:10px;
  background-color: #fff;
  padding: 0 !important; 
  color: darkblue;
  border-radius: 0 !important;
}
.map_hint_item{
  padding: 6px 10px !important;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  display: block;
}
.map_hint_item:hover{
  background-color: #f3f3f3;
}
.hint_item{
  padding: 6px 10px !important;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
}
.hint_item:hover{
  background-color: #f3f3f3;
}
.subject_hint{
  padding: 3px 5px !important;
}
.school_name{
  font-size: 15px;
  font-weight: 600;
}
.map_address-subtitle{
  color: #a0a0a0;
}
.school_address{
  color: #555;
}
.no_padding_side{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no_padding{
  padding: 0 !important;
}
.no_margin{
  margin: 0 !important;
}
.school_div:hover{
  background-color: #f7f7f7;
  cursor: pointer;
}
.left_menu_number{
  color: #5b6e85;
  padding: 0 6px;
  height: 29px;
  line-height: 30px; 
  font-weight: 700; 
  float: right;
  border-radius: 2px;
  font-size: 11px;
  background: #d1d9e0;
  margin-top: -7px;
  margin-right: -7px;
}
.card_head{
  font-weight: 600;
  font-size: 15px;
  color: #4a4a4a;
  background-color: #f5f5f5;
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
.card_comment-textarea{
  min-width: 100px !important;
  word-break: break-all;
  min-height: 65px !important;
  margin-bottom: 0 !important;
  padding: 2px 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.card_form-days{
  margin: 0 5px;
  padding: 14px 0 !important;
}
#go-back-btn {
  position: absolute;
  background-color: #e0e1e2;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 61px;
  right: 4.5%;
  height: 90%;
  padding: 200px 10px;
  width: 50px;
  font-size: 20px;
  z-index: 500;
  color: #5181b8;
}
#go-back-btn-before:hover {
  background-color: #CCE2FF;
}
#go-back-btn-before-land:hover {
  background-color: #CCE2FF;
}
#go-back-btn:hover {
  background-color: #CCE2FF;
}
.notice-bar{
  display: none;
  position: absolute;
  margin-top: 15px;
  width: 400px;
  overflow: hidden;
  background: #fff;
  padding: 14px 0;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);  
  font-size: 13px;
}
.notice_time{
  color: #939393;
  font-size: 12px;
  margin-top: 4px;
}
.notice-item{
  padding: 0 14px;
}
.notice-list{
  list-style-type: none;
  padding: 0;
  margin: 0;  
  font-size: 13px;
}
.notification_title{
  padding: 0 14px;  
  font-size: 12px;
}
.notice-item-name{
  vertical-align: top;
  margin-top: 35px;
  color: #000;
  font-size: 13px;  
}
.notice-item-link{
  vertical-align: top;
  font-size: 13px;  
  font-weight: 600;
}
.notice_item_img {
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -16px;
  margin-right: 8px;
  height: 40px !important;
  width: 40px !important;
}
.notice_cont {
    margin-left:500px;position: absolute;padding-top: 18px;
}
.notification_exists{
  padding: 1px 4px 0 3px;
    border: 2px solid #4a76a8;
    border-radius: 12px;
    color: #fff;
    font-size: 10px;
    height: 17px;
    width: 17px;
    line-height: 13px;
    min-width: 5px;
    top: -7px;
    left: 10px;
    background-color: #ff734c;
    text-align: center;
    position: absolute;
}
.crmhistoryold{
  padding: 5px;background-color: #e5e5e5;border-radius: 5px;
}
.crmhistorynew{
  padding: 5px;background-color: #5181b8;color:#fff;border-radius: 5px;
}
.crmbox{
  min-height: 60%;
}
.full-h{
  min-height: 100% !important;
}
.delete_card{
  position: absolute;
  right: 0;
  margin: -20px 4px 0 4px;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
.show_card_schedule{
  float: right; 
  color: red;
  font-size: 17px;
  z-index: 200;
  width: 100%;
  text-align: right;
}
.delete_card:hover{
  color: red;
}
.redx{
  right: 0;margin: -3px 4px;color: red;font-size: 13px;
  position: absolute;
}
.redx:hover{
  color: red;
}
a{
  cursor: pointer;
  color: #285473;
}
.help_right:after {
    content: "";
    display: block;
    border-width: 7px 0 7px 7px;
    border-style: solid;
    border-color: transparent transparent transparent #5a9eff;
    margin-top: -7px;
    position: absolute;
    right: -7px;
    top: 50%;
}
.help_left:after {
    content: "";
    display: block;
    border-width: 7px 7px 7px 0;
    border-style: solid;
    border-color: transparent #5a9eff transparent transparent;
    margin-top: -7px;
    position: absolute;
    left: -7px;
    top: 50%;
}
.help_down:after {
    content: "";
    display: block;
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #5a9eff transparent transparent transparent;
    margin-top: -7px;
    position: absolute;
    left: 50%;
    bottom: -7px;
}
.help_left_top:after {
    content: "";
    display: block;
    border-width: 0px 7px 10px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -7px;
    top: 0px;
}
.my_comment{
  width: 80%;
  margin-left: 20% !important;
  background-color: #effdde !important;
}
.help_right_top:after {
    content: "";
    display: block;
    border-width: 10px 7px 0px 0px;
    border-style: solid;
    border-color: #effdde transparent transparent transparent;
    position: absolute;
    right: -7px;
    top: 0px;
}
.help_left_news:after {
    content: "";
    display: block;
    border-width: 7px 7px 7px 0;
    border-style: solid;
    border-color: transparent #5a9eff transparent transparent;
    margin-top: -17px;
    position: absolute;
    left: -7px;
    top: 50%;
}
.help_top:after {
    content: "";
    display: block;
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: transparent transparent #5a9eff transparent;
    margin-left: -7px;
    position: absolute;
    top: -7px;
    left: 50%;
  }
.highliter {
    z-index: 1000;
}
::-webkit-scrollbar
{
  width: 5px !important;  /* for vertical scrollbars */
}
::-webkit-scrollbar-thumb
{
  background: #8c8c8c !important;
}

.margin0{
  margin: 0 !important;
}
.crm_column{
  padding-top: 0;text-align: left;
}
.card_segment{
  padding: 5px 5px 4px 5px !important;
  box-shadow: 0px 0px 3px 0px #fff !important;
  cursor: pointer;
  margin: 0 0 10px 0 !important;
  border-radius: 2px !important;
}
.red_card{
  border: 5px solid #ff5828;
  padding: 7px 5px 0px 5px !important;
}
.orange_card{
  border: 5px solid orange;
  padding: 7px 5px 0px 5px !important;
}
.subject_cost{
  height: 33px;line-height: 10px;
}
.dflex{
  display: flex;
}
.dinline{
  display: inline-block;
}
.marker{
  border-radius: 5px;
  padding: 2px !important;
  width: 30px;
}
.crm_marker{
  background-color: #21BA45 !important;
  padding: 2px 2px 4px 2px !important;
  width: 100%;
  border-radius: 2px;
  position: absolute !important;
  margin-top: -12px;
  margin-left: -5px;
  margin-bottom: 0 !important;
}
.crm_marker_down{
  background-color: #21BA45 !important;
  padding: 4px 2px 2px 2px !important;
  width: 100%;
  border-radius: 2px;
  position: absolute !important;
  margin-top: 0px;
  margin-left: -5px;
  margin-bottom: 0 !important;
}
.crm_marker_called{
  background-color: gold !important;
  padding: 2px !important;
  width: 30%;
  border-radius: 2px;
  position: absolute !important;
  margin-top: -12px;
  margin-left: 30%;
  margin-bottom: 0 !important;
}
.slider {
  display: flex;
  width: max-content;
}
.slider__section {
  width: 130px;
}
.btn-prev, .btn-next {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 35px;
  line-height: 20px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}
.btn-prev {
  left: 22%;
  background-color: #313a57;
  color:#fff;
}

.btn-next {
  right: 20px;
  background-color: #313a57;
  color:#fff;
}
.help_button{
  color: white !important;
  background-color: #5a9eff !important;
}
.help_big_button{
  color: white !important;
  background-color: #5a9eff !important;
  padding: 5px 5px 10px 5px !important;
  margin-top: -10px;
  border-radius: 5px;
}
.help{
  width: 200px;
  background: #5a9eff !important;
  color: #fff;
  box-shadow: none !important;
  border-radius: 10px !important;
}
.bg-dark:before {
    content: '';
    display: block;
    background: #000;
    opacity: 0.2 !important;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
  }
.student_name{
  font-size: 13px;
  font-weight: 600;
  padding: 20px 10px 10px 10px;
  text-align: left;
  color: white;
  height: 65px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.student_name2{
  padding-left: 5px;
  font-size: 11px;
  font-weight: 600;
  text-align: left;
  line-height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.attendance_block{
  width: 100%;
  height: 65px;
  padding: 8px 3px 1px 3px;
  text-align: center;
}
.attendance_date{
  height: 30px;line-height: 30px; padding-left: 2px;text-align: center;color: lightgrey;
}
.attendace_grade{
  font-size:15px !important;
  width: 30%;
  height: 25px;
  line-height: 27px;
  padding: 0px !important;
  text-align: center;
  margin: auto !important;
  color: #fff;
  border-radius: 3px;
  background-color: #21BA45
}
.att_present{
  padding: 7px 5px !important;
}
.grey_divider{
  margin: 0 !important;
  background-color:grey;
}
.crm_divider{
  padding: 2px;background-color:#99ccff;
  padding-bottom: 0;margin: 8px 0 !important;
}
.crm_title{
  font-size: 13px;font-weight: 600;height: 31px;
}
.option_vertical{
  padding: 10px 18px;
}
.option_vertical_active{
  border-left: 2px solid #313a57;background-color: #f0f2f5;
  padding: 10px 18px;
}
.ui.fiol {
  background-color: #313a57;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
}
.ui.white {
  background-color: #fff;
  color: #222;
  text-shadow: none;
  background-image: none;
}
.ui.white:hover {
  background-color: #f1f1f1;
  color: #222;
  text-shadow: none;
  background-image: none;
}
.ui.lightgrey {
  background-color: #f5f5f5;
  color: #222;
  text-shadow: none;
  background-image: none;
}
.ui.lightgrey:hover {
  background-color: #e9e9e9;
  color: #222;
  text-shadow: none;
  background-image: none;
}
.ui.darkblue {
  padding:6px 10px !important;
  background-color: #2D437C;
  font-size: 14px;
  color: lightgrey;
}
.ui.darkblue:hover {
  padding:6px 10px !important;
  background-color: #1c326b;
  font-size: 14px;
  color: lightgrey;
}
.ui.freshgreen {
  background-color: #51aca9;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.ui.freshgreen:hover {
  background-color: #409b98;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.ui.lightgreen {
  background-color: #32cb56;
  border: 1px solid lightgreen;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.ui.lightgreen:hover {
  background-color: #21BA45;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.ui.dark {
  background-color: #4a4a4a;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.ui.dark:hover {
  background-color: #595959;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.lftitem{
    padding: 8px !important;
    color: #4a4a4a;
}
.lftitemsmall:hover{
    background: none !important;
    text-decoration: underline !important;
}
.classwork{
  text-align: center;color: #656565;margin-top: 0 !important;padding-bottom: 50px;
}
.subtheme_content{
  font-size: 14px;
  margin-bottom: 25px;
}
.small_avatar{
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.new_post_area{
  border: none !important;
  margin-bottom: 0 !important;
  padding: 0 10px;
}
.new_post_for{
  width: 150px !important;
}
.create_new_post{
  float: right;
}
.file_post{
  cursor: pointer;
}
.file_post{
  cursor: pointer;
}
.camera{
  font-size: 17px !important;
}
.camera:hover{
  font-size: 17px !important;
  color: #b2b2ff !important;
}
.postfile{
  width: 25% !important;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.remove_lesson_from_subject{
  font-size: 10px;
  color: red;
  font-weight: 600;
}
.remove_lesson_from_subject:hover{
  font-size: 10px;
  color: red;
  font-weight: 600;
}
.profile_name{
  color: #fff;
}
.profile_name:hover{
  color: #fff;
}
.profile_links{
  display: none;
  position: absolute;
  margin-top: 25px;
  right: 1em;
  margin-right: 30px;
  z-index: 3000;
  width: 150px;
}
.float_right{
  float: right;
}
.course_lesson{
  min-height: 60px !important;
  min-width: 100%  !important;
}
.is_homework{
  font-size: 10px;
  font-weight: 600;
}
   #keywords {
      margin: 0 auto;
      font-size: 13px;
      margin-bottom: 15px;
      color: #fff;
    }
    #keywords thead {
      cursor: pointer;
    }
    #keywords thead tr th { 
      font-weight: bold;
      padding: 14px;
    }
    #keywords thead tr th span { 
      padding-right: 14px;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
    #keywords tbody tr { 
      color: #fff;
    }
    #keywords tbody tr td {
      text-align: center;
      padding: 14px 10px;
    }
    #keywords tbody tr td.lalign {
      text-align: left;
    }

.swiper-container {
  width: 75%;
}
.block-slider {
  width: 100%;
}
.block-slider .swiper-slide {
  background: #4F628E;
}
.next-btn,
.prev-btn {
  width: 26px;
  height: 20px;
}

.subtheme_number_circle{
  background-color: #b0b0b0;
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 36px;
  position: absolute;
  margin-left: -70px;
  box-shadow: 0 7px 20px rgba(13,29,45,.3);
}
.lined_text:after {
  background-color: rgba(51,51,51,.25);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
  margin-left: 20px;
}
.lined_text:before{
  background-color: rgba(51,51,51,.25);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 5%;
}
.edit{
  display: none !important;
}
.ans_textarea{
  width: 200px !important;height: 40px ;
}
.bubble {
  display: inline-block !important;
  margin-left: 200px;
  height: 30px;
  width: 30px;
  animation: bubbles-rise 2s 0s forwards;
  opacity: 1;
  position: absolute;
}
@keyframes bubbles-rise {
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}
.edit_visible{
  display: inline-block !important;
}
.test_variant{
  padding: 7px;
  cursor: pointer; 
  width: 100% !important;
  border: 2px solid #e4e4e4;  
  position: relative;
  display: block;
}
.test_variant:hover{
  padding: 7px;
  cursor: pointer; 
  width: 100% !important;
  border: 2px solid #808080;  
  position: relative;
  display: block;
}
.test_variant2{
  padding: 6px;
  width: 100% !important;
  position: relative;
  display: flex;
}
.test_variant_chosed{
  padding: 7px;
  width: 100% !important;
  position: relative;
  display: flex;
}
.in_schedule{
  color: #fff; 
  padding: 1px !important; 
  margin: 3px 0 !important;
  background-color: #313a57;
  width: 100%;
  cursor: pointer;
}
.in_squad_schedule{
  color: #fff; 
  padding: 1px !important; 
  margin: 3px 0 !important;
  background-color: #313a57 !important;
  width: 100%;
  cursor: pointer;
}
.other_option{
  padding:0 6px 17px 6px;color: #656565;font-size: 14px;
}
.current_option{
  padding:10px 6px 10px 6px;
  color: #656565;
  font-size: 14px;
  box-shadow: 0 0 5px 0 #d3d3d3 !important;  
}
.other_option2{
  padding:0 6px 17px 6px;color: #656565;font-size: 14px;
}
.current_option2{
  border-bottom: 2px solid #313a57;padding:0 6px 17px 6px;color: #000;font-size: 14px;
}
.current_point{
  border-bottom: 2px solid #313a57;
  padding:0 6px 8px 6px;
  color: #000;
  font-size: 14px;
}
.problem_type{
  text-decoration: underline;
}
.problem_type:hover{
  text-decoration: underline;
}

.paper{
  display: none;
}
.paper_active{
  display: block;
}
.switch_btn{
  border: 1px solid #e7e7e7;text-align: center; border-radius: 3px;color: #222; 
  height: 30px;
  padding-top: 4px;
  padding-left: 0; padding-right: 0; text-align: center;display: block;
}
.switch_btn:hover{
  border-bottom: 3px solid #313a57;
}
.switch_btn_active{
  background-color: #313a57;
  color: #fff;
}
.switch_att_btn{
  border: 1px solid #e7e7e7;text-align: center; border-radius: 3px;color: #222; 
  height: 30px;
  padding-top: 4px;
  padding-left: 0; padding-right: 0; text-align: center;display: block;
}
.switch_att_btn:hover{
  background-color: #313a57;
  color: #fff;
}
.switch_att_btn_active{
  background-color: #313a57;
  color: #fff;
}


.page_video_thumb{
  width: 100%;
    height: 112px;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
}
.count{
  font-size: 19px;
    color: #42648b;
    padding-bottom: 3px;
    line-height: 21px;
}
.count_label{
  line-height: 15px;
    color: #828282;
}
.show_account_details{
  width: 100%;
  background: white !important;
  color: #2a5885;
}
.show_account_details:hover{
  background: #f0f2f5 !important;
  color: #2a5885 !important;
}
.urok{
  margin-top: 80px !important;
}
.small_text{
  font-size: 12px !important;
  color: #909090 !important;
}
.small_link{
  font-size: 11px; cursor: pointer;
  padding: 0 !important;
  margin-left: 10px;
}
.small_delete_link{
  font-size: 11px; margin-left: 10px;margin-right: 10px; color: red; cursor: pointer;
  padding: 0 !important;
}
.follow_btn{
  width: 100%;
}
.main_text{
  margin-top: 11px;
  display: inline-block;
}
.icon.circle.outline:before{
  font-size: 10px;
}
#intro{
  height:2500px;
  text-align:center;
  overflow:hidden;
  position:static;
}
#intro .logo{
  text-align:center;
  position:relative;
  width:100%;
  height:100%;
  top:0;
}
#intro .logo span{display:block;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.after_img_header{
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.95), inset 0 0 8px rgba(0, 0, 0, 0.12), 1px 0 0 rgba(0, 0, 0, 0.25), -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.95),inset 0 0 8px rgba(0, 0, 0, 0.12),1px 0 0 rgba(0, 0, 0, 0.25),-1px 0 0 rgba(0, 0, 0, 0.25),0 1px 0 rgba(0, 0, 0, 0.2),0 -1px 0 rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.95), inset 0 0 8px rgba(0, 0, 0, 0.12), 1px 0 0 rgba(0, 0, 0, 0.25), -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.09);
    padding: 6px 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center; 
    padding: 6px 25px;
}
*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  color: white;

}

.headerr {
  height: 50px;
  width: 100%;
  background: rgba(66, 66, 66, 1);
  text-align: center;
  position:relative;
  z-index: 100;

}

.headerr h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.leftt, .rightt {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.leftt {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 20px;
}

.rightt {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 20px;
}

.lefttt, .righttt {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.lefttt {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 20px;
}

.righttt {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 20px;
}
.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
 background: #4A4A4A;
}
.week-days {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background: #4A4A4A;
}

.day {
  display: inline-block;
  width: 14%;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  z-index: 100;
  padding: 3px;
}
@media only screen and (max-width: 1051px) {
  .daysmall {
    display: inline-block;
    width: 11%;
    text-align: center;
    vertical-align: top;
    position: relative;
    z-index: 100;
    padding: 0;
    font-size: 12px;
  }
  .daysmall_time {
    width: 12%;
    font-size: 11px;
    line-height: 30px;
    padding-top: 10px;
    color: white;
  }
}
@media only screen and (min-width: 1052px) and (max-width: 1919px) {
  .daysmall {
    display: inline-block;
    width: 12%;
    text-align: center;
    vertical-align: top;
    position: relative;
    z-index: 100;
    padding: 0;
    font-size: 12px;
  }
  .daysmall_time {
    width: 9%;
    font-size: 11px;
    line-height: 30px;
    padding-top: 10px;
    color: white;
  }
}
.today{
  background-color: #16ab39;
  color: white !important;
}
.shapka{
  margin-bottom: 0 !important;
}
.day.other {
 color: rgba(255, 255, 255, .3);
}
.daysmall.other {
 color: rgba(255, 255, 255, .3);
}

.day.today {
  color: #313a57;
}

.day-name {
  font-size: 8px;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #fff;
  letter-spacing: .7px;
  text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}

.day-number {
  font-size: 16px;
  letter-spacing: 1.5px;
  background: #4A4A4A;
}


.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}


.details {
  position: relative;
  width: 420px;
  height: 75px;
  background: rgba(164, 164, 164, 1);
  margin-top: 5px;
  border-radius: 4px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}


.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}

.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(60, 60, 60, 1);
  line-height: 30px;

}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}


/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}

.vmenu{
  transition: 0.3s;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  position: absolute;
  font-size: 16px;
}
.mobmenu{
  font-size: 18px;
  padding: 14px !important;
}
.menu_active {
  -webkit-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
}
.save_grade{
  margin-right: 1px !important;
  padding: 0px 5px  !important;
  width: 20%;
  height: 27px;
  line-height: 27px !important;
}
.content_active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.content {
  transition: 0.3s;
}
 .no-display {
  display: none !important;
 }
 button {
  cursor: pointer;
 }
 .board {
  display: flex;
 }
 .columnn {
  color: #4d4d4d;
  background-color: #E2E4E6;
  border-radius: 3px;
  padding: 10px;
  display: block;
 }
 .column > h3 {
  margin: 0 0 10px 0;
 }
 .card, .new-card {
  display: block;
  background-color: white;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 8px;
 }
 .card {
  color: inherit;
  text-decoration: inherit;
 }
 .new-card {
  width: 100%;
 }
 .show-new-card {
  color: #8c8c8c;
  font-size: 14px;
  background: none;
  border: none;
  display: block;
  text-align: left;
  cursor: pointer;
  width: 100%;
  height: 30px; 
 }
 .show-new-card:hover {
  color: #4d4d4d;
  background-color: #cdd2d4;
 }
 .show-new-column {
  color: #000;
  font-size: 14px;
  background: none;
  border: none;
  display: block;
  text-align: left;
  cursor: pointer;
  width: 200px;
  height: 30px;
 }
 .show-new-column:hover {
  color: #4d4d4d;
  background-color: #cdd2d4;
 }
 .show-new-board {
  color: #000;
  font-size: 14px;
  background: none;
  border: none;
  display: block;
  text-align: left;
  cursor: pointer;
  width: 200px;
  height: 30px;
 }
 .show-new-board:hover {
  color: #4d4d4d;
  background-color: #cdd2d4;
 }

 .new-file {
  color: #000;
  font-size: 14px;
  background: none;
  border: none;
  display: block;
  text-align: left;
  cursor: pointer;
  width: 200px;
  height: 30px;
 }
 .new-file:hover {
  color: #4d4d4d;
  background-color: #cdd2d4;
 }

 .moving-card {
  cursor: -webkit-grabbing;
  transform: rotate(1deg);
 }
 .column.dropme {
  background-color: #a9a9a9;
 }
 .one{
  margin: 0;
 }
 .contentt{
  padding-right: 0 !important;
 }
 .paper-features {
  margin-left: 0;
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-top: none;
  background-color: #E6E6E6;
  padding: 10px 10px 0 10px;
}
.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  width: 600px;
  overflow-x: scroll;
}

  @-webkit-keyframes spin {
    0% {
        -webkit-transform:rotate(0deg);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    25% {
        -webkit-transform:rotate(270deg);
        opacity: 1;
    }
    50% {
        -webkit-transform:rotate(540deg);
        opacity: 1;
    }
    80% {
        -webkit-transform:rotate(810deg);
        
        opacity: 1;
    }
    100% {
        -webkit-transform:rotate(1080deg);
        opacity: 0;
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform:rotate(0deg);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    25% {
        -moz-transform:rotate(270deg);
        opacity: 1;
    }
    50% {
        -moz-transform:rotate(540deg);
        opacity: 1;
    }
    80% {
        -moz-transform:rotate(810deg);
        
        opacity: 1;
    }
    100% {
        -moz-transform:rotate(1080deg);
        opacity: 0;
    }
}
@keyframes spin {
    0% {
        transform:rotate(0deg);
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    25% {
        transform:rotate(270deg);
        opacity: 1;
    }
    50% {
        transform:rotate(540deg);
        opacity: 1;
    }
    80% {
        transform:rotate(810deg);
        
        opacity: 1;
    }
    100% {
        transform:rotate(1080deg);
        opacity: 0;
    }
}

.loading {
    height: 64px;
    left: 50%;
    margin-left: -22px;
    margin-top: -20px;
    position: absolute;
    top: 100px;
    width: 64px;
    z-index: 4000;
}
.loading .animation {
  -webkit-animation: spin 5s linear 0s infinite;
  -moz-animation: spin 5s linear 0s infinite;
  animation: spin 5s linear 0s infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  opacity: 0;
}
  .map_search_hint{
    position: absolute !important;
    z-index: 3000;
  }
.loading .animation:nth-child(2) {
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  animation-delay: 250ms;
}
.loading .animation:nth-child(3) {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  animation-delay: 500ms;
}
.loading .animation:nth-child(4) {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  animation-delay: 750ms;
}
.loading .animation:nth-child(5) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.loading .circle {
    background: none repeat scroll 0 0 #0092ED;
    border-radius: 100%;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
}
.loading .circle.two {
  background: #d3d3d3;
}
.loading .circle.three {
  background: #d3d3d3;
}
.loading .circle.four {
  background: #d3d3d3;
}
.loading .circle.five {
  background: #d3d3d3;
}
.loading .circle {
  background: #d3d3d3;
}


.loading_small {
  padding-top: 11px;
  height: 16px;
  width: 16px;
  z-index: 4000;
  display: inline-block;
}
.loading_small .animation {
  -webkit-animation: spin 5s linear 0s infinite;
  -moz-animation: spin 5s linear 0s infinite;
  animation: spin 5s linear 0s infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  opacity: 0;
}
.loading_small .animation:nth-child(2) {
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  animation-delay: 250ms;
}
.loading_small .animation:nth-child(3) {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  animation-delay: 500ms;
}
.loading_small .animation:nth-child(4) {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  animation-delay: 750ms;
}
.loading_small .animation:nth-child(5) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.loading_small .circle {
    background: none repeat scroll 0 0 #0092ED;
    border-radius: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
.loading_small .circle.two {
  background: blue;
}
.loading_small .circle.three {
  background: blue;
}
.loading_small .circle.four {
  background: blue;
}
.loading_small .circle.five {
  background: blue;
}
.loading_small .circle {
  background: blue;
}
.filter.wide.column{
    padding: 14px 0px 0 10px !important;
    width: 15% !important;
}
.head_round{
  border-radius: 20px;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
.backdarkgrey{
  background-color: #ececec !important;
}

.map_filter{
    padding: 7px 0 7px 7px !important;
}
.map_distance{
    display: flex !important;  
}
.school_list{
  overflow-y: scroll;height: 100%;
}
.back_to_schools:hover{
  background-color: lightgrey;
}
.map_search_input{
  border: 1px solid #fff !important;
  border-radius: 5px 0 0 5px !important;
  border-right: 0;
  height: 50px !important;
  line-height: 35px !important;
  overflow:hidden;  
}
.land_box1{
  background-size: 100%;
  background-repeat: no-repeat;
  color: #2a5885;
  font-weight:600;
}
@media screen and (min-width: 992px){
   .cost_hint{
    position: absolute;
    z-index: 3000;
    margin-top: -50px !important;
    background-color: #4a4a4a !important;
    color: #fff;
    line-height: 15px;
    margin-left: 101% !important;  
    width: 80%;
   }  
  .mlback{
    padding-left: 60px !important;
  }
  .text-right{
    text-align: right;
  }
  .landbox{
    height: 300px;
    display: block;
  }
  .land_box1{
    width: 100%;
    height: 150px;
    display: block;
    padding-top: 30%;
  }
  .land_box2{
    display: block;
  }
  .schoolLanding__header-wrapper{
    height: 150px;
  }
  .map_search_input{
    width: calc(100% - 220px) !important;
  }
  #go-back-btn-before-land {
    position: absolute;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 61px;
    height: 90%;
    padding: 15px 10px;
    width: 40px;
    font-size: 18px;
    z-index: 500;
    color: #5181b8;
  }
  #go-back-btn-before {
    position: absolute;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 61px;
    left: 196px;
    height: 90%;
    padding: 15px 10px;
    width: 40px;
    font-size: 20px;
    z-index: 500;
    color: #5181b8;
  }
  .deskpl30{
    padding-left: 30px !important
  }
  .deskpr30{
    padding-right: 30px !important
  }
  .deskpr50{
    padding-right: 50px !important
  }
  .deskpt50{
    padding-top: 50px !important
  }
  .mobmenu{
    display: none !important;
  }
  .mapdivider{
    display: none;
  }
    .back_to_schools{
      z-index: 3000;
      left: 22%;
      cursor: pointer;
      background-color: #f1f1f1;
    }
    .mapf{
      margin: 0 10px;
    }
    .map_distance{
      padding: 14px 0 14px 28px !important;
    }
    .school_landing{
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1000;
      display: none;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #CCE2FF;
      box-shadow: 0 0px 7px lightgrey;
      margin-top: 0 !important;
      overflow-y: hidden;
    }
    .school_name_big{
      font-size: 22px;
    }
    .school_phone_landing{
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .linesmall{
      display: none;
    }
    .organization__info-top-part {
      display: flex;
      flex-wrap: wrap;
      padding: 35px 0 0 0;
      height: 100%;
      width: 100%;
    }
    .organization__info-left-part {
      display: flex;
      margin-left: 35px;
    }
    .organization__info-right-part {
      width: 100%;
      text-align: right;
    }
    .schoolLanding__container {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 2rem;
      position: relative;
    }
    .schoolLanding__content-headerLeft {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
    }
    .organization__info-middle-part__wrap {
      width: 100%;
      text-align: right;
      padding-right: 15px;
    }
    .schoolLanding__header-img {
      width: calc(33.333% - 6px);
      display: inline-block;
    }
    .schoolLanding__header-img:first-child {
      margin-right: 3px;
    }
    .schoolLanding__header-img:nth-child(2) {
      margin-right: 3px;
    }
    .in_mobile{
      display: none;
    }
    .organization__info-bottom-part {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: #fff;
      border-bottom-left-radius: 5px;
      margin: 0 0 0 35px;
    }
    .schoolLanding__content-services {
      padding: 15px 20px 15px 60px;
      background-color: #fff;
      border-radius: 4px;
    }
    .schoolLanding__content-services__item-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 240px;
      float: right;
    }
    .schoolLanding__content-services__item-left {
      display: flex;
      align-items: center;
      width: 70%;
    }
    .schoolLanding__content-services__item-price {
      width: 70px;
    }
    .schoolLanding__content-services__item-title {
      font-size: 15px;
      line-height: 1rem;
      color: #404040;
      width: 50%;
    }
    .schoolLanding__content-teacher {
      width: calc(20%-10px);
      display: inline-block;
    }
    .ymaps-2-1-74-map.ymaps-2-1-74-i-ua_js_yes.ymaps-2-1-74-map-bg.ymaps-2-1-74-islets_map-lang-ru{
        height: 80% !important;
    }
    .login_form{
      width: 30%;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .catland{
      padding: 30px 50px 0 50px;
    }
    .filter_title{
      width: 190px;
    }
    .newlandhead{padding: 20px 50px 10px 50px;}
    .half-w{
      width: 50%;
    }
    .half-h{
      height: 352px;
    }
    .big_pad{
      padding-left: 50px !important;
      padding-right: 50px !important;
    }
    .oveflowx_h{
      overflow-x: hidden !important;
      cursor: row-resize;
    }
    .oveflowx_a{
      cursor: col-resize;
      overflow-x: auto;
    }
    .oveflowy_h{
      overflow-y: hidden !important;
    }
    .oveflowy_a{
      overflow-y: auto;
    }
    
}
.back-w{
  background-color: #fff;
}
.schoolLanding__content-services__item-right {
  text-align: center;
}
.schoolLanding__header-wrapper{
  margin-top: -5px;display: flex;
}
@media only screen and (max-width: 991px) {  
   .cost_hint{
    position: absolute;
    z-index: 3000;
    margin-top: 10px !important;
    background-color: #4a4a4a !important;
    color: #fff;
    line-height: 15px;
    margin-left: 30px !important;  
    width: 80%;
   }  
  .mlback{
    padding-left: 25px !important;
  }  
  .land_box1{
    height: 140px;
    display: inline-block;
    width: 30% !important;
  }
  .land_box2{
    display: inline-block;
    width: 70% !important;
  }
  .landbox{
    display: flex;
  }  
  .schoolLanding__header-wrapper{
    height: 100px;
  }
  .mobpt0{
    padding-top: 0px !important
  }
  .mobpr0{
    padding-right: 0px !important
  }
  .catchmob{
    width: 1px;
  }
  .deskmenu{
    display: none !important;
  }  
  .menu-title{
    width: 200px;
  }  
  #go-back-btn-before {
    position: absolute;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 90%;
    padding: 15px 5px;
    width: 25px;
    font-size: 15px;
    z-index: 500;
    color: #5181b8;
  }
  .mobmb5{
    margin-bottom: 5px !important;
  }
  .mobpl0{
    padding-left: 0 !important;
  }
  .mobpb30{
    padding-bottom: 30 !important;
  }
    .big_pad{
      padding-left: 10px;
      padding-right: 10px;
    }
    .half-h{
      height: 382px;
    }
    .filter_title{
      width: 100%;
    }
    .mpl0{
      padding-left: 0 !important;
    }
    .mpr0{
      padding-right: 0 !important;
    }
    .half-w{
      width: 100%;
    }
    .newlandhead{padding: 20px 10px 20px 10px;}
    .catland{
      padding: 30px 0px 200px 0px;
    }

    .login_form{
      padding: 14px;
      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    #main-menu{
      height: 45px;
    }
    .ymaps-2-1-74-map.ymaps-2-1-74-i-ua_js_yes.ymaps-2-1-74-map-bg.ymaps-2-1-74-islets_map-lang-ru{
        height: 90% !important;
    }
    .ymaps-2-1-74-controls__control_toolbar{
      margin-top: 100px;
    }
    .schoolLanding__content-teacher {
      width: 50%;
      display: inline-block;      
    }
    .schoolLanding__content-services__item-left {
      display: flex;
      align-items: center;
      width: 90%;
    }
    .schoolLanding__content-services__item-right{
      width: 10%;
    }
    .schoolLanding__content-services__item-price {
      width: 30%;
    }
    .schoolLanding__content-services__item-title {
      font-size: 15px;
      line-height: 1rem;
      color: #404040;
      width: 70%;
    }
    .schoolLanding__content-services {
      padding: 15px;
      background-color: #fff;
      border-radius: 4px;
    }
    .organization__info-bottom-part {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: #fff;
      border-bottom-left-radius: 5px;
      padding: 10px 25px;
    }
    .make_zaiavka-1{
      width: 100%;
    }
    .ok_zaiavka_new{
      width: 100%;
    }
    .schoolLanding__header-img:nth-child(2) {
      display: none;
    }
    .schoolLanding__header-img {
      width: 100%;
      display: inline-block;
    }
    .organization__info-middle-part__wrap {
      width: 100%;
    }
    .schoolLanding__content-headerLeft {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .schoolLanding__container {
      padding: 0 15px;
      position: relative;
    }
    .organization__info-right-part {
      width: 100%;
    }
    .organization__info-top-part {
      display: flex;
      flex-wrap: wrap;
      padding: 25px 0 0 0;
      height: 100%;
      width: 100%;
    }
    .organization__info-left-part {
      display: flex;
      margin-left: 0;
    }
  .linesmall{
    width: 40px;height: 2px;background-color: lightgrey;margin: 0 auto 3px auto;
  }
  .mapdivider{
    height: 30px;
    padding: 10px
  }
  .back-w-m{
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    border-radius: 4px;
  }
  .back-g{
    background: #f5f5f5;
  }
  .map_search_input{
    width: calc(100% - 58.69px) !important;
  }
  .map_filter{
    border: 1px solid #fff !important;
    border-radius: 0 !important;
  }
  .school_phone_landing{
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .school_name_big{
    font-size: 22px;
    padding: 20px 0px 23px 20px;
  }
  .back_to_schools{
    position: fixed;
    z-index: 3000;
    left: 88%;
    background-color: #f1f1f1;
  }  
  .school_landing{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1005;
    display: none;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #CCE2FF;
    box-shadow: 0 0px 7px lightgrey;
    margin-top: 0px !important;
    overflow-y: scroll;
  }
  .show_url{ color: blue; }
  .map_distance{
    padding: 0 !important;
    width: 100% !important;
  }
  .map_distance_half{
    width: 50% !important;
    padding: 0 !important;
  }
  .map_distance_cont{
    padding: 0 14px !important;
  }
  .map_school_list{
    position: absolute !important;
    top: 100%;
    height: 100%;
    z-index: 1000;
    display: none !important;
    background-color: #f5f5f5;
    padding-top: 0 !important;
  }
  .school_name{
    font-size: 22px;
  }
  .map_map{
    width: 100%;
    padding: 0 !important;
  }
  .map_filters_block{
    position: absolute !important;
    z-index: 1000;
    padding-bottom: 2px;
  }
}

.filter-element {
  position: relative;
  display: inline-block;
  width: 100%;
}
.filter-title {
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 0 2px 7px !important;
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  line-height: 25px;
}
.filter-title-s {
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  line-height: 25px;
}
.filter-list {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style-type: none;
  z-index: 1;
}
.filter-list-n {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style-type: none;
  z-index: 1;
}
.filter-item-s {
  padding: 5px;
  cursor: pointer;
}
.filter-item-s:hover {
  background-color: #ccc;
}
.filter-item-s2 {
  padding: 5px 0 5px 17px;
  cursor: pointer;
}
.filter-item-s2:hover {
  background-color: rgba(34, 36, 38, 0.15);
}
.show-icon {
  opacity: 1 !important;
}
