<div class="pl10 pr10 pt10 pb10 comment help_right_top no_radius_tr ui segment my_comment manager_message_cont">
    <div class="content">
        <a class="author message_author"></a>
        <div class="metadata">
            <span class="date message_date"></span>
            <span class="date message_method"></span>
        </div>
        <div class="text message_text">
        </div>
    </div>
</div>
<div class="new_message pt5 pb5 text-center">
    <div style="border-radius: 16px;padding: 0 22px;">1 НЕПРОЧИТАННОЕ СООБЩЕНИЕ</div>
</div>
<div class="client_message_cont pl10 pr10 pt10 pb10 comment help_left_top no_radius_tl ui segment" style="width: 80%;">
    <div class="content">
        <a class="author message_author"></a>
        <div class="metadata">
            <span class="date message_date"></span>
            <span class="date message_method">
            </span>
        </div>
        <div class="text message_text">
        </div>
    </div>
</div>
