<div class="ui tiny modal" id="confirm_delete-modal">
    <i class="close icon"></i>
    <div class="header text-center">
        Подтверждение удаления
    </div>
    <div class="content">
        <div class="ui container">
            <div class="ui icon message">
                <i class="exclamation triangle icon red"></i>
                <div class="content" style="margin-top:0;">
                    <h4>
                        Уверены, что хотите удалить?
                        <br>
                        Удаленные уроки невозможно будет восстановить.
                    </h4>
                    <a class='ui button green tiny'>Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
</div>
