{% load static %}
<div style="display: none;">
    <span class="hint_text1">
        Чтобы создать карточку нового студента, нажмите на кнопку <b style="color: yellow;">Заявка</b> или <b style="color: yellow;">Добавить</b> и заполните <b>"Имя"</b> и <b>"Номер телефона"</b>
    </span>
    <span class="hint_text2">
        Чтобы добавить или редактировать данные студента нажмите на карточку 
    </span>
    <span class="hint_text3">
        Нажмите на надпись, чтобы перейти на <b style="color: yellow;">лэндинг</b> страницу Вашей организации и посмотреть как видит её посетители нашего сайта
    </span>
    <span class="hint_text4">
        Нажмите на любой <b style="color: yellow;">Предмет</b>, чтобы изменить название или удалить предмет
    </span>
    <span class="hint_text5">
        Нажмите на свой <b style="color: yellow;">офис</b>, чтобы добавить кабинет или удалить его
    </span>
    <span class="hint_text6">
        Давайте создадим первого студента и запишем его в группу
    </span>
</div>
<script type="text/javascript">
    $('.next_hint').click(function(e){
        current_hint = parseInt($('.data').attr('hint'));
        if (true) {}
    })
</script>