<div class="ui modal small discount_instructions">
    <i class="icon close"></i>
    <div class="content pb50">
        <div class="textbold textdg text-center text17">
            Выполните 5 заданий и получите <span class="text21 textgreen">10% скидку</span>
        </div>
        <div class="mt15 dflex textblue textbold deskpl50 deskpr50">
            <i style="margin-top: -3px" class="icon check square textgreen text21 mr5"></i>
            <div>Создайте 1 курс</div>
        </div>
        <div class="mt15 dflex textblue textbold deskpl50 deskpr50">
            <i style="margin-top: -3px" class="icon check square textgreen text21 mr5"></i>
            <div>Создайте расписание 1 группы</div>
        </div>
        <div class="mt15 dflex textblue textbold deskpl50 deskpr50">
            <i style="margin-top: -3px" class="icon exclamation triangle text15 mr10"></i>
            <div>Запишите 5 студентов в группы</div>
        </div>
        <div class="pb15"></div>
    </div>
</div>