<div class="ui modal" id="forget_password-modal" style="min-height: 250px;">
    <i class="close icon"></i>
    <div class="content">
        <form method='POST' action='update_pswd' enctype='multipart/form-data' CLASS="ui form login_form">{% csrf_token %}
            <b>Введите ваш email и мы отправим вам ссылку для восстановления пароля</b>
            <input class="update_pswd_mail" name="update_pswd_mail" placeholder="Введите ваш email" style="margin-bottom: 15px;margin-top: 10px;">
            <div style="text-align: center;">
                <input class="ui button green update_pswd-btn full-w" value="Восстановить пароль" type="submit" onclick="return false">
                <div class="loading" style="display: none;">
                    <div class="animation"><div class="circle one"></div></div>
                    <div class="animation"><div class="circle two"></div></div>
                    <div class="animation"><div class="circle three"></div></div>
                    <div class="animation"><div class="circle four"></div></div>
                    <div class="animation"><div class="circle five"></div></div>
                    <div class="animation"><div class="circle six"></div></div>
                </div>
                <br><br>
                <div class="highlight ok_update_pswd">Письмо со ссылкой отправлено, проверьте почту</div>
                <div class="highlight_red wrong_mail_update_pswd">Не удалось отправить письмо, мы скоро свяжемся с Вами</div>
            </div>
        </form>
    </div>
</div>
