{% load static %}
<div class="get_full_version_modal ui modal hint_box1 br15 mobmt50">
    <i class="close icon"></i>
    <div class="content no_padding br15 backwhite">
        <div class="ui grid stackable no_margin br15 backrbblue">
            <div class="eight wide column pt50 mobbottombr5 deskrightbr15">
                <div class="text21 text-center textbold mb15 textblue">
                    Полная версия системы bilimtap.kz
                </div>
                <div class="text17 mb15 text-center">
                    Станьте ещё более эффективными!
                </div>
                <div class="text-center">
                    <a url="{% url 'schools:connect_full_version' %}" class="connect_full_version textbold ui button green shadow_green pl30 pr30 next_hint">Подключить</a>
                </div>
                <div class="text14 mt50 text-center textdg">
                    Бесплатный доступ действует в течении 30 дней 
                </div>                
            </div>
            <div class="no_padding_side backwhite eight wide column mobtopbr5 deskrightbr15 pt20 pb30">
                <div class="pl15 pr15 mb5 textbold text17 textblue">В полной версии также есть:</div>
                <div class="textblue text15">
                    <div class="pl15 pr15 pt5 pb5">Воронка продаж</div>
                    <div class="pl15 pr15 pt5 pb5 backwhitelow">Отчёты для бухгалтерии</div>
                    <div class="pl15 pr15 pt5 pb5">Анализ лучших курсов</div>
                    <div class="pl15 pr15 pt5 pb5 backwhitelow">Интеграции с сервисами Email, SMS, Whatsapp рассылок</div>
                    <div class="pl15 pr15 pt5 pb5">Отчёты по работе администратора</div>
                    <div class="pl15 pr15 pt5 pb5 backwhitelow">Хранилище онлайн документов до 1 ГБ</div>
                    <div class="pl15 pr15 pt5 pb5">Интеграция с Вашим сайтом</div>
                </div>
            </div>
        </div>
    </div>
</div>
