<div class="ui mini modal" id="login-modal">
    <i class="close icon"></i>
    <div class="header text-center" style="color: #fff;background-color: #506ca9;">
        Вход
    </div>
    <div class="content">
        <form method='POST' action='' enctype='multipart/form-data' CLASS="ui form">{% csrf_token %}
            <div class="wrong_login highlight_red" style="display: none;">Неверный логин или пароль</div>
            <input class="username" name="username" placeholder="Номер телефона">
            <input class="password" type="password" name="password" placeholder="Пароль">
            <div style="text-align: center;">
                <a class="ui button blue login-btn" style="margin-right: 15px;">Войти</a>
            </div>
        </form>
    </div>
</div>

