<div class="ui tiny modal" id="no-access-modal">
    <i class="close icon"></i>
    <div class="header text-center">
        This page only for registrated users
    </div>
    <div class="image content">
        <i class="ban icon"></i>
        <div class="description">
            To see this page you have to registrate on our site <i class="smile outline icon"></i>
        </div>
    </div>
    <div class="actions">
        <a class="ui button green" onclick="$('#login-modal').modal('show')">Login</a>
        <a class="ui button green" onclick="$('#registration-modal').modal('show')">Registration</a>
    </div>
</div>