<div class="ui modal" id="registration-modal">
    <i class="close icon"></i>
    <div class="header text-center">
        Выберите группу
    </div>
    <div class="content">
          <div class="ui grid">
            <div class="eight wide column">
              <div class="ui floating dropdown labeled icon" >
                <h4><input style="width: 300px;" type='submit' class='ui button submit' id='predmet' value='Предмет:'></h4> 
                  <div class="menu" style="margin-top: 0 !important; width: 300px;">
                    <div class="scrolling menu">
                      {% for subject in subjects %}
                        <a class="subject-btn item" style="cursor: pointer;" name="{{ subject }}" data-href='{{ main_page.subject_api_url }}'>
                          {{ subject }}
                        </a>
                      {% endfor %}
                    </div>
                  </div>
              </div>    
              <br>
            </div>
          </div>  
          <br><br>
          <div style="background-color: #fff;">
              <table class="ui celled table text-center">
                  <thead>
                  <tr>
                      <th> </th>
                      <th>Понедельник</th>
                      <th>Вторник</th>
                      <th>Среда</th>
                      <th>Четверг</th>
                      <th>Пятница</th>
                      <th>Суббота</th>
                      <th>Воскресенье</th>
                  </tr>
                  </thead>
                  <tbody>    
                      {% for line2 in timetable2 %}
                      <tr>
                        <td>
                          {% if forloop.counter == 1 %}
                            <p>8-10</p>
                          {% elif forloop.counter == 2 %}
                            <p>10-12</p>
                          {% elif forloop.counter == 3 %}
                            <p>15-17</p>
                          {% elif forloop.counter == 4 %}
                            <p>17-19</p> 
                          {% endif %}
                        </td>
                        {% for time2 in line2 %}
                          {% if time2.0.0.title == 'F' %}
                            <td ></td>
                            {% else %}
                            <td >
                              {% for group in time2.0 %}
                              <a href="{{ group.get_absolute_url }}" city='city{{ group.city }}' filial='filial{{ group.filial }}' id='subject{{ group.subject }}'>
                                <div style="background-color: #58ACFA; color: white;">
                                {{ group.title }}
                                <br>
                                {{ group.author_profile.user }}
                                <br>
                                {{ group.followers_number }} из 7
                                </div>
                              </a><br>
                              {% endfor %}
                            </td>
                            {% endif %}
                          <input class="{{ time.1 }}" type='hidden' name="ok" value='{{ time.1 }}'>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
    </div>
</div>