<form class="ui form no_margin">
    <div class="ui grid stackable no_margin schedule_filters" url="{{ instance.crm_option_url }}">
<!--         <div class="four wide column pr0 pl0">
            Предмет:
            <select onchange="crm_option_change('filter_subject_category')" class="crm_option" option="subject" id="filter_subject_category">
                {% if profile.filter_data.subject_category %}
                    <option value="{{ profile.filter_data.subject_category.id }}">{{ profile.filter_data.subject_category.title }}</option>
                {% else %}
                    <option value="-1">Все предметы</option>
                {% endif %}
                {% for subject in subject_categories %}
                    {% if subject != profile.filter_data.subject_category %}
                    <option value="{{ subject.id }}">{{ subject.title }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.subject_category %}
                    <option value="-1">Все предметы</option>
                {% endif %}
            </select>
        </div>
 -->        <div class="four wide column pl0 pr10">
            Курс:
            <select onchange="crm_option_change('filter_subject')" class="crm_option" option="filter_subject" id="filter_subject">
                {% if profile.filter_data.subject %}
                    <option value="{{ profile.filter_data.subject.first.id }}">{{ profile.filter_data.subject.title }}</option>
                {% else %}
                    <option value="-1">Все курсы</option>
                {% endif %}
                {% for course in courses %}
                    {% if course != profile.filter_data.subject %}
                    <option value="{{ course.id }}">{{ course.title }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.subject %}
                    <option value="-1">Все курсы</option>
                {% endif %}
            </select>
        </div>
        <div class="four wide column pl0 pr10">
            Учитель:
            <select onchange="crm_option_change('crm_teacher')"  class="crm_option" option="teacher" id="crm_teacher">
                {% if profile.filter_data.teacher %}
                    <option value="{{ profile.filter_data.teacher.id }}">{{ profile.filter_data.teacher.first_name }}</option>
                {% else %}
                    <option value="-1">Все учителя</option>
                {% endif %}
                {% for teacher in teachers %}
                    {% if teacher != profile.filter_data.teacher %}
                    <option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.teacher %}
                    <option value="-1">Все учителя</option>
                {% endif %}
            </select>
        </div>
        {%if is_director %}
<!--         <div class="four wide column pl0 pr10">
            Офис:
            <select onchange="crm_option_change('crm_office')" class="crm_option" option="office" id="crm_office">
                {% if profile.filter_data.office %}
                    <option value="{{ profile.filter_data.office.id }}">{{ profile.filter_data.office.title }}</option>
                {% else %}
                    <option value="-1">Все офисы</option>
                {% endif %}
                {% for office in offices %}
                    {% if office != profile.filter_data.office %}
                    <option value="{{ office.id }}">{{ office.title }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.office %}
                    <option value="-1">Все офисы</option>
                {% endif %}
            </select>
        </div>
 -->        {%endif%}
        <div class="four wide column pl0 pr0">
            Виды курсов:
            <div id="-1" class="mr5 filter-title dflexx full-w" style="height: 31px;" onclick="$('.subject_types').fadeToggle(0.1)">
                {% if profile.filter_data.subject_type == 'all' %}
                <div style="" class="textdots crnt_subj_type" value="all">
                    Все виды
                </div>
                {%elif profile.filter_data.subject_type == 'individual' %}
                <div style="" class="textdots crnt_subj_type" value="all">
                    Индивидуальные
                </div>
                {%elif profile.filter_data.subject_type == 'regular' %}
                <div style="" class="textdots crnt_subj_type" value="regular">
                    Обычные
                </div>
                {%elif profile.filter_data.subject_type == 'online' %}
                <div style="" class="textdots crnt_subj_type" value="online">
                    Онлайн
                </div>
                {% endif %}
                <i class="icon caret down textb mr5" style="position: absolute;right: 0"></i>
            </div>
            <div class="bselect subject_types backwhite shadow_dark_low" style="display: none;position: absolute;z-index: 3000;width: calc(100% - 15px);">
                {% if profile.filter_data.subject_type != 'all' %}                
                <a onclick="change_bselect($(this), '.crnt_subj_type', '.subject_types');crm_option_change('subject_type');" value="all" class="filtsch_subject_type full-w ui button small textblue text-left white pt10 pl5 pr5 pb10">
                    Все виды
                </a>
                {%endif%}
                {% if profile.filter_data.subject_type != 'individual' %}                
                <a onclick="change_bselect($(this), '.crnt_subj_type', '.subject_types');crm_option_change('subject_type');" value="individual" class="filtsch_subject_type full-w ui button small textblue text-left white pt10 pl5 pr5 pb10">
                    Индивидуальные
                </a>
                {%endif%}
                {% if profile.filter_data.subject_type != 'regular' %}                                
                <a onclick="change_bselect($(this), '.crnt_subj_type', '.subject_types');crm_option_change('subject_type');" value="regular" class="filtsch_subject_type full-w ui button small textblue text-left white pt10 pl5 pr5 pb10">
                    Обычные
                </a>
                {%endif%}
                {% if profile.filter_data.subject_type != 'online' %}                                
                <a onclick="change_bselect($(this), '.crnt_subj_type', '.subject_types');crm_option_change('subject_type');" value="online" class="filtsch_subject_type full-w ui button small textblue text-left white pt10 pl5 pr5 pb10">
                    Онлайн
                </a>
                {%endif%}
            </div>                        
        </div>        
    </div>
</form>
<div style="display: none;">
    <a onclick="change_bselect($(this), '.crnt_subj_type', '.subject_types');crm_option_change('subject_type')" class="bselect_orig filtsch_subject_type full-w ui button small textblue text-left white pt10 pl5 pr5 pb10"></a>
</div>
<script type="text/javascript">
    {% include 'modals/bselect_fill.html' %}
</script>