<form class="ui form no_margin">
    <div class="ui grid stackable no_margin">
        <div class="twenty wide column pr0 pl0">
            Предмет:
            <select onchange="crm_option_change('filter_subject_category')" class="crm_option" option="subject" id="filter_subject_category" url="{{ instance.crm_option_url }}">
                {% if profile.filter_data.subject_category %}
                    <option value="{{ profile.filter_data.subject_category.id }}">{{ profile.filter_data.subject_category.title }}</option>
                {% else %}
                    <option value="-1">Все предметы</option>
                {% endif %}
                {% for subject in subject_categories %}
                    {% if subject != profile.filter_data.subject_category %}
                    <option value="{{ subject.id }}">{{ subject.title }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.subject_category %}
                    <option value="-1">Все предметы</option>
                {% endif %}
            </select>
        </div>
        <div class="twenty wide column pr0">
            Курс:
            <select onchange="crm_option_change('filter_subject')" class="crm_option" option="filter_subject" id="filter_subject" url="{{ instance.crm_option_url }}">
                {% if profile.filter_data.subject %}
                    <option value="{{ profile.filter_data.subject.first.id }}">{{ profile.filter_data.subject.title }}</option>
                {% else %}
                    <option value="-1">Все курсы</option>
                {% endif %}
                {% for course in courses %}
                    {% if course != profile.filter_data.subject %}
                    <option value="{{ course.id }}">{{ course.title }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.subject %}
                    <option value="-1">Все курсы</option>
                {% endif %}
            </select>
        </div>
        <div class="twenty wide column pr0">
            Учитель:
            <select onchange="crm_option_change('crm_teacher')"  class="crm_option" option="teacher" id="crm_teacher" url="{{ instance.crm_option_url }}">
                {% if profile.filter_data.teacher %}
                    <option value="{{ profile.filter_data.teacher.id }}">{{ profile.filter_data.teacher.first_name }}</option>
                {% else %}
                    <option value="-1">Все учителя</option>
                {% endif %}
                {% for teacher in teachers %}
                    {% if teacher != profile.filter_data.teacher %}
                    <option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.teacher %}
                    <option value="-1">Все учителя</option>
                {% endif %}
            </select>
        </div>
        {%if is_director %}                    
        <div class="twenty wide column pr0">
            Офис:
            <select onchange="crm_option_change('crm_office')" class="crm_option" option="office" id="crm_office" url="{{ instance.crm_option_url }}">
                {% if profile.filter_data.office %}
                    <option value="{{ profile.filter_data.office.id }}">{{ profile.filter_data.office.title }}</option>
                {% else %}
                    <option value="-1">Все офисы</option>
                {% endif %}
                {% for office in offices %}
                    {% if office != profile.filter_data.office %}
                    <option value="{{ office.id }}">{{ office.title }}</option>
                    {% endif %}
                {% endfor %}
                {% if profile.filter_data.office %}
                    <option value="-1">Все офисы</option>
                {% endif %}
            </select>
        </div>
        {%endif%}
    </div>
</form>
