<div class="four wide column pt0 pr0 pb15 school_box_orig">
    <div class="br5 ui segment shadow_grey full-w no_padding">
        <a href="{{school.landing}}" class="backwhite full-w landbox br5">
            <div class="land_box1 topbr5 text-center">
            </div>
            <div class="land_box2 pl15 pr15 pb15 pt15">
                <div style="height: 98px;">
                    <div class="text17"><b class="school_box_title">{{school.title}}</b></div>
                    <div class="mt5" style="line-height: 15px;">
                        <span class="school_box_address" style="color: #646464;">{{school.school_offices.first.address}}</span>
                        <br>
                        <span class="school_box_slogan">{{school.slogan}}</span>
                    </div>
                </div>
                <div class="mt10" style="color: #646464;">
                    <span style="color: #D4C14A;">
                        <b class="school_box_rating">{{school.rating}}</b>   
                    </span>
                    <div class="dinline rating_stars"></div>
                </div>
            </div>
        </a>
    </div>
</div>
<div style="display: none;">
    <i class="icon star filled_star" style="color: #D4C14A;margin-right: -3px;"></i>
    <i class="icon star empty_star" style="margin-right: -3px;"></i>    
</div>