function show_payment_history(id){
    url = $('.data').attr('payment_history')
    $.ajax({
        url: url,
        data: {
            'id':id,
        },
        dataType: 'json',
        success: function (data) {
            $('.payment_history').modal('show')
            $('.fill_payment_history').empty()
            $('.payment_student_name').text(data.student_name)
            for (var i = 0; i < data.res.length; i++) {
                if (data.res[i][5]) {
                    cancel = '<td class=""><a class="ui button mini white border1 shadow_small ml10 textred pt5 pb5" onclick="delete_payment('+data.res[i][6]+')">Отменить оплату</a></td>'
                }
                else{
                    cancel = '<td class=""></td>'                        
                }
                odd = ''
                if (i % 2 == 0) {odd='class="backwhitelow"'}
                squad_color = 'rgb(49, 58, 87);'
                if (data.res[i][7].length > 0) {squad_color=data.res[i][7]}
                $('<tr '+odd+'> <td class="text13 pt10 pb10 pl15 pr15 payment_timestamp">'+data.res[i][0]+'</td> <td class="pt10 pb10 pl15 pr15 payment_amount">'+data.res[i][1]+'</td> <td class="payment_squad"><div class="textw br5 pt5 pb5 pl15 pr15 text13 textbold" style="background-color:'+squad_color+'">'+data.res[i][2]+'</div></td> <td class="pt10 pb10 pl15 pr15"><a class="payment_manager" href="'+data.res[i][3]+'">'+data.res[i][4]+'</a></td>'+cancel+' </tr>').appendTo('.fill_payment_history')
            }
        }
    })        
};
