{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

{% block head_extra %}
{{ form.media }}
{{ comment_form.media }}


{% endblock head_extra %}
<div id="profile">
  <div class="ui container">
    <div class="ui stackable grid">
      {% include 'left_menu.html' %}
      <div class="twelve wide column">
        <div class="kanban">
          <div id="kanban-modal" class="ui modal">
            <div class="kanban-modal">
              <div class="kanban-modal-left">
                <i class="icon sticky note"></i>
                <h3 class="kanban-modal-title">Задача</h3>
                <p class="kanban-modal-subtitle">в колонке
                  <span style="cursor: pointer;text-decoration: underline;">Task01</span>
                </p>
                <div class="kanban-modal-desc__block">
                  <i class="icon align left"></i>
                  <h3 class="kanban-modal-title">Описание</h3>
                  <div class="kanban-modal-desc">Добавить более подробное описание...</div>
                  <div class="kanban-modal-desc__text-block kanban-modal-desc-hidden">
                    <textarea class="kanban-modal-desc__text" rows="2"></textarea>
                    <div class="kanban-modal-desc__nav">
                      <button class="kanban-modal-desc__text-block-btn">Сохранить</button>
                      <i class="icon close kanban-modal-desc__text-block-btn__close"></i>
                    </div>
                  </div>
                </div>
                <div class="kanban-modal-comment__block">
                  <i class="icon comment outline"></i>
                  <h3 class="kanban-modal-title">Добавить комментарий</h3>
                </div>
              </div>
              <div class="kanban-modal-right">
                <i class="icon close kanban-modal-icon-close"></i>
                <div class="kanban-modal-features">
                  <h3 class="">Добавить на карточку</h3>
                  <ul class="kanban-modal-features__list">
                    <li class="kanban-modal-features__item"><i class="icon calendar check outline"></i>Чек лист</li>
                    <li class="kanban-modal-features__item"><i class="icon tag"></i>Метки</li>
                    <li id="kanban-modal-features__item-clock" class="kanban-modal-features__item"><i class="icon clock outline"></i>Срок</li>
                    <li class="kanban-modal-features__item"><i class="icon paperclip"></i>Вложения</li>
                    <div class="kanban-modal-features__modal">
                      <input class="kanban-modal-features__modal-input" placeholder="Введите дату и время" type="text">
                      <button class="kanban-modal-features__modal-btn">Сохранить</button>
                      <button class="kanban-modal-features__modal-btn red">Убрать</button>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="kanban-column">
            <div class="kanban-column-item">
              <h5>Task01</h5>
              <div class="kanban-column-task" draggable="true">One</div>
              <div class="kanban-column-task" draggable="true">Two</div>
            </div>
            <div class="kanban-column-item__add kanban-column-add-item__hidden">
              <a class="kanban-column-item-add__open">+ Добавьте еще одну карточку</a>
              <input placeholder="Ввести заголовок для этой карточки" type="text">
              <button>Добавить карточку</button>
              <i class="icon close icon"></i>
            </div>
          </div>
          <div class="kanban-column">
            <div class="kanban-column-item">
              <h5>Task02</h5>
              <div class="kanban-column-task" draggable="true">Three</div>
              <div class="kanban-column-task" draggable="true">Four</div>
            </div>
            <div class="kanban-column-item__add kanban-column-add-item__hidden"><a
                class="kanban-column-item-add__open">+ Добавьте
                еще одну карточку</a><input placeholder="Ввести заголовок для этой карточки"
                type="text"><button>Добавить
                карточку</button><i class="icon close icon"></i></div>
          </div>
          <div class="kanban-column">
            <div class="kanban-column-add kanban-column-add__hidden">
              <a class="kanban-column-add__open">+ Добавьте еще одну колонку</a>
              <input placeholder="Введите заголовок списка" type="text">
              <button>Добавить список</button>
              <i class="icon close icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}