<script type="text/javascript">
    {% include 'modals/show_payment_history.html' %}
    fill_filters()
    function fill_filters(){
        filter_payment_select = $('#filter_payment')
        filter_payment_val = filter_payment_select.attr('now')
        if (filter_payment_val == 'all') {
            $('<option value="all">Показать всех</option>').appendTo(filter_payment_select)
            $('<option value="paid">Уже оплатили</option>').appendTo(filter_payment_select)
            $('<option value="not_paid">Ещё не оплатили</option>').appendTo(filter_payment_select)
        }
        else if (filter_payment_val == 'paid') {
            $('<option value="paid">Уже оплатили</option>').appendTo(filter_payment_select)            
            $('<option value="all">Показать всех</option>').appendTo(filter_payment_select)            
            $('<option value="not_paid">Ещё не оплатили</option>').appendTo(filter_payment_select)            
        }
        else if (filter_payment_val == 'not_paid') {
            $('<option value="not_paid">Ещё не оплатили</option>').appendTo(filter_payment_select)            
            $('<option value="all">Показать всех</option>').appendTo(filter_payment_select)            
            $('<option value="paid">Уже оплатили</option>').appendTo(filter_payment_select)            
        }
    }
    get_payment_list(1)
    function show_payment_calendar(group_title, student_name, group_id, student_id, getday){
        $('#calendar').empty()
        var calendar = new Calendar('#calendar', []);
        $('.payment_schedule_student_name').text(student_name)
        $('.payment_schedule_group_title').text(group_title)
        $('.payment_schedule_student_name').attr('id', student_id)
        $('.payment_schedule_group_title').attr('id', group_id)
        $('.payment_schedule').show();
        get_attendance_calendar(group_id, student_id, getday)
    }
    function move_calendar(direction){
        squad = $('.payment_schedule_group_title').attr('id')
        student = $('.payment_schedule_student_name').attr('id')
        getday = $('#calendar').attr('getday')
        getday = move_date(getday, direction)
        setTimeout(aaa, 500);
    }
    function aaa(){
        get_attendance_calendar(squad, student, getday)
    }
    function move_date(date, direction){
        year = getday[0]+getday[1]+getday[2]+getday[3]
        month = getday[5] + getday[6]
        if (direction == 'next') {
            if (month == '12') {
                month = '01'
                year = parseInt(year) + 1
            }
            else{
                month = parseInt(month) + 1
                if (month < 10) {
                    month = '0' + month
                }
            }
        }
        else{
            if (month == '01') {
                month = '12'
                year = parseInt(year) - 1
            }
            else{
                month = parseInt(month) - 1
                if (month < 10) {
                    month = '0' + month
                }
            }            
        }  
        return year + '-' + month + '-01'      
    }
    function get_attendance_calendar(squad, student, getday){
        days = $('.pmnt_sq'+squad+'st'+student).find('.show_payment_calendar').attr('days')
        $('#calendar').attr('getday', getday)
        crnt_month = getday[5]+getday[6]
        getday = getday.replace('-','z').replace('-','z')
        today = $('.data').attr('today')
        $("[date="+today+"]").find('.day-number').addClass('textyellow')
        if ($('.get_attendance_loader').attr('status') == 'ok') {
            $('.get_attendance_loader').attr('status', 'wait')
            $('.get_attendance_loader').show();
            $('.day-icon').empty()
            fill_payment_calendar(days);
            $.ajax({
                url: "{%url 'schools:get_attendance_calendar'%}",
                data: {
                    'squad':squad,
                    'student':student,
                    'getday':getday,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.ok) {
                        $('.subject_reports').empty()
                        $("<div>Посещаемость за "+$('.headerr').text()+"</div>").appendTo('.subject_reports')
                        for (var i = 0; i < data.res.length; i++) {
                            subject = data.res[i]
                            title = subject[0]
                            att = subject[1]
                            present_count = 0
                            warned_count = 0
                            absent_count = 0
                            for (var j = 0; j < att.length; j++) {
                                present = $('.cp_present').clone()
                                present.removeClass('cp_present')
                                warned = $('.cp_warned').clone()
                                warned.removeClass('cp_warned')
                                absent = $('.cp_absent').clone()
                                absent.removeClass('cp_absent')
                                date = att[j][0]
                                temp_month = date[5]+date[6]
                                cell = $("[date="+date+"]").find('.day-icon')
                                att_present = att[j][1]
                                if (att_present == '' || att_present == 'absent') {
                                    $(absent).appendTo(cell)
                                    if (crnt_month == temp_month) {
                                        absent_count += 1
                                    }
                                }
                                else if (att_present == 'present') {
                                    $(present).appendTo(cell)
                                    if (crnt_month == temp_month) {
                                        present_count += 1
                                    }
                                }
                                else{
                                    $(warned).appendTo(cell)
                                    if (crnt_month == temp_month) {
                                        warned_count += 1
                                    }
                                }
                            }
                            subject_report = $('.payment_subject_report_orig').clone()
                            subject_report.removeClass('payment_subject_report_orig')
                            subject_report.find('.payment_subject').text(title)
                            $('<div class="text13 textllg dinline pl5">Посещено: <span class="textw">'+present_count+'</span> | Пропущено: <span class="textw">'+absent_count+'</span> | Предупреждено: <span class="textw">'+warned_count+'</span></div>').appendTo(subject_report)
                            subject_report.show()
                            subject_report.appendTo('.subject_reports')
                        }
                        $('.get_attendance_loader').hide();
                    }
                    $('.get_attendance_loader').attr('status', 'ok')
                }
            })
        }
    }
    function fill_payment_calendar(days){
        $('.cday').removeClass('cday')
        days_ar = days.split(',')
        for (var i = 0; i < days_ar.length-1; i++) {
            day = days_ar[i] - 1;
            $('#calendar').find('.week').each(function(){
                $(this).find('.day').eq(day).addClass('cday')
            })
        }        
    }
    $('.payment_schedule').click(function(e){
        e.stopPropagation();
    });
    $("body").click(function(e){
        if (e.toElement.getAttribute('st') != 'shpaycal') {
            $('.payment_schedule').hide();
        }    
    })
    function catch_scroll(){
        $('.payment_schedule').hide();
        this_ = $('.payments_box')
        page = this_.attr('page')
        var div = this_.get(0);
        if ($('.scrollable').attr('scroll') =='yes' && (div.scrollTop + div.offsetHeight) >= div.scrollHeight) {
            get_payment_list(page)
        }
    }
    function get_payment_list(page){
        $('.get_payment_load').show()
        $('.scrollable').attr('scroll', 'no')
        $.ajax({
            url: "{%url 'schools:get_payment_list'%}",
            data: {
                'page':page,
            },
            dataType: 'json',
            success: function (data) {
                $('.data').attr('today', data.today)
                $('.get_payment_load').hide()
                if (data.ended) {
                    $('.scrollable').attr('scroll', 'no')
                    if (parseInt(page) > 0) {
                        $('.ended').show()
                    }
                }
                else{
                    last_one = parseInt($('.data').attr('last_one'))
                    $('.data').attr('last_one', last_one + data.res.length)
                    fill_payment_student(data, '.payments_box')
                    $('.scrollable').attr('scroll', 'yes')
                    $('.payments_box').attr('page', parseInt(page)+1)
                }
                $('.all_students_len').text(data.all_students_len)
                $('.crnt_students_len').text(data.crnt_students_len)                
            }
        })        
    }
    function fill_payment_student(data, place){
        for (var i = 0; i < data.res.length; i++) {
            student = data.res[i]
            student_id = student[0]
            name = student[1]
            student_url = student[2]
            notices = student[4]
            payment_div = $('.payment_orig').clone()
            payment_div.addClass('pmnt_st'+student_id)
            payment_div.find('.show_payment_history').attr('onclick', 'show_payment_history('+student_id+')')
            payment_div.removeClass('payment_orig')
            if (i % 2 == 1) {payment_div.addClass('backwhitelow border1')}
            payment_div.find('.student_counter').text((last_one+i) + '.')
            payment_div.find('.student_name').text(name)
            payment_div.find('.student_name').attr('href', student_url)
            payment_div.find('.red_notice').text(notices)
            if (notices > 0) {
                payment_div.find('.red_notice').attr('style', '')
            }
            groups = student[3]
            for (var j = 0; j < groups.length; j++) {
                group = groups[j]
                group_id = group[0]
                group_title = group[1]
                color_back = group[2]
                date = group[3]
                date_str = group[4]
                month_pay_notice = group[5]
                lesson_pay_notice = group[6]
                days = group[7]
                discount_res = group[8]
                sq_url = group[9]
                today = $('.data').attr('today')
                if (color_back == '') {color_back='rgb(49, 58, 87)'}
                group_div = $('.group_box').clone()
                group_div.removeClass('group_box')
                group_div.addClass('pmnt_sq'+group_id+'st'+student_id)
                group_div.find('.show_payment_calendar').attr('days', days)
                group_div.find('.show_payment_calendar').attr('onclick','show_payment_calendar("'+group_title+'","'+name+'", '+group_id+', '+student_id+', "'+today+'")')
                group_div.find('.group_name').attr('href', sq_url)
                group_div.find('.group_name').text(group_title)
                group_div.find('.group_name').attr('style', 'background-color:'+color_back)
                group_div.find('.payment_amounts').addClass('payment_amounts'+student_id+'g'+group_id)
                group_div.find('.make_payment').addClass('make_payment'+student_id+'g'+group_id)
                group_div.find('.make_payment').attr('onclick', 'make_payment('+student_id+','+group_id+')')
                group_div.find('.success_payment').addClass('success_payment'+student_id+'g'+group_id)
                group_div.find('.payment_load').addClass('payment_load'+student_id+'g'+group_id)
                group_div.find('.payday_text').addClass('payday_text'+student_id+'g'+group_id)
                group_div.find('.payday_text').text(date_str)
                group_div.find('.show_change_date').attr('onclick', '$(".block_change_pay_date").hide("fast");$("#change_date'+student_id+'g'+group_id+'").show("fast");')
                group_div.find('.block_change_pay_date').attr('id', 'change_date'+student_id+'g'+group_id)
                group_div.find('.payday_input').attr('id', 'payday_input'+student_id+'g'+group_id)
                group_div.find('.payday_input').attr('value', date)
                group_div.find('.change_pay_date').attr('onclick', 'change_pay_date('+student_id+','+group_id+')')
                group_div.find('.payday_load').addClass('payday_load'+student_id+'g'+group_id)
                group_div.find('.paydate_check').attr('id', 'paydate_check'+student_id+'g'+group_id)
                discount_name = group_div.find('.student_discount')
                if (discount_res == '') {
                    discount_name.addClass('textg')
                    discount_name.text('Скидки')
                }
                else{
                    discount_name.addClass('textbold')
                    discount_name.text(discount_res)
                }
                discount_name.parent().attr('onclick', "get_student_discounts('"+student_id+"', '"+group_id+"')")
                if (month_pay_notice) {
                    group_div.find('.group_name').removeClass('shadow_small')
                    group_div.find('.month_pay_notice').show()
                    group_div.find('.payday_text').addClass('shadow_red')
                }
                group_div.appendTo(payment_div.find('.student_groups'))
                if (lesson_pay_notice) {
                    group_div.find('.lesson_pay_notice').attr('style', 'color:blue')
                }
            }
            payment_div.appendTo(place)
        }
    }
    $('.crm_option').on('change', function(e) {
        $('.get_payment_load').show()
        $('.payment_search_res').empty()        
        $('.payments_box').empty()
        id = $(this).attr('id')
        this_ = document.getElementById(id);
        object_id = this_.options[this_.selectedIndex].value;
        url = $(this).attr('url')
        option = $(this).attr('option')
        $.ajax({
            url: url,
            data: {
                'object_id':object_id,
                'option':option,
            },
            dataType: 'json',
            success: function (data) {
                $('.data').attr('last_one', 1)
                get_payment_list(1)
            }
        });
    })    
    function make_payment(id, group_id) {
        amount = $('.payment_amounts'+id+'g'+group_id).val()
        if (amount) {
            $('.success_payment').hide()
            $('.payment_load'+id+'g'+group_id).show()
            $('.make_payment'+id+'g'+group_id).addClass('disabled')
            $.ajax({
                url: '{%url "accounts:make_payment"%}',
                data: {
                    'amount':amount,
                    'id':id,
                    'group_id':group_id                
                },
                dataType: 'json',
                success: function (data) {
                    $('.payment_amounts'+id+'g'+group_id).val('')
                    $('.success_payment'+id+'g'+group_id).show()
                    $('.payment_load'+id+'g'+group_id).hide()
                    $('.payday_text'+id+'g'+group_id).parent().addClass('newcardlight')
                    $('.make_payment'+id+'g'+group_id).removeClass('disabled')
                }
            })        
        }
    };
    function delete_payment(id){
        url = $('.instance_data').attr('delete_payment')        
        $('.delete_payment_error').hide()
        $.ajax({
            url: url,
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    location.reload()
                }
                else{
                    $('.payment_delete_error').show()
                }
            }
        })
    }
    function change_pay_date(student, squad){
        load = $('.payday_load'+student+'g'+squad)
        load.show()
        check = $('#paydate_check'+student+'g'+squad)
        paydate = $('#payday_input'+student+'g'+squad).val()
        url = $('.data').attr('payday_change_url')
        $.ajax({
            url: url,
            data: {
                'student':student,
                'squad':squad,
                'paydate':paydate,
            },
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    if (data.pay_date) {
                        load.hide()
                        check.show()
                        $('.payday_text'+student+'g'+squad).text(data.pay_date)
                        $(".block_change_pay_date").hide();                  
                    }
                    sq_div = $('.pmnt_sq'+squad+'st'+student)
                    all_div = sq_div.parent().parent().parent().parent()
                    old_notices = parseInt(all_div.find('.red_notice').text())
                    if (data.month_pay_notice == false) {
                        sq_div.find('.month_pay_notice').hide("fast")
                        sq_div.find('.shadow_red').removeClass('shadow_red')
                        if (data.wasred == true) {
                            all_div.find('.red_notice').text(old_notices - 1)
                            if (old_notices - 1 == 0) {
                                all_div.find('.red_notice').hide()
                            }
                        }
                    }
                    else {
                        sq_div.find('.month_pay_notice').show()
                        sq_div.find('.payday_text').addClass('shadow_red')
                        if (data.wasred == false) {
                            all_div.find('.red_notice').text(old_notices + 1)
                            all_div.find('.red_notice').show()
                        }
                    }
                    if (data.lesson_pay_notice) {
                        sq_div.find('.lesson_pay_notice').attr('style', 'color:blue')
                    }
                    $('.payment_notices').text(data.payment_notices)                    
                }
            }
        })
    }
    $('.search_students_payment').on('input', function () {
        $('.show_search_students').show()
        text = $(this).val()
        url = $(this).attr('url')
        $('.show_search_students').empty()
        $('.search_students_load').show()
        $.ajax({
            url: url,
            data: {
                'text':text,
            },
            dataType: 'json',
            success: function (data) {
                $('.search_students_load').hide()
                for (var i = 0; i < data.res.length; i++) {
                    student = $('.payment_search_orig').clone()
                    student.removeClass('payment_search_orig')
                    student.text(data.res[i][1])
                    student.attr('onclick','payment_show_student("'+data.res[i][0]+'", "'+data.res[i][1]+'")')
                    student.appendTo('.show_search_students')
                }
            }
        })
    })
    function payment_show_student(id, name){
        $('.search_students_payment').val(name)
        student = $('.pmnt_st'+id)
        $('.payment_search_res').empty()
        $('.payment_search_nosquad').hide()
        url = $('.data').attr('get_payment_student')
        if (student.length > 0) {
            div = student.clone()
            div.removeClass('pmnt_st'+id)
            div.appendTo('.payment_search_res')
            number = parseInt(div.find('.student_counter').text())
            if (number % 2 == 1) {
                $('.payment_search_res').addClass('backwhite')
            }
            else{
                $('.payment_search_res').removeClass('backwhite')
            }
        }
        else{
            $.ajax({
                url: url,
                data: {
                    'id':id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.ok) {
                        if (data.nosquad) {
                            $('.payment_search_nosquad').show()
                        }
                        else{
                            fill_payment_student(data, '.payment_search_res')
                            $('.payment_search_res').find('.student_counter').text(data.number)
                            number = data.number
                        }
                    }
                }
            })
        }
    }
</script>
