{% load static %}
<script type="text/javascript">
    function save_drag_id(id){
        $('.data').attr('drag_file_id', id)
    }
    async function save_post(){
        await replace_images()
        save_post_work()
    }
    async function replace_images(){
        $('.post_for_save').html($('.post_content').html())
        $('.post_for_save').find('.post_file_new').each(function(){
            this_ = $(this)
            $('<div>new_file_place'+this_.attr('id')+'</div>').insertBefore(this_)
            this_.remove()
        })
    }
    async function save_post_work(){
        this_ = $('.save_post')
        this_.addClass('disabled')
        id = $('.data').attr('id')
        content = $('.post_for_save').html()
        console.log(content)
        $('.create_post_loader').show()
        $('.newpost_saved').hide()
        url = this_.attr('url')
        texts = []
        cnt = 0
        len = content.length
        if (len % 500 == 0) {len -= 1}
        while(cnt <= parseInt(len/500)){
            cnt += 1
            ptext = content.substr(0, 500)
            texts.push(ptext)
            content = content.substr(500)
        }
        if (texts.length == 0) {texts = ['']}
        sendTexts(0, texts, id, url)
    }
    function sendImages(id, url){
        old_files = []
        $('.file_alr').each(function(){
            old_files.push(parseInt($(this).attr('id')))
        })
        priority = $('.newpost_priority').val()
        add_data = '?id='+id+'&is_images='+'1&priority='+priority+'&old_files='+old_files
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        $('.post_input').each(function() {
            file = $('#'+$(this).attr('id'))[0].files[0]
            formData.append($(this).attr('order'), file); 
        })
        $.ajax({
            url: url+add_data,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (is_last == 'yes' && data.update) {
                    window.location.replace(data.url);
                }
                saved_true()
            }
        })
    }
    function sendTexts(i, texts, id, url){
        console.log('send', i)
        text = texts[i]
        if (i == texts.length - 1) {is_last = 'yes'}else{is_last = 'no'}
        if(i == 0){is_first = 'yes'}else{is_first='no'}
        newdata = {
            'id':id,
            'first':is_first,
            'last':is_last,
            'text':text,
            'is_images':'0',
        }
        if (i == 0) {
            newdata['title'] = $('.newpost_title').val()
        }
        $.ajax({
            url: url,
            data: newdata,
            dataType: 'json',
            success: function (data) {
                if (is_last == 'yes'){
                    sendImages(id, url)
                }
                else if (i < texts.length - 1) {
                    i += 1
                    sendTexts(i, texts, id, url)
                }
            }
        })
    }
    function saved_true(){
        $('.create_post_loader').hide()
        $('.newpost_saved').show()
    }
    function saved_false(){
        $('.create_post_loader').hide()
        $('.newpost_saved').hide()
        $('.save_post').removeClass('disabled')
    }
    $('.post_content').keydown(function(e) {
        if (e.keyCode === 13) {
            document.execCommand('insertHTML', false, '<br><br>');
            return false;
        }
        saved_false()
    });
    $('.post_content').focus()
    function drag_show_box(id){
        $('#'+id).addClass('ui segment shadow')
    }
    function drag_hide_box(id){
        $('#'+id).removeClass('ui segment shadow')
    }
    $('.post_content').on("drop", function(event) {
        drop_file()
        saved_false()
    })
    function drop_file(){
        position = window.getSelection().anchorOffset
        id = parseInt($('.data').attr('drag_file_id'))
        setTimeout(function() {
            file = $('.post_file'+id).first()
            if (id < 0) {
                post_input = $('.postfile').clone()
                post_input.appendTo('.input_box')
                post_input.removeClass('postfile')
                post_input.addClass('post_input')
                post_input.attr('style', 'display:none')
                post_input.attr('id', 'post_input'+id)
                post_input.attr('order', id)
                file.removeClass('new_image')
                file.addClass('post_file'+id)
                file.addClass('post_file_new')
            }
            $('<br>').insertBefore(file)
            $('<br>').insertAfter(file)
            window.getSelection().removeAllRanges()
        }, 100);
    }
    $('.newpost_priority').change(function() {
        saved_false()
    })
    $('.postfile').change(function() {
        id = $(this).attr('part_id') 
        preload_image(this, id);
        $('.file_hint').show()
    })
    function preload_image(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                if (e.target.result.indexOf("image") >= 0){
                    $('.dragarea').show()
                    $('.new_image').attr('src', e.target.result);
                    number = parseInt($('.data').attr('crnt_file_number'))
                    $('.new_image').removeClass('post_file' + (number+1))
                    $('.new_image').addClass('post_file post_file' + number)
                    $('.new_image').attr('id', number)
                    $('.data').attr('crnt_file_number', number-1)
                    $('.new_image').attr('ondragstart', 'save_drag_id('+number+')')
                }
                else{
                    $('.pred_part_img'+id).attr('src', "");
                    $('.pred_part_file'+id).show()
                }
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
    var rangeM = 79
    function saveSelection() {
        if (window.getSelection) {
            sel = window.getSelection();
            if (sel.getRangeAt && sel.rangeCount) {
                var ranges = [];
                for (var i = 0; i < sel.rangeCount; ++i) {
                    console.log('sav', i, sel.getRangeAt(i).startOffset, sel.getRangeAt(i).endOffset)
                    ranges.push(sel.getRangeAt(i));
                    $('.data').attr('sel_start', sel.getRangeAt(i).startOffset)
                    $('.data').attr('sel_end', sel.getRangeAt(i).endOffset)
                }
                console.log('0',ranges)
                rangeM = ranges
                return ranges;
            }
        } else if (document.selection && document.selection.createRange) {
            return document.selection.createRange();
        }
        return null;
    }
    function restoreSelection() {
        console.log(rangeM)
        sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(rangeM[0]);        
    }
    function createLink() {
        restoreSelection()
        var url = $('.link_address').val()
        if (url != '' && url) {
            document.execCommand("CreateLink", false, url); 
            $('.link_address').val('')   
            $('.create_link_box').modal('hide')        
            saved_false()
        }
    }
</script>
<div class="post_for_save" style="display: none;"></div>
<div style="display: none;">
    <img src="" class="img_orig post_file" style="width: 90%; margin: 0 5%;">    
</div>
