<script type="text/javascript">
    function fillPred(post_id, part_id, init_part_id, alltext2, file_url, file_name){
        clear_pred(init_part_id)
        $('.post_add_part'+part_id).addClass('disabled')
        if (init_part_id == '-1') {
            part_edit_box = $('.part_edit_orig').clone()
            part_edit_box.removeClass('part_edit_orig')
            part_edit_box.attr('ondragstart', 'save_part_id('+part_id+')')
            part_edit_box.appendTo('.post_cont')
            part_edit_div = part_edit_box.find('.part_edit_div')
            part_edit_div.addClass('part_edit'+part_id)
            pred_part_div = $('.pred_part_orig').clone()
            pred_part_div.removeClass('pred_part_orig')
            pred_part_div.addClass('pred_part'+part_id)
            pred_part_div.appendTo('.post_box')
        }
        else{
            part_edit_div = $('.part_edit'+part_id)
            pred_part_div = $('.pred_part'+part_id)
        }
        if (text) {
            if (init_part_id == '-1') {
                text_div = $('.pred_text_orig').clone()
                text_div.removeClass('pred_text_orig')
                text_div.addClass('pred_part_content'+part_id)
                text_edit = $('.edit_text_orig').clone()
                text_edit.removeClass('edit_text_orig')
                text_edit.attr('oninput','fill_pred_text("'+part_id+'")')
                text_edit.addClass('part_content'+part_id)
                text_div.appendTo(pred_part_div)
                text_edit.appendTo(part_edit_div)
            }
            else{
                text_div = $('.pred_part_content'+part_id)
                text_edit = $('.part_content'+part_id)
            }
            text_div.html(alltext2)
            text = alltext2.replace(/<br>/g,'\n')
            text_edit.val(text)
            element = $('.part_content'+part_id)
            auto_grow(element)
        }
        if (file_url) {
            if (file_url.length > 0) {
                if (init_part_id != '-1') {
                    img = $('.pred_part_img'+part_id)
                }
                else{
                    img_edit = $('.edit_img_orig').clone()
                    img_edit.removeClass('edit_img_orig')
                    img_edit.find('.edit_img_name').text(file_name)
                    img_edit.appendTo(part_edit_div)
                    img_edit.attr('id', part_id)                        
                    img = $('.pred_img_orig').clone()
                    img.removeClass('pred_img_orig')
                    img.addClass('pred_part_img'+part_id)
                    img.appendTo(pred_part_div)
                }
                img.attr("src", file_url)
                img.load(document.URL +  '.pred_part_img'+part_id);
            }
        }
        if (init_part_id == '-1') {
            btns = $('.part_buttons_orig').clone()
            btns.removeClass('part_buttons_orig')
            addbtn = btns.find('.post_add_part')
            addbtn.attr('onclick', "post_add_part('"+part_id+"')")
            addbtn.addClass('post_add_part'+part_id)
            btns.find('.post_delete_part').attr('onclick', "post_delete_part('"+part_id+"')")
            btns.appendTo(part_edit_div)
            load_move = $('.load_move_orig').clone()
            load_move.removeClass('load_move_orig')
            load_move.find('.load_move').addClass('load_move'+part_id)
        }        
    }
    function save_part_id(id){
        $('.data').attr('crnt_part', id)
    }
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
            }
        },
        methods: {
            move_part(){
                id = $('.data').attr('crnt_part')
                $('.load_move'+id).show()
                part_edit = $('.part_edit'+id)
                new_order = part_edit.prevAll().length + 1
                console.log('moving'+new_order)
                axios.get('/news/api/post_move_part', {
                    params: {
                        'new_order': new_order,
                        'id': id,
                    }
                }).then( (res) => {
                        if(res.data.ok == false){
                            $('.move_part_error').show()
                        }
                        else{
                            $('.load_move'+id).hide()
                            pred_part = $('.pred_part'+id)
                            e = pred_part.clone()
                            pred_part.remove()
                            e.prependTo('.post_box')
                            for (var i = 0; i < new_order-1; i++) {
                                e.next().insertBefore(e);
                            }
                        }
                    });
            },
        },
    })
    function fill_pred_text(id){    
        console.log('fill_pred_text'+id)
        textarea = $('.part_content'+id)
        val = textarea.val()
        val = val.replace(/\n/g,'<br>')
        $('.pred_part_content'+id).html(val)
        height = textarea.prop('scrollHeight') - 19
        textarea.height(height)
        $('.post_add_part'+id).removeClass('disabled')
    }
    $('.clear_input_file').click(function(e) {
        id = $(this).attr('id')
        $('#part_file'+id).val('')
        $(this).hide()
        $('.pred_part_file'+id).hide()
        $('.pred_part_img'+id).hide()
    })
    $('.postfile').change(function() {
        id = $(this).attr('part_id') 
        readURL(this, id);
    })
    function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            console.log('totototo')        
            reader.onload = function(e) {
                $('.clear_input_file'+id).show()
                if (e.target.result.indexOf("image") >= 0){
                    $('.pred_part_img'+id).attr('src', e.target.result);
                    $('.pred_part_file'+id).hide()
                    $('.pred_part_img'+id).show()
                }
                else{
                    $('.pred_part_img'+id).attr('src', "");
                    $('.pred_part_file'+id).show()
                }
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
    ts = document.getElementsByTagName('textarea')
    for(var i=0; i < ts.length; i++){
        auto_grow_f(ts[i])
    }
    $('textarea').keyup(function(e) {
        if (e.keyCode == 8) {
            auto_grow($(this))
        }
        else{
            height = $(this).prop('scrollHeight') - 19
            $(this).height(height)
        }
    })
    function auto_grow(element){
        text = element.val()
        l = 16
        var count = (text.match(/\n/g) || []).length + 1;
        height = count * l
        element.height(height)
        element.height(element.prop('scrollHeight') - 17)
    }
    function auto_grow_f(element) {
        val = element.value
        val = val.replace(/<br>/g,'\n')
        element.value = val
        element.style.minHeight = element.scrollHeight+"px"            
    }
    function post_delete_part(id){
        console.log('run delete_part')
        url = $('.data').attr('delete_part')
        $.ajax({
            url: url,
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                console.log('0', data.ok)
                if (data.ok) {
                    console.log('1//')
                    $('.pred_part'+id).hide('fast')
                    $('.part_edit'+id).hide('fast')                    
                }
            }
        })
    }
    function post_add_part(init_part_id){
        init_url = $('.data').attr('save_part')
        post_id = $('.save_post').attr('id')
        title = $('.newpost_title').val()
        priority = $('.newpost_priority').val()
        slug = $('.data').attr('slug')
        $('.newpost_notitle').hide()
        if (title) {
            $('.create_post_loader'+init_part_id).show()
            $('.newpost_saved').hide()
            $('.check'+init_part_id).hide()
            alltext = $('.pred_part_content'+init_part_id).html()
            alltext2 = alltext
            console.log('length: '+alltext2.length)
            if (init_part_id == '-1') {
                $('.newpost_text').val("")
                $('.pred_text').text('')
            }
            texts = []
            cnt = 0
            len = alltext2.length
            console.log('delenie: '+len/500)
            if (len % 500 == 0) {len -= 1}
            while(cnt <= parseInt(len/500)){
                console.log('cnt', cnt)
                cnt += 1
                ptext = alltext.substr(0, 500)
                console.log('ptext', ptext)
                texts.push(ptext)
                alltext = alltext.substr(500)
            }
            if (texts.length == 0) {texts = ['']}
            part_id = init_part_id
            sendTexts(0, texts, part_id,init_part_id, post_id, title, init_url, priority, slug)
        }
        else{
            $('.newpost_notitle').show('fast')
        }
    }
    function sendTexts(i, texts, part_id, init_part_id, post_id, title, init_url, priority, slug){
        console.log('send', i)
        text = texts[i]
        add_data = '?id='+part_id+'&post_id='+post_id+'&title='+title+'&priority='+priority+'&text='+text+'&slug='+slug
        if (i == 0) {
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            if ($('#part_file'+init_part_id).length > 0) {
                file = $('#part_file'+init_part_id)[0].files[0];
                formData.append('file', file);
            }            
        }
        else{
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        }
        if (i == texts.length - 1) {is_last = 'yes'}else{is_last = 'no'}
        if(i == 0){is_first = 'yes'}else{is_first='no'}
        add_data += '&first='+is_first+'&last='+is_last
        url = init_url + add_data
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (is_last == 'yes' && init_part_id=='-1') {
                    window.location.replace(data.url);
                }
                part_id = data.part_id
                slug = data.slug
                if (i == texts.length - 1) {
                    file_url = data.file_url
                    file_name = data.file_name
                    fillPred(post_id, part_id, init_part_id, alltext2, file_url, file_name)
                }
                if (i < texts.length - 1) {
                    i += 1
                    sendTexts(i, texts, part_id,init_part_id, post_id, title, init_url,priority, slug)
                }
            }
        })
    }
    function clear_pred(id){
        $('.post_add_part'+id).addClass('disabled')
        $('.create_post_loader'+id).hide()
        $('.check'+id).show()
        $('.newpost_saved').show()
        $('.empty_post').hide()
        $('.pred_part_content'+id).html("")
        $('.pred_part_img'+id).attr('src', "");
    }
</script>
