{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{post.title}} | bilimtap.kz
{% endblock head_title %}
{% load ttags %}
{% load staticfiles %}
{% block content %}
<a id="go-back-btn-before"  href='/blog'>
    <i class="arrow left icon"></i>
</a>
<div class='ui container pb150 pt15'>
    <div class="ui grid stackable">
        {% include 'left_menu.html' %}
        <div class="w85 wide column mlback">
            <div class="ui grid stackable no_margin">
                <div class="twelve wide column no_padding">
                    <div class="ui segment shadow_small mb0">
                        <div class="mb15 textdg pt10">
                            <b style="font-size: 24px;"><i>{{post.title}}</i></b>
                            {% if post.author_profile == profile %}
                            <a class="ml5" href="{{post.get_edit_url}}">
                                <i class="icon cog"></i>
                            </a>
                            {%endif%}
                            <div class="textg text15 mt15">
                                {{post.author_profile.first_name}}
                                <span class="ml15">{{post.timestamp}}</span>
                            </div>
                        </div>
                        {% include 'news/post_detail_work.html' %}
<!--                         <div class="head_round backdarkgrey mt50 mb15">
                            <b class="text15 textdg">Комментарии</b>
                        </div>
                        <div class="textg"><b>Добавьте комментарий</b></div>
                        <form class="ui form mb0">
                            <textarea id="comment_content-1" style="height: 60px;" class="mb5" placeholder="Введите комментарий"></textarea>
                            <a parent_id="-1" onclick="post_new_comment('-1')" id="-1" class="ui button mini blue post_new_comment-1" comment_id='-1'>Отправить</a>
                        </form>                            
                        <div class="comments_box" style="min-height: 50px;">
                            {% for comment in post.comments.all %}
                                {% if comment.level == 1 %}
                                    {% include 'library/comment_details.html' %}
                                {% endif %}
                            {% endfor %}                            
                        </div>
 -->                    </div>
<!--                     <div class="ui segment mt30">
                        <div class="text-center text15 textg"><b>Рекомендованные статьи</b></div>
                        <div class="ui grid stackable no_margin">
                            {% for recpost in recposts %}
                            <div class="four wide column">
                                
                            </div>
                            {% endfor %}
                        </div>                        
                    </div>
 -->                </div>
<!--                 <div class="four wide column">
                    <div class="ui segment">
                        <div class="text-center text15 textg"><b>Тренды</b>
                        </div>
                    </div>
                </div>
 -->            </div>
        </div>
    </div>
</div>
<span class="data" post_id="{{post.id}}" post_new_comment="{% url 'news:post_new_comment' %}" post_like_object="{%url 'news:post_like_object'%}"></span>
{% endblock content %}