<!DOCTYPE html> 
<html class="all" lang="ru"> 
{% load staticfiles %}
{% load static compress %}
<head> 
    <meta charset="utf-8">
    <meta name="google-site-verification" content="G-3JdvIZH1oSADX0f2I8uRqCFAggIj06lzBKaEeYb3Y" />   
    <meta name="yandex-verification" content="f222118f15d7576b" />
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="description" content="Автоматизация продаж и бухгалтерии, контроль администраторов, интерактивное расписание, журнал посещаемости, SMS рассылки, интеграция с IP-телефонией, Instagram, Facebook">
    <meta name="keywords" content="бесплатная CRM система для учебного центра, программа учета клиентов, языковой школы, образовательного, билимтап, bilimtap, автоматизация учебного заведения, управление, расписание">
    <title>Bilimtap.kz – бесплатная CRM для учебного центра</title>
    <!-- CSS -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(55093303, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55093303" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146621937-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146621937-1');
      gtag('config', 'AW-794791496');
    </script>
    <script> 
        async function gtag_report_conversion(url) { 
            var callback = function () { 
                if (typeof(url) != 'undefined') { } 
            }; 
            gtag('event', 'conversion', { 
                'send_to': 'AW-794791496/48kyCKGctc8BEMic_voC', 
                'event_callback': callback 
            }); 
            return false; 
        } 
    </script>
    <link rel="shortcut icon" href='{% static "images/favicon.ico" %}' type="image/png">
    <link rel="canonical" href="https://www.bilimtap.kz/crm/" />
    {% compress css %}
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <link rel="stylesheet" href='{% static "css/landing.css" %}'/>
    {% endcompress %}
    <title>Bilimtap – Marketplace и CRM для учебных центров</title>
</head> 
<body data-track-group="Landing-Marquee">  
    <header class="fixed-top "> 
        <nav class="navbar py-3 dflex pl0 pr0" data-track-group="Global Header"> 
            <a class="float-left" href="/">
                <img src="{% static 'images/logo_clean.jpeg' %}" alt="logo" class="land_logo">
            </a> 
            <div class="float-right buttons dflex deskpr50">
                <a style="text-decoration: underline;" class="textw text15 textbold deskpr50 pt5 mobpr5" href="https://wa.me/+77089708242/?text=" data-action="share/whatsapp/share">+77089708242</a>
                <a class="show_request_form btn btn-wrap backwhite pl5 pr5 pt5 pb5 text14">Обратный звонок</a>
            </div>
        </nav>
    </header>   
    <div class="request_callback full-w mt150" style="display: none;position: fixed;z-index: 3000;">
        <i class="close icon"></i>
        <div class="content">
            <div class="modal_segment ui segment shadow backwhite br5 pt15 pl15 pr15 pb30" style="margin: 0 auto;">
                <div class="text-center mb15 text17 textblue textbold">
                    Оставьте номер и мы Вам перезвоним
                </div>
                <form class="ui form textdg text14 textbold">
                    Имя:
                    <textarea class="mb query_name"></textarea>
                    Телефон:
                    <textarea class="mb0 query_phone"></textarea>
                </form>
                <div class="text-center mt15">
                    <a url="{% url 'main:get_request_land' %}" class="send_queryl btn btn-wrap btn-success text14" onclick="tag_counters_form()">
                        Отправить
                    </a>
                    <div class="loading_small query_load ml10" style="display: none;">
                        <div class="animation"><div class="circle one"></div></div>
                        <div class="animation"><div class="circle two"></div></div>
                        <div class="animation"><div class="circle three"></div></div>
                        <div class="animation"><div class="circle four"></div></div>
                        <div class="animation"><div class="circle five"></div></div>
                        <div class="animation"><div class="circle six"></div></div>
                    </div>
                    <div style="display: none;" class="success_load textbold textgreen text15 mt10">Мы Вам позвоним, спасибо!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionl">
    <section id="hero" style="height: 100%"> 
        <div class="container pt50 pb0 text-white "> 
            <div class="row align-items-center text-center text-md-left"> 
                <div class="col-lg-6 pt50"> 
                    <h1 class="mland_head">CRM-система для управления учебным центром</h1> 
                    <p class="lead mt15" style="text-align: left;">Не теряйте клиентов, контролируйте работу сотрудников, автоматизируйте бухгалтерию с помощью самой понятной CRM-системой на рынке</p>  
                </div>
                <div class="col-lg-5 offset-lg-1 pt30 "> 
                    <img src="{% static 'images/landing/f1.jpg' %}" alt="bilimtap.kz" class="img-fluid">
                    <div class="in_mobile">
                        <h5 class="mt30">
                            Бесплатная неограниченная версия
                        </h5>
                        <a class="textbold btn btn-wrap btn-success btn-md px-4 mt-2  mb50" id="1" href="/sign_up/">
                            Подключить сейчас →
                        </a>
                    </div>
                </div>  
                <div class="mt30 col-lg-10 offset-lg-1 deskmenu text-center">
                    Бесплатная неограниченная версия
                </div>  
                <div class="col-lg-12 deskmenu pt0 pb50 text-center"> 
                    <a class="textbold btn btn-wrap btn-success btn-md px-4 mt-2 " id="1" href="/sign_up/">
                        Подключить сейчас →
                    </a>
                </div>  
            </div> 
        </div> 
    </section> 
    <section id="crm-presentation" style="margin-top: 50px;margin-bottom: 70px;"> 
        <div class="container text-center"> 
            <div class="row"> 
                <div class="col-md-10 offset-md-1"> 
                    <h3>Как CRM-система увеличит Вашу прибыль?</h3> 
                </div> 
            </div> 
            <div id="carousel" data-step="1"> 
                <a class="arrow arrow-left"> 
                    <svg height="20" viewBox="0 0 22 40" width="11"> 
                        <path d="m4.31783602 20 16.88192488 16.8819248c.7133028.7133029.7133028 1.8697953 0 2.5830981-.7133029.7133028-1.8697953.7133028-2.5830981 0l-18.08168628-18.0816863c-.38000317-.3800032-.5575644-.8857877-.53268368-1.3833366-.02488072-.4975489.15268051-1.0033334.53268368-1.3833366l18.08168628-18.08168628c.7133028-.71330283 1.8697952-.71330283 2.5830981 0 .7133028.71330283.7133028 1.86979522 0 2.58309804z" fill="#d9e4eb" transform="translate(.265262)"/> 
                    </svg> 
                </a> 
                <a class="arrow arrow-right"> 
                    <svg height="20" viewBox="0 0 22 40" width="11"> 
                        <path d="m4.31783662 20 16.88192488 16.8819248c.7133028.7133029.7133028 1.8697953 0 2.5830981-.7133029.7133028-1.8697953.7133028-2.5830981 0l-18.08168628-18.0816863c-.38000317-.3800032-.5575644-.8857877-.53268368-1.3833366-.02488072-.4975489.15268051-1.0033334.53268368-1.3833366l18.08168628-18.08168628c.7133028-.71330283 1.8697952-.71330283 2.5830981 0 .7133028.71330283.7133028 1.86979522 0 2.58309804z" fill="#d9e4eb" fill-rule="evenodd" transform="matrix(-1 0 0 -1 21.734738 40)"/> 
                    </svg> 
                </a>
                <div class="board how-it-works" style="margin-top: 5px;">
                    <div class="captions"> 
                        <div class="caption-texts">
                            <div class="caption caption-1"> Интеграции с социальными сетями, IP-телефонией и Вашим сайтом позволяют системе собрать все заявки в едином месте </div> 
                            <div class="caption caption-2"> Создавая карточку по каждой заявке, CRM-система напомнит менеджеру ответить на все обращения и перезвонить потенциальным клиентам </div> 
                            <div class="caption caption-3"> Результаты взаимодействий с клиентом помогут Вам проанализировать работу с входящими заявками
                            <br>
                            Также сохранив данные клиентов, Вы сможете одним кликом оповестить их о новой акции или скидке </div> 
                        </div>
                    </div> 
                    <div class="slide_images">
                        <img src="{% static 'images/landing/crm.jpg' %}" class="full-w land_img land_img1 br5" alt="landing">
                        <img src="{% static 'images/landing/card.png' %}" class="full-w land_img land_img2 br5" alt="crm" style="display: none;">
                        <img src="{% static 'images/landing/info.png' %}" class="full-w land_img land_img3 br5" alt="info" style="display: none;">
                    </div>
                </div> 
            </div> 
        </div> 
    </section> 
    <section id="marketplace"> 
        <div class="container mb50 pb-md-0"> 
            <div class="row align-items-center"> 
                <div class="col-md-5 order-md-1 text-center text-md-left"> 
                    <h3 style="font-size: 30px;">Как система сэкономит Вам время и сократит расходы?</h3> 
                    <div class="board in_mobile"> 
                        <img src="{% static 'images/landing/buh3.png' %}" style=" border-radius: 10px; object-fit: contain; width: 100%;" alt="Бухгалтерия">
                    </div>                    
                    <p>Так как учёт клиентов, журнал посещаемости, учёт оплаты студентов ведутся в единой базе, система автоматически посчитает зарплаты преподавателям и сформирует нужные отчёты для Вашего бухгалтера </p>
                        <a class="show_request_form textbold btn btn-wrap btn-primary btn-md px-4 mt-2 " id="1">
                            Узнать больше
                        </a>
                </div> 
                <div class="col-md-7 order-md-12"> 
                    <div class="board deskmenu" style="margin-right: -10%"> 
                        <img src="{% static 'images/landing/buh3.png' %}" style=" border-radius: 10px; object-fit: contain; width: 100%;" alt="Бухгалтерия">
                    </div>
                </div> 
            </div> 
        </div> 
    </section> 
    <section id="teams"> 
        <div class="container mb50"> 
            <div class="row align-items-center"> 
                <div class="col-md-7"> 
                    <div class="board deskmenu" style="margin-left: -10%;"> 
                        <img src="{% static 'images/landing/reports.jpg' %}" style=" border-radius: 10px; object-fit: contain;height: 100%; width: 100%;" alt="Действия менеджеров">
                    </div>
                </div> 
                <div class="col-md-5 text-center text-md-left"> 
                    <h3 class="mt-3 mt-md-0">Как система повысит эффективность сотрудников?</h3> 
                    <div class="board in_mobile"> 
                        <img src="{% static 'images/landing/reports.jpg' %}" style=" border-radius: 10px; object-fit: contain;height: 100%; width: 100%;" alt="Действия менеджеров">
                    </div>
                    <p class="m-0">Каждое действие администраторов фиксируется в системе, что повышает ответственность к поставленным задачам</p> 
                    <a class="show_request_form textbold btn btn-wrap btn-primary btn-md px-4 mt-2" id="1">
                        Узнать больше
                    </a>
                </div> 
            </div> 
        </div> 
    </section> 
    <section id="schedule"> 
        <div class="container mb50 pt-md-0"> 
            <div class="row align-items-center"> 
                <div class="col-md-7 order-md-12"> 
                    <div class="board deskmenu" style="margin-right: -10%;"> 
                        <img src="{% static 'images/landing/sch.jpg' %}" style="height: 100%; width: 100%;border-radius: 10px; object-fit: contain" alt="">
                    </div> 
                </div> 
                <div class="col-md-5 order-md-1 text-center text-md-left"> 
                    <h3 class="mt-3 mt-md-0">Расписание групп, финансы, оплата</h3> 
                    <div class="board in_mobile"> 
                        <img src="{% static 'images/landing/sch.jpg' %}" style=" border-radius: 10px; object-fit: contain;height: 100%; width: 100%;" alt="Действия менеджеров">
                    </div>
                    <p>Отныне всё визуально понятно</p>
                    <a class="show_request_form textbold btn btn-wrap btn-primary btn-md px-4 mt-2" id="1">
                        Узнать больше
                    </a>
                </div> 
            </div> 
        </div> 
    </section>
    <section id="features"> 
        <div class="container text-center py-0"> 
            <div class="row"> 
                <div class="col-lg-4"> 
                    <div style="margin-bottom: 15px;" class="img img-collaborate">
                        <img src="{% static 'images/landing/vrn.png' %}" class="three_feat1" alt="voronka"/>
                    </div> 
                    <h5>Воронка продаж</h5> 
                    <p class="small">Поможет Вам проанализировать и найти слабые звенья в Вашей цепочке продаж</p> 
                </div> 
                <div class="col-lg-4"> 
                    <div style="margin-bottom: 15px;" class="img img-apps">
                        <img src="{% static 'images/landing/chat.svg' %}" class="three_feat2" alt="sms">
                    </div>
                    <h5>Email и СМС уведомления</h5> 
                    <p class="small">Автоматически напомнят Вашим клиентам о предстоящем пробном занятии или отмене урока</p> 
                </div> 
                <div class="col-lg-4"> 
                    <div style="margin-bottom: 15px;" class="img img-sync">
                        <img src="{% static 'images/landing/data.svg' %}" class="three_feat3" alt="money">
                    </div> 
                    <h5>Отчеты по задолженностям, продажам, финансам</h5> 
                    <p class="small">Позволят быстро проанализировать текущую ситуацию в бизнесе</p> 
                </div>                 
            </div> 
        </div> 
    </section>
    <section class="mt50">
        <div class="container py-0"> 
            <div class="row"> 
                <div class="text-center col-md-10 offset-md-1"> 
                    <h3>Тарифы</h3> 
                </div>
            </div>
            <div class="row mt10"> 
                <div class="col-lg-3 mb15"> 
                    <div class="full-h shadow_dark border1 pt15 pb15 pl15 pr15 br15">
                        <div class="text-center full-w textblue mb10 textbold text17">
                            Бесплатный
                        </div>
                        <div class="text14" style="line-height: 16px;">
                            <div class="mb10">Неограниченный CRM</div>
                            <div class="mb10">Неограниченное кол-во групп</div>
                            <div class="mb10">Интерактивное расписание занятий</div>
                            <div class="mb10">Журнал посещаемости</div>
                            <div class="mb10">Учёт оплат клиентов</div>
                        </div>
                        <div class="text-center mt20"><a class="btn shadow_small border1" href="/sign_up/">0тг</a></div>
                    </div>
                </div>
                <div class="col-lg-3 mb15"> 
                    <div class="full-h shadow_dark border1 pt15 pb15 pl15 pr15 br15">
                        <div class="text-center full-w textblue mb10 textbold text17">
                            Старт
                        </div>
                        <div class="text14" style="line-height: 16px;">
                            <div class="mb10">Возможности тарифа <b>Бесплатный</b></div>
                            <div class="mb10">Воронка продаж</div>
                            <div class="mb10">Отчёты для бухгалтерии</div>
                            <div class="mb10">Финансовые отчёты</div>
                            <div class="mb10">Анализ лучших курсов</div>
                            <div class="mb10">Email рассылки</div>
                            <div class="mb10">Отчёты по работе администратора</div>
                            <div class="mb10">Онлайн договоры</div>
                        </div>
                        <div class="text-center mt20">
                            <a class=" btn shadow_small border1 text17" href="/sign_up/">
                                2000тг за менеджера
                                <br>
                                0тг за учителя
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb15"> 
                    <div class="backrb full-h shadow_dark border1 pt15 pb15 pl15 pr15 br15">
                        <div class="text-center full-w textblue mb10 textbold text17">
                            Команда
                        </div>
                        <div class="text14" style="line-height: 16px;">
                            <div class="mb10">Возможности тарифа <b>Старт</b></div>
                            <div class="mb10">SMS рассылки</div>
                            <div class="mb10">Интеграции с соц. сетями</div>
                            <div class="mb10">Хранилище онлайн документов до 5 ГБ</div>
                            <div class="mb10">Расчёт зарплат преподавателей</div>
                            <div class="mb10">Интеграция с Вашим сайтом</div>
                            <div class="mb10">Планировщик задач</div>
                            <div class="mb10">Интеграция с IP-телефонией</div>
                        </div>
                        <div class="text-center mt20">
                            <a class="backwhite btn shadow_small border1 text17" href="/sign_up/">
                                2500тг за менеджера
                                <br>
                                0тг за учителя
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb15"> 
                    <div class="full-h shadow_dark border1 pt15 pb15 pl15 pr15 br15">
                        <div class="text-center full-w textblue mb10 textbold text17">
                            Компания
                        </div>
                        <div class="text14" style="line-height: 16px;">
                            <div class="mb10">Возможности тарифа <b>Команда</b></div>
                            <div class="mb10">Добавление филиалов</div>
                            <div class="mb10">Интеграция с сервисами по желанию</div>
                            <div class="mb10">Возможность доработки по желанию</div>
                        </div>
                        <div class="text-center mt20">
                            <a class="btn shadow_small border1 text17" href="/sign_up/">
                                3000тг за менеджера
                                <br>
                                0тг за учителя
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 text17">
                    <div class="border1 shadow_small text-center br5 mt15 pt15 pl15 pr15 pb15">
                        <b>Дистанционное и онлайн обучение</b> <br>
                        До 50 студентов – 2000 тг<br>
                        До 100 студентов – 7000 тг<br>
                        До 200 студентов – 15000 тг<br>
                        До 300 студентов – 30000 тг<br>
                        До 500 студентов – 50000 тг <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="start_request"></div>
    <div id="bottom-gradient" class="sectionl" id="get-started" class="d-flex align-items-center my-4 sellform"> 
            <div class="container text-center py-0"> 
                <div class="row"> 
                    <div class="offset-lg-3 col-lg-6"> 
                        <form class="quick-signup text-center mt-01" method="POST" action="/signup_redirect">
                            <h5 class="text24">
                                Бесплатная неограниченная версия
                            </h5>
                            <a class="textbold btn btn-wrap btn-success btn-md px-4 mt-2 " id="1" href="/sign_up/">
                                Подключить сейчас
                            </a>
                        </form>  
                    </div>
                </div> 
            </div> 
        </section>
        <footer class="quiet" data-track-group="Footer">  
            <script>
              window.isHreflangPath = false;
              window.prefLocale = '';
              window.locale = 'ru';
            </script> 
            <ul> 
                <li><a href="{% url 'main:team' %}">О нас</a></li> 
                <li><a href="{% url 'main:pricing' %}" class="land_costs_link">Цены</a></li> 
            </ul> 
            <p> 
                &nbsp;© 2020. Все права защищены. 
            </p> 
        </footer>   
    </div>
    </div>
</body> 
    <script type="text/javascript">
        function tag_counters_form(){
            name = $('.query_name').val()
            phone = $('.query_phone').val()
            if (name.length > 0 && phone.length > 0) {
                gtag('event', 'send', {'event_category': 'form'}); 
                ym(55093303,'reachGoal','send-form');
            }
            return true;          
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
    </script>
    {% compress js %}   
    <script src="{% static 'js/landing/func3.js' %}"></script> 
    <script src="{% static 'js/landing/func.js' %}"></script>
    {% endcompress %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e41c217e-d9c0-4663-a3b4-4dba98ca5e05&lang=ru_RU"
    type="text/javascript"></script>
{% compress js %}       
<script src="{% static 'js/landing/func2.js' %}"></script>   
{% endcompress %}
</html>