{% load staticfiles %}
<html>
<head>
    {% if map_view %}
    <link rel="canonical" href="https://www.bilimtap.kz" />
    {% endif %}
    <meta charset="utf-8">
    <meta name="google-site-verification" content="G-3JdvIZH1oSADX0f2I8uRqCFAggIj06lzBKaEeYb3Y" />   
    <meta name="yandex-verification" content="f222118f15d7576b" />
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="description" content="Находите любые курсы в городе Алматы на одном сайте. Записывайтесь на пробный урок в 1 клик, сравнивайте цены, отзывы, местоположение и преподавателей">
    <meta name="keywords" content="английский,английский язык, английский язык алматы, поступление в ниш, поступление в ну, поступление в 165, математика, математика алматы, IELTS, TOEFL, продленка, ЕНТ, КТА, Курсы, курсы алматы, IELTS алматы, TOEFL алматы, SAT, SAT алматы, продленка алматы, ент алматы, кта алматы, Bilimtap">
    <title>{% block head_title %}Bilimtap.kz{%if not request.user.is_authenticated %} – английский язык, поступление, курсы, подготовка к экзаменам в г. Алматы{% endif %}{% endblock head_title %}</title>
    <!-- CSS -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(55093303, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55093303" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146621937-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146621937-1');
    </script>
    <link rel='stylesheet' href='{% static "css/app.css" %}'/>
    <link rel="shortcut icon" href='{% static "images/fav2.ico" %}' type="image/png">
    <link rel="stylesheet" href='{% static "css/slider.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <link rel="stylesheet" href='{% static "OwlCarousel/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "OwlCarousel/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/datepicker.min.css" %}'>    
    <script src='{% static "js/scripts.js" %}'></script>
    <script src='{% static "js/libs/modernizr-2.5.3.min.js" %}'></script>
    {% block head_extra %} {% endblock head_extra %}
</head>
<body>
{% include "modals/confirm_delete.html" %}
{% if is_manager %}
{% include "modals/new_card_crm.html" %}
{%endif%}
<div class="ui stackable menu" id="main-menu">
    <div class="ui container">
        <div class="menu-title" style="width: calc(25% + 140px);padding-left: 10px;">
            <i class="icon bars" id="toggle"></i>
            <a href='{% url "main:home" %}' class="header main">
                <img src="{% static 'images/bilimtap.png' %}" id="logo">
            </a>
            {% if is_manager %}
            <a class="ui button mini red help24 help2424hb" id="request-responsive" onclick="$('#new_card_form1').modal('show')" style="position: absolute;right: 5%;padding: 10px;font-size: 14px;top: 2px;">
                Заявка
            </a>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <a href="{% url 'main:about' %}" class="ui button mini green" id="request-responsive" style="position: absolute;right: 5%;padding: 10px;font-size: 14px;top: 2px;">Стать партнером</a>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="item not_in_mobile">
            <form id="search-form" class="ui form" style="margin: 0 1rem 0 0">
                <textarea id="search-input" url="/search/" type="text" style="margin-bottom: 0;" placeholder="Поиск"></textarea>
                <div class="search-bar">
                    <p class="search-list-title search-list-title-people">Люди</p>
                    <ul class="search-list-people search-list">
                    </ul>
                    <p class="search-list-title search-list-title-subjects">Предметы</p>
                    <ul class="search-list-subjects search-list">
                    </ul>
                    <p class="search-list-title search-list-title-squads">Классы</p>
                    <ul class="search-list-classes search-list">
                    </ul>
                    <p class="search-list-title search-list-title-courses">Курсы</p>
                    <ul class="search-list-courses search-list">
                    </ul>
                </div>
            </form>
            <div class="notice" url="{{ profile.get_notifications }}" status='hide'>
                {% if profile.skill.notifications_number == 0 %}
                <i class="icon bell" style="color: #2D437C;"></i>
                <span class="notification_exists" style="display: none;"></span>
                {% else %}
                <i class="icon bell" style="color: #fff;"></i>
                <span class="notification_exists">{{ profile.skill.notifications_number }}</span>
                {% endif %}
            </div>
            <div class="notice_cont">
                <div class="notice-bar">
                    <b class="notification_title">Уведомления</b>
                    <div class="ui divider"></div>
                    <ul class="notice-list">
                    </ul>
                    <div style="text-align: center;">
                        <a class="full-w">Показать все</a>                        
                    </div>
                </div>
            </div>
            {% if is_manager %}
            <a class="ui button mini help24 help2424hb" id="" onclick="$('#new_card_form1').modal('show')" style="padding:6px 10px;background-color: #2D437C;font-size: 14px;color: lightgrey;">
                Заявка
            </a>
            {% endif %}
            {% if is_director %}
                <span style="margin-left: 30px;color: #fff;margin-right: 5px;">На счету: </span> <b style="color: #e0f310;" id="number-counter">{{ school_money }}</b> <span style="color: #e0f310;">тг.</span>
            {% endif %} 
        </div>
        {% else %}
        <div class="item not_in_mobile" style="color: #f0f0f0;font-weight: 600;margin-left:-50px;margin-top: 0px;">
            <h1 style="font-size: 15px;" class="no_margin">Поиск учебных центров</h1>
            <a href="{% url 'main:about' %}" class="ui button mini green" style="margin-left: 15px;padding: 8px 14px;">Стать партнером</a>
            {% if landing == True %}
            <div class="item not_in_mobile" >
                <a class="ui button mini green" href="/map/" style="padding:8px 14px;margin-right: 25px;">Вернуться к поиску</a>
            </div>
            {% endif %}            
        </div>
        {% endif %}
        <div class="full-w left-main-menu">
            {% if request.user.is_authenticated %}
            <div class="item float_right" style="margin-right: 15%;">
                <a class="profile_name">
                    {{ profile.first_name }}
                    {% if profile.image %}
                        <img class="ui avatar image" style="margin-right: 0px; margin-left: 10px; width: 30px;" src="{{ profile.image.url }}">
                    {% else %}
                        <img class="ui avatar image" style="margin-right: 0px; margin-left: 10px; width: 30px;" src="{% static 'images/nophoto.png' %}">
                    {% endif %}
                </a>
            </div>
            {% else %}
            <div class="item float_right" style="margin-right: 15%;">
                <span style="margin-right: 30px;height: 30px;"></span>
                <a class="open_login" style="color: #fff;margin-right: 25px;" onclick="$('#signup-modal').modal('show')">
                    Регистрация
                </a>
                <a class="open_login" style="color: #fff;" onclick="$('#login-modal').modal('show')">
                    Войти
                </a>
            </div>
            {% include 'modals/login.html' %}
            {% include 'modals/signup.html' %}
            {% include 'modals/forget_password.html' %}
            {% endif %}
        </div>
    </div>
</div>
<div class="menu profile_links">
    <div class="ui segment">
        {% if user.is_authenticated %}
        <a class="item pod-main" href='{{ profile.get_absolute_url }}'>
            Моя страница
        </a>
        {% endif %}
        <div class="ui divider"></div>
        <a class="item pod-main" href='{% url "logout" %}'>Выйти</a>        
    </div>
</div>
<br><br>

<div class='content-container'>
    <div class="vmenu ui grid no_padding full-h full-w" id='vmenu2' style=" width: 100%; height: 100%; z-index: 3000; position: fixed; margin: 5px 0 0;">
        <div class="eleven wide column no_padding">
            <div class="ui segment no_padding full-h" style="background-color: #f4f4f4; z-index: 3000;">
                {% if user.is_authenticated %}
                <div class="ui vertical menu stackable" style="border:0; box-shadow: none; z-index: 3002;">
                    <a class="item mobmenu" href='{{ profile.get_absolute_url }}'>
                        <i class="home icon blue"></i> Моя страница
                    </a>
                    <a class="item mobmenu" href='{% url "news:list" %}'>
                        <i class="newspaper icon blue"></i>Новости
                    </a>
                    {% if is_director %}
                    <a class="item mobmenu" href='{% url "schools:info" %}'>
                        <i class="cog icon blue"></i>Управление
                    </a>
                    {% endif %}
                    {% if is_manager or is_director %}
                    <a class="item mobmenu not_in_mobile" href='{% url "schools:crm" %}'>
                        <i class="list alternate icon blue"></i>
                        CRM
                        {% if profile.skill.need_actions > 0 %}
                        <span class="left_menu_number">{{profile.skill.need_actions}}</span>
                        {% endif %}
                    </a>
                    {% endif %}
                    {% if is_manager or is_trener or is_director %}
                    <a class="item mobmenu" href='{% url "documents:main" %}'>
                        <i class="folder icon blue"></i>Документы
                    </a>
                    {% endif %}
                    <a class="item mobmenu" href='{% url "schools:rating" %}'>
                        <i class="trophy icon blue"></i>Рейтинги
                    </a>
<!--                     {% if is_manager or is_trener or is_director %}
                    <a class="item mobmenu" href='{% url "squads:list" %}'>
                        <i class="users icon blue"></i>Классы
                    </a>
                    <a class="item mobmenu" href='{% url "subjects:list" %}'>
                        <i class="table icon blue"></i>Курсы
                    </a>
                    {% endif %}
 -->                    {% if is_trener or is_director %}
                    <a class="item mobmenu" href='{% url "library:main" %}'>
                        <i class="file alternate icon blue"></i>База уроков
                    </a>
                    {% endif %}
                    {% if is_manager or is_trener or is_director %}
  <!--                   <a class="item mobmenu" href='/todolist/'>
                        <i class="check calendar icon blue"></i>Задания
                    </a> -->
                    <a class="item mobmenu" href='{% url "schools:payments" %}'>
                        <i class="dollar sign icon"></i>Оплата
                    </a>
  
                    {% endif %}
                    {% if is_trener or profile.is_student and profile.schools.all > 0 %}   
                    <a class="item mobmenu" href='{{ profile.hislessons }}'>
                        <i class="arrow right icon blue"></i>Урок
                    </a>  
                    {% endif %}
                </div>
                {% else %}
                <div class="ui vertical menu stackable" style="border:0; box-shadow: none; z-index: 3002;">
                    <a class="item mobmenu" href='/contacts/' style="background-color: #fff">
                        <i class="address book icon"></i>Контакты
                    </a>
                    <a class="item mobmenu" href='{% url "squads:list" %}' style="background-color: #fff">
                        <i class="users icon"></i>Группы
                    </a>
                </div>
                {% endif %}           
            </div>
        </div>
        <div class="five wide column menu_back no_padding">
        </div>
    </div>
    <div style="padding-top: 10px;min-height: calc(100% - 40px) ;">
        {% block content %}{% endblock content %}
    </div>
</div>

<audio id="notification_audio" style="display: none;" controls>
    <source src='{% static "notification.mp3" %}' type="audio/mpeg">
</audio>
<script src='{% static "js/myscripts.js" %}'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>
<script src='{% static "js/cardForm.js" %}'></script>
<script src='{% static "js/OwlCarousel/owl.carousel.min.js" %}'></script>
<script src='{% static "js/datepicker.min.js" %}'></script>
<script src='{% static "js/dragAndDrop/Sortable.min.js" %}'></script>
<script src='{% static "js/faisalIncludes.js" %}'></script>
<script src='{% static "js/squad.js" %}'></script>
<script src='{% static "js/library.js" %}'></script>
<script src='{% static "js/plugins.js" %}'></script>
<script src='{% static "js/script.js" %}'></script>
<script src='{% static "js/search.js" %}'></script>
<script src='{% static "js/notice.js" %}'></script>

{% if profile.schools.all|length > 0 %}
<script type="text/javascript">
    var wsStart = 'ws://'
    var loc = window.location
    if (loc.protocol == 'https:'){
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + '/notifications/'
    var socket = new WebSocket(endpoint)
    socket.onmessage = function(e){
        data = JSON.parse(e.data)
        $('.notification_exists').show()
        $('.notification_exists').text('1')
        $('.bell').attr('style', 'color:#fff;')
        document.getElementById('notification_audio').play();
        $('<li class="notice-item"> <a class="notice-item-link"> <img class="notice_item_img" src='+data.image_url+' alt="photo"> </a> <div style="display: inline-block;"> <a class="notice-item-link"> '+data.author+' </a> <span class="notice-item-name"> опубликовал новость </span> <a href="">"'+ data.message+'"</a> <br> <div class="notice_time">'+data.time+'</div> </div> </li> <div class="ui divider" style="margin: 10px 0;"></div>').appendTo('.notice-list');
    }
    socket.onopen = function(e){
        $('.create_post').click(function(event) {
            data = {
                'action_type':'create_post',
                'text':$('.new_post_area').val()
            }
            socket.send(JSON.stringify(data))
        })
    }
    socket.onerror = function(e){
        console.log('error', e)
    }
    socket.onclose = function(e){
    }

</script>
{% endif %}
</body>
</html>