{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}Pinocchio{% endblock head_title %}</title>

    <!-- CSS -->
    <link rel='stylesheet' href='{% static "css/app.css" %}'/>
    <link rel="shortcut icon" href='{% static "images/fav2.ico" %}' type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <script src='{% static "js/scripts.js" %}'></script>
    <link rel="stylesheet" href='{% static "css/slider.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src='{% static "js/myscripts.js" %}'></script>
    <script src='{% static "js/libs/modernizr-2.5.3.min.js" %}'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>
    <script src='{% static "js/slider.js" %}'></script>
    <script src='{% static "js/cardForm.js" %}'></script>
    <script src='{% static "js/faisalIncludes.js" %}'></script>

    {% block head_extra %} {% endblock head_extra %}

</head>
<body>
{% include "modals/confirm_delete.html" %}

<div class="ui stackable menu" id="main-menu">
    <div class="ui container">
        <div class="menu-title" style="width: calc(25% + 140px);">
            <i class="icon bars" id="toggle"></i>
            <a href='{% url "main:home" %}' class="header main">
                <img src="{% static 'images/logo_clean.png' %}" id="logo">
            </a>
            <a class="ui button mini red help24 help2424hb" id="request-responsive" href="/schools/crm_reg/" style="position: absolute;right: 5%;padding: 10px;font-size: 14px;top: 2px;">
                Заявка
            </a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="item not_in_mobile">
            <form id="search-form" class="ui form" style="margin: 0 1rem 0 0">
                <input id="search-input" url="/search/" type="text" style="margin-bottom: 0;" placeholder="Поиск">
                <div class="search-bar">
                    <p class="search-list-title search-list-title-people">Люди</p>
                    <ul class="search-list-people search-list">
                    </ul>
                    <p class="search-list-title search-list-title-subjects">Предметы</p>
                    <ul class="search-list-subjects search-list">
                    </ul>
                    <p class="search-list-title search-list-title-squads">Классы</p>
                    <ul class="search-list-classes search-list">
                    </ul>
                    <p class="search-list-title search-list-title-courses">Курсы</p>
                    <ul class="search-list-courses search-list">
                    </ul>
                </div>
            </form>
            <div class="notice "><i class="fas fa-bell"></i>
                <div class="notice-bar">
                    <ul class="notice-list">
                        <li class="notice-item">
                            <a class="notice-item-link">
                                <span class="notice-item-name">Даулет Семенов</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if is_manager %}
            <a class="ui button mini help24 help2424hb" id="" href="/schools/crm_reg/" style="padding:6px 10px;background-color: #2D437C;font-size: 14px;color: lightgrey;">
                Заявка
            </a>
            {% endif %}
        </div>
        {% endif %}
        <div class="full-w left-main-menu">
            {% if request.user.is_authenticated %}
            <div class="item float_right" style="margin-right: 15%;">
                <a class="profile_name">
                    {{ profile.first_name }}
                    {% if profile.image %}
                        <img class="ui avatar image" style="margin-right: 0px; margin-left: 10px; width: 30px;" src="{{ profile.image.url }}">
                    {% else %}
                        <img class="ui avatar image" style="margin-right: 0px; margin-left: 10px; width: 30px;" src="{% static 'images/nophoto.png' %}">
                    {% endif %}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="menu profile_links">
    <div class="ui segment">
        <a class="item pod-main" href='{{ profile.get_absolute_url }}'>
            Мой страница
        </a>
        <div class="ui divider"></div>
        <a class="item pod-main" href='{% url "logout" %}'>Выйти</a>        
    </div>
</div>
<br><br>

<div class='content-container' style="background-color: #f4f4f4;">
    <div class="vmenu ui grid " id='vmenu2' stage='passive' style="margin: 0;padding: 0; width: 100%; height: 100%; z-index: 3000; position: fixed; margin-top: 5px;">
        <div class="eleven wide column" style="padding: 0;">
            <div class="ui segment" style="height: 100%; padding: 0; background-color: #f4f4f4; z-index: 3000;">
                {% if user.is_authenticated %}
                <div class="ui vertical menu stackable" style="border:0; box-shadow: none; z-index: 3002;">
                    <a class="item" href='{{ profile.get_absolute_url }}'>
                        <i class="home icon"></i> Моя страница
                    </a>
                    <a class="item" href='{% url "library:main" %}'>
                        <i class="file alternate icon"></i>База знаний
                    </a>
                    <a class="item" href='{% url "squads:list" %}'>
                        <i class="book icon"></i>Группы
                    </a>
                    <a class="item" href='/clients/'>
                        <i class="users icon"></i>База клиентов
                    </a>
                    <a class="item" href='/docs/'>
                        <i class="check square icon"></i>Документооборот
                    </a>
                    <a class="item" href='/contacts/'>
                        <i class="address book icon"></i>Контакты
                    </a>  
                    <a class="item ui button mini blue" onclick="toggleModal('#corruption.modal')">
                        Заявить о коррупции
                    </a>
                </div>
                {% else %}
                <div class="ui vertical menu stackable" style="border:0; box-shadow: none; z-index: 3002;">
                    <a class="item" href='/contacts/' style="background-color: #fff">
                        <i class="address book icon"></i>Контакты
                    </a>
                    <a class="item" href='{% url "squads:list" %}' style="background-color: #fff">
                        <i class="users icon"></i>Группы
                    </a>
                </div>
                {% endif %}           
            </div>
        </div>
        <div class="five wide column menu_back" style="padding: 0;">
            </div>
    </div>
    <div style="padding-top: 10px;min-height: calc(100% - 40px) ;">
    {% block content %}{% endblock content %}
    </div>
</div>



<script src='{% static "js/squad.js" %}'></script>
<script src='{% static "js/library.js" %}'></script>
<script src='{% static "js/plugins.js" %}'></script>
<script src='{% static "js/script.js" %}'></script>
<script src='{% static "js/search.js" %}'></script>
<script src='{% static "js/notice.js" %}'></script>

</body>
</html>