{% load staticfiles %}
{% load static compress %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="G-3JdvIZH1oSADX0f2I8uRqCFAggIj06lzBKaEeYb3Y" />   
    <meta name="yandex-verification" content="f222118f15d7576b" />
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="description" content="Находите любые курсы в городе Алматы на одном сайте. Записывайтесь на пробный урок в 1 клик, сравнивайте цены, отзывы, местоположение и преподавателей">
    <meta name="keywords" content="английский,английский язык, английский язык алматы,курсы английского алматы,курсы английского языка в алматы,ниш поступление, поступление в ниш, поступление в ну, поступление в 165, математика, математика алматы, IELTS,айлс, TOEFL, продленка, ЕНТ, КТА, Курсы, курсы алматы, IELTS алматы, TOEFL алматы, SAT, SAT алматы, продленка алматы,продленки алматы,international english test,sat, ент алматы, кта алматы, Bilimtap">
    <title>{% block head_title %}Bilimtap.kz{%if not request.user.is_authenticated %} – английский язык, поступление, курсы, подготовка к экзаменам в г. Алматы{% endif %}{% endblock head_title %}</title>
    <!-- CSS -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(55093303, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55093303" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146621937-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146621937-1');
    </script>
    <link rel="shortcut icon" href='{% static "images/favicon.ico" %}' type="image/png">
    {% compress css %}
    <link rel='stylesheet' href='{% static "css/app.css" %}'/>
    <link rel="stylesheet" href='{% static "css/slider.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <link rel="stylesheet" href='{% static "css/datepicker.min.css" %}'> 
    {% endcompress %}
    {% compress js %}   
    <script src='{% static "js/scripts.js" %}'></script>
    <script src='{% static "js/libs/modernizr-2.5.3.min.js" %}'></script>
    {% endcompress %}
    {% block head_extra %} {% endblock head_extra %}
</head>
<body class="body">
{% include "modals/confirm_delete.html" %}
{% if is_manager %}
{% include "modals/new_card_crm.html" %}
{%endif%}
<div class="ui stackable menu" id="main-menu">
    <div class="ui container">
        <div class="menu-title" style="width: calc(25% + 140px);">
            <i class="icon bars pl15 mr0 pr15 mt3 pb10" style="height: 30px;" id="toggle"></i>
            <a href='{% if request.user.is_authenticated %}{{profile.get_absolute_url}}{%else%}{% url "main:home" %}{%endif%}' class="header main">
                <img src="{% static 'images/logo_clean.jpeg' %}" id="logo">
            </a>
            {% if is_manager %}
            <a class="ui button mini red mr10 open_new_card_form1" id="request-responsive" style="position: absolute;right: 5%;padding: 10px;font-size: 14px;top: 2px;">
                Заявка
            </a>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <a href="{% url 'main:about' %}" class="ui button mini white pl5 pt10 pr5 pb10" id="request-responsive" style="position: absolute;right: 75px;font-size: 14px;top: 2px;">Стать партнером</a>
            <a href="{% url 'main:login_page' %}" class="ui button mini green pt10 pr10 pb10 pl10" id="request-responsive" style="position: absolute;right: 10px;font-size: 14px;top: 2px;">Войти</a>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="item not_in_mobile">
            <form id="search-form" class="ui form" style="margin: 0 1rem 0 0">
                <textarea class="mb0" id="search-input" url="/search/" type="text" placeholder="Поиск"></textarea>
                <div class="search-bar">
                    <p class="search-list-title search-list-title-people">Люди</p>
                    <ul class="search-list-people search-list">
                    </ul>
                    <p class="search-list-title search-list-title-subjects">Курсы</p>
                    <ul class="search-list-subjects search-list">
                    </ul>
                    <p class="search-list-title search-list-title-squads">Группы</p>
                    <ul class="search-list-classes search-list">
                    </ul>
                </div>
            </form>
            <div class="notice_cont">
                <div class="notice-bar">
                    <b class="notification_title">Уведомления</b>
                    <div class="ui divider"></div>
                    <ul class="notice-list">
                    </ul>
                    <div class="text-center">
                        <a class="full-w">Показать все</a>                        
                    </div>
                </div>
            </div>
            {% if is_manager %}
            <a class="ui textw mini mr10 pt5 pb5 bbtm open_new_card_form1">
                Заявка
            </a>
            {% endif %}
            {% if is_director %}
                <a class="ui textw mini ml10 mr10 pt5 pb5 bbtm" href="{% url 'schools:info' %}">
                    Управление
                </a>
                <a get_url="{% url 'schools:show_finance_update' %}" class="ui textw mini ml10  show_finance_update pt5 pb5" href="{% url 'schools:get_school_report'%}">
                    <span class="bbtm pb5">На счету:</span> 
                    <b id="school_money">
                        {{ school_money }}тг.
                    </b>
                    <span id="hint_f" class="ui segment pt5 pb5 pl5 pr5" style="color: #222;width: 200px;display: none; position: absolute;">
                        Последнее обновление:
                        <div class="loading_small" id="loading_f_update" style="display: none;">
                          <div class="animation"><div class="backwhite circle one"></div></div>
                          <div class="animation"><div class="backwhite circle two"></div></div>
                          <div class="animation"><div class="backwhite circle three"></div></div>
                          <div class="animation"><div class="backwhite circle four"></div></div>
                          <div class="animation"><div class="backwhite circle five"></div></div>
                          <div class="animation"><div class="backwhite circle six"></div></div>
                        </div> 
                        <br>
                        <span class="finance_update_author" status="hidden"></span>
                        <br>
                        <span class="finance_update_date"></span>
                    </span>
                </a>
                <a update_url="{%url 'schools:update_finance'%}" class="update_finance" style="height: 20px;">
                    <i class="icon sync ml10" style="color: #fff;font-size: 14px;"></i>
                    <span id="hint_f2" class="ui segment pt5 pb5 pl5 pr5" style="color: #222;width: 200px;display: none; position: absolute;">
                        Обновить
                    </span>
                </a>
            {% endif %} 
        </div>
        {% else %}
        <div class="item not_in_mobile" style="color: #f0f0f0;font-weight: 600;margin-left:-50px;margin-top: 0px;">
            <h1 style="font-size: 15px;" class="no_margin">Поиск учебных центров</h1>
            <a href="{% url 'main:about' %}" class="ui button mini white shadow_small mini pb5 pt5 textblue ml15">Стать партнером</a>
            {% if landing == True %}
            <div class="item not_in_mobile" >
                <a class="ui button mini green" href="/" style="padding:8px 14px;margin-right: 25px;">Вернуться к поиску</a>
            </div>
            {% endif %}            
        </div>
        {% endif %}
        <div class="full-w left-main-menu">
            {% if request.user.is_authenticated %}
            <div class="item float_right" style="margin-right: 15%;">
                <a class="profile_name" status='0'>
                    {{ profile.first_name }}
                    {% if profile.image %}
                        <img class="ui avatar image" style="margin-right: 0px; margin-left: 10px; width: 30px;" src="{{ profile.image.url }}">
                    {% else %}
                        <img class="ui avatar image" style="margin-right: 0px; margin-left: 10px; width: 30px;" src="{% static 'images/nophoto.png' %}">
                    {% endif %}
                </a>
            </div>
            {% else %}
            <div class="item float_right" style="margin-right: 15%;">
                <span style="margin-right: 30px;height: 30px;"></span>
                <a style="color: #fff;margin-right: 25px;" href="{% url 'main:sign_up' %}">
                    Регистрация
                </a>
                <a href="{% url 'main:login_page' %}" style="color: #fff;">
                    Войти
                </a>
            </div>
            {% include 'modals/login.html' %}
            {% include 'modals/signup.html' %}
            {% include 'modals/forget_password.html' %}
            {% endif %}
        </div>
    </div>
</div>
<div class="menu profile_links">
    <div class="ui segment no_padding">
        {% if user.is_authenticated %}
        <a class="ui button small full-w white" style="text-align: left;" href='{{ profile.get_absolute_url }}'>
            <i class="icon user"></i> Моя страница
        </a>
        {% endif %}
        {% if is_moderator %}
        <div class="ui divider no_margin"></div>
        <a class="ui button small full-w white" style="text-align: left;" href='/moderator/'>
            <i class="chess queen icon"></i> Модератор</a>
        <div class="ui divider no_margin"></div>
        <a class="ui button small full-w white" style="text-align: left;" href='/blog/'>
            <i class="newspaper icon"></i>Блог</a>
        {% endif %}
        <div class="ui divider no_margin"></div>
        <a class="ui button small full-w white" style="text-align: left;" href='{% url "logout" %}'>
            <i class="icon close"></i> Выйти</a>
    </div>
</div>
<br><br>

<div class='content-container'>
    <div class="vmenu ui grid no_padding full-h full-w" id='vmenu2' style=" width: 100%; height: 100%; z-index: 3000; position: fixed; margin: 5px 0 0;">
        <div class="eleven wide column no_padding">
            <div class="ui segment no_padding full-h shadow" style="background-color: #f4f4f4; z-index: 3000;">
                {% if user.is_authenticated %}
                    <a class="ui button white full-w bt1" href='{{ profile.get_absolute_url }}'>
                        <i class="home icon"></i> Моя страница
                    </a>
                    {% if is_director %}
                    <a class="ui button white full-w bt1" href='{% url "schools:info" %}'>
                        <i class="cog icon"></i>Управление
                    </a>
                    {% endif %}
                    {% if is_manager or is_director %}
                    <a class="ui button white full-w bt1 not_in_mobile" href='{% url "schools:crm" %}'>
                        <i class="list alternate icon"></i>
                        CRM
                        {% if profile.skill.need_actions > 0 %}
                        <span class="left_menu_number">{{profile.skill.need_actions}}</span>
                        {% endif %}
                    </a>
                    {% endif %}
                    {% if is_manager or is_trener or is_director %}
                    <a class="ui button white full-w bt1" href='{% url "documents:main" %}'>
                        <i class="folder icon"></i>Документы
                    </a>
                    {% endif %}
                    <a class="ui button white full-w bt1" href='{% url "schools:rating" %}'>
                        <i class="trophy icon"></i>Рейтинги
                    </a>
                    {% if is_manager or is_trener or is_director %}
                    <a class="ui button white full-w bt1" href='{% url "squads:list" %}'>
                        <i class="users icon"></i>Классы
                    </a>
                    <a class="ui button white full-w bt1" href='{% url "subjects:list" %}'>
                        <i class="table icon"></i>Курсы
                    </a>
                    {% endif %}
                    {% if is_trener or is_director %}
                    <a class="ui button white full-w bt1" href='{% url "library:main" %}'>
                        <i class="file alternate icon"></i>База уроков
                    </a>
                    {% endif %}
                    {% if is_manager or is_trener or is_director %}
                    <a class="ui button white full-w bt1" href='{% url "schools:payments" %}'>
                        <i class="dollar sign icon"></i>Оплата
                    </a>  
                    {% endif %}
                    {% if is_moderator %}
                    <div class="text-center mt15">
                        <a class="lftitemsmall ui button mini black" href='/moderator/'>
                            Модераторская
                        </a>               <a class="ui button small full-w white" href='/blog/'>
            <i class="newspaper icon"></i>Блог</a>         
                    </div>
                    {% endif %}                    
                {% else %}
                    <a class="ui button white full-w bt1" href='{% url "main:about" %}' style="background-color: #fff">
                        Стать партнером
                    </a>
                    <a class="ui button white full-w bt1" href='{% url "main:team" %}' style="background-color: #fff">
                        О нас
                    </a>
                {% endif %}           
            </div>
        </div>
        <div class="five wide column menu_back no_padding">
        </div>
    </div>
    <div style="padding-top: 10px;min-height: calc(100% - 40px);">
        {% block content %}{% endblock content %}
    </div>
</div>

<audio id="notification_audio" style="display: none;" controls>
    <source src='{% static "notification.mp3" %}' type="audio/mpeg">
</audio>
{% compress js %}   
<script src='{% static "js/myscripts.js" %}'></script>
<script src='{% static "js/cardForm.js" %}'></script>
<script src='{% static "js/OwlCarousel/owl.carousel.min.js" %}'></script>
<script src='{% static "js/datepicker.min.js" %}'></script>
<script src='{% static "js/dragAndDrop/Sortable.min.js" %}'></script>
<script src='{% static "js/faisalIncludes.js" %}'></script>
<script src='{% static "js/squad.js" %}'></script>
<script src='{% static "js/library.js" %}'></script>
<script src='{% static "js/plugins.js" %}'></script>
<script src='{% static "js/script.js" %}'></script>
<script src='{% static "js/search.js" %}'></script>
<script src='{% static "js/notice.js" %}'></script>
{% endcompress %}
{% if profile.schools.all|length > 0 %}
<script type="text/javascript">
    var wsStart = 'ws://'
    var loc = window.location
    if (loc.protocol == 'https:'){
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + '/notifications/'
    var socket = new WebSocket(endpoint)
    socket.onmessage = function(e){
        data = JSON.parse(e.data)
        $('.notification_exists').show()
        $('.notification_exists').text('1')
        $('.bell').attr('style', 'color:#fff;')
        document.getElementById('notification_audio').play();
        $('<li class="notice-item"> <div style="display: inline-block;"> <a class="notice-item-link"> '+data.author+' </a> <span class="notice-item-name"> опубликовал новость </span> <a href="">"'+ data.message+'"</a> <br> <div class="notice_time">'+data.time+'</div> </div> </li> <div class="ui divider" style="margin: 10px 0;"></div>').appendTo('.notice-list');
    }
    socket.onopen = function(e){
        $('.create_post').click(function(event) {
            data = {
                'action_type':'create_post',
                'text':$('.new_post_area').val()
            }
            socket.send(JSON.stringify(data))
        })
    }
    socket.onerror = function(e){
        console.log('error', e)
    }
    socket.onclose = function(e){
    }

</script>
{% endif %}
</body>
</html>