{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    Блог Bilimtap
{% endblock head_title %}
{% load ttags %}
{% load staticfiles %}
{% block content %}
<div class='ui container pb150 pt15'>
    <div class="ui grid stackable">
        {% include 'left_menu.html' %}
        <div class="w85 wide column">
            <div class="ui grid stackable ml30 mt0">
                <div class="twelve wide column no_padding">
                    <div class="ui segment mt0 mb15 text15">
                        <div class="text15 mb15 textdg">
                            <b>Блог Bilimtap.kz</b>
                            {% if is_moderator %}
                            <a class="ui button mini green shadow_green ml30" href="{% url 'news:new_post' %}">Новый пост</a>
                            {% endif %}
                        </div>
                        <div class="ui grid stackable mt0">
                            {% for post in posts %}
                            <div class="pl0 pt0 third wide column mb15">
                                <a href="{{post.get_absolute_url}}" style="display: block;" class="post_link">
                                    <div style="height: 180px;overflow: hidden;">
                                        {%if post.parts.first.image%}
                                        <img class="post_img full-w" src="{{post.parts.first.image.url}}">
                                        {%else%}
                                        <img class="post_img full-w" src="/static/images/fon4.jpg">
                                        {%endif%}
                                    </div>
                                    <div class="post_title text17 textbold" style="line-height: 20px">{{post.title}}</div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="four wide column" style="display: none;">
                    <div class="ui segment">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}