{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load ttttags %}
{% load ttags %}
{% block content %}
<div class="cattop" style="margin-top: -5px;">
    <div class="text-center newlandhead pb30 textw" style="background-color: #283654;background-image: url({% static 'images/icons/backicons.png' %});background-size: 150px;">
        <div style="font-size: 25px;line-height:30px;">
            {{category.main_filters.title}}
        </div>
        <div class="mt10">
            Найдено <b class="schools_len">{{category.schools.all|length}}</b> учебных центров
        </div>
    </div>
</div>
<a id="go-back-btn-before-land" href='/'>
    <i class="arrow left icon"></i>
</a>
<div class="ui grid stackable deskpl30 deskpr30 pt10 pb50" style="background-color: #ECECEC">
    <div class="three wide column pt0 pb0 pr0 not_in_mobile">
        <div class="ui segment pl0 pr0 pt5">
            <div class="pl5 pr5 pt5 pb5">                
                <div style="font-size: 14px;">
                    Выберите курсы для изучения
                </div>
                <div class="">
                {% for mf in category.main_filters.filter_options.all %}
                    <a class="pt5 pb5 pl5 pr5 ui button mini choose_cat mb5" status="" id="{{mf.id}}">
                        {{mf.title}}
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="ui divider mt0 mb0"></div>
            {% for second_filter in category.second_filters.all %}
            <div class="pl5 pr5 pt5 pb5">
                <div style="font-size: 14px;">
                    {{second_filter.title}}
                </div>                
                {% for sf in second_filter.filter_options.all %}
                    <a class="pt5 pb5 pl5 pr5 ui button mini choose_cat mb5 mr0 pl10 pr10" status="" id="{{sf.id}}">
                        {{sf.title}}
                    </a>
                {% endfor %}
            </div>
            <div class="ui divider mt0 mb0"></div>
            {% endfor %}
        </div>
     </div>
    <div class="thirteen wide column pl0 pt0" style="text-align: left;color: #696969">
        <div class="pl15">
            <div class="ui segment pl0 pr0 mb0">
                <div class="in_mobile mb15 text-center">
                    <a class="ui button blue" onclick="$('.catfilters').show('fast');"><i class="icon th" style="color: #fff;"></i> Фильтры</a>
                </div>
                <div class="loading" style="display: none;">
                  <div class="animation"><div class="circle one"></div></div>
                  <div class="animation"><div class="circle two"></div></div>
                  <div class="animation"><div class="circle three"></div></div>
                  <div class="animation"><div class="circle four"></div></div>
                  <div class="animation"><div class="circle five"></div></div>
                  <div class="animation"><div class="circle six"></div></div>
                </div>
                <div class="catland_found text15 pl10">
                    Сначала 
                    <a class="ui button green mini choose_cat cat_order mobmb5 mr0 pl5 pr5" order="rating">Лучшие по рейтингу</a>
                    <a class="ui button mini choose_cat cat_order mobmb5 mr0 pl5 pr5" order="cheap">Экономные</a>
                    <a class="ui button mini choose_cat cat_order mobmb5 mr0 pl5 pr5" order="expensive">Дорогие</a>
                </div>
            </div>
        </div>
        <div class="mt15">
            <div class="ui grid stackable schools_list no_margin">
            {% for school in category.schools.all %}
                {% include 'modals/school_list.html' %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
{% include 'modals/school_example_land.html' %}
</div>
{% include 'footer.html' %}
<span style="display: none;" class="show_url" url="{{url}}" slider_status="0" uplist="yes"></span>
<span style="display: none;" class="data" id="{{category.id}}" url="{% url 'main:cat_filter' %}"></span>
<style type="text/css">
    .ymaps-2-1-74-controls__control {
        right: 10px !important;
        left: auto !important;
    }
    .ymaps-2-1-74-search {
        display: none;
    }
    .ymaps-2-1-74-traffic {
        display: none;
    }
    .ymaps-2-1-74-listbox__button {
        display: none;
    }
    .filter {
        padding-right: 0 !important;
        width: 180px !important;
    }
    .filter2 {
        padding-right: 0 !important;
        width: 150px !important;
    }
</style>

<script type="text/javascript">
//    ymaps.ready(init);
    function init(){ 
        var myMap = new ymaps.Map("map", {
            center: [43.230, 76.92848],
            zoom: 12.5
        },{
            restrictMapArea: [
                [42.8, 76.02848],
                [44.25654, 77.92848]
            ]
        })
        firstCollection = new ymaps.GeoObjectCollection(null)
        {% for school in category.schools.all %}
            {% for office in school.school_offices.all %}
                x = parseFloat('{{office.latitude}}')
                y = parseFloat('{{office.longtude}}')
                firstCollection.add(new ymaps.Placemark([x, y], {id:'{{school.id}}'}, 
                    {
                        iconLayout: 'default#imageWithContent',
                        iconImageHref: '{% if school in schools %}{%static "images/pointer.png" %}{% else %}{%static "images/pointer.png" %}{% endif %}',
                        iconImageSize: [20, 30],
                        iconImageOffset: [-10, -30],
                        iconContentOffset: [15, 15],
                    }
                ));
            {% endfor %}
        {% endfor %}
        var animatedLayout = ymaps.templateLayoutFactory.createClass(
            '<div class="placemark"></div>',
            {
                build: function () {
                    animatedLayout.superclass.build.call(this);
                    var element = this.getParentElement().getElementsByClassName('placemark')[0];
                    // Если метка выбрана, то увеличим её размер.
                    var size = this.isActive ? 60 : 34;
                    // При задании для метки своего HTML макета, фигуру активной области
                    // необходимо задать самостоятельно - иначе метка будет неинтерактивной.
                    // Создадим фигуру активной области "Круг".
                    var smallShape = {type: 'Circle', coordinates: [0, 0], radius: size / 2};
                    var bigShape = {type: 'Circle', coordinates: [0, -30], radius: size / 2};
                    // Зададим фигуру активной области.
                    this.getData().options.set('shape', this.isActive ? bigShape : smallShape);
                    // Если метка выбрана, то зададим класс и запустим анимацию.
                    if (this.isActive) {
                        element.classList.add("active");
                        element.style.animation = ".35s show-big-placemark";
                    } else if (this.inited) {
                        element.classList.remove("active");
                        element.style.animation = ".35s show-small-placemark";
                    }
                    if (!this.inited) {
                        this.inited = true;
                        this.isActive = false;
                        // При клике по метке будем перестраивать макет.
                        this.getData().geoObject.events.add('click', function () {
                            this.isActive = !this.isActive;
                            this.rebuild();
                        }, this);
                    }
                }
            }
        );        
        firstCollection.events
        .add('click', function (e) {
            show_school(e.get('target').properties._data.id)
            e.stopPropagation();
        })
        .add('mouseenter', function (e) {
            e.get('target').options.set('preset', 'islands#greenIcon');
        })
        .add('mouseleave', function (e) {
            e.get('target').options.unset('preset');
        });
        myMap.geoObjects.add(firstCollection);
        $( function() {
        });
    }

    function show_list(){
        $('.school_landing').hide();
        $('.school_landing').attr('status', 'hidden')
        $('.school_list').show()
    }

    function down_schools(){
        if( $('.show_url').css('color')=='rgb(0, 0, 255)') {
            $('.map_school_list').attr('style', 'display:inline-block !important;');
            $('.map_school_list').animate({'top' : "-=200px"});
            $('.school_list').show()
            $('.map_school_list').attr('status','down')
            $('.map_filters_block').removeClass('back-g')
        }
    }
    function lift_schools(){
        if( $('.show_url').css('color')=='rgb(0, 0, 255)') {
            map_school_list = $('.map_school_list').offset()
            if (map_school_list.top != 150){
                $('.map_school_list').attr('style', 'display:inline-block !important;');
                $('.map_school_list').animate({'top' : "150px"});
                $('.map_school_list').attr('status','up')
                $('.map_filters_block').addClass('back-g')
            }
        }
    }
    function show_school(id) {
        url = $('.show_url').attr('url')
        lift_schools()
        $('.school_landing').show();
        $('.school_list').hide();
        $('.school_landing').attr('status', 'shown')
        $('.loading').show()
        $.ajax({
            url: url,
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                for (var i = 1; i <= 5; i++) {
                    $('#star'+i).attr('style', '')
                }
                $('.map_social-list').empty()
                for (var i = 0; i < data.social_networks.length; i++) {
                    $('<li class="map_social-item"> <a class="map_social-item-link" href="'+data.social_networks[i][0]+'"> <i class="icon '+data.social_networks[i][1]+'"></i>'+data.social_networks[i][1]+'</a> </li>').appendTo('.map_social-list');
                }
                $('.map_sameorg-item').show()
                $('.wright_review').hide()
                $('.thanks_review').hide()
                $('#addvert'+id).hide()
                $('.school_name_big').text(data.title)
                $('.school_worktime_landing').text(data.worktime)
                $('.school_address_landing').text(data.address)
                $('.school_phone_landing').text(data.phone+'...')
                $('.map_photo-wrapper').attr('href', data.landing_url)
                $('.save_review').attr('url', data.review_url)
                $('.map_worktime_main-status').text(data.is_open)
                if (data.is_open == 'Открыто') {
                    $('.map_worktime_main-status').attr('style', 'color:green')
                }
                else{
                    $('.map_worktime_main-status').attr('style', 'color:#c86478;')                    
                }
                if (data.banner){
                    $('.map_photo-wrapper').attr('style', 'background-image:url('+data.banner+');')                    
                }
                if (data.site == '') {
                    $('.map_site').hide()
                }
                else{
                    $('.map_site-link').text(data.site)
                }
                $('.all_phones').empty()
                for (var i = 0; i < data.phones.length; i++) {
                    $('<span class="school_phone_landing">'+data.phones[0]+'</span><br>').appendTo('.all_phones')
                }
                comma=', '
                $('.map_aboutpayment-text').empty()
                for (var i = 0; i < data.subjects.length; i++) {
                    if(i == data.subjects.length-1){comma = ''}
                    $('<span>'+data.subjects[i]+comma+'</span>').appendTo('.map_aboutpayment-text')
                }
                $('.map_aboutpayment-cost').empty()
                if (data.average_cost > 0) {
                    $('.map_aboutpayment_cost_cont').show()
                    $('<span>'+data.average_cost+' тенге</span>').appendTo('.map_aboutpayment-cost');
                }
                else{
                    $('.map_aboutpayment_cost_cont').hide()                    
                }
                end='ов'
                if(data.offices == 1){end=''}
                else if(data.offices % 10 < 5 && parseInt((data.offices % 100)/10) != 1 && data.offices > 0){end='а'}
                $('.map_address-subtitle').text(data.offices + ' филиал'+end)
                $('.map_other-info-subtext2').text(data.region)
                $('#school_landing').show()
                $('.loading').hide()
            }
        })
    }
    function school_div(id) {
        show_school(id)
    }
</script>
{% endblock content %}