{% extends "base.html" %}
{% block content %}
<div class='ui container' style="height: 91%;">
    <div class="ui segment" style="width: 40%;margin: auto; height: 400px;font-size: 70px;font-weight: 600;text-align: center;">
        <span style="color: #222;">4</span>
        <span style="color: #5181b8;">0</span>
        <span style="color: #222;">4</span>
        <br><br><br>
        <span style="font-size: 20px;">Упс, страница не найдена</span>
        <br><br><br>
        <a href="/" class="ui button green">На начальную страницу</a>
    </div>
</div>
{% endblock content %}