{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class='ui container'>
	<div class="ui one column centered grid">
		<div class="column six wide">

			<h1 style="text-align: center;">{{ title }}</h1>
			<form method='POST' action='' enctype='multipart/form-data' CLASS="ui form">{% csrf_token %}
				<div class="ui input" style="display:block;">
					{{ form }}
				</div>
				<input type='submit' class='ui button green' style="margin-top:20px;width:100%;" value='{{ title }}' />
			</form>

		</div>
	</div>

</div>
{% endblock content %}