{% load staticfiles %}
{% if user.is_authenticated %}
<div style="width: 14%;">
</div>
<div class="fixed_menu">
    {% if is_moderator %}
    <a href="/moderator/" style="position: absolute;width: calc(100% - 30px);" class="ui button mini green"><b>{{school_crnt.title}}</b></a>
    <br>
    {% endif %}
    <div id="left-main-menu">
        <div class="ui vertical menu" style="background-color: #f4f4f4; border:0; box-shadow: none;">
            <a class="item lftitem {%if page == 'mypage' %}lftitem_crnt{%endif%}" href='{{ profile.get_absolute_url }}'>
                <i class="home icon"></i> Моя страница
            </a>
            {% if is_director %}
            <a class="item lftitem {%if page == 'info' %}lftitem_crnt{%endif%}" href='{% url "schools:info" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="cog icon"></i>Управление
            </a>
            {% endif %}
            {% if is_manager or is_director %}
            <a class="item lftitem {%if page == 'crm' %}lftitem_crnt{%endif%}" href='{% url "schools:crm" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="list alternate icon" style="font-size: 15px;margin-top: -3px;"></i>
                CRM
                {% if profile.skill.need_actions > 0 %}
                <span class="left_menu_number">{{profile.skill.need_actions}}</span>
                {% endif %}                    
            </a>
            <a class="item lftitem {%if page == 'schedule' %}lftitem_crnt{%endif%}" href='{% url "schools:schedule" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="table icon"></i>Расписание
            </a>
            {% endif %}
            {% if is_manager or is_trener or is_director %}
            <a class="item lftitem {%if page == 'documents' %}lftitem_crnt{%endif%}" href='{% url "documents:main" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="folder icon"></i>Документы
            </a>
            {% endif %}
            {%if school_crnt.version == 'business'%}
            {% if is_trener or is_director %}
            <a class="item lftitem {%if page == 'library' %}lftitem_crnt{%endif%}" href='{% url "library:main" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="file alternate icon"></i>База уроков
            </a>
            {% endif %}
            {% endif %}
            {% if is_director %}
            <a class="item lftitem {%if page == 'finance' %}lftitem_crnt{%endif%}" href='{% url "schools:get_school_report" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <img src="{% static 'images/iconchart.png'%}" style="width: 16px;margin-right: 10px;margin-top: -8px;">
                <span>Финансы</span>
            </a>
            {% endif %}
            {% if is_manager or is_director %}
            <a class="item lftitem {%if page == 'payments' %}lftitem_crnt{%endif%}" href='{% url "schools:payments" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="dollar sign icon"></i>Оплата
            </a>
            {% endif %}
            <a class="item lftitem {%if page == 'news' %}lftitem_crnt{%endif%}" href='{% url "news:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="newspaper icon"></i>Новости
            </a>
            {% if is_manager or is_trener or is_director %}
            <a class="item lftitem {%if page == 'squads' %}lftitem_crnt{%endif%}" href='{% url "squads:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="users icon"></i>Группы
            </a>
            <a class="item lftitem {%if page == 'subjects' %}lftitem_crnt{%endif%}" href='{% url "subjects:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="book icon"></i>Курсы
            </a>
            {% endif %}
            <a class="item lftitem {%if page == 'ratings' %}lftitem_crnt{%endif%}" href='{% url "schools:rating" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="trophy icon"></i>Рейтинги
            </a>
        </div>
        <a class="lftitemsmall update_hints small_text ml10" href="{% url 'main:home' %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}">
            Поиск курсов
        </a>
        <br>
        <a class="lftitemsmall small_text ml10" href='/help/'>
            Помощь
        </a>
        <br>
        <a class="lftitemsmall small_text ml10" href='/team/'>
            О нас
        </a>
    </div>
</div>
{% endif %}
