{% load staticfiles %}
{% load ttags %}
<div style="width: 180px;">
</div>
<div class="deskmenu fixed_menu ui segment pt10 pl5 pr5 shadow_small" style="background-color: #fafafa;position: fixed;width: 165px;border-right: none;margin-top: 14px;margin-left: 14px;">
    <div id="left-main-menu">
        {% if user.is_authenticated %}
        <div class="ui vertical menu" style="background-color: #fafafa; border:none; box-shadow: none;">
            {% if is_moderator %}
                <a href="/moderator/" class="item lftitem text-center">{{school_crnt.title}} </a>
            {% endif %}
            <a class="item lftitem {%if page == 'mypage' %}lftitem_crnt{%endif%}" href='{{ profile.get_absolute_url }}'>
                <i class="home icon mr10"></i> Моя страница
            </a>
            {% if is_director %}
            <a class="item lftitem {%if page == 'info' %}lftitem_crnt{%endif%}" href='{% url "schools:info" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="cog icon mr10"></i>Управление
            </a>
            {% endif %}
            {% if is_manager or is_director %}
            <div side="right" class="{%if page == 'info' %}hint_place3{%endif%}">
                <a class="item lftitem {%if page == 'crm' %}lftitem_crnt{%endif%}" href='{% url "schools:crm" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                    <i class="address card icon mr10 no_padding text17" style="margin-top: -2px"></i>
                    Клиенты
                    {% if profile.filter_data.crm_notices > 0 %}
                    <span class="beta_notice">{{profile.filter_data.crm_notices}}</span>
                    {% endif %}                    
                </a>                
            </div>
            {% endif %}
            {% if is_manager or is_director %}
            <a class="item lftitem {%if page == 'payments' %}lftitem_crnt{%endif%}" href='{% url "schools:payments" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="dollar sign icon mr10"></i>Оплата
                {% if profile|payment_notices > 0 %}
                <span class="beta_notice mr5">{{profile|payment_notices}}</span>
                {% endif %}
            </a>
            <a class="item lftitem {%if page == 'schedule' %}lftitem_crnt{%endif%}" href='{% url "schools:schedule" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="table icon mr10"></i>Расписание
            </a>
            {% endif %}
            {% if is_manager or is_trener or is_director %}
            <a class="item lftitem {%if page == 'squads' %}lftitem_crnt{%endif%}" href='{% url "squads:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="users icon mr10"></i>Группы
            </a>
            {% endif %}
            <a class="item lftitem {%if page == 'subjects' %}lftitem_crnt{%endif%}" href='{% url "subjects:list" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                <i class="book icon mr10"></i>Курсы
            </a>
            {%if school_crnt.version == 'business'%}
                {% if is_director %}
                <a class="item lftitem {%if page == 'finance' %}lftitem_crnt{%endif%}" href='{% url "schools:get_school_report" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                    <img src="{% static 'images/iconchart.png'%}" style="width: 14px;margin-right: 13px;margin-top: -8px;">
                    <span>Финансы</span>
                </a>
                {% endif %}
                {% if is_manager or is_trener or is_director %}
                <a class="item lftitem {%if page == 'mails' %}lftitem_crnt{%endif%}" href='{% url "schools:mails" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                    <i class="envelope icon mr10"></i>Рассылки
                    <span class="grey_notice">beta</span>
                </a>
                <a class="item lftitem {%if page == 'documents' %}lftitem_crnt{%endif%}" href='{% url "documents:main" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                    <i class="folder icon mr10"></i>Документы
                </a>
                {% endif %}
                {% if is_trener or is_director %}
                <a class="item lftitem {%if page == 'library' %}lftitem_crnt{%endif%}" href='{% url "library:main" %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}'>
                    <i class="file alternate icon mr10"></i>База уроков
                </a>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
        <a class="lftitemsmall small_text ml10" href="{% url 'main:home' %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}">
            Поиск курсов
        </a>
        <br>
        <a class="lftitemsmall small_text ml10" href='/help/'>
            Помощь
        </a>
        <br>
        <a class="lftitemsmall small_text ml10 update_hints" url='{% url "main:update_hint" %}'>
            Подсказки
        </a>
        <br>
        <a class="lftitemsmall small_text ml10" href='/team/'>
            О нас
        </a>
    </div>
    {%if school_crnt.version != 'business' and is_director%}
    <div class="text-center mt15">
        <a class="get_full_version ui button small green shadow_green textbold">
            Попробовать полную версию
        </a>
    </div>
    {% endif %}
    <div class="text-center mt15">
        <a class="get_full_version ui button small green shadow_green textbold">
            Попробовать полную версию
        </a>
    </div>
    <!-- <a class="ui button mini green vidget">vidget</a> -->
    <a class="ui button mini green subscribe">subscribe</a>
</div>
<span style="display: none;" class="get_cloudpayments_data" url="{% url 'main:get_cloudpayments_data' %}"></span>
<script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
<script type="text/javascript">
    $('.subscribe').click(function(){
        $.ajax({
            url: '{% url "main:cloudpayments_pay"%}',
            data: {
                'AccountId':1,
                "Amount":15000,
            },
            dataType: 'json',
            success: function (data) {
                alert('yoyo')
            }
        })
    })
    $('.vidget').click(function(){
        url = $('.get_cloudpayments_data').attr('url')
        $(this).addClass('disabled')
        $.ajax({
            url: url,
            data: {
            },
            dataType: 'json',
            success: function (data) {
                publicId = data.publicId
                invoiceId = data.invoiceId
                accountId = data.accountId
                var widget = new cp.CloudPayments();
                widget.charge({ // options
                    publicId: publicId,
                    description: 'Оплата за 6 месяцев подписки', //назначение
                    amount: 10,
                    currency: 'KZT',
                    invoiceId: invoiceId,
                    accountId: accountId,
                    skin: "mini",
                })
                $('.vidget').removeClass('disabled')
            }
        })
    })
    $('.btn-bor').click(function(){
        location.reload();
    })
</script>