{% load staticfiles %}
{% load static compress %}
{% load ttags %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="G-3JdvIZH1oSADX0f2I8uRqCFAggIj06lzBKaEeYb3Y" />   
    <meta name="yandex-verification" content="f222118f15d7576b" />
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="description" content="Находите любые курсы в городе Алматы на одном сайте. Записывайтесь на пробный урок в 1 клик, сравнивайте цены, отзывы, местоположение и преподавателей">
    <meta name="keywords" content="английский,английский язык, английский язык алматы,курсы английского алматы,курсы английского языка в алматы,ниш поступление, поступление в ниш, поступление в ну, поступление в 165, математика, математика алматы, IELTS,айлс, TOEFL, продленка, ЕНТ, КТА, Курсы, курсы алматы, IELTS алматы, TOEFL алматы, SAT, SAT алматы, продленка алматы,продленки алматы,international english test,sat, ент алматы, кта алматы, Bilimtap">
    <title>{% block head_title %}Вход  в Bilimtap.kz{% endblock head_title %}</title>
    <!-- CSS -->
    <!-- Yandex.Metrika counter -->
    <link rel="shortcut icon" href='{% static "images/favicon.ico" %}' type="image/png">
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(55093303, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55093303" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146621937-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146621937-1');
      gtag('config', 'AW-794791496');
    </script>
    {% compress css %}
    <link rel='stylesheet' href='{% static "css/app.css" %}'/>
    <link rel="stylesheet" href='{% static "css/slider.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <link rel="stylesheet" href='{% static "css/datepicker.min.css" %}'> 
    {% endcompress %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% compress js %}
    <script src="{% static 'js/landing/func3.js' %}"></script> 
    <script src="{% static 'js/landing/func.js' %}"></script>
    {% endcompress %}
</head>
<body class="body">
{% include 'modals/forget_password.html' %}
<div class="ui container" style="overflow-y: hidden;">
    <div class="not_in_mobile" style="width: calc(30%); height: 50%;position: absolute;bottom: 10px;background-image: url({% static 'images/login_welcome.svg' %});background-size: 100%;background-repeat: no-repeat;"></div>
    <div class="not_in_mobile" style="width: calc(30%); height: 50%;position: absolute;bottom: 10px; right: 0;background-image: url({% static 'images/welcome3.svg' %});background-size: 100%;background-repeat: no-repeat;"></div>
    <form method='POST' action='' enctype='multipart/form-data' class="ui form pl15 pr15 mt20">
        <div class="text-center">
            <a href="/">
                <img class="br5 ml5 mr5 mb10 shadow_blue" style="width: 150px;" src="{% static 'images/logo_blue.png' %}">                
            </a>
        </div>
        <div class="ui segment shadow_small login_form">
            <div class="text-center textblue text17 textbold pt10 pb20">
                Вход в Bilimtap
            </div>
            <div class="wrong_login highlight_red" style="display: none;">Неверный логин или пароль</div>
            <b class="textdg">Номер телефона или Email</b>
            <input class="username2 mt5 mb15" name="username">
            <b class="textdg">Пароль</b> <a onclick="$('#forget_password-modal').modal('show');$('.wrong_mail_update_pswd').hide();$('.ok_update_pswd').hide();" style="font-size: 12px;float: right;font-weight: 600;">Забыли пароль?</a>
            <input class="password2 mt5 mb15" type="password" name="password">
            <div class="text-center">
                <input class="ui button small full-w green login-btn2" value="Войти" type="submit" onclick="return false">
            </div>
        </div>
        <div class="ui segment login_form mt15 shadow_small">
            <div class="text-center text15">
                Еще нет аккаунта? <a href="{% url 'main:sign_up' %}">Создать аккаунт</a>
            </div>
        </div>
    </form>
</div>
</body>