{% extends "base.html" %}
{% block head_title %}
    Moderator | {{ block.super }}
{% endblock head_title %}
{% load staticfiles %}
{% block content %}
<div class="ui container">
    <div class="ui grid stackable" style="margin-top: 14px;">
        <div class="one wide column">
        </div>
        <div class="fourteen wide column">
            <div class="ui segment" style="width: 50%;margin: 0 auto;">
                <form class="ui form" style="text-align: center;">
                    <b>Создать новую школу</b>
                    <br><br>
                    <textarea class="new_school_title" placeholder="Название школы"></textarea>
                    <textarea class="new_school_slogan" placeholder="Описание школы"></textarea>
                    <textarea class="new_school_name" placeholder="Имя директора"></textarea>
                    <textarea class="new_school_phone" placeholder="Номер директора"></textarea>
                    <textarea class="new_school_version" placeholder="Версия"></textarea>
                    <br><br>
                    <a class="ui button green create_school" url="{% url 'main:create_school' %}">Создать школу</a>
                </form>
            </div>
            <div class="highlight success_created" style="width: 50%;margin: 15px auto;display: none;">
                Школа создана, пароль директора: <b class="director_password" style="color: #fff;"></b>
            </div>
            <div class="highlight_red not_success_created" style="width: 50%;margin: 15px auto;display: none;">
                Школа создана, пароль директора: <b class="director_password" style="color: #fff;"></b>
            </div>
        </div>
        <div class="one wide column">
        </div>
    </div>
</div>
{% endblock content %}
