{% load staticfiles %}
<html> 
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">     
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}">   
    <link rel="stylesheet" href="{% static 'css/app.css' %}">   
    <title>Bilimtap</title> 
</head> 
<body data-track-group="Landing-Marquee">  
    <header> 
        <nav class="navbar py-3" data-track-group="Global Header"> 
            <a class="float-left" href="/">
                <img src="{% static 'images/landing/bilimtap.png' %}" class="logo">
            </a> 
            <div class="d-none d-md-block recommend"></div> 
            <div class="float-right buttons">
                <a href="/login" class="login">Войти</a> 
                <a href="/sign_up" class="ui button green">Зарегистрироваться</a>  
            </div> 
        </nav> 
    </header>   
    <div class="ui modal small" id="request_price_modal">
        <i class="close icon"></i>
        <div class="content">
            <form class="ui form center aligned container" style="width: 60%;">
                <h4>Закажите бесплатную презентацию всех возможностей прямо сейчас</h4>
                <textarea name="email" class="quick-signup-email request_name1" type="" placeholder="Имя"></textarea>
                <textarea name="email" class="quick-signup-email request_phone1" type="phone" placeholder="Телефон"></textarea>
                <br>
                <div class="loading" style="display: none;">
                    <div class="animation"><div class="circle one"></div></div>
                    <div class="animation"><div class="circle two"></div></div>
                    <div class="animation"><div class="circle three"></div></div>
                    <div class="animation"><div class="circle four"></div></div>
                    <div class="animation"><div class="circle five"></div></div>
                    <div class="animation"><div class="circle six"></div></div>
                </div>
                <input class="btn btn-wrap btn-success btn-md px-4 get_request_land" id="1" style="margin-top: 10px;" value="Заказать" type="submit" onclick="return false">
                <div class="success_query highlight" style="display: none;margin-top: 15px;">
                    Спасибо! Мы скоро с Вами свяжемся
                </div>
                <div class="land_fill_error1 highlight_red" style="display: none;margin-top: 15px;">
                    Пожалуйста, заполните все поля
                </div>                        
            </form>              
        </div>
    </div>
    <section class="hero pt-6 pb-5"> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-md-8 offset-md-2 text-center"> 
                    <h1 class="my-2">Bilimtap — путь к качественному образованию</h1> 
                    <p class="my-0">Всё в одном месте: клиенты, расписание, скидки, оплата, лэндинг-страница, email-рассылки, смс-уведомления. Забудьте о бесконечных таблицах и теряющихся заявках. <br>Сосредоточьтесь на том, что действительно важно.</p>  
                </div> 
            </div> 
        </div> 
    </section> 
    <section class="features desktop d-none d-md-block"> 
        <div class="container"> 
            <div class="tiers text-center text-white d-flex flex-wrap" id="tiers" data-billed="annually"> 
                <div class="pt-4"> 
                    <h3>Бесплатно</h3> 
                </div> 
                <div class="pt-4"> 
                    <h3>Эконом</h3> 
                </div> 
                <div class="pt-4"> 
                    <h3 style="color: #29fA45;">Стандарт</h3> 
                </div> 
                <div class="pt-4"> 
                    <h3>Бизнес</h3> 
                </div> 
                <div class="price"> 
                    <h2 class="m-0"><small>0тг</small></h2> 
                </div> 
                <div class="price"> 
                    <h2 class="m-0">
                        <small>500тг <p class="land_price">за менеджера</p></small>
                        <small>500тг <p class="land_price2">за учителя</p></small>
                    </h2> 
                </div> 
                <div class="price"> 
                    <h2 class="m-0">
                        <small>1000тг <p class="land_price">за менеджера</p></small>
                        <small>500тг <p class="land_price2">за учителя</p></small>
                    </h2> 
                </div> 
                <div class="price"> 
                    <h2 class="m-0">
                        <small>2000тг <p class="land_price">за менеджера</p></small>
                        <small>500тг <p class="land_price2">за учителя</p></small>
                    </h2> 
                </div> 
                <div class="price-2"> в месяц </div> 
                <div class="price-2"> в месяц </div> 
                <div class="price-2"> в месяц </div> 
                <div class="price-2"> в месяц </div> 
                <div class="pb-4"> 
                    <a class="btn btn-secondary mt-3 px-3" onclick="$('#request_price_modal').modal('show')" data-track="Signup">Начать</a> 
                </div> 
                <div class="pb-4">  
                    <a class="btn btn-success font-weight-bold mt-3 px-3" data-track="Learn More about Business Class" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
                <div class="pb-4">  
                    <a class="btn btn-success font-weight-bold mt-3 px-3" data-track="Learn More about Business Class" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
                <div class="pb-4"> 
                    <a class="btn btn-success font-weight-bold mt-3 px-3" data-track="Enterprise" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div>
                <h5 class="full-w center aligned container">*минимальный срок подключения - 6 месяцев</h5>
            </div> 
            <table class="table table-bordered text-center m-0"> 
                <tbody> 
                    <tr class="table-light"> 
                        <th colspan="4">Marketplace</th> 
                    </tr> 
                    <tr> 
                        <td>Указание центра на маркетплейсе</td> 
                        <td>Указание центра на маркетплейсе</td> 
                        <td>Указание центра на маркетплейсе</td> 
                        <td>Указание центра на маркетплейсе</td> 
                    </tr> 
                    <tr> 
                        <td>Лэндинг-страница учебного центра</td> 
                        <td>Лэндинг-страница учебного центра</td> 
                        <td>Лэндинг-страница учебного центра</td> 
                        <td>Уникальная лэндинг-страница учебного центра</td> 
                    </tr> 
                    <tr> 
                        <td>Возможность редактирования информации на лэндинг-странице</td> 
                        <td>Возможность редактирования информации на лэндинг-странице</td> 
                        <td>Возможность редактирования информации на лэндинг-странице</td> 
                        <td>Возможность редактирования информации на лэндинг-странице</td> 
                    </tr> 
                    <tr> 
                        <td>Блог учебного центра</td> 
                        <td>Блог учебного центра</td> 
                        <td>Блог учебного центра</td> 
                        <td>Блог учебного центра</td> 
                    </tr> 
                    <tr> 
                        <td>-</td> 
                        <td>Возможность клиента пройти тест на определение уровня знаний</td> 
                        <td>Возможность клиента пройти тест на определение уровня знаний</td> 
                        <td>Возможность клиента пройти тест на определение уровня знаний</td> 
                    </tr> 
                    <tr class="table-light"> 
                        <th colspan="4">Внутренняя система</th> 
                    </tr> 
                    <tr> 
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td> 
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td> 
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td> 
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td> 
                    </tr> 
                    <tr> 
                        <td>Неограниченное кол-во курсов/предметов</td> 
                        <td>Неограниченное кол-во курсов/предметов</td> 
                        <td>Неограниченное кол-во курсов/предметов</td> 
                        <td>Неограниченное кол-во курсов/предметов</td> 
                    </tr> 
                    <tr> 
                        <td>1 группа</td> 
                        <td>Неограниченное кол-во групп</td> 
                        <td>Неограниченное кол-во групп</td> 
                        <td>Неограниченное кол-во групп</td> 
                    </tr> 
                    <tr> 
                        <td>Неограниченное количество входящих заявок </td> 
                        <td>Неограниченное кол-во карточек в CRM</td> 
                        <td>Неограниченное кол-во карточек в CRM</td> 
                        <td>Неограниченное кол-во карточек в CRM</td> 
                    </tr> 
                    <tr> 
                        <td>Воронка продаж</td> 
                        <td>Воронка продаж</td> 
                        <td>Воронка продаж</td> 
                        <td>Воронка продаж</td> 
                    </tr> 
                    <tr> 
                        <td>Хранилище документов 10 мб</td> 
                        <td>Хранилище документов 500 мб</td> 
                        <td>Хранилище документов 5 гб</td> 
                        <td>Хранилище документов 15 гб</td> 
                    </tr> 
                    <tr> 
                        <td>Интерактивное расписание занятий</td> 
                        <td>Интерактивное расписание занятий</td> 
                        <td>Интерактивное расписание занятий</td> 
                        <td>Интерактивное расписание занятий</td> 
                    </tr> 
                    <tr> 
                        <td>Личный кабинет студента с расписанием</td> 
                        <td>Личный кабинет студента с расписанием</td> 
                        <td>Личный кабинет студента с расписанием</td> 
                        <td>Личный кабинет студента с расписанием</td> 
                    </tr> 
                    <tr> 
                        <td>Журнал посещаемости</td> 
                        <td>Журнал посещаемости</td> 
                        <td>Журнал посещаемости</td> 
                        <td>Журнал посещаемости</td> 
                    </tr> 
                    <tr> 
                        <td>Задания и поручения по системе Канбан</td> 
                        <td>Задания и поручения по системе Канбан</td> 
                        <td>Задания и поручения по системе Канбан</td> 
                        <td>Задания и поручения по системе Канбан</td> 
                    </tr> 
                    <tr> 
                        <td rowspan="11">-</td> 
                        <td>Личный кабинет преподавателя с расписанием</td> 
                        <td>Личный кабинет преподавателя с расписанием</td> 
                        <td>Личный кабинет преподавателя с расписанием</td> 
                    </tr> 
                    <tr> 
                        <td>Рейтинги студентов</td> 
                        <td>Рейтинги студентов</td> 
                        <td>Рейтинги студентов</td> 
                    </tr> 
                    <tr> 
                        <td>Анализ свободных аудиторий</td> 
                        <td>Анализ свободных аудиторий</td> 
                        <td>Анализ свободных аудиторий</td> 
                    </tr> 
                    <tr> 
                        <td>Возможность клиента сообщить о пропуске занятий 1 кнопкой</td> 
                        <td>Возможность клиента сообщить о пропуске занятий 1 кнопкой</td> 
                        <td>Возможность клиента сообщить о пропуске занятий 1 кнопкой</td> 
                    </tr> 
                    <tr> 
                        <td rowspan="7">-</td> 
                        <td>Предоплата/ абонементы/ скидки</td> 
                        <td>Предоплата/ абонементы/ скидки</td> 
                    </tr> 
                    <tr> 
                        <td>Перерасчет оплаты клиента в случае пропусков</td> 
                        <td>Перерасчет оплаты клиента в случае пропусков</td> 
                    </tr> 
                    <tr> 
                        <td>Отчеты по доходам/расходам</td> 
                        <td>Отчеты по доходам/расходам</td> 
                    </tr>
                    <tr> 
                        <td>Расчет зарплат сотрудников</td> 
                        <td>Расчет зарплат сотрудников</td> 
                    </tr> 
                    <tr> 
                        <td>База уроков 5 гб</td> 
                        <td>База уроков 5 гб</td> 
                    </tr> 
                    <tr> 
                        <td>Дистанционное обучение*</td> 
                        <td>Дистанционное обучение*</td> 
                    </tr> 
                    <tr> 
                        <td>Автоматическая проверка д/з</td> 
                        <td>Автоматическая проверка д/з</td> 
                    </tr> 
                    <tr class="table-light"> 
                        <th colspan="4">Дополнительно</th> 
                    </tr> 
                    <tr> 
                        <td>Email рассылки</td> 
                        <td>Email рассылки</td> 
                        <td>Email рассылки</td> 
                        <td>Email рассылки</td> 
                    </tr> 
                    <tr> 
                        <td rowspan="2"></td> 
                        <td>СМС уведомления</td> 
                        <td>СМС уведомления</td> 
                        <td>СМС уведомления</td> 
                    </tr> 
                    <tr> 
                        <td></td> 
                        <td>Приоритет в поддержке</td> 
                        <td>Приоритет в поддержке</td> 
                    </tr> 
                </tbody> 
            </table> 
            <div class="tiers tiers-bottom text-center text-white d-flex flex-wrap"> 
                <div> 
                    <a class="btn btn-secondary my-3 px-3" href="/signup" data-track="Signup">Начать</a> 
                </div> 
                <div>  
                    <a class="btn btn-success font-weight-bold my-3 px-3" data-track="Learn More about Business Class" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
                <div> 
                    <a class="btn btn-success font-weight-bold my-3 px-3" data-track="Enterprise" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
                <div> 
                    <a class="btn btn-success font-weight-bold my-3 px-3" data-track="Enterprise" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
            </div> 
        </div> 
    </section> 
    <section class="features d-md-none">
        <div class="container">
            <div class="tiers text-center text-white" id="tiers" data-billed="annually">
                <div class="pt-4">
                    <h3>Бесплатно</h3>
                </div>
                <div class="price">
                    <h2 class="m-0"><small>0тг</small></h2> 
                </div>
                <div class="price-2">
                в месяц  </div>
                <div class="pb-4">
                    <a class="btn btn-secondary mt-3 px-3" onclick="$('#request_price_modal').modal('show')" data-track="Signup">Начать</a>
                </div>
            </div>
            <table class="table table-bordered text-center m-0">
                <tbody>
                    <tr class="table-light">
                        <th>Marketplace</th>
                    </tr>
                    <tr>
                        <td>Указание центра на маркетплейсе</td>
                    </tr>
                    <tr>
                        <td>Лэндинг-страница учебного центра</td>
                    </tr>
                    <tr>
                        <td>Возможность редактирования информации на лэндинг-странице</td>
                    </tr>
                    <tr>
                        <td>Блог учебного центра</td>
                    </tr>
                    <tr class="table-light">
                        <th>Внутренняя система</th>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во курсов/предметов</td>
                    </tr>
                    <tr>
                        <td>1 группа</td>
                    </tr>
                    <tr>
                        <td>Неограниченное количество входящих заявок</td>
                    </tr>
                    <tr>
                        <td>Воронка продаж</td>
                    </tr>
                    <tr>
                        <td>Интерактивное расписание занятий</td>
                    </tr>
                    <tr>
                        <td>Личный кабинет студента с расписанием</td>
                    </tr>
                    <tr>
                        <td>Журнал посещаемости</td>
                    </tr>
                    <tr>
                        <td>Хранилище документов 10 мб</td>
                    </tr>
                    <tr>
                        <td>Задания и поручения по системе Канбан</td>
                    </tr>
                    <tr class="table-light">
                        <th>Дополнительно</th>
                    </tr>
                    <tr>
                        <td>Email рассылки</td>                         
                    </tr>
                </tbody>
            </table>
            <div class="tiers tiers-bottom text-center text-white">
                <div>
                    <a class="btn btn-secondary my-3 px-3" onclick="$('#request_price_modal').modal('show')">Начать</a>
                </div>
            </div>
            <div class="tiers text-center text-white mt-4" id="tiers" data-billed="annually">
                <div class="pt-4">
                    <h3>Эконом</h3>
                </div>
                <div class="price"> 
                    <h2 class="m-0">
                        <small>500тг <p class="land_price">за менеджера</p></small>
                        <small>500тг <p class="land_price2">за учителя</p></small>
                    </h2> 
                </div> 
                <div class="price-2"> в месяц </div> 
                <div class="pb-4">  
                    <a class="btn btn-success font-weight-bold mt-3 px-3" data-track="Learn More about Business Class" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
                <h5 class="full-w center aligned container">*минимальный срок подключения - 6 месяцев</h5>
            </div>
            <table class="table table-bordered text-center m-0">
                <tbody>
                    <tr class="table-light">
                        <th>Marketplace</th>
                    </tr>
                    <tr>
                        <td>Указание центра на маркетплейсе</td>
                    </tr>
                    <tr>
                        <td>Лэндинг-страница учебного центра</td>
                    </tr>
                    <tr>
                        <td>Возможность редактирования информации на лэндинг-странице</td>
                    </tr>
                    <tr>
                        <td>Блог учебного центра</td>
                    </tr>
                    <tr>
                        <td>Возможность клиента пройти тест на определение уровня знаний</td>
                    </tr>
                    <tr class="table-light">
                        <th>Внутренняя система</th>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во курсов/предметов</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во групп</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во карточек в CRM</td>
                    </tr>
                    <tr>
                        <td>Воронка продаж</td>
                    </tr>
                    <tr>
                        <td>Интерактивное расписание занятий</td>
                    </tr>
                    <tr>
                        <td>Личный кабинет студента с расписанием</td>
                    </tr>
                    <tr>
                        <td>Личный кабинет преподавателя с расписанием</td>
                    </tr>
                    <tr>
                        <td>Журнал посещаемости</td>
                    </tr>
                    <tr>
                        <td>Хранилище документов 500 мб</td>
                    </tr>
                    <tr>
                        <td>Рейтинги студентов</td>
                    </tr>
                    <tr>
                        <td>Задания и поручения по системе Канбан</td>
                    </tr>
                    <tr>
                        <td>Анализ свободных аудиторий</td>
                    </tr>
                    <tr>
                        <td>Возможность клиента сообщить о пропуске занятий 1 кнопкой</td>
                    </tr>
                    <tr class="table-light">
                        <th>Дополнительно</th>
                    </tr>
                    <tr>
                        <td>Email рассылки</td>
                    </tr>
                    <tr>
                        <td>СМС уведомления</td>
                    </tr>
                </tbody>
            </table>
            <div class="tiers tiers-bottom text-center text-white">
                <div>
                    <a class="btn btn-success font-weight-bold my-3 px-3" onclick="$('#request_price_modal').modal('show')">Узнать больше</a>
                </div>
            </div>
            <div class="tiers text-center text-white mt-4" id="tiers" data-billed="annually">
                <div class="pt-4">
                    <h3 style="color: #29fA45;">Стандарт</h3>
                </div>
                <div class="price"> 
                    <h2 class="m-0">
                        <small>1000тг <p class="land_price">за менеджера</p></small>
                        <small>500тг <p class="land_price2">за учителя</p></small>
                    </h2> 
                </div> 
                <div class="price-2"> в месяц </div> 
                <div class="pb-4">  
                    <a class="btn btn-success font-weight-bold mt-3 px-3" data-track="Learn More about Business Class" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
                <h5 class="full-w center aligned container">*минимальный срок подключения - 6 месяцев</h5>
            </div>
            <table class="table table-bordered text-center m-0">
                <tbody>
                    <tr class="table-light">
                        <th>Marketplace</th>
                    </tr>
                    <tr>
                        <td>Указание центра на маркетплейсе</td>
                    </tr>
                    <tr>
                        <td>Лэндинг-страница учебного центра</td>
                    </tr>
                    <tr>
                        <td>Возможность редактирования информации на лэндинг-странице</td>
                    </tr>
                    <tr>
                        <td>Блог учебного центра</td>
                    </tr>
                    <tr>
                        <td>Возможность клиента пройти тест на определение уровня знаний</td>
                    </tr>
                    <tr class="table-light">
                        <th>Внутренняя система</th>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во курсов/предметов</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во групп</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во карточек в CRM</td>
                    </tr>
                    <tr>
                        <td>Воронка продаж</td>
                    </tr>
                    <tr>
                        <td>Интерактивное расписание занятий</td>
                    </tr>
                    <tr>
                        <td>Личный кабинет студента с расписанием</td>
                    </tr>
                    <tr>
                        <td>Личный кабинет преподавателя с расписанием</td>
                    </tr>
                    <tr>
                        <td>Журнал посещаемости</td>
                    </tr>
                    <tr>
                        <td>Хранилище документов 5 гб</td>
                    </tr>
                    <tr>
                        <td>Рейтинги студентов</td>
                    </tr>
                    <tr>
                        <td>Задания и поручения по системе Канбан</td>
                    </tr>
                    <tr>
                        <td>Анализ свободных аудиторий</td>
                    </tr>
                    <tr>
                        <td>Возможность клиента сообщить о пропуске занятий 1 кнопкой</td>
                    </tr>
                    <tr>
                        <td>Предоплата/ абонементы/ скидки</td>
                    </tr>
                    <tr>
                        <td>Перерасчет оплаты клиента в случае пропусков</td>
                    </tr>
                    <tr>
                        <td>Отчеты по доходам/расходам</td>
                    </tr>
                    <tr>
                        <td>Расчет зарплат сотрудников</td>
                    </tr>
                    <tr>
                        <td>Дистанционное обучение*</td>
                    </tr>
                    <tr>
                        <td>Автоматическая проверка д/з</td>
                    </tr>
                    <tr>
                        <td>База уроков 5 гб</td>
                    </tr>
                    <tr class="table-light">
                        <th>Дополнительно</th>
                    </tr>
                    <tr>
                        <td>Email рассылки</td>
                    </tr>
                    <tr>
                        <td>СМС уведомления</td>
                    </tr>
                    <tr>
                        <td>Приоритет в поддержке</td>
                    </tr>
                </tbody>
            </table>
            <div class="tiers tiers-bottom text-center text-white">
                <div>
                    <a class="btn btn-success font-weight-bold my-3 px-3" onclick="$('#request_price_modal').modal('show')">Узнать больше</a>
                </div>
            </div>
            <div class="tiers text-center text-white mt-4" id="tiers" data-billed="annually">
                <div class="pt-4">
                    <h3>Бизнес</h3>
                </div>
                <div class="price"> 
                    <h2 class="m-0">
                        <small>2000тг <p class="land_price">за менеджера</p></small>
                        <small>500тг <p class="land_price2">за учителя</p></small>
                    </h2> 
                </div> 
                <div class="price-2"> в месяц </div> 
                <div class="pb-4">  
                    <a class="btn btn-success font-weight-bold mt-3 px-3" data-track="Learn More about Business Class" onclick="$('#request_price_modal').modal('show')">Узнать больше</a> 
                </div> 
                <h5 class="full-w center aligned container">*минимальный срок подключения - 6 месяцев</h5>
            </div>
            <table class="table table-bordered text-center m-0">
                <tbody>
                    <tr class="table-light">
                        <th>Marketplace</th>
                    </tr>
                    <tr>
                        <td>Указание центра на маркетплейсе</td>
                    </tr>
                    <tr>
                        <td>Уникальная лэндинг-страница учебного центра</td>
                    </tr>
                    <tr>
                        <td>Возможность редактирования информации на лэндинг-странице</td>
                    </tr>
                    <tr>
                        <td>Блог учебного центра</td>
                    </tr>
                    <tr>
                        <td>Возможность клиента пройти тест на определение уровня знаний</td>
                    </tr>
                    <tr class="table-light">
                        <th>Внутренняя система</th>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во филиалов/офисов/аудиторий</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во курсов/предметов</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во групп</td>
                    </tr>
                    <tr>
                        <td>Неограниченное кол-во карточек в CRM</td>
                    </tr>
                    <tr>
                        <td>Воронка продаж</td>
                    </tr>
                    <tr>
                        <td>Интерактивное расписание занятий</td>
                    </tr>
                    <tr>
                        <td>Личный кабинет студента с расписанием</td>
                    </tr>
                    <tr>
                        <td>Личный кабинет преподавателя с расписанием</td>
                    </tr>
                    <tr>
                        <td>Журнал посещаемости</td>
                    </tr>
                    <tr>
                        <td>Хранилище документов 15 гб</td>
                    </tr>
                    <tr>
                        <td>Рейтинги студентов</td>
                    </tr>
                    <tr>
                        <td>Задания и поручения по системе Канбан</td>
                    </tr>
                    <tr>
                        <td>Анализ свободных аудиторий</td>
                    </tr>
                    <tr>
                        <td>Возможность клиента сообщить о пропуске занятий 1 кнопкой</td>
                    </tr>
                    <tr>
                        <td>Предоплата/ абонементы/ скидки</td>
                    </tr>
                    <tr>
                        <td>Перерасчет оплаты клиента в случае пропусков</td>
                    </tr>
                    <tr>
                        <td>Отчеты по доходам/расходам</td>
                    </tr>
                    <tr>
                        <td>Расчет зарплат сотрудников</td>
                    </tr>
                    <tr>
                        <td>Дистанционное обучение*</td>
                    </tr>
                    <tr>
                        <td>Автоматическая проверка д/з</td>
                    </tr>
                    <tr>
                        <td>База уроков 5 гб</td>
                    </tr>
                    <tr class="table-light">
                        <th>Дополнительно</th>
                    </tr>
                    <tr>
                        <td>Email рассылки</td>
                    </tr>
                    <tr>
                        <td>СМС уведомления</td>
                    </tr>
                    <tr>
                        <td>Приоритет в поддержке</td>
                    </tr>
                </tbody>
            </table>
            <div class="tiers tiers-bottom text-center text-white">
                <div>
                    <a class="btn btn-success font-weight-bold my-3 px-3" onclick="$('#request_price_modal').modal('show')">Узнать больше</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="quiet" data-track-group="Footer">  
        <script>
          window.isHreflangPath = false;
          window.prefLocale = '';
          window.locale = 'ru';
        </script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <ul> 
            <li><a href="/team">О нас</a></li> 
            <li><a href="/pricing"><b style="color: #172B4D;font-size: 21px;">Цены</b></a></li> 
            <li><a href="/vacancies">Вакансии</a></li> 
        </ul> 
        <p> 
            <img src="{% static 'images/landing/logo.png' %}" style="width: 270px;height: 100px;">
            <br>
            &nbsp;© 2019. Все права защищены. 
        </p> 
    </footer>   
    </div>    
    <style type="text/css">
        table {
            font-size: 15px !important;
            color: #172B4D !important;
        }
    </style>
    <script src='{% static "js/scripts.js" %}'></script>
    <span class="request_url" url='{% url "main:get_request_land" %}'></span>
    <script src="{% static 'js/landing/func2.js' %}"></script>       
    <script src="{% static 'js/landing/func3.js' %}"></script> 
    <script src="{% static 'js/landing/func.js' %}"></script>
</body> 
</html>