{% extends "base.html" %}

{% block head_title %}
{{ hisprofile.first_name }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
{{ form.media }}
{{ paper_form.media }}
{% endblock head_extra %}

{% block content %}
<span class="page_status" style="display: none;" status='start_info'></span>
<a id="go-back-btn" class="start_info_btn" style="display: none;">
    <i class="arrow left icon"></i>Назад
</a>
<div id="profile">
    <div class="ui container" >
        <div class="ui stackable grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column" style="margin-left: 10px;padding-right: 30px;">
                {% include 'profile/classwork.html' %}
                <div class="ui stackable grid info">
                    <div class="four wide column left-side" style="padding: 14px 0;">
                        {% include 'profile/avatar.html' %}
                    </div>
                    <div class="twelve wide column right-side" style="padding: 0 0 14px 14px">
                        {% include 'profile/main_info.html' %}
                    </div>
                    <div class="sixteen wide column right-side" style="padding: 0">
                        <div class="ui tab active" id="detailed_info"> 
                            <div class="ui stackable grid">
                                <div class="eleven wide column" style="padding-right: 0;">
                                    {% include 'profile/hisschedule.html' %}                                         
                                </div>
                                <div class="five wide column">
                                    {% include 'profile/hissubjects.html' %}
                                </div>
                            </div>
                            {% include 'profile/attendance.html' %} 
                            {% include 'profile/money_chart.html' %}    
                            {% include 'profile/histree.html' %}    
                            
                            {% include 'profile/trello_cards.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
