{% extends "base.html" %}

{% block head_title %}
{{ hisprofile.first_name }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
{{ form.media }}
{{ paper_form.media }}
{% endblock head_extra %}

{% block content %}
<span class="first_squad" style="display: none;" id='{{ first_squad }}'></span>
<span class="first_subject" style="display: none;" id='{{ first_subject }}'></span>
<a id="go-back-btn" class="start_info_btn" style="display: none;">
    <i class="arrow left icon"></i>Назад
</a>

<div id="profile">
    <div class="ui container" >
        <div class="ui stackable grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
                <div class="ui stackable grid info">
                    <div class="sixteen wide column left-side" style="padding: 14px 0;">
                        <div class="twenty mitem" style="padding: 0;float: left;">
                            {% include 'profile/avatar.html' %}
                        </div>
                        <div class="eighty mitem" style="padding: 0 14px;float: left;">
                            {% include 'profile/main_info.html' %}
                        </div>
                    </div>
                    <div class="sixteen wide column left-side" style="padding: 0;">
                        <div class="twenty mitem" style="padding: 0;float: left;">
                            {% include 'profile/homeworks.html' %}
                            {% include 'profile/courses.html' %}
                        </div>
                        <div class="eighty" id="schedule" style="padding: 0 14px;float: left;">
                            {% include 'profile/hisschedule.html' %}                                         
                            {% include 'profile/attendance.html' %}
                        </div>
                        <span style="display: none;" class="is_blurred" answer="no"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('body').click( function(e){
        if (!$(e.target).is("#schedule") && $("#schedule").has(e.target).length == 0 ) {
            $('.mitem').stop().animate({opacity: 1}, 300);
        }
    });
    $('.miss_lectures').click(function(){
        // Make all images (except this) transparent
        $('.mitem').stop().animate({opacity: 0.1}, 300);
        // Make this opaque
        console.log('d')
    });

</script>
{% endblock content %}
