{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}
Зарегестрироваться | {{ block.super }}
{% endblock head_title %}{% block content %}
<div class="ui container" style="overflow-y: hidden;">
    <div class="ui grid stackable mt0 mb30">
        <div class="five wide column">
        </div>
        <div class="six wide column">
                <div class="text-center mt15 mb30" style="font-size: 30px;">
                    Создайте Ваш аккаунт
                </div>
            <div class="ui segment">
                <div style="display: none;" class="highlight_red reg_wrong_phone">Пользователь с таким номером или email уже существует</div>
                <div style="display: none;" class="highlight_red reg_fill_all">Заполните все</div>
                <form method='POST' style="margin-bottom: 0" enctype='multipart/form-data' CLASS="ui form">{% csrf_token %}
                    Имя Фамилия
                    <input class="new_name2 mb10">
                    Номер телефона
                    <input class="new_username2 mb10">
                    Email
                    <input class="new_mail2 mb10">
                    <div style="display: none;" class="highlight_red reg_wrong_pass">Пароли не совпадают</div>
                    Пароль
                    <input class="new_password22 mb10" type="password">
                    Повторите пароль
                    <input class="new_password222 mb10" type="password">
                    <div class="text-center">
                        <input class="ui button green register-btn2 mr15 full-w mt15" value="Зарегистрироваться" type="submit" onclick="return false">
                    </div>
                </form>   
            </div>                 
        </div>
        <div class="five wide column">
        </div>            
    </div>
</div>
{% include 'footer.html' %}

{% endblock content %}