{% load staticfiles %}
<div style="color: #fff">
    <div style="width: 33%; padding: 7px 7px 0 7px;display: inline-block;">
        <div style="background-color: #5E93E3;height: 110px;border-radius: 2px;padding: 14px;">
            <div style="position: absolute;">
                <span style="font-size: 19px;">Математика</span>
                <br>
                <span style="font-size: 13px;color: #fff;">Подборка курсов по математике </span>
                <br><br>
                <a class="ui button mini" style="background-color: #fff">Показать</a>
            </div>
        </div>
    </div>
    <div style="width: 33%; padding: 7px 7px 0 7px;display: inline-block;">
        <div style="padding: 14px; background-image: url({% static 'images/fon1.png' %});height: 110px;border-radius: 2px;">
            <div style="position: absolute;">
                <span style="font-size: 19px;">Физика</span>
                <br>
                <span style="font-size: 13px;color: #fff;">Подборка курсов по физике </span>
                <br><br>
                <a class="ui button mini" style="background-color: #fff">Показать</a>
            </div>
        </div>
    </div>
    <div style="width: 33%; padding: 7px 7px 0 7px;display: inline-block;">
        <div style="padding: 14px; background-color: #FA9B9B;height: 110px;border-radius: 2px;">
            <div style="position: absolute;">
                <span style="font-size: 19px;">Химия</span>
                <br>
                <span style="font-size: 13px;color: #fff;">Подборка курсов по химии </span>
                <br><br>
                <a class="ui button mini" style="background-color: #fff">Показать</a>
            </div>
        </div>
    </div>
    <br>
    <div style="width: 33%; padding: 7px;display: inline-block;">
        <div style="padding: 14px; background-color: #ADD6FF;height: 110px;border-radius: 2px;">
            <div style="position: absolute;">
                <span style="font-size: 19px;">История</span>
                <br>
                <span style="font-size: 13px;color: #fff;">Подборка курсов по истории </span>
                <br><br>
                <a class="ui button mini" style="background-color: #fff">Показать</a>
            </div>
        </div>
    </div>
    <div style="width: 33%; padding: 7px;display: inline-block;">
        <div style="padding: 14px; background-color: #FFB681;height: 110px;border-radius: 2px;">
            <div style="position: absolute;">
                <span style="font-size: 19px;">Биология</span>
                <br>
                <span style="font-size: 13px;color: #fff;">Подборка курсов по биологии </span>
                <br><br>
                <a class="ui button mini" style="background-color: #fff">Показать</a>
            </div>
        </div>
    </div>
    <div style="width: 33%; padding: 7px;display: inline-block;">
        <div style="padding: 14px; background-color: #57B7AB;height: 110px;border-radius: 2px;">
            <div style="position: absolute;">
                <span style="font-size: 19px;">Информатика</span>
                <br>
                <span style="font-size: 13px;color: #fff;">Подборка курсов по информатике </span>
                <br><br>
                <a class="ui button mini" style="background-color: #fff">Показать</a>
            </div>
        </div>
    </div>
</div>