{% load staticfiles %}
{% load tags %}
<div class="ui segment" style="background-color: #fafbfc;margin-bottom: 0; padding: 18px; font-size: 16px; color: #000;">
    <a href="{% url 'library:courses' %}" style="color: #656565;">Курсы</a><i class="icon angle right"></i>{{ course.title }}
</div>
<div class="ui segment" style="margin-top: 0; padding: 0 0 30px 0;margin-bottom: 0">
	{% if course.image %}
		<img src="{{ course.image.url }}" style="width: 100%;height: 200px;">
	{% else %}
		<img src="{% static 'images/back.png' %}" style="width: 100%;">
	{% endif %}
	<div style="margin-bottom: 0; text-align: center;margin-top: 44px;width: 100%;">
		<span style="font-size: 23px;color: #222;margin-bottom: 11px;font-weight: 700;">Об этом курсе</span>
    	{% if profile in course.students.all or profile == course.author_profile or profile.is_ceo or profile.is_creator %}
	    	<a class="ui button large green" style="position: absolute; margin-top: -15px;margin-left: 50px;width: 20%;" href="{{ course.get_absolute_url }}">Продолжить курс</a>
    	{% else %}
    		<a class="ui button large green" onclick="$('.buy_course').modal('show')" style="position: absolute; margin-top: -15px;margin-left: 50px;width: 20%;">Начать курс</a>
    	{% endif %}
    </div>
	<div style="margin-top: 0;padding: 20px;">
        <span style="font-size: 16px;margin-right: 10px;">
            {% for star in course.stars %}
                <i class="icon star" style="margin: 0 -3px 0 0;color: #F7BB56 !important;"></i>
            {% endfor %}
            {% for star in course.stars|notstars %}
                <i class="icon star outline" style="margin: 0 -3px 0 0;color: #F7BB56 !important;;"></i>
            {% endfor %}            
        </span>
	    <span style="font-size: 16px;color: #F7BB56;;font-weight: 600">{{ course.rating }}</span>
	    <span style="font-size: 13px;color: #56565a;margin-left:10px;">
	        Студенты: 100{{ course.students|length }}
	    </span>
	    <br><br>
		<span style="font-size: 15px;color: #56565a;">{{ course.get_markdown }}</span>
		<br><br>
		<div style="border: 1px solid #e1e1e1;border-radius: 4px;padding: 15px;">
			<div style="color: #6e767f;font-weight: 600;font-size: 15px;margin-bottom: 20px;">Приобретаемые навыки</div>
			<div style="border-radius: 30px;background-color: #EBECED;color: #1F1F1F;padding: 7px 15px;width: fit-content;">
				Logistic Regression
			</div>
		</div>
	</div>
</div>
<div class="ui segment" style="margin-top: 0; padding: 20px 14px 0px 14px;margin-bottom: 0;background-color:#f5f7fa;">
	<div style="text-align: center;">
		<span style="font-size: 23px;color: #222;margin-bottom: 11px;font-weight: 700;">Преподаватель</span>
	</div>
	<div style="margin-top: 0;padding: 20px;">
		<div class="ui grid">
            <div class="three wide column" style="padding-left: 0;padding-right: 0">
            	<a href='{{ course.author_profile.get_absolute_url }}'>
	                {% if course.author_profile.image %}
	                <img style="margin-right: 0px; margin-left: 10px; width: 100px;height: 100px; border-radius: 100%;" src='{{ course.author_profile.image.url }}'/>
	                {% else %}
	                <img style="margin-right: 0px; margin-left: 10px; width: 100px;height: 100px; border-radius: 100%;" src="{% static 'images/nophoto.png' %}">
	                {% endif %}
            	</a>
            </div>
            <div class="eleven wide column">
                <a href='{{ course.author_profile.get_absolute_url }}' style="font-size: 20px;color: #373a3c;font-weight: 700">{{ course.author_profile.first_name }}</a>
                <br><br>
                {{ course.author_profile.school.title }}
                <br>
                {{ course.author_profile.description }}
            </div>
        </div>
	</div>
</div>
<div class="ui segment" style="margin-top: 0; padding: 40px 15px 15px 15px;margin-bottom: 0;">	
	<div style="margin-bottom: 0; text-align: center;">
		<span style="font-size: 23px;color: #222;margin-bottom: 11px;font-weight: 700;">Программа курса: что вы изучите</span>
	</div>
	<div style="margin-top: 0;padding: 20px;">
		{% for lesson in course.lessons.all %}
		<div style="padding: 0;margin-top: 0" class="ui grid">
	    	<div class="one wide column">
	            <div style="width: 40px;text-align: center; height: 40px;line-height: 40px; font-size: 25px;background-color: #F89948;border-radius: 100%;color: #fff;display: inline-block;">
	            	{{ forloop.counter }}
	            </div> 	    		
	    	</div>
	    	<div class="ten wide column">
				<div style="display: inline-block;line-height: 40px;font-size: 15px;height: 40px;color: #6e767f;font-weight: 600;">
		            {{ lesson.title }}
				</div>
	            <div id="lesson_list{{ lesson.id }}" style="color: #373a3c;">
				{{ lesson.papers.all.0.subthemes.all.0.content }}
	                {% for paper in lesson.papers.all %}
	                <div style="padding-top: 10px;padding-left: 30px;">
                        <span>{{ paper.title }}</span>
	                </div>
	                {% endfor %}
	            </div>
			</div>
	    </div>
	    {% endfor %}
	</div>
</div>
<div class="ui segment" style="margin-top: 0; padding: 0;margin-bottom: 0;">
	<div style="margin-top: 0;padding: 20px;text-align: center;">		
    	<span style="font-size: 20px;color: #222;">Начните обучение сегодня</span>
    	<br><br>
    	{% if profile in course.students.all or profile == course.author_profile or profile.is_ceo or profile.is_creator %}
	    	<a class="ui button large green" href="{{ course.get_absolute_url }}">Продолжить курс</a>
    	{% else %}
    		<a class="ui button large green open_buy_course" onclick="$('.buy_course').modal('show')" style="width: 30%;">Начать курс</a>
    	{% endif %}
	</div>
</div>

<div class="ui modal buy_course" style="width: 680px;">
    <i class="close icon"></i>
    <div class="content" style="padding: 0">
    	<div class="ui grid" style="background-color: #fff;margin: 0;border-radius: 4px;padding: 25px;">
    		<div class="four wide column" style="padding: 0;margin-right: 20px;">
    			{% if course.image %}
					<img src="{{ course.image.url }}" style="width: 140px;height: 140px;">
				{% else %}
					<img src="{% static 'images/books.png' %}" style="width: 140px;height: 140px;">
				{% endif %}
    		</div>
    		<div class="eleven wide column" style="padding: 0">
    			<div style="font-size: 18px;color: #222;">{{ course.title }}</div>
    			<div style="color: #656565;margin-top: 4px;font-size: 13px;">
			        <span style="margin-right: 10px;">
			            {% for star in course.stars %}
			                <i class="icon star" style="margin: 0 -3px 0 0;color: #F7BB56 !important;"></i>
			            {% endfor %}
			            {% for star in course.stars|notstars %}
			                <i class="icon star outline" style="margin: 0 -3px 0 0;color: #F7BB56 !important;;"></i>
			            {% endfor %}            
			        </span>
    				{{ course.students.all|length }} студентов
    			</div>
    			<div class="ui label" style="color: #000;margin-top: 9px;font-size: 15px;">
	    			{{ course.cost }}
		    		<img class="ui right spaced avatar image" src="{% static 'images/coins_gold.png' %}" style="height: 18px !important;width: 18px;">
	    		</div>
	    		<br>
    			<a class="ui button blue pay_for_course" course_id={{ course.id }} url="{{ course.pay_for_course }}" style="position: absolute;bottom: 0;width: 200px;">Купить курс</a>
    			<div class="ui segment not_enough_dils" style="display: none;text-align: center;">
    				На Вашем счету недостаточно дилей
    			</div>
    		</div>
    	</div>
    </div>
</div>

{% include 'courses/course_bought.html' %}