{% load staticfiles %}
{% load tags %}
<div class="ui grid stackable">
    <div class="{% if course.image %}fifteen{%else%}eleven{%endif%} wide column" style="padding-bottom: 0;padding-right: 0;">
        <div class="ui segment" {% if not course.image %} style="margin-bottom: 0"{% endif %}>
            <div class="ui grid">
                {% if course.image %}
                <div class="sixteen wide column" style="padding: 0">
                    <img src="{{ course.image.url }}" style="height: 200px; width: 100%;">
                </div>
                {% endif %}
                <div class="eleven wide column" style="padding: 0">
                    <div class="group-name">
                        {% if course.image %}
                            {% if course.school.image_icon %}
                            <img src="{{ course.school.image_icon.url }}" class="ui avatar image" style="width: 39px; height: 39px;">
                            {% else %}
                            <img class="ui avatar image" style="width: 39px; height: 39px;" src="{% static 'images/books.png' %}">
                            {% endif %}
                        {% endif %}
                        <span class="ui header ava-title">{{ course.title }}</span>
                        <span style="display: block;font-size: 12px;color: #56565a;">
                            {% for star in course.stars %}
                                <i class="icon star" style="margin: 0 -3px 0 0;font-size: 9px;"></i>
                            {% endfor %}
                            {% for star in course.stars|notstars %}
                                <i class="icon star outline" style="margin: 0 -3px 0 0;font-size: 9px;"></i>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="five wide column" >
                </div>  
            </div>
        </div>
    {% if course.image %}    
    </div>
    <div class="eleven wide column" style="padding-right: 0">
    {% endif %}
        <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;{% if not course.image %}margin-top: 0{% endif %}">
            Информация
        </div>
        <div class="ui segment" style="margin-top: 0">
            <div class="ui grid">
                <div class="one wide column">
                    <i class="icon list" style="font-size: 17px;"></i>
                </div>
                <div class="fifteen wide column" style="padding-right: 25px;">
                    {{ course.content }}  
                </div>
            </div>
        </div>
        {% include 'library/chart.html' %}
        {% include 'courses/course_lessons.html' %}
    </div>
    <div class="four wide column" style="padding-right: 0">
        {% if not course.image %}
        <div class="ui segment">
            {% if course.school.image_icon %}
            <img src="{{ course.school.image_icon.url }}" style="width: 100%;">
            {% else %}
            <img style="width: 100%; " src="{% static 'images/books.png' %}">
            {% endif %}
        </div>
        {% endif %}
        {% if course.author_profile == profile or profile.user.is_superuser %}
        <div class="ui segment" style="color: #67707a;">
            <a href="{{ course.get_update_url }}">
                <div class="ui grid">
                    <span class="two wide column">
                        <i class="icon cog" style="font-size: 20px;"></i>
                    </span>
                    <span class="thirteen wide column">
                        Управление
                    </span>                                    
                </div>
            </a>
            <a href="{{ course.get_delete_url }}">
                <div class="ui grid">
                    <span class="two wide column">
                        <i class="icon x" style="font-size: 20px;"></i>
                    </span>
                    <span class="thirteen wide column">
                        Удалить
                    </span>                                    
                </div>
            </a>
        </div>
        {% endif %}
        <div class="ui segment">
            <div class="ui grid user-block">
                <div class="sixteen wide column" style="padding-bottom: 0">
                    Автор:
                </div>
                <div class="three wide column" style="padding-left: 0;padding-right: 0">
                    {% if course.author_profile.image %}
                    <img style="margin-right: 0px; margin-left: 10px; width: 30px;" src='{{ course.author_profile.image.url }}'/>
                    {% else %}
                    <img style="margin-right: 0px; margin-left: 10px; width: 30px;" src="{% static 'images/nophoto.png' %}">
                    {% endif %}
                </div>
                <div class="eleven wide column">
                    <a href='{{ course.author_profile.get_absolute_url }}'>{{ course.author_profile.first_name }}</a>
                </div>
            </div>
        </div>
        {% if videos.length > 0 or youtubes.length > 0 %}
        <div class="ui segment">
            <a href="{{ course.videos_url }}">
                Видеозаписи
            </a>
            <div style="margin-top: 14px;padding: 10px;" class="ui grid">
            {% for video in videos %}
                <div style="padding: 0; margin-bottom: 18px;">
                    <video style="width: 100%; height: 112px;border-radius: 5px;padding: 0; border: none;" controls>
                        <source src="{{ video }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% endfor %}
            {% for youtube in youtubes %}
            <div style="padding: 0; margin-bottom: 18px;">
                    <iframe style="width: 100%; height: 112px;border-radius: 5px;padding: 0; border: none;" src="{{ youtube }}"></iframe>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>