{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.ten.wide.column{
		padding-bottom: 0 !important;
	}
	.six.wide.column{
		padding-bottom: 0 !important;
	}
</style>
<div id="profile">
	{% if course %}
	<a id="go-back-btn" style="right: 30%;"  href='{{ course.get_absolute_url }}'>
        <i class="check icon" style="color: #5181b8"></i>
    </a>
	{% else %}
	<a id="go-back-btn" style="right: 30%;"  href='{% url "courses" %}'>
        <i class="check icon" style="color: #5181b8"></i>
    </a>
    {% endif %}
	<div class='ui container'>
		<div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="eleven wide column">
            	<form style="margin-bottom: 0" class="ui form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
	            	<div class="ui grid stackable">
			            <div class="twelve wide column">
			            	<div class="ui segment" style="margin-bottom: 0;background: #fafbfc;height: 54px;padding: 0 20px;line-height: 54px;font-size: 15px;font-family: Tahoma, sans-serif;">
				        		Основная информация
				        	</div>
				        	<div class="ui segment" style="line-height: 40px; margin-top: 0">
			        			<div class="ui grid" style="padding-bottom: 14px;">
			        				<div class="six wide column" style="text-align: right;padding-right: 0">
			        					<p style="color: #656565;font-size: 13px;margin-bottom: 32px;padding-top: 2px;">
				        					Название:
				        				</p>
				        				<p style="color: #656565;font-size: 13px;margin-bottom: 32px;padding-top: 2px;">
											Картинка (16 x 9):
										</p>
										<p style="color: #656565;font-size: 13px;margin-bottom: 32px;padding-top: 2px;">
											Описание курса:
										</p>
										<p style="color: #656565;font-size: 13px;margin-bottom: 32px;padding-top: 2px;">
											Стоимость:
										</p>
			        				</div>
			        				<div class="ten wide column" >
			        					{{ form|crispy }}	
			        				</div>
									<div class="sixteen wide column center aligned">
			                            <a href="{{ course.get_delete_url }}" class="ui button red small">
	                                        <i class="icon trash" style="color: #fff;"></i> Удалить курс "<b>{{ course.title }}</b>"
			                            </a>
		                            </div>				        				
		                            <div class="sixteen wide column" style="margin: 0;padding: 0">
				        				<div class="ui divider" style="margin: 0"></div>
				        			</div>
			        				<div class="six wide column">
				        			</div>
				        			<div class="ten wide column">
										<input type='submit' class='ui button blue tiny' value='Сохранить' />
									</div>
			        			</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>	
</div>

{% endblock content %}