{% load ttags %}
{% include 'courses/course_file_system.html' %}        
<div class="ui grid segment">   
    {% for lesson in course.lessons.all %}
    <div class="four wide column">
        <a class="ui button course_lesson {% if profile.is_trener or profile in lesson.done_by.all %}green{% endif %}" href="{{ lesson.get_absolute_url }}">
            <span class="course_lesson_title">{{ lesson.title }}</span>
            {% if lesson.is_homework %}
                <br>
                <span class="is_homework">Домашка</span>
            {% endif %}
        </a>
    </div>
    {% endfor %}
    <div>
    {% if course.author_profile == profile %}
        <a class="ui button mini blue" onclick="$('#materials').modal('show')">Добавить урок</a>
        {% include 'courses/course_add_materials.html' %}
    {% endif %}
    </div>
</div>
