<div class="forget_password_modal2 full-w mt150" style="display: none;position: fixed;z-index: 3000;">
    <div class="dflex">
        <i class="close icon"></i>
        <div class="content backwhite br5 pt15 pl15 pr15 pb30" style="margin: 0 auto;" >
            <form style="margin: 0 auto;" method='POST' action='update_pswd' enctype='multipart/form-data' CLASS="half-w ui form text14 text-center">{% csrf_token %}
                <b class="text15">Введите ваш email и мы отправим вам ссылку для восстановления пароля</b>
                <input class="update_pswd_mail" name="update_pswd_mail" placeholder="Введите ваш email" style="margin-bottom: 15px;margin-top: 10px;">
                <div class="text-center">
                    <input class="btn btn-success btn-sm text14 update_pswd-btn" value="Восстановить пароль" type="submit" onclick="return false">
                    <div class="loading" style="display: none;">
                        <div class="animation"><div class="circle one"></div></div>
                        <div class="animation"><div class="circle two"></div></div>
                        <div class="animation"><div class="circle three"></div></div>
                        <div class="animation"><div class="circle four"></div></div>
                        <div class="animation"><div class="circle five"></div></div>
                        <div class="animation"><div class="circle six"></div></div>
                    </div>
                    <br><br>
                    <div style="display: none;" class="pt5 pb5 highlight ok_update_pswd">Письмо со ссылкой отправлено, проверьте почту</div>
                    <div style="display: none;" class="pt5 pb5 highlight_red wrong_mail_update_pswd">Не удалось отправить письмо, мы скоро свяжемся с Вами</div>
                </div>
            </form>
        </div>   
    </div>
</div>
