<form method='POST' action='' enctype='multipart/form-data' class="ui form pl15 pr15 mt50">
    <div class="text-center textw" style="font-size: 25px;">
        Вход в Bilimtap
    </div>
    <div class="mt5 backwhite br5 pl15 pt15 pr15 pb15 text14">
        <div class="wrong_login highlight_red" style="display: none;">Неверный логин или пароль</div>
        <b class="textdg">Номер телефона или Email</b>
        <input class="username2 mt5 mb15" name="username">
        <b class="textdg">Пароль</b> 
        <a class="textblue show_forget_password" style="font-size: 12px;float: right;font-weight: 600;">Забыли пароль?</a>
        <input class="password2 mt5 mb15" type="password" name="password">
        <div class="text-center">
            <input class="btn btn-sm btn-success pl30 pr30 green login-btn2" value="Войти" type="submit" onclick="return false">
        </div>
    </div>
    <div class="backwhite pt15 pl15 pr15 pb15 br5 mt15">
        <div class="text-center text15">
            <span class="textdg">Еще нет аккаунта?</span> <a href="{% url 'main:sign_up' %}">Создать аккаунт</a>
        </div>
    </div>
</form>

