

#my-profile{
  .created-content{
    margin-top: 10px !important;
  }

  #chart-graphics {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
  }
  .highcharts-yaxis-grid .highcharts-grid-line {
    display: none;
  }





}