{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" style="padding-bottom: 200px;">
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
                {% include 'school/head.html' %}
                {% for prof in professions %}
                    {% if prof.title == "Manager" or prof.title == "Teacher" %}
                        <div class="ui segment" style="margin-bottom: 0">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="icon users" style="font-size: 17px;"></i>
                                </div>
                                <div class="eleven wide column" style="padding-right: 25px;">
                                    {{prof.title}}
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" style="padding:0;margin-top: 0">
                            <div class="ui grid stackable" style="background: #4A4A4A;color: #fff;margin: 0;padding: 0;">
                            {% for job in prof.job_categories.all %}
                                <div class="eight wide column" style="padding: 0">
                                    <div class="ui grid" style="margin: 0">
                                        <div class="twelve wide column" style="padding-bottom: 0">
                                            {{ job.title }}
                                        </div>
                                        <div class="four wide column" style="padding: 5px 14px">
                                            <form class="ui form" style="margin: 0;">
                                                <div id="input{{worker.id}}" class="ui grid" style="float: right;">
                                                    <div class="eleven wide column" style="padding: 14px 1px;">
                                                        <input style="margin: 0;height: 28px;padding: 6px 5px" type="number" id="job_salary{{job.id}}" value="{{ job.salary }}">                                       
                                                    </div>
                                                    <div class="five wide column" style="padding: 14px 0">
                                                        <a class="ui button mini blue save_job_salary" id="{{ job.id }}" style="padding: 9px 2px 9px 10px;"><i class="check icon" style="color: #fff;"></i></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="ui divider grey_divider"></div>
                                    <div style="margin: 0;">
                                        {% for worker in job.job_workers.all %}
                                            <div class="ui grid" style="margin: 0;{% if forloop.counter|is_odd %}background-color: #545454{%endif%}">
                                                <div class="eleven wide column" style="padding: 14px 14px 5px 14px">
                                                    {{ worker.first_name }}
                                                </div>
                                                <div class="five wide column" style="padding: 5px 14px">
                                                    <form class="ui form" style="margin: 0;">
                                                        <div id="input{{worker.id}}" class="ui grid" style="float: right;display: none;">
                                                            <div class="eleven wide column" style="padding: 14px 1px;">
                                                                <input style="margin: 0;height: 28px;padding: 6px 5px" type="number" id="salary{{worker.id}}" value="{{ worker.salary }}">           
                                                            </div>
                                                            <div class="five wide column" style="padding: 14px 0">
                                                                <a class="ui button mini blue save_salary" id="{{worker.id}}" style="padding: 9px 2px 9px 10px;"><i class="check icon" style="color: #fff;"></i></a>
                                                            </div>
                                                        </div>
                                                        <span id="salary_show{{worker.id}}" style="float: right;">
                                                            <span id="salary_show_value{{worker.id}}">{{ worker.salary }}</span>
                                                            <a onclick="$('#input{{worker.id}}').show();$('#salary_show{{worker.id}}').hide();"><i class="pen square icon"></i></a>
                                                        </span>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}                            
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
<span class="salary_url" url="{{ instance.salary_url }}"></span>
<span class="save_job_salary_url" url="{{ instance.save_job_salary }}"></span>
{% include 'school/add_teachers.html' %}

{% endblock content %}