{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    Управление | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div class='ui container pb150 pt15'>
    <div class="ui grid stackable">
        {% include 'left_menu.html' %}
        <div class="w85 wide column">
            {% include 'school/head.html' %}
            <div class="ui segment">
                <div>
                    <span class="textdg text17 textbold">У вас подключен тариф</span>
                    {% if school_crnt.version == 'business' %}
                        <span class="text17 textbold textblue mr10">Команда</span>
                        <span class="text13 textdg">до {{ school_crnt.version_date }}</span>
                    {% else %}
                        <span class="text17 textbold textblue">Бесплатный</span>
                    {% endif %}
                </div>
                <div class="ui grid stackable no_margin">
                    {% if school_crnt.version == 'business' %}
                    <div class="six wide column">
                        <div class="text15 textblue">
                            Осталось дней: <b class="tarif_left_days">{{ school_crnt|tarif_days_left }}</b>
                        </div>
                        <div class="text15 textblue ">
                            Менеджеров сейчас: <b class="tarif_left_managers">{{managers|length}}</b>
                        </div>
                        <div class="text15 textblue mt15">
                            Денежная стоимость остатка: <b class="tarif_left_cost"></b> тг
                        </div>
                    </div>
                    <div class="ten wide column pr0">
                        <div class="dflex">
                            <div class="text-center shadow_small pt15 pl15 pr15 pb15 br5">
                                <div class="text17 text-center textbold mb5 textblue">
                                    Настройки подписки
                                </div>
                                <div class="text-center">
                                    <form class="ui form mb10">
                                        <div class="ui grid stackable">
                                            <div class="text-left eight wide column pl5">
                                                <div class="textbold text13 textdg mt5 mr5">Период:</div>
                                                <label for="choose_tarif_0" class="choose_tarif pt5 br5 mb5 backwhite">
                                                    <input id="choose_tarif_0" style="margin: 3px 4px 0 0" class="choose_tarif_input" checked="" type="checkbox">
                                                    <span class="text13 textblue textbold">Оставить нынешнее</span>
                                                </label>
                                                <label for="choose_tarif_6" class="choose_tarif pt5 br5 mb5 backwhite">
                                                    <input id="choose_tarif_6" style="margin: 3px 4px 0 0" class="choose_tarif_input" type="checkbox">
                                                    <span class="text13 textblue textbold">Продлить на 6 месяцев</span>
                                                </label>
                                                <label for="choose_tarif_1" class="choose_tarif pt5 br5 mb5 backwhite">
                                                    <input id="choose_tarif_1" style="margin: 2px 4px 0 0" class="choose_tarif_input" type="checkbox">
                                                    <span class="text13 textblue textbold">Продлить на 1 год</span>
                                                    <br>
                                                    <span class="ml15 textgreen text13 textbold">10% скидка</span>
                                                </label>
                                                <label for="choose_tarif_2" class="choose_tarif pt5 br5 mb5 backwhite">
                                                    <input id="choose_tarif_2" style="margin: 2px 4px 0 0" class="choose_tarif_input" type="checkbox">
                                                    <span class="text13 textblue textbold">Продлить на 2 года</span>
                                                    <br>
                                                    <div class="ml15 textgreen text13 textbold">10% скидка</div>
                                                </label>
                                            </div>
                                            <div class="text-left eight wide column pr5">
                                                <div class="textbold text13 textdg mt5 mr5">Количество менеджеров</div>
                                                <div>
                                                    <input type="number" name="" value="{{managers|length}}" class="managers_num mb0 pl5 pr5" style="width: 70px">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="tarif_explain"></div>
                                    <div class="tarif_explain_calc"></div>
                                    <a url="{% url 'schools:connect_full_version' %}" class="disabled connect_full_version textbold ui button small green shadow_green pl10 pr10 next_hint">
                                        Сохранить
                                        <span class="textw tarif_cost">0</span> тг
                                    </a>
                                    <div class="get_tarif_load ui active small inline loader" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="four wide column deskpt50">
                        <img class="full-w" src="{%static 'images/upgrade.svg'%}">
                    </div>
                    <div class="six wide column pr0">
                        <div class="dflex">
                            <div class="text-center shadow_small pt15 pl15 pr15 pb15 br5">
                                <div class="text17 text-center textbold mb5 textblue">
                                    Подключите полную версию системы Bilimtap.kz
                                </div>
                                <div class="text14 mb10 text-center">
                                    Станьте ещё более эффективными!
                                </div>
                                <div class="text-center mt15">
                                    <a class="get_full_version ui button small green shadow_green textbold">
                                        Попробовать полную версию
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column pr0">
                        <div class="shadow_small br5 pt20 pb30">
                            <div class="pl15 pr15 mb5 textbold text17 textblue">В полной версии также есть:</div>
                            <div class="textblue text15">
                                <div class="pl15 pr15 pt5 pb5">Воронка продаж</div>
                                <div class="pl15 pr15 pt5 pb5 backwhitelow">Отчёты для бухгалтерии</div>
                                <div class="pl15 pr15 pt5 pb5">Анализ лучших курсов</div>
                                <div class="pl15 pr15 pt5 pb5 backwhitelow">Интеграции с сервисами Email, SMS, Whatsapp рассылок</div>
                                <div class="pl15 pr15 pt5 pb5">Отчёты по работе администратора</div>
                                <div class="pl15 pr15 pt5 pb5 backwhitelow">Хранилище онлайн документов до 1 ГБ</div>
                                <div class="pl15 pr15 pt5 pb5">Интеграция с Вашим сайтом</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if school_crnt.version == 'business' %}
                <div class="mt30">
                    <div class="textdg text17 textbold">
                        История оплаты
                    </div>
                    <table class="ui celled striped table br5">
                        <thead>
                            <tr style="color: #222;">
                                <th>Время</th>
                                <th>Имя</th>
                                <th>Телефон</th>
                                <th>Транзакция</th>
                                <th>Сумма</th>
                                <th>Валюта</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for sp in school_crnt.subscribe_payments.all %}
                            <tr style="color: #222;">
                                <td>{{sp.timestamp}}</td>
                                <td>{{sp.author}}</td>
                                <td>{{sp.phone}}</td>
                                <td>{{sp.transactionId}}</td>
                                <td>{{sp.amount}}</td>
                                <td>{{sp.currency}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
                {% endif %}                
            </div>
        </div>
    </div>
</div>
<script>
    tarif_left_cost()
    function tarif_left_cost() {
        days = parseInt($('.tarif_left_days').text()) / 30
        managers = $('.tarif_left_managers').text()
        res = (2500 * managers * days).toFixed(1)
        $('.tarif_left_cost').text(res)
    }
</script>
{% endblock content %}