{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    Управление | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div class='ui container pb150 pt15'>
    <div class="ui grid stackable">
        {% include 'left_menu.html' %}
        <div class="w85 wide column">
            {% include 'school/head.html' %}
            <div class="ui segment">
                <div>
                    <span class="textdg text17 textbold">У вас подключен тариф</span>
                    {% if school_crnt.version == 'business' %}
                    <span class="text17 textbold textblue mr10">Команда</span>
                    <span class="text13 textdg mr15">до {{ school_crnt.version_date }}</span>
                    <span class="text13 textblue">Осталось <b class="tarif_left_days">{{ school_crnt|tarif_days_left }}</b> дней</span>
                    {% else %}
                    <span class="text17 textbold textblue">Бесплатный</span>
                    {% endif %}
                    <span>Менеджеров <b class="textblue">{{ managers|length }}</b></span>
                </div>
                <div class="ui grid stackable no_margin">
                    {% if school_crnt.version == 'business' %}
                    <span style="display: none;" class="show_vidget_url" url="{% url 'schools:connect_full_version' %}"></span>
                    <div class="four wide column pl10 pr10">
                    </div>
                    <div class="six wide column pl10 pr10">
                        <div class="text-center shadow_small pt15 pl15 pr15 pb15 br5">
                            <div class="text17 text-center textbold mb15 textblue">
                                Продление подписки
                            </div>
                            <div class="text-center">
                                <form class="ui form mb10">
                                    <div class="text-left">
                                        <label for="choose_tarif_6" class="choose_tarif pt5 br5 mb5 backwhite">
                                            <input checked id="choose_tarif_6" style="margin: 3px 4px 0 0" class="choose_tarif_input" type="checkbox">
                                            <span class="text13 textblue textbold">Продлить на 6 месяцев</span>
                                        </label>
                                        <label for="choose_tarif_1" class="choose_tarif pt5 br5 mb5 backwhite">
                                            <input id="choose_tarif_1" style="margin: 2px 4px 0 0" class="choose_tarif_input" type="checkbox">
                                            <span class="mr5 text13 textblue textbold">Продлить на 1 год</span>
                                            <span class="textgreen text13 textbold">10% скидка</span>
                                        </label>
                                        <label for="choose_tarif_2" class="choose_tarif pt5 br5 mb5 backwhite">
                                            <input id="choose_tarif_2" style="margin: 2px 4px 0 0" class="choose_tarif_input" type="checkbox">
                                            <span class="mr5 text13 textblue textbold">Продлить на 2 года</span>
                                            <span class="textgreen text13 textbold">20% скидка</span>
                                        </label>
                                        <div class="mt15 mb5">
                                            <div class="mr5 pt5 dinline textdg textbold text13">Количество новых менеджеров:</div>
                                            <input type="number" name="" value="0" class="managers_num mb0 pl5 pr5" style="width: 70px">
                                        </div>
                                        <div class="textdg textbold text13">Активных менеджеров сейчас: <b class="managers_num_crnt textblue text15">{{managers|filter_actives}}</b></div>
                                        <div class="ui divider"></div>
                                        <div class="textdg textbold text13">Всего менеджеров: <b class="text15 managers_num_all textblue">{{managers|filter_actives}}</b></div>
                                    </div>
                                </form>
                                <div class="tarif_explain textdg">Стоимость за каждого менеджера <b class="textblue">2500тг</b> в месяц</div>
                                <a class="mt15 connect_full_version textbold ui button small green shadow_green pl10 pr10 next_hint">
                                    Продлить
                                    <span class="textw tarif_cost">0</span> тг
                                </a>
                                <div class="get_tarif_load ui active small inline loader" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="four wide column no_padding"></div>
                    <div class="six wide column pr0">
                        <div class="dflex">
                            <div class="text-center shadow_small pt15 pl15 pr15 pb15 br5">
                                <div class="text21 text-center textbold mb10 textblue">
                                    Подключите полную версию системы Bilimtap.kz
                                </div>
                                <div class="text17 mb10 text-center">
                                    Станьте ещё более эффективнее!
                                </div>
                                <div class="text-center mt15">
                                    <a class="get_full_version ui button large green shadow_green textbold">
                                        Попробовать полную версию
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="shadow_small br5 pt20 pb30">
                            <div class="pl15 pr15 mb5 textbold text17 textblue">В полной версии также есть:</div>
                            <div class="textblue text15">
                                <div class="pl15 pr15 pt5 pb5">Воронка продаж</div>
                                <div class="pl15 pr15 pt5 pb5 backwhitelow">Отчёты для бухгалтерии</div>
                                <div class="pl15 pr15 pt5 pb5">Анализ лучших курсов</div>
                                <div class="pl15 pr15 pt5 pb5 backwhitelow">Интеграции с сервисами Email, SMS, Whatsapp рассылок</div>
                                <div class="pl15 pr15 pt5 pb5">Отчёты по работе администратора</div>
                                <div class="pl15 pr15 pt5 pb5 backwhitelow">Хранилище онлайн документов до 1 ГБ</div>
                                <div class="pl15 pr15 pt5 pb5">Интеграция с Вашим сайтом</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if school_crnt.version == 'business' %}
                <div class="mt30">
                    <div class="textdg text17 textbold">
                        История оплаты
                    </div>
                    <table class="ui celled striped table br5">
                        <thead>
                            <tr style="color: #222;">
                                <th>Время</th>
                                <th>Имя</th>
                                <th>Телефон</th>
                                <th>Транзакция</th>
                                <th>Сумма</th>
                                <th>Валюта</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for sp in school_crnt.subscribe_payments.all %}
                            <tr style="color: #222;">
                                <td>{{sp.timestamp}}</td>
                                <td>{{sp.author}}</td>
                                <td>{{sp.phone}}</td>
                                <td>{{sp.transactionId}}</td>
                                <td>{{sp.amount}}</td>
                                <td>{{sp.currency}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
                {% endif %}                
            </div>
        </div>
    </div>
</div>

<script>
    calc_tarif_cost(0)
    function calc_tarif_cost(managers_num){
        managers_num = parseInt(managers_num)
        managers_crnt = parseInt($('.managers_num_crnt').text())
        managers_num += managers_crnt
        $('.managers_num_all').text(managers_num)
        tarif_cost_input = $('.choose_tarif_input:checked').attr('id')
        discount_text = ''
        is_dot = true
        if (tarif_cost_input == 'choose_tarif_6') {
            tarif_cost = 2500 * 6 * managers_num
        }
        else if(tarif_cost_input == 'choose_tarif_1'){
            tarif_cost = 2500 * 12 * managers_num
            tarif_cost = tarif_cost - tarif_cost*0.1
            discount_text = "со скидкой"
        }
        else if(tarif_cost_input == 'choose_tarif_2'){
            tarif_cost = 2500 * 24 * managers_num
            tarif_cost = tarif_cost - tarif_cost*0.2
            discount_text = "со скидкой"
        }
        if (tarif_cost <= 0) {
            tarif_cost = 0
            $('.connect_full_version').addClass('disabled')
        }
        else{
            $('.connect_full_version').removeClass('disabled')            
        }
        if (is_dot) {
            temp_str = add_spaces_to_cost(tarif_cost)
        }
        else{
            temp_str = tarif_cost
        }
        $('.tarif_cost').text(temp_str)        
    }
    function add_spaces_to_cost(tarif_cost){
        tarif_cost = tarif_cost + ''
        temp_str = ''
        j = 1
        for (var i = tarif_cost.length - 1; i >= 0; i--) {
            temp_str = tarif_cost[i] + temp_str
            if (j % 3 == 0) {
                temp_str = ' ' + temp_str
            }
            j += 1
        }
        return temp_str        
    }
</script>
{% endblock content %}