{% load tttags %}
{% load staticfiles %}
{% load ttags %}
<div is_saved="" id="card_container" class="source_card crm_card" fillform=''>
    <div id="card" class="ui segment card_segment"
    ondragstart="save_card_id('', '')" draggable='true' column_id="">
        <div class="dinline eighty open_crmcard" onclick="open_crmcard('')">
            <b id="cardnameshow" class="textblue"></b>
            <div id="cardphoneshow" style="height: 19px;" class="textgrey text12">  
            </div>
        </div>
        <div class="dinline twenty mt15" style="float: right;">
            <a class="delete_card" onclick="delete_card('')" id=""><b>×</b></a>
            <a class="show_card_schedule mb5" id="cardsc" onclick="openNav('','')" column="">
                <i class="icontable icon table"></i>
            </a>
            <a class="show_card_schedule" onclick="open_crmhist('')"><i class="icon clock text12"></i></a>     
        </div>
        <div class="eighty">
            <a class="nouser">Свободная</a>
        </div>
        <div class="twenty">
        </div>
    </div>
</div>