<div class="ui modal card_form" id="card_form{{ card.id }}">
    <i class="close icon"></i>
    <div class="content">
        <div class="card_head">
            Карточка {{ card.name }}
        </div>
        <form class="ui form card_form_update_here" method='POST' enctype='multipart/form-data'>{% csrf_token %}
            <span class="wrong_mail_error wrong_mail_error{{card.id}} highlight_red" style="height: 25px;margin-left: 25px;display: none;"><b>Пожалуйста введите существующий email или оставьте поле пустым</b></span>
            <div class="ui grid stackable card_form_update">
                <div class="four wide column pr0" style="padding-top: 5px;text-align: center;">
                    <div style="height: 10px;"></div>
                    <b>Имя:</b>
                    <textarea class="card_name{{ card.id }}" style="margin-bottom: 8px;" placeholder="Имя">{{ card.name }}</textarea>
                    <b>Телефон:</b>
                    <textarea class="card_phone{{ card.id }}" style="margin-bottom: 8px;" placeholder="Телефон">{{ card.phone }}</textarea>
                </div>
                <div class="four wide column pr0" style="padding-top: 5px;text-align: center;">
                    <div style="height: 10px;"></div>
                    <b>Почта:</b>
                    <textarea class="card_mail{{ card.id }}" style="margin-bottom: 8px;" placeholder="Почта">{{ card.mail }}</textarea>
                    <i>Дополнительный телефон:</i>
                    <textarea class="card_phone_extra{{ card.id }}" style="margin-bottom: 8px;" placeholder="Дополнительный телефон">{{ card.extra_phone }}</textarea>
                </div>
                <div class="four wide column" style="padding-top: 5px;text-align: center;">
                    <div style="height: 10px;"></div>
                    <b>Родители:</b>
                    <textarea class="card_parents{{ card.id }}" placeholder="">{{ card.parents }}</textarea>
                    <div class="ui segment full-w  pt5 pb5">
                        <a class="show_hint_schedule full-w">
                            <i class="icon info circle blue"></i>
                            <span style="font-size: 13px;">Информация о счетах</span>
                        </a>
                        <div class="hint_schedule ui segment" style="display: none;position: absolute;margin-top: 50px;margin-left: -300px; width: 400px;height: 200px;z-index: 3000;background-color: #4a4a4a;color: #fff;">
                            <div class="card_money_sch{{ card.id }}" style="font-weight: 400;font-size: 13px;"></div>
                        </div>
                    </div>
                </div>
                <div class="four wide column pt5 text-center pl0 pr0">
                    <div style="height: 10px;"></div>
                    <b>Оплата:</b>
                    <div style="display: flex;" class="mb10">
                        <input class="mr10 payment_amount{{ card.id }}" placeholder="Сумма" type="number" name="">
                        <select class="pay_for_group{{ card.id }}" id="pay_for_group{{ card.id }}">
                        </select>
                    </div>
                    <a class="ui button mini blue make_payment make_payment{{ card.id }} full-w" onclick="make_payment_card('{{ card.id }}')">
                        Оплатить
                    </a>
                    <div class="loading_small" id="loadpayment{{ card.id }}" style="display: none;">
                        <div class="animation"><div class="circle one"></div></div>
                        <div class="animation"><div class="circle two"></div></div>
                        <div class="animation"><div class="circle three"></div></div>
                        <div class="animation"><div class="circle four"></div></div>
                        <div class="animation"><div class="circle five"></div></div>
                        <div class="animation"><div class="circle six"></div></div>
                    </div>
                    <div class="mt10 success_payment{{card.id}}" style="display: none;">
                        Оплата принята
                        <i class="icon check green"></i>
                    </div>
                </div>
                <div class="sixteen wide column" style="padding-top: 5px;">
                    <div style="height: 65px;margin-bottom: 0;">
                        <b style="margin: 0 44%;">Комментарий:</b>
                        <div contenteditable="true" id="{{ card.id }}" class="card_comment-textarea card_comment{{ card.id }}"
                        placeholder="Комментарий" url="{{ card.call_helper }}" status="stop" position="0">{{ card.comments }}
                        </div>
                        <div style="display: none;position: absolute;z-index: 1000;height: 50px;" class="card_comment-helper" id="card_comment-helper{{card.id}}">
                            <a class="card_comment-item ui button mini card{{ card.id }}helper1" id="{{ card.id }}"> </a><br>
                            <a class="card_comment-item ui button mini card{{ card.id }}helper2" id="{{ card.id }}"> </a><br>
                            <a class="card_comment-item ui button mini card{{ card.id }}helper3" id="{{ card.id }}"> </a><br>
                            <a class="card_comment-item ui button mini card{{ card.id }}helper4" id="{{ card.id }}"> </a><br>
                            <a class="card_comment-item ui button mini card{{ card.id }}helper5" id="{{ card.id }}"> </a><br>
                        </div>
                    </div>
                    <div class="ui grid stackable" style="margin-top: 30px;">
                        <div class="third wide column" id="card_form-select">
                            <select class="card_form-select-contact card_form-select-contact{{card.id}}" id="{{card.id}}" onchange="card_called_change('{{card.id}}')">
                                <option value="{{ card.action }}">{{ card.action }}</option>
                                <option value="Позвонить">Позвонить</option>
                                <option value="Whats app">Whats app</option>
                                <option value="СМС">СМС</option>
                                <option value="Почта">Почта</option>
                                <option value="-1">Другое</option>
                            </select>
                        </div>
                        <div class="third wide column" id="card_form-select">
                            <a class="ui button {%if not card.was_called%}green{%endif%} small full-w card_form-select-contact-btn card_form-select-contact-btn{{card.id}}" id="{{card.id}}" onclick="card_called('{{card.id}}')">{%if not card.was_called%}Связались{%else%}Связывались {{card.timestamp}}{%endif%}</a>
                        </div>
                        <div class="third wide column" id="card_form-select">
                            {% if is_director %}
                            <select onchange="change_manager('{{card.id}}')" class="change_manager change_manager{{card.id}}" id="{{card.id}}">
                                {% if card.author_profile %}
                                    <option value="-1">{{ card.author_profile.first_name }}</option>
                                {% else %}
                                    <option value="-1">Без менеджера</option>
                                {% endif %}
                                {% for manager in managers %}
                                    {% if card.author_profile != manager %}
                                    <option value="{{ manager.id }}">{{ manager.first_name }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% if card.author_profile %}
                                    <option value="-1">Без менеджера</option>
                                {% endif %}
                            </select>
                            {% else %}
                                {%if card.author_profile%}
                                    <a class="ui button mini takecard" style="float: right;" id="{{card.id}}" url="{{card.take_url}}">Отказаться от карточки</a>
                                {% else %}
                                    <a class="ui button mini small green full-w takecard" id="{{card.id}}" url="{{card.take_url}}">Взять себе</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column" style="text-align: center;margin-top: 15px;">
                    <div class="ui grid">
                        <div class="wide column" style="padding: 0 3px;width: 14%;">
                            <a onclick="card_form_days('c{{card.id}}d0')" class="ui button mini card_form-daysc{{card.id}}d0 full-w {%if card.days_of_weeks.0%}green{%endif%}" style="padding: 7px 14px !important;" card="{{card.id}}" id="0">Понедельник</a>
                        </div>
                        <div class="wide column" style="padding: 0 3px;width: 14%;">
                            <a onclick="card_form_days('c{{card.id}}d1')" class="ui button mini card_form-daysc{{card.id}}d1 full-w {%if card.days_of_weeks.1%}green{%endif%}" style="padding: 7px 14px !important;" card="{{card.id}}" id="1">Вторник</a>
                        </div>
                        <div class="wide column" style="padding: 0 3px;width: 14%;">
                            <a onclick="card_form_days('c{{card.id}}d2')" class="ui button mini card_form-daysc{{card.id}}d2 full-w {%if card.days_of_weeks.2%}green{%endif%}" style="padding: 7px 14px !important;" card="{{card.id}}" id="2">Среда</a>
                        </div>
                        <div class="wide column" style="padding: 0 3px;width: 14%;">
                            <a onclick="card_form_days('c{{card.id}}d3')" class="ui button mini card_form-daysc{{card.id}}d3 full-w {%if card.days_of_weeks.3%}green{%endif%}" style="padding: 7px 14px !important;" card="{{card.id}}" id="3">Четверг</a>
                        </div>
                        <div class="wide column" style="padding: 0 3px;width: 14%;">
                            <a onclick="card_form_days('c{{card.id}}d4')" class="ui button mini card_form-daysc{{card.id}}d4 full-w {%if card.days_of_weeks.4%}green{%endif%}" style="padding: 7px 14px !important;" card="{{card.id}}" id="4">Пятница</a>
                        </div>
                        <div class="wide column" style="padding: 0 3px;width: 14%;">
                            <a onclick="card_form_days('c{{card.id}}d5')" class="ui button mini card_form-daysc{{card.id}}d5 full-w {%if card.days_of_weeks.5%}green{%endif%}" style="padding: 7px 14px !important;" card="{{card.id}}" id="5">Суббота</a>
                        </div>
                        <div class="wide column" style="padding: 0 3px;width: 14%;">
                            <a onclick="card_form_days('c{{card.id}}d6')" class="ui button mini card_form-daysc{{card.id}}d6 full-w {%if card.days_of_weeks.6%}green{%endif%}" style="padding: 7px 14px !important;" card="{{card.id}}" id="6">Воскресенье</a>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column center aligned">
                    <a class="ui button blue tiny" onclick="edit_card('{{ card.id }}')" id="{{ card.id }}">Сохранить</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ui modal" style="margin-top: 10%;min-height: 100%;" id="card_hist{{ card.id }}">
    <i class="close icon"></i>
    <div class="content">
        <div class="card_head">
            Карточка {{ card.name }}
        </div>
        <div class="ui grid stackable card_form_update">
            <div class="sixteen wide column">
                <div style="color: #222;font-weight: 600;text-align: center;font-size: 14px;">История изменений
                </div>
            </div>
            <div class="sixteen wide column cardhistory{{ card.id }}" style="color: #6b6d72;font-size: 12px;">
            </div>
        </div>
    </div>
</div>
