<div class="ui modal large" style="margin-top: 10%;min-height: 100%;" id="card_form{{ card.id }}">
    <i class="close icon"></i>
    <div class="content">
        <form class="ui form" method='POST' enctype='multipart/form-data'>{% csrf_token %}
            <div class="ui grid stackable">
                <div class="six wide column">
                    <textarea class="card_name{{ card.id }}" placeholder="Имя">{{ card.name }}</textarea>
                    <textarea class="card_phone{{ card.id }}" placeholder="Телефон">{{ card.phone }}</textarea>
                    <textarea class="card_mail{{ card.id }}" placeholder="Почта">{{ card.mail }}</textarea>
                </div>
                <div class="ten wide column">
                    <textarea id="card_comment-textarea" class="card_comment{{ card.id }}"
                        placeholder="Комментарий">{{ card.comments }}</textarea>
                    <div style="display: none;" id="card_comment-helper">
                        <span class="card_comment-item">#first </span>
                        <span class="card_comment-item">#second </span>
                        <span class="card_comment-item">#third </span>
                    </div>
                    <div class="ui grid stackable" style="margin-top: 1rem;">
                        <div class="eight wide column" id="card_form-select">
                            <select>
                                <option value="-1">Связаться</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                            </select>
                        </div>
                        <div class="eight wide column" id="card_form-select">
                            <select>
                                <option value="-1">Предметы</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column center aligned">
                    <div class="ui grid stackable">
                        <div class="three wide column card_form-days">
                            ПОНЕДЕЛЬНИК
                        </div>
                        <div class="three wide column card_form-days">
                            ВТОРНИК
                        </div>
                        <div class="three wide column card_form-days">
                            СРЕДА
                        </div>
                        <div class="three wide column card_form-days">
                            ЧЕТВЕРГ
                        </div>
                        <div class="three wide column card_form-days">
                            ПЯТНИЦА
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column center aligned">
                    <a class="ui button blue tiny" onclick="edit_card('{{ card.id }}')" id="{{ card.id }}">Сохранить</a>
                </div>
                <div class="sixteen wide column">
                    <div class="ui divider full-w"></div>
                    <div style="color: #222;font-weight: 600;text-align: center;font-size: 14px;">История изменений
                    </div>
                </div>
                <div class="sixteen wide column cardhistory{{ card.id }}" style="color: #6b6d72;font-size: 12px;">
                </div>
            </div>
        </form>
    </div>
</div>