{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    CRM {{ instance.title }}
{% endblock head_title %}
{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}
{% block content %}
<div style="overflow-y: hidden;height: 91% !important;">
    <div class='ui container' id="untouch" style="height: 100%;">
        <div class="ui grid main_crm mt0" style="height: 100%;">
            {% include 'left_menu.html' %}
            <div class="pt5 pb5 w85 wide column">
                <div style="padding-bottom: 8px;">
                    <form class="ui form">
                        <div class="ui grid">
                            <div class="wide column pl0 pr0 pb0" style="width: 200px;">
                                <input style="border-right: none;" type="text" id="search_text" placeholder="Поиск по карточкам">
                                <div class="search_hint ui segment" style="display: none;"></div>                 
                            </div>
                            <div class="wide column pl0 pb0" style="width: 28.13px;">
                                <button class="ui button small white search_by_tags" type="submit" style="border: 1px solid rgba(34, 36, 38, 0.15);border-left: none;padding-top: 9px;" onclick="return false"><i class="icon search"></i></button>
                            </div>
                            <div class="wide column ml10 pb0 pl0 pr0" style="width: auto;">
                                <div class="dflex ui segment pt0 pb0 pl0 pr0">
                                    {% if is_director %}
                                    <a class="ui button small green mr0 cfkind chosed" status="kind" id="allcards" style="padding: 9px 8px;">
                                        <b>Все</b>
                                        <div class="ml5 dinline all_cards_len"></div>
                                    </a>
                                    {% endif %}
                                    <a class="ui button small white mr0 cfkind" status="kind" id="mycards" style="padding: 9px 8px;">
                                        <b>Мои карточки</b>
                                        <div class="ml5 dinline my_cards_len"></div>
                                        <span class="number_of_manager red_notice dinline" style="margin-top: -5px;position: absolute;display: none;"></span> 
                                    </a>
                                    <!-- <a class="ui button small white mr0 cfkind" status="kind" id="freecards" style="padding: 9px 8px;">
                                        <b>Свободные</b>
                                        <div class="ml5 dinline free_cards_len"></div>
                                        <span class="number_of_free red_notice dinline" style="margin-top: -5px;position: absolute;display: none;"></span> 
                                    </a> -->
                                </div>
                            </div>
                            <div class="filter wide column">
                                <div class="filter-element">
                                    <div class="border1 filter-title filter-title-group" status="0" onclick="filter_title('group')">
                                        Группы 
                                        <i class="icon caret down" style="float: right;"></i>
                                    </div>
                                    <ul class="filter-list filter-list-group" style="display: none;">
                                        {% for squad in squads %}
                                        <li class="filter-item-s cfsquad" status="sc" id="{{ squad.id}}">
                                            {{squad.title}}
                                            <i style="display: none;" class="icon check green" status="0" id="check_sc{{ squad.id }}"></i>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% if offices|length > 1 %}
                            <div class="filter wide column">
                                <div class="filter-element">
                                    <div class="filter-title filter-title-office" status="0" onclick="filter_title('office')">Офисы<i class="icon caret down" style="float: right;"></i></div>
                                    <ul class="filter-list filter-list-office" style="display: none;">
                                        {% for office in offices %}
                                        <li class="filter-item-s cfoffice" status="of" id="{{ office.id }}">
                                            {{office.title}}
                                            <i style="display: none;" class="icon check green" status="0" id="check_of{{ office.id }}"></i>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="wide column pl0 pr0 pb0 ml10" style="width: 60px;">
                                <div class="filter-element">
                                    <div class="border1 filter-title filter-title-days" status="0" onclick="filter_title('days')">Дни<i class="icon caret down" style="float: right;"></i></div>
                                    <ul class="filter-list filter-list-days" style="display: none;">
                                        {% for day in crmdays %}
                                        <li class="filter-item-s cfday" status="day" id="{{ day.title }}">
                                            {{day.title}}
                                            <i style="display: none;" class="icon check green" status="0" id="check_day{{ day.title }}"></i>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="all_columns" class="hint_place3" side="modal" style="height: 100%;">
                    <div class="ui grid" style="margin-top: 0px;height: 100%;">
                        {% for column in columns %}
                        <div class="wide column center aligned pr5 pl0 pt5 pb0" style="width: 16.65%;">
                            <div class="margin0 backdark pt10 pb10 textw topbr5">
                                <div class="crm_title mb10">
                                    {{ column.title }}
                                    <div class="ml5 dinline textlg column_cards_len column_cards_len{{column.id}}"></div>
                                </div>
                                <div class="text-center pl5 pr5 {%if forloop.counter == 1%}hint_place1" side="right2{%endif%}">
                                    <a class="ui button mini white textblue pt5 pb5 full-w" onclick="open_new_card_modal('{{ column.id }}')" id="{{column.id}}">Добавить</a>
                                </div>
                            </div>
                            <div Ended="false" class="mobpr30 column_scrollable column_scrollable{{column.id}} backdark {%if forloop.counter == 1%}hint_place2" side="right{%endif%}" page="2" id="{{column.id}}" style="height: calc(100% - 140px);overflow-x: hidden;">
                                <div class="loader_center ui active loader column_loader"></div>
                                <div class="textw" style="padding: 0 4px;">
                                    <div class="column{{ column.id }} crm_column">
                                        <div class="crm_column_drop crmbox{{ column.id }} full-h" 
                                        ondragover="allowDrop($(this))" ondrop="move_card(event, '{{ column.id }}')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="school_schedule" class="school_schedule" status="closed">
                {% include 'school/register_students.html' %}
            </div>
        </div>
    </div>    
</div>
<div style="display: none;">
    {% include 'school/card_details.html' %}
    {% include 'school/schedule_lecture.html' %}
    {% include 'school/new_card_form.html' %}
    {% include 'modals/card_dialog.html' %}
    <span class="catchmob"></span>
</div>
{% include 'school/card_form.html' %}
<div class="ui mini modal" id="delete_card_modal">
    <i class="close icon"></i>
    <div class="content">
        Вы уверены, что хотите удалить карточку?
        <br><br>
        <a class="yes_delete_card ui button mini green">Да</a>
        <a class="ui button mini red" onclick="$('#delete_card_modal').modal('hide')">Нет</a>
    </div>
</div>
<span style="display: none;" id="0" class="current_card" name="-1" url="{{ instance.open_card_url }}"></span>
<span style="display: none;" class="edit_card_url" url="{{ instance.edit_card_url }}"></span>
<span style="display: none;" class="add_card_url" url="{{ instance.add_card_url }}"></span>
<span style="display: none;" class="card_for_save" id="-1" predoplata_url="{{ instance.predoplata }}" url="{{ instance.save_card_as_user }}" get_card_squads="{{ instance.get_card_squads }}" get_card_info="{% url 'schools:get_card_info' %}"></span>
<span style="display: none;" class="first_column" id="{{ columns.0.id }}"></span>
<span style="display: none;" class="delete_card_data" id="-1" url="{{ instance.delete_card_url }}"></span>
<span class="data" move_card_url="{% url 'schools:move_card_url' %}" last_hint="3" hint_type="1" hint="{{hint}}" is_crm="yes" is_dir="{{is_director}}" hisid="{{profile.id}}" filter_crm_cards="{%url 'schools:filter_crm_cards'%}" get_card_dialog="{%url 'schools:get_card_dialog'%}" get_schedule="{%url 'schools:get_schedule'%}" get_all_cards_first="{%url 'schools:get_all_cards_first'%}" get_all_cards_second="{%url 'schools:get_all_cards_second'%}" get_extra_cards="{%url 'schools:get_extra_cards'%}" send_login_url="{%url 'schools:send_login_url'%}" make_payment_card="{% url 'accounts:make_payment_card'%}" change_day_of_week="{% url 'schools:change_day_of_week'%}" search_crm_cards="{% url 'schools:search_crm_cards' %}" used_cards=""></span>
{% include 'school/crm_scripts.html' %}
{% include 'hints/crm_hints.html' %}
{% include 'hints/get_hint_script.html' %}
<style type="text/css">
.ui-draggable-dragging{
    opacity: 1;
    width: 200px;
    z-index: 1000;
    transform: rotate(5deg);
}
.school_schedule {
  width: 0;
  padding: 14px 0 !important;
  position: absolute !important;
  z-index: 5000;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
@media screen and (max-height: 450px) {
  .school_schedule {padding-top: 15px;}
  .school_schedule a {font-size: 18px;}
}
</style>

{% endblock content %}