{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    CRM {{ instance.title }}
{% endblock head_title %}
{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}
{% block content %}
<script src='{% static "js/vue-drag/vue.min.js" %}'></script>
<script src='{% static "js/vue-drag/axios.min.js" %}'></script>
<script src='{% static "js/vue-drag/sortable.min.js" %}'></script>
<script src='{% static "js/vue-drag/vue-draggable.min.js" %}'></script>
<div id="app" style="overflow-y: hidden;height: 90% !important;">
    <div class='ui container' id="untouch" style="height: 100%;">
        <div class="ui grid main_crm" style="margin-top: 0;height: 100%;">
            {% include 'left_menu.html' %}
            <div class="wide column" style="padding-right: 0;width: 85%;">
                <div style="padding-bottom: 8px;">
                    <form class="ui form" method='POST' enctype='multipart/form-data'>{% csrf_token %}
                        <div class="ui grid">
                            <div class="wide column" style="width: 155px;padding-left: 5px;padding-bottom: 0">
                                <div class="ui toggle checkbox segment" style="padding: 4px 5px;margin-top: 1px;">
                                  <input type="checkbox" {% if theprofile.skill.crm_show_free_cards %}checked{% endif%} class="show_free_cards" url="{{ instance.show_free_cards }}" name="public">
                                  <label style="padding-left: 55px;">Свободные</label>
                                </div>
                            </div>
                            <div class="filter wide column">
                                <div class="filter-element">
                                    <div class="filter-title">Предметы <i class="icon caret down" style="float: right;"></i></div>
                                    <ul class="filter-list filter-list-hide">
                                        {% for subject_category in subject_categories %}
                                        <li class="filter-item filter-item-s" status="0" id="{{ subject_category.title|remove_space }}">
                                            <i class="icon check green" id="check_subject_category{{ subject_category.title }}"></i>
                                            {{subject_category.title}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% if offices|length > 1 %}
                            <div class="filter wide column">
                                <div class="filter-element">
                                    <div class="filter-title">Офисы<i class="icon caret down" style="float: right;"></i></div>
                                    <ul class="filter-list filter-list-hide">                                    
                                    {% for office in offices %}
                                        <li class="filter-item filter-item-s" status="0" id="{{ office.title }}">
                                            <i class="icon check green" id="check_office{{ office.title }}"></i>
                                            {{office.title}}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="wide column" style="width: 60px;padding: 14px 0 0 0;">
                                <div class="filter-element">
                                    <div class="filter-title" style="padding-right: 1px;">Дни<i class="icon caret down" style="float: right;"></i></div>
                                    <ul class="filter-list filter-list-hide">
                                    {% for day in crmdays %}
                                        <li class="filter-item filter-item-s" status="0" id="day{{ day.id }}">
                                            <i class="icon check green" id="check_day{{ day.title }}"></i>
                                            {{day.title}}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="filter wide column" style="padding-right: 0 !important;">
                                <textarea id="search_text" placeholder="Поиск оп хештегам"></textarea>
                                <div class="search_hint ui segment" style="display: none;"></div>                               
                            </div>
                            <div class="wide column" style="padding:14px 0 0 0 !important;width: 28.13px;">
                                <a class="ui button small blue search_by_tags"><i class="icon search" style="color: white;"></i></a>
                            </div>
                            {% if is_director %}
                            <div class="wide column" style="padding-bottom: 0">
                                {% if all %}
                                <a class="ui button mini blue" style="padding: 8px;" href='{% url "schools:crm" %}'>Мои</a>
                                {% else %}
                                <a class="ui button mini blue" style="padding: 8px;" href='{% url "schools:crm_all" %}'>Все</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div id="all_columns" style="height: 100%;">
                    <div class="ui grid" style="margin-top: -5px;height: 100%;">
                        {% for column in columns %}
                        <div class="wide column center aligned" style="padding: 3px;width: 16.65%;">
                            <div class="margin0" style="padding: 14px 4px;background-color: #4A4A4A;color: #fff;border-radius: 5px 5px 0 0;">
                                <div class="crm_title">{{ column.title }}</div>
                                <div class="crm_divider"></div>
                                <a class="ui button mini blue full-w" onclick="$('#new_card_form'+$(this).attr('id')).modal('show')" id="{{column.id}}">Добавить</a>
                                {% if forloop.counter > 1 %}
                                {% include 'school/new_card_form.html' %}
                                {% endif %}
                            </div>
                            <div style="height: 70%;overflow-x: scroll;background-color: #4A4A4A;">
                                <div class="" style="padding: 0 4px;color: #fff;">
                                    <div class="column{{ column.id }} crm_column">
                                        <draggable 
                                                class="crmbox{{ column.id }} full-h"
                                                :options="{group:{ name:'people'}}"
                                                @add="move_card({{ column.id }})">
                                            {% if all %}
                                                {% for card in column|filtercardsall:profile %}
                                                    {% include 'school/card_details.html' %}                                            
                                                    {% include 'school/card_form.html' %}
                                                {% endfor %}
                                            {% else %}
                                                {% for card in column|filtercards:theprofile %}
                                                    {% include 'school/card_details.html' %}                                            
                                                    {% include 'school/card_form.html' %}
                                                {% endfor %}
                                            {% endif %}
                                        </draggable>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="school_schedule" class="school_schedule" status="closed">
                {% include 'school/register_students.html' %}
            </div>
        </div>
    </div>    
</div>
<div class="ui mini modal" id="delete_card_modal">
    <i class="close icon"></i>
    <div class="content">
        Вы уверены, что хотите удалить карточку?
        <br><br>
        <a class="yes_delete_card ui button mini green">Да</a>
        <a class="ui button mini red" onclick="$('#delete_card_modal').modal('hide')">Нет</a>
    </div>
</div>
<span style="display: none;" id="0" class="current_card" name="-1" url="{{ instance.open_card_url }}"></span>
<span style="display: none;" class="edit_card_url" url="{{ instance.edit_card_url }}"></span>
<span style="display: none;" class="add_card_url" url="{{ instance.add_card_url }}"></span>
<span style="display: none;" class="card_for_save" id="-1" predoplata_url="{{ instance.predoplata }}" url="{{ instance.save_card_as_user }}" get_card_squads="{{ instance.get_card_squads }}"></span>
<span style="display: none;" class="first_column" id="{{ columns.0.id }}"></span>
<span style="display: none;" class="delete_card_data" id="-1" url="{{ instance.delete_card_url }}"></span>
<script>
    function openNav(id, name) {
        $('#register_students_calendar').modal('show')
        $('#current_user_name').text(name)
        $('.card_for_save').attr('id', id)
        $('.insquadicon').hide()
        $('.insquadicon').attr('status', 'hide')
        $('.time_stop').hide()
        $('.wrong_mail').hide()
        $('.alreadyregistered').hide()
        $('.wrong_mail_error').hide()
        $('.no_predoplata_number').hide()
        $('.predoplata_form').hide()
        $('.ok_predoplata').hide()
        $('.isalready').hide()
        column_id = $('#cardsc' + id).attr('column')
        if (column_id == '4') {
            $('.predoplata_number').attr('placeholder', 'Сумма предоплаты')
        }
        if (column_id == '5') {
            $('.predoplata_number').attr('placeholder', 'Сумма оплаты')
        }
        if (column_id == '4' || column_id == '5') {
            $('.predoplata_form').attr('style', 'display:flex;')
            $('.predoplata_number').attr('status', 'show')
        }
        else{
            $('.predoplata_number').attr('status', 'hide')          
        }
        $.ajax({
            url: $('.card_for_save').attr('get_card_squads'),
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                $('.card_money_sch').empty()
                for (var i = 0; i < data.bills.length; i++) {
                    text =  '<div style="font-weight:600;display:inline-block;" class="mr10">'+ data.bills[i][0] +'</div>' + 
                            '<div class="mr10" style="display:inline-block;">На счету: '+ data.bills[i][1] +'</div>' + 
                            '<div class="mr10" style="display:inline-block;">Оплата за уроки: '+ data.bills[i][2] +'</div>' + 
                            '<div style="display:inline-block;">Оплата за месяц: '+ data.bills[i][3] +'</div>'
                    $(text).appendTo('.card_money_sch')
                    $('<br><br>').appendTo('.card_money_sch')
                }
                for (var i = 0; i < data.res.length; i++){
                    squad_id = data.res[i]
                    $('.squad'+squad_id).show()
                    $('.squad'+squad_id).attr('status', 'show')
                }
            }
        })
    }
    function save_card_id(id, name){
        $('.current_card').attr('id', id)
        $('.current_card').attr('name', name)
    }
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                squad: 'Выберите Класс',
                schedule: null,
                inSubjectSquads: [],
                outSubjectSquads: [],
                trener: ''
            }
        },
        methods: {
            move_card(column_id) {
                id = $('.current_card').attr('id')
                axios.get('/schools/api/move_card/', {
                    params: {
                        'column_id': column_id,
                        'card_id': id
                    }
                });
                oldcolumn_id = $('#card'+id).attr('column_id')
                $('#card'+id).attr('column_id', column_id)
                $('#cardsc'+id).attr('column', column_id)
                if(oldcolumn_id == '1'){
                    if (column_id == '5' || column_id == '4') {
                        openNav(id, $('.current_card').attr('name'));
                    }
                    else{
                        openNav(id, $('.current_card').attr('name'));
                    }
                }
                else{
                    if (column_id == '2') {
                        openNav(id, $('.current_card').attr('name'));
                    }
                    if (column_id == '4' || column_id == '5') {
                        openNav(id, $('.current_card').attr('name'));
                    }
                }
            },
        },
    })
    function open_crmcard(id){
        $('#card_form'+id).modal('show')
    }
    function open_crmhist(id){
        $('#card_hist'+id).modal('show')
        url = $('.current_card').attr('url')
        $.ajax({
            url: url,
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                $('.cardhistory'+id).empty();
                for (var i = 0; i < data.res.length; i++){
                    hist = data.res[i]
                    name = hist[0]
                    url = hist[1]
                    time = hist[2]
                    oldcolumn = hist[3]
                    newcolumn = hist[4]
                    if (newcolumn == '') {
                        edit = hist[5]
                        text = '<span class="crmhistorynew">'+edit+'</span>'
                    }
                    else{
                        text = '<span class="crmhistoryold">'+oldcolumn+'</span> <i class="icon arrow right blue"></i> <span class="crmhistorynew">'+newcolumn+'</span>'
                    }
                    var element = $('<div style="padding-top:10px;">'+time+' <a href="'+url+'">'+name+'</a> '+text+'</div>').appendTo('.cardhistory'+id);
                }
            }
        })
    };
    function edit_card(id) {
        var name = $('.card_name' + id).val()
        var phone = $('.card_phone' + id).val()
        var extra_phone = $('.card_phone_extra' + id).val()
        var mail = $('.card_mail' + id).val()
        var comment = $('.card_comment' + id).text()
        ok = false
        if (mail.length > 0) {
            for (var i = mail.length - 1; i >= 0; i--) {
                if (mail[i] == '@') {
                    ok = true;
                    break;
                } 
            }            
        }
        else{ok = true}
        if (ok) {
            $.ajax({
                url: $('.edit_card_url').attr('url'),
                data: {
                    'name':name,
                    'phone':phone,
                    'extra_phone':extra_phone,
                    'mail':mail,
                    'comment':comment,
                    'id':id,
                },
                dataType: 'json',
                success: function (data) {
                    $('#card_container' + id).load(document.URL +  ' #card' + id);
                    $('#card_form'+id).modal('hide')
                }
            })        
        }
        else{
            $('.wrong_mail_error'+id).show()
        }
    }
    function delete_card(id) {
        $('.delete_card_data').attr('id', id);
        $('#delete_card_modal').modal('show');
    }
    function hint_item(text){
        $('#search_text').val(text)
        $('.search_hint').hide();
        filtercrm();
    }
    function filtercrm(){
        $('.crm_card').hide()
        search_text = $('#search_text').val()
        filterstring = ''
        if (search_text != '') {
            filterstring = filterstring + '.'+search_text.replace(' ', '.')
        }
        set = document.getElementsByClassName('filter-item')
        for (var i = set.length - 1; i >= 0; i--) {
          if (set[i].getAttribute('status') != '0'){
            title = set[i].getAttribute('id')
            filterstring = filterstring + '.'+title.replace(' ', '.')
          }
        }
        $(filterstring).show()
        if (filterstring == '') {
            $('.crm_card').show()
        }
    }
    $('.change_manager').on('change', function(){
        id = $(this).attr('id')
        url = $(this).attr('url')
        this_ = document.getElementsByClassName('change_manager'+id)[0];
        manager = this_.options[this_.selectedIndex].value;
        $.ajax({
            url: url,
            data: {
                'manager':manager,
                'card':id,
            },
            dataType: 'json',
            success: function (data) {
            }
        })        
    })

</script>
<style type="text/css">
.ui-draggable-dragging{
    opacity: 1;
    width: 200px;
    z-index: 1000;
    transform: rotate(5deg);
}
.school_schedule {
  width: 0;
  padding: 14px 0 !important;
  position: absolute !important;
  z-index: 5000;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
@media screen and (max-height: 450px) {
  .school_schedule {padding-top: 15px;}
  .school_schedule a {font-size: 18px;}
}
</style>

{% endblock content %}