    get_schedule()
    {% include 'modals/update_schedule_lectures.html'%}
    {% include 'modals/get_schedule_work.html'%}
    async function get_schedule(){
        await get_all_cards_second()
        get_schedule_work()
    }
    async function get_all_cards_first(){
        url = $('.data').attr('get_all_cards_first');
        all = 'no'
        if ($('.current_card').attr('all') == 'yes') {all = 'yes'}
        $.ajax({
            url: url,
            data: {
                'all':all,
            },
            dataType: 'json',
            success: function (data) {
                $('.column_loader').hide()
                for (var i = 0; i < data.all_res.length; i++) {
                    colid = data.all_res[i][0]
                    column_data = data.all_res[i][1]
                    fill_card_data(colid,column_data,'bottom')
                }
            }
        })        
    }
    async function get_all_cards_second(){
        await get_all_cards_first()
        url = $('.data').attr('get_all_cards_second');
        all = 'no'
        if ($('.current_card').attr('all') == 'yes') {all = 'yes'}
        $.ajax({
            url: url,
            data: {
                'all':all,
            },
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.all_res.length; i++) {
                    colid = data.all_res[i][0]
                    column_data = data.all_res[i][1]
                    fill_card_data(colid,column_data,'bottom')
                }
            }
        })
    }
    function fill_card_form(id, res, fillform){
        mail = res[0]
        extra_phone = res[1]
        parents = res[2]
        comments = res[3]
        author_id = res[4]
        take_url = "{% url 'schools:take_url' %}"
        change_day_of_week = res[6]
        days_of_weeks = res[7]
        console.log($('.data').attr('is_dir'))
        if ($('.data').attr('is_dir') == 'True') {
            $('.change_manager').attr('onchange','change_manager("'+id+'")')
            clones = []
            card_mgr = undefined
            $('.cfmanager').each(function () {
                option_orig = $(this)
                option_copy = option_orig.clone()
                option_orig.remove()
                if (parseInt(option_copy.attr('value')) == author_id) {
                    card_mgr = option_copy
                }
                else{
                    clones.push(option_copy)
                }
            })
            card_mgr.appendTo('.change_manager')
            for (var i = 0; i < clones.length; i++) {
                option_copy = clones[i]
                option_copy.appendTo('.change_manager')
            }
        }
        else{
            console.log('ddededede0', author_id,$('.data').attr('hisid'))
            if (author_id == parseInt($('.data').attr('hisid'))) {
                $('.takecard.green').hide()
                $('.notm').show()
            }
            else{
                $('.takecard.green').show()
                $('.notm').hide()
            }
            $('.takecard').attr('url',take_url)
            $('.takecard').attr('id',id)                
        }
        $('.success_payment').hide()
        $('.card_parentsedit').text(parents)
        $('.card_phone_extraedit').text(extra_phone)
        $('.card_commentedit').text(comments)
        $('.save_card_form').attr('onclick', 'edit_card("'+id+'")')
        $('.save_card_form').attr('id', id)
        $('.card_mail').text(mail)
        $('.card_mail_edit').val(mail)
        $('.make_payment').attr('onclick', 'make_payment_card("'+id+'")')
        if (mail == '') {
            $('.card_mail').hide()
            $('.card_mail_form').show()
        }
        else{
            $('.card_mail').show()            
            $('.card_mail_form').hide()
        }
        days_of_weeks_str = ''
        for (var i = 0; i < 7; i++) {
            daybutton = $('.card_form-dayscd'+i)
            daybutton.removeClass('green')                
            daybutton.attr('card', id)
        }
        for (var i = 0; i < days_of_weeks.length; i++) {
            if (days_of_weeks[i]){
                daybutton = $('.card_form-dayscd'+i)
                daybutton.addClass('green')
                days_of_weeks_str += i;
            }
        }
        card.attr('fillform','yes')
        if (fillform != 'yes') {
            card = $('.crm_card'+id)
            card.attr('mail', mail)
            card.attr('extra_phone', extra_phone)
            card.attr('parents', parents)
            card.attr('comments', comments)
            card.attr('author_id', author_id)
            card.attr('take_url', take_url)
            card.attr('change_day_of_week', change_day_of_week)
            card.attr('days_of_weeks', days_of_weeks_str)
        }
    }    
    function fill_card_dialog(res){
        $('.card_dialog').empty()
        for (var i = 0; i < res.length; i++) {
            id = res[i][0]
            action_author = res[i][1]
            text = res[i][2]
            method = res[i][3]
            time = res[i][4]
            is_client = res[i][5]
            if (is_client) {
                msg = $('.client_message_cont').clone()
                msg.removeClass('client_message_cont')
            }
            else{
                msg = $('.manager_message_cont').clone()                
                msg.removeClass('manager_message_cont')
            }
            msg.find('.message_author').text(action_author)
            msg.find('.message_date').text(time)
            msg.find('.message_method').text(method)
            msg.find('.message_method').attr('id',id)
            msg.find('.message_text').text(text)
            msg.appendTo('.card_dialog')
        }        
        $(".card_dialog").animate({ scrollTop: height}, 1000);
    }
    function fill_card_data(column,res,position){
        for (var i = 0; i < res.length; i++) {
            id = res[i][0]
            name = res[i][1]
            phone = res[i][2]
            author_name = res[i][5]
            author_url = res[i][6]
            is_director = ''
            highlight = ''
            nc = $('.source_card').clone()
            nc.attr('id', 'card_container'+id)
            nc.addClass('crm_card'+id)
            nc.removeClass('source_card')
            nc.find('#cardnameshow').text(name)
            nc.find('#cardphoneshow').text(phone)
            nc.find('#cardnameshow').attr('id', 'cardnameshow'+id)
            nc.find('#cardphoneshow').attr('id', 'cardphoneshow'+id)
            nc.find('.open_crmcard').attr('onclick', 'open_crmcard("'+id+'")')
            nc.find('.delete_card').attr('id', 'cardphoneshow'+id)
            nc.find('.delete_card').attr('onclick', 'delete_card("'+id+'")')
            nc.find('.show_card_schedule').attr('onclick', 'open_crmhist("'+id+'")')
            nc.find('.card_segment').attr('id', id)
            nc.find('.card_segment').attr('ondragstart', 'save_card_id("'+id+'","'+name+'")')
            nc.find('#cardsc').attr('id', 'cardsc'+id)
            nc.find('#cardsc'+id).attr('onclick', 'openNav("'+id+'")')
            nc.find('.show_card_hist'+id).attr('onclick','open_crmhist("'+id+'")')
            nc.find('.nouser').attr('href', author_url)
            nc.find('.nouser').text(author_name)
            if (position == 'bottom') {
                $(nc).appendTo('.crmbox'+column)
            }
            else{
                $('.newcardlight').removeClass('newcardlight')
                nc.find('.card_segment').addClass('newcardlight')
                $(nc).prependTo('.crmbox'+column)
            }
        }
    }
    function column_scroll(id){
        this_ = $('.column_scrollable'+id)
        url = $('.data').attr('get_extra_cards')
        column = this_.attr('id')
        page = this_.attr('page')
        var licenseElement = this_.get(0);
        all = 'no'
        if ($('.current_card').attr('all') == 'yes') {all = 'yes'}
        if ((licenseElement.scrollTop + licenseElement.offsetHeight) >= licenseElement.scrollHeight) {
            filter_data = get_filter_data()
            squads = filter_data[0]
            offices = filter_data[1]
            days = filter_data[2]
            console.log('yoyoy', offices)
            $.ajax({
                url: url,
                data: {
                    'column':column,
                    'page':page,
                    'all':all,
                    'squads':squads,
                    'offices':offices,
                    'days':days,
                },
                dataType: 'json',
                success: function (data) {
                    this_.attr('page', data.page)
                    if (data.Ended == false) {
                        colid,column_data,'bottom'
                        fill_card_data(column, data.res,'bottom')
                    }
                }
            })
        }
    };
    function filter_title(id){
        this_ = $('.filter-title-'+id)
        $('.filter-list').hide()
        $('.filter-list-'+id).show()
        this_.attr('status','1')
    };
    $('.card_mail').click(function(e) {
        $(this).hide()
        $('.card_mail_form').show()
        $('.card_mail_edit').focus()
    })
    $('.add_card').click(function(e) {
        var id = $(this).attr("id")
        var name = $('.new_card_name').val()
        var phone = $('.new_card_phone').val()
        var mail = $('.new_card_mail').val()
        var comment = $('.new_card_comment').val()
        $('.alreadyregistered').hide()
        ok = false
        if (mail != '') {
            for (var i = mail.length - 1; i >= 0; i--) {
                if (mail[i] == '@') {
                    ok = true;
                    break;
                } 
            }            
        }
        else{
            ok = true;
        }
        if (ok) {
            $.ajax({
                url: $('.add_card_url').attr('url'),
                data: {
                    'name':name,
                    'phone':phone,
                    'mail':mail,
                    'comment':comment,
                    'id':id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.already_registered) {
                        $('.alreadyregistered').show()
                    }
                    else{
                        colid,column_data,'bottom'
                        fill_card_data(id,data.res,'top')
                        $('.new_card_form').modal('hide')
                    }
                }
            })        
        }
        else{
            $('.wrong_mail_error').show()
        }
    });
    function make_payment_card(id) {
        amount = $('.payment_amountedit').val()
        this_ = document.getElementById('pay_for_groupedit');
        group_id = this_.options[this_.selectedIndex].value;  
        url = $('.data').attr('make_payment_card')      
        $('.make_payment').addClass('disabled')
        $('.success_payment').hide()
        $('.loadpayment').show()
        $.ajax({
            url: url,
            data: {
                'amount':amount,
                'id':id,
                'group_id':group_id
            },
            dataType: 'json',
            success: function (data) {
                $('.loadpayment').hide()
                $('.make_payment').removeClass('disabled')
                $('.success_payment').show()
                $('.card_money_sch').empty()
                for (var i = 0; i < data.bills.length; i++) {
                    text =  '<div class="mr10 dinline"><b>'+ data.bills[i][0] +'</b></div>' + 
                            '<div class="mr10 dinline">На счету: '+ data.bills[i][1] +'</div>' + 
                            '<div class="mr10 dinline">Оплата за уроки: '+ data.bills[i][2] +'</div>' + 
                            '<div class="dinline">Оплата за месяц: '+ data.bills[i][3] +'</div>'
                    $(text).appendTo('.card_money_sch')
                    $('<br><br>').appendTo('.card_money_sch')
                }                
            }
        })        
    };    
    function openNav(id) {
        name = $('#cardnameshow'+id).text()
        $('#register_students_calendar').modal('show')
        $('#current_user_name').text(name)
        $('.card_for_save').attr('id', id)
        $('.insquadicon').hide()
        $('.insquadicon').attr('status', 'hide')
        $('.time_stop').hide()
        $('.wrong_mail').hide()
        $('.alreadyregistered').hide()
        $('.wrong_mail_error').hide()
        $('.no_predoplata_number').hide()
        $('.predoplata_form').hide()
        $('.ok_predoplata').hide()
        $('.isalready').hide()
        column_id = $('#cardsc' + id).attr('column')
        if (column_id == '4') {
            $('.predoplata_form').attr('style', 'display:flex;')
            $('.predoplata_number').attr('status', 'show')
        }
        else{
            $('.predoplata_number').attr('status', 'hide')          
        }
        $.ajax({
            url: $('.card_for_save').attr('get_card_squads'),
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                squads = ''
                for (var i = 0; i < data.res.length; i++){
                    squad_id = data.res[i]
                    squads += squad_id + 'd'
                    $('.insquadicon'+squad_id).show()
                    $('.insquadicon'+squad_id).attr('status', 'show')
                }
                $('#register_students_calendar').attr('squads',squads)
            }
        })
    }
    function save_card_id(id, name){
        $('.current_card').attr('id', id)
        $('.current_card').attr('name', name)
    }
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                squad: 'Выберите Класс',
                schedule: null,
                inSubjectSquads: [],
                outSubjectSquads: [],
                trener: ''
            }
        },
        methods: {
            move_card(column_id) {
                id = $('.current_card').attr('id')
                axios.get('/schools/api/move_card/', {
                    params: {
                        'column_id': column_id,
                        'card_id': id
                    }
                });
                oldcolumn_id = $('#card'+id).attr('column_id')
                $('#card'+id).attr('column_id', column_id)
                $('#cardsc'+id).attr('column', column_id)
                if(oldcolumn_id == '1'){
                    if (column_id == '5' || column_id == '4') {
                        openNav(id);
                    }
                    else{
                        openNav(id);
                    }
                }
                else{
                    if (column_id == '2') {
                        openNav(id);
                    }
                    if (column_id == '4' || column_id == '5') {
                        openNav(id);
                    }
                }
            },
        },
    })
    function open_crmcard(id){
        $('#card_formedit').modal('show');
        height = parseInt($(document).height())-230;
        $('.card_dialog').css('height', height);
        $('.card_money_schedit').empty();
        name = $('#cardnameshow'+id).text();
        phone = $('#cardphoneshow'+id).text();
        $('.crmform_title').text(name);
        $('.card_nameedit').val(name);
        $('.card_phoneedit').val(phone);
        card = $('.crm_card'+id);
        if (card.attr('fillform') == 'yes') {
            mail = card.attr('mail')
            extra_phone = card.attr('extra_phone')
            parents = card.attr('parents')
            comments = card.attr('comments')
            author_id = card.attr('author_id')
            take_url = card.attr('take_url')
            change_day_of_week = card.attr('change_day_of_week')
            days_of_weeks = card.attr('days_of_weeks')
            days_of_weeks_ar = [false,false,false,false,false,false,false,]
            for (var i = 0; i <  days_of_weeks.length; i++) {
                days_of_weeks_ar[days_of_weeks[i]] = true;
            }
            res = [mail, 
                    extra_phone, 
                    parents, 
                    comments,
                    author_id,
                    take_url,
                    change_day_of_week,
                    days_of_weeks_ar,
                    ]
            fill_card_form(id, res, 'yes')
            $.ajax({
                url: $('.data').attr('get_card_dialog'),
                data: {
                    'id':id,
                },
                dataType: 'json',
                success: function (data) {
                    fill_card_dialog(data.dialog)
                }
            })            
        }
        else{
            $.ajax({
                url: $('.card_for_save').attr('get_card_info'),
                data: {
                    'id':id,
                },
                dataType: 'json',
                success: function (data) {
                    $('.pay_for_groupedit').empty()
                    if (data.bills.length > 0) {
                        for (var i = 0; i < data.bills.length; i++) {
                            text =  '<div style="font-weight:600;display:inline-block;" class="mr10">'+ data.bills[i][0] +'</div>' + 
                                    '<div class="mr10" style="display:inline-block;">На счету: '+ data.bills[i][1] +'</div>' + 
                                    '<div class="mr10" style="display:inline-block;">Оплата за уроки: '+ data.bills[i][2] +'</div>' + 
                                    '<div style="display:inline-block;">Оплата за месяц: '+ data.bills[i][3] +'</div>'
                            $(text).appendTo('.card_money_schedit')
                            $('<br><br>').appendTo('.card_money_schedit')
                            $('<option value="'+data.bills[i][4]+'">'+data.bills[i][0]+'</option>').appendTo('.pay_for_groupedit')
                        }
                    }
                    else{
                        $('.card_money_schedit').text("Пока ничего нет")
                    }
                    fill_card_form(id, data.form_res[0], 'no')
                    fill_card_dialog(data.dialog)
                }
            })
        }
    }
    function open_crmhist(id){
        $('#card_hist').modal('show')
        url = $('.current_card').attr('url')
        name = $('#cardnameshow'+id).text()
        $('.card_hist_name').text(name)
        $.ajax({
            url: url,
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                $('.cardhistory').empty();
                for (var i = 0; i < data.res.length; i++){
                    hist = data.res[i]
                    name = hist[0]
                    url = hist[1]
                    time = hist[2]
                    oldcolumn = hist[3]
                    newcolumn = hist[4]
                    if (newcolumn == '') {
                        edit = hist[5]
                        text = '<span class="crmhistorynew">'+edit+'</span>'
                    }
                    else{
                        text = '<span class="crmhistoryold">'+oldcolumn+'</span> <i class="icon arrow right blue"></i> <span class="crmhistorynew">'+newcolumn+'</span>'
                    }
                    var element = $('<div style="padding-top:10px;">'+time+' <a href="'+url+'">'+name+'</a> '+text+'</div>').appendTo('.cardhistory');
                }
            }
        })
    };
    $('.save_card_mail').click(function(e) {
        var mail = $('.card_mail_edit').val()
        $('.card_mail_loader').show()
        id = $('.save_card_form').attr('id')
        $.ajax({
            url: $('.save_card_mail').attr('url'),
            data: {
                'id':id,
                'mail':mail
            },
            dataType: 'json',
            success: function (data) {
                $('.card_mail_loader').hide()
                $('.card_mail').text(mail)
                $('.card_mail_form').hide()
                $('.card_mail').show()
            }
        })
    })
    $('.card_send_mail').click(function(e) {
        id = $('.save_card_form').attr('id')
        var mail = $('.card_mail').text()
        var text = $('.card_mail_text').val()
        $('.card_send_mail_loader').show()
        $('.card_send_mail').hide()
        $.ajax({
            url: $('.card_send_mail').attr('url'),
            data: {
                'id':id,
                'mail':mail,
                'text':text,                
            },
            dataType: 'json',
            success: function (data) {
                $('.card_send_mail_loader').hide()
                $('.card_send_mail').show()
                if (data.ok) {
                    $('.empty_dialog').hide()
                    $('.card_mail_text').val('')
                    message = $('.manager_message_cont').clone()
                    message.removeClass('manager_message_cont')
                    message.find('.message_date').text(data.time)
                    message.find('.message_text').text(text)
                    message.find('.message_author').text(data.author)
                    message.find('.reply').text(data.message_id)
                    message.appendTo('.card_dialog')
                }
                else{
                }
            }
        })
    })
    function edit_card(id) {
        var name = $('.card_nameedit').val()
        var phone = $('.card_phoneedit').val()
        var extra_phone = $('.card_phone_extraedit').val()
        var parents = $('.card_parentsedit').val()
        var comment = $('.card_commentedit').text()
        $.ajax({
            url: $('.edit_card_url').attr('url'),
            data: {
                'name':name,
                'phone':phone,
                'extra_phone':extra_phone,
                'comment':comment,
                'id':id,
                'parents':parents
            },
            dataType: 'json',
            success: function (data) {
                card = $('.crm_card'+id)
                card.find('#cardnameshow'+id).text(name)
                card.find('#cardphoneshow'+id).text(phone)
                $('#card_formedit').modal('hide')
                console.log(card, card.find('#cardnameshow'))
            }
        })
    }
    function delete_card(id) {
        $('.delete_card_data').attr('id', id);
        $('#delete_card_modal').modal('show');
    }
    function change_manager(id){
        this_ = document.getElementsByClassName('change_manager')[0];
        manager = this_.options[this_.selectedIndex].value;
        $.ajax({
            url: '/schools/api/change_manager/',
            data: {
                'manager':manager,
                'card':id,
            },
            dataType: 'json',
            success: function (data) {
                nc = $('.crm_card'+id)
                nc.find('.nouser').attr('href', data.author_url)
                nc.find('.nouser').text(data.author_name)
                nc.attr('author_id', manager)
            }
        })        
    }
    function card_called(id){
        this_ = $('.card_form-select-contact-btn'+id)
        $.ajax({
            url: '/schools/api/card_called/',
            data: {
                'id': id,
                'action':'done',
            },
            dataType: 'json',
            success: function (data) {
                this_.removeClass('green');
                this_.text('Связались в ' + data.time)
            }
        })
    };
    function card_called_change(id){
        url = '/schools/api/card_called/'
        this_ = $('.card_form-select-contact'+id)
        selector = document.getElementsByClassName('card_form-select-contact'+id)[0];
        action = selector.options[selector.selectedIndex].value;
        $.ajax({
            url: url,
            data: {
                'id':id,
                'action':action,
            },
            dataType: 'json',
            success: function (data) {
                $('.card_form-select-contact-btn'+id).text('Готово')
                $('.card_form-select-contact-btn'+id).addClass('green');                    
            }
        })          
    };

    var text = $('.card_comment-textarea');
    var texto = $('.card_commento'); 
    var helper = $('.card_comment-helper');
    function closeHelper(id) {
        $('#card_comment-helper').hide();
        $('.card_comment').attr('status', 'stop')
    }
    text.on('keyup', function (e) {
        var id = $(this).attr('id')
        var text = $(this).text()
        console.log(e.key)
        if (e.key == 'Enter' || e.key === ' ' || (e.key === 'Backspace' && text[text.length-1] == '!')) {
            closeHelper(id)
        }
        else{
            is_search = false;
            crnt = '';
            for (var i = window.getSelection().anchorOffset-1; i >= 0; i--) {
                if (text[i] === '!') {
                    is_search = true;
                    break;
                }
                else if (text[i] === ' ') {
                    crnt = ''
                    break;
                }                    
                crnt = crnt + text[i]
            }
            if (is_search && text[text.length - 1] != '!') {
                var d = document.getElementById('card_comment-helper');
                d.style.left = getSelectionCoords().x - 170 +'px';
                d.style.top = getSelectionCoords().y -375 +'px';        
                $('#card_comment-helper').show();
                var url = $(this).attr('url')                    
                $.ajax({
                    url: url,
                    data: {
                        'text':crnt,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.res != 'empty'){
                            for (var i = 0; i < data.res.length; i++) {
                                $('.card' + id + 'helper' + (i+1)).show()
                                $('.card' + id + 'helper' + (i+1)).text('!' + data.res[i])
                            }
                            for (var i = data.res.length; i < 5; i++) {
                                $('.card' + id + 'helper' + (i+1)).hide()
                            }
                        }
                    }
                })
            }
        }
    });
    $('.takecard').on('click', function (e) {
        this_ = $(this)
        url = this_.attr('url')
        id = this_.attr('id')
        $.ajax({
            url: url,
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    this_.removeClass('small green full-w')                    
                    this_.text('Отказаться от карточки')
                    $('.nouser'+id).show()
                    $('.nouser'+id).text('#' + data.manager)
                    $('.nouser'+id).attr('href', data.manager_url)
                }
                else{
                    this_.addClass('small green full-w')
                    this_.text('Взять себе')
                    $('.nouser'+id).hide()
                }
            }
        })        
    })
    function card_form_days(id){
        this_ = $('.card_form-days'+id)
        url = $('.data').attr('change_day_of_week')
        id = this_.attr('id')
        card = this_.attr('card')
        $.ajax({
            url: url,
            data: {
                'id':id,
                'card':card
            },
            dataType: 'json',
            success: function (data) {
                num = id+1
                if (data.status == 'yes') {
                    this_.addClass('green')
                    $('#card'+card).addClass('day'+num)
                }
                else{
                    this_.removeClass('green')
                    $('#card'+card).removeClass('day'+num)                    
                }
            }
        })        
    }
    $('.card_comment-item').on('click', function (e) {
        var str = $(e.target).text();
        textarea = $('.card_comment'+$(this).attr('id'))
        text = textarea.text()
        position = window.getSelection().anchorOffset
        indexstart = position
        for (var i = position-1; i >= 0; i--) {
            if (text[i] === '!') {
                indexstart = i;
                break;
            }
            else if (text[i] === ' ') {
                break;
            }
        }
        newtext = text.slice(0, indexstart) + str + text.slice(position)
        textarea.text(newtext);
        $('.card_comment-helper').hide()
    });
    text.on('input', function () {
        closeHelper();
    })
    function send_login_cl(id){
        var name = $('.card_name' + id).val()
        var phone = $('.card_phone' + id).val()
        var extra_phone = $('.card_phone_extra' + id).val()
        var mail = $('.card_mail' + id).val()
        var parents = $('.card_parents' + id).val()
        var comment = $('.card_comment' + id).text()
        this_ = $(this)
        ok = false
        if (mail.length > 0) {
            for (var i = mail.length - 1; i >= 0; i--) {
                if (mail[i] == '@') {
                    ok = true;
                    break;
                } 
            }            
        }
        else{ok = true}
        if (ok) {
            $('.send_login_loading'+id).show()
            $('.sended_login'+id).hide()
            this_.addClass('disabled')
            url = $('.data').attr('send_login_url')
            $.ajax({
                url: url,
                data: {
                    'name':name,
                    'phone':phone,
                    'extra_phone':extra_phone,
                    'mail':mail,
                    'comment':comment,
                    'id':id,
                    'parents':parents
                },
                dataType: 'json',
                success: function (data) {
                    if (data.ok) {
                        $('.send_login_loading'+id).hide()
                        $('.sended_login'+id).show()
                        $('.icontable'+id).removeClass('green')
                        $('.icontable'+id).addClass('blue')   
                        this_.addClass('disabled')
                    }
                }
            })
        }
    }
    function getSelectionCoords(win) {
        win = win || window;
        var doc = win.document;
        var sel = doc.selection, range, rects, rect;
        var x = 0, y = 0;
        if (sel) {
            if (sel.type != "Control") {
                range = sel.createRange();
                range.collapse(true);
                x = range.boundingLeft;
                y = range.boundingTop;
            }
        } else if (win.getSelection) {
            sel = win.getSelection();
            if (sel.rangeCount) {
                range = sel.getRangeAt(0).cloneRange();
                if (range.getClientRects) {
                    range.collapse(true);
                    rects = range.getClientRects();
                    if (rects.length > 0) {
                        rect = rects[0];
                    }
                    x = rect.left;
                    y = rect.top;
                }
                // Fall back to inserting a temporary element
                if (x == 0 && y == 0) {
                    var span = doc.createElement("span");
                    if (span.getClientRects) {
                        // Ensure span has dimensions and position by
                        // adding a zero-width space character
                        span.appendChild( doc.createTextNode("\u200b") );
                        range.insertNode(span);
                        rect = span.getClientRects()[0];
                        x = rect.left;
                        y = rect.top;
                        var spanParent = span.parentNode;
                        spanParent.removeChild(span);

                        // Glue any broken text nodes back together
                        spanParent.normalize();
                    }
                }
            }
        }
        return { x: x, y: y };
    }
    function hint_item(text){
        $('#search_text').val(text)
        $('.search_hint').hide();
        url = $('.data').attr('search_crm_cards')
        $.ajax({
            url: url,
            data: {
                'text':text,
            },
            dataType: 'json',
            success: function (data) {
                ids = ''
                for (var i = 0; i < data.res.length; i++) {
                    colid = data.res[i][0]
                    $('#card_container'+data.res[i][1][0][0]).remove()
                    fill_card_data(colid, data.res[i][1],'top')
                }
            }
        })        
    }
    function get_filter_data(){
        squads = ''
        $(".cfsquad.chosed").each(function () {
            squads += $(this).attr('id')+'d'
        })
        offices = ''
        $(".cfoffice.chosed").each(function () {
            offices += $(this).attr('id')+'d'
        })
        days = ''
        $(".cfday.chosed").each(function () {
            days += $(this).attr('id')+'d'
        })
        return [squads, offices, days]        
    }
    $('.filter-item-s').click(function(e) {
        $('.search_hint').hide();
        id = $(this).attr('id')
        status = $(this).attr('status')
        url = $('.data').attr('filter_crm_cards')
        check = $('#check_'+status+id)
        is_check = check.attr('status')
        is_all = $('.edit_card_url').attr('all')
        if (is_check == '0') {
            $(this).addClass('chosed')
            check.show()
            check.attr('status','1')
        }
        else{
            $(this).removeClass('chosed')
            check.hide()
            check.attr('status','0')
        }
        filter_data = get_filter_data()
        squads = filter_data[0]
        offices = filter_data[1]
        days = filter_data[2]
        $.ajax({
            url: url,
            data: {
                'squads':squads,
                'offices':offices,
                'days':days,
                'is_all':is_all,
            },
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.all_res.length; i++) {
                    colid = data.all_res[i][0]
                    $('.crmbox'+colid).empty()
                    column_data = data.all_res[i][1]
                    fill_card_data(colid,column_data,'bottom')
                }
            }
        })
    })
    function save_card_as_user(squad_id){
        $('.loading').show();
        id = $('.card_for_save').attr('id');
        predoplata = $('.predoplata_number').val();
        sch = parseInt($('.card_money_sch').attr('money'));
        $('.time_stop').hide()
        $('.wrong_mail').hide()
        $('.no_predoplata_number').hide()
        $('.isalready').hide()
        in_squad = $('.squad'+squad_id).attr('status')
        if (in_squad == 'show' || $('.predoplata_number').attr('status') != 'show' || sch != 0 || predoplata != '') {
            $.ajax({
                url: $('.card_for_save').attr('url'),
                data: {
                    'id':id,
                    'squad_id':squad_id,
                    'predoplata':predoplata,
                },
                dataType: 'json',
                success: function (data) {
                    $('.loading').hide();
                    $('.ok_predoplata').hide()
                    if (data.problems != 'ok') {
                        $('.isalready').show()
                        $('.isalready_subject').text(data.problems)
                    }
                    else{
                        $('.isalready').hide()
                    }
                    $('.predoplata_number').attr('status', 'hide')
                    $('.predoplata_number').val('')
                    if (data.stop) {
                        $('.time_stop').show()
                        $('.wrong_mail').hide()
                    }
                    else if(data.add){
                        document.getElementById("school_schedule").style.width = "0";
                        $('.icontable'+id).removeClass('green')
                        $('.icontable'+id).addClass('blue')
                        $('.insquadicon'+squad_id).show()
                    }
                    else{
                        $('.insquadicon'+squad_id).hide()
                    }
                }
            
            })            
        }
        else{
            $('.no_predoplata_number').show()
            $('.loading').hide();            
        }
    };
    function save_predoplata(){
        $('.ok_predoplata').hide()
        $('.no_predoplata_number').hide()
        id = $('.card_for_save').attr('id')
        predoplata = $('.predoplata_number').val()
        if (predoplata != '') {
            $('.loading').show();
            $.ajax({
                url: $('.card_for_save').attr('predoplata_url'),
                data: {
                    'id':id,
                    'predoplata':predoplata,
                },
                dataType: 'json',
                success: function (data) {
                    $('.loading').hide();
                    $('.predoplata_number').val('')
                    $('.ok_predoplata').show()
                    sch = parseInt($('.card_money_sch').attr('money'))+parseInt(predoplata);
                    $('.card_money_sch').attr('money', sch)
                    $('.card_money_sch').text('На счету: '+sch+'тг')
                }
            })            
        }
    };
    function show_subject_cost(cost){
        $('.subject_cost').html(cost)
    }
    $('#search_text').on('input', function (e) {
        text = $(this).val()
        if (text.length == 0) {
          $('.search_hint').hide();
        }
        else {
          url = '/schools/api/call_helper/'
            $.ajax({
                url: url,
                data: {
                  'text': text,
                  'reverse': 'no',
                },
                dataType: 'json',
                success: function (data) {
                    if (data.res.length == 0) {
                        $('.search_hint').hide();
                    }
                    else {
                        $('.search_hint').empty();
                        url = $('.show_url').attr('url')
                        for (var i = 0; i < data.res.length; i++) {
                          var element = $('<div class="hint_item" onclick="hint_item(' + "'" + data.res[i] + "'" + ')">' + data.res[i] + '</div>').appendTo('.search_hint');
                        }
                        $('.search_hint').show();
                    }
                }
            })
        }
    })
    $('.search_by_tags').click(function (e) {
        $('#search_text').val(text)
        $('.search_hint').hide();
        hint_item(text)
    })    
