{% load ttags %}
{% load staticfiles %}
<form class="ui grid full-w mt0 shadow_dark" onclick="change_mode()">
    <div class="backdark bottombr5" style="width: 53px;position: absolute;z-index: 3005;">
        <div style="height: 27px;"></div>
        {% for time in constant_times %}
        <div>
            <div class="full-w tdconst" style="width: 53px;text-align: left;padding: 8px 0;">
                {{ time }}
                <div style="border-top:1px solid #565656;margin-top: -8px;" class="full-w"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="schedule_body oveflowx_h backdark pb15 bottombr5" style="overflow-y:hidden; width: 100%;">
        <div style="z-index: 100;white-space: nowrap;">
            <div>
                <div class="thconst" style="width: 53px;z-index: 100"></div>
                <div class="thconst dark_grey" style="width: 100px;z-index: 100;opacity: 1;" id="constday0">Пн</div>
                <div class="thconst" style="width: 100px;" id="constday1">Вт</div>
                <div class="thconst dark_grey" style="width: 100px;" id="constday2">Ср</div>
                <div class="thconst" style="width: 100px;" id="constday3">Чт</div>
                <div class="thconst dark_grey" style="width: 100px;" id="constday4">Пт</div>
                <div class="thconst" style="width: 100px;" id="constday5">Сб</div>
                <div class="thconst dark_grey" style="width: 100px;" id="constday6">Вс</div>
            </div>
        </div>
        <div class="no_margin backdark" style="white-space: nowrap;">
            <div class="lectures_cont" style="position: relative;margin-top: -29px;">
                <div class="dark_grey constback1 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
                <div class="dark_grey constback3 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
                <div class="dark_grey constback5 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
                <div class="dark_grey constback7 mt30" style="opacity: 0.4;height: {{height}};position: absolute;"></div>
            </div>
        </div>
        <div class="schedule_lines" style="min-width: 100%;white-space: nowrap;">
            <div style="height: 27px;"></div>
            {% for time in constant_times %}
            <div>
                <div class="pt10 pb10 full-w tdconst" style="text-align: left;height: 28px;">
                    <div style="border-top:1px solid #565656;margin-top: 6px;" class="full-w"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>   
</form>
<span class="dataconst" page_mode="norm" number="0" changed="no" interval="{{interval}}" chosendays=""
max1="1" max2="1" max3="1" max4="1" max5="1" max6="1" max7="1" friends=''></span>
<script type="text/javascript">
    function change_mode() {
        if ($('.dataconst').attr('page_mode') == 'norm') {
            $('.schedule_body').removeClass('oveflowx_h')
            $('.schedule_body').addClass('oveflowx_a')
            $('#group-details').addClass('oveflowy_h')
            $('.content-container').addClass('oveflowy_h') 
            $('.dataconst').attr('page_mode', 'horz')           
        }
        else{
            $('.schedule_body').addClass('oveflowx_h')
            $('.schedule_body').removeClass('oveflowx_a')
            $('#group-details').removeClass('oveflowy_h')
            $('.content-container').removeClass('oveflowy_h') 
            $('.dataconst').attr('page_mode', 'norm')            
        }
    }

</script>