{% load staticfiles %}
<div class="ui segment" style="margin-bottom: 0;">
    <div class="group-name">
        {% if instance.image_banner %}
            {% if instance.image_icon %}
            <img src="{{ instance.image_icon.url }}" class="ui avatar image" style="width: 39px; height: 39px;">
            {% else %}
            <img class="ui avatar image" style="width: 39px; height: 39px;" src="{% static 'images/squad.png' %}">
            {% endif %}
        {% endif %}
        <span class="ui header ava-title school_title"><a href="{{instance.landing}}">{{ instance.title }}</a></span>
        {% if is_director %}
        <a onclick="$('.school_title_form').show()"><i class="icon pen square blue" style="font-size: 17px"></i></a>
        <form class="ui form no_margin school_title_form" style="width: 400px;display: none;">
            <div class="ui grid">
                <div class="twelve wide column no_padding_side">
                    <textarea class="school_title_edit no_margin" style="margin-bottom: 0;">{{ instance.title }}</textarea>
                </div>
                <div class="four wide column">
                    <a status="title" class="save_school_title ui button mini blue" id="{{ instance.id }}" url="{{ instance.change_title_url }}">Сохранить</a>      
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<div class="ui segment" style="background-color: #fafbfc;margin-top: 0; padding: 18px;">
    <a href="{{ instance.get_absolute_url }}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}" class="{% if main_school %}current_option{% else %}other_option{% endif %}" name="school_info">
        Общие 
    </a>
    <a href="{{ instance.get_salaries_url }}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}" class="{% if salaries %}current_option{% else %}other_option{% endif %}" name="teachers">
        Зарплаты
    </a>
</div>
