{% load staticfiles %}
<div class="ui segment mt0">
    <div class="group-name hint_place2" side="bottom">
        <span class="ui header ava-title school_title"><a class="textblue" href="{{instance.landing}}">{{ instance.title }}</a></span>
        {% if is_director %}
        <a onclick="$('.school_title_form').show()"><i class="icon pen square blue" style="font-size: 17px"></i></a>
        <form class="ui form no_margin school_title_form" style="width: 400px;display: none;">
            <div class="ui grid">
                <div class="twelve wide column no_padding_side">
                    <textarea class="school_title_edit no_margin">{{ instance.title }}</textarea>
                </div>
                <div class="four wide column">
                    <a status="title" class="save_school_title ui button mini blue" id="{{ instance.id }}" url="{{ instance.change_title_url }}">Сохранить</a>      
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="mt15 mb10 pt5">
        <a href="{{ instance.get_absolute_url }}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}" class="{% if main_school %}current_option{% else %}other_option{% endif %}">
            Общие 
        </a>
        <a href="{{ instance.get_salaries_url }}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}" class="{% if salaries %}current_option{% else %}other_option{% endif %}">
            Зарплаты
        </a>
        {% if is_moderator %}
        <a href="{% url 'schools:social_networks_settings' %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}" class="{% if social_networks_settings %}current_option{% else %}other_option{% endif %}">
            Социальные сети
        </a>
        {% endif %}
        <a href="{% url 'schools:connect_site' %}{%if is_moderator%}?type=moderator&mod_school_id={{school_crnt.id}}{%endif%}" class="{% if connect_site %}current_option{% else %}other_option{% endif %}">
            Подключение сайта
        </a>
    </div>
</div>
