{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" style="padding-bottom: 200px;">
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
                {% include 'school/head.html' %}
                {% include 'school/school_info.html' %}                    
            </div>
        </div>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
{% include 'squads/squad_materials.html' %}

{% endblock content %}