{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" style="padding-bottom: 200px;">
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
                {% include 'school/head.html' %}
                <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;margin-top: 0">
                    Информация
                </div>
                <div class="ui segment" style="margin: 0;font-size: 15px;">
                    <span style="display: inline-block;color: #909090;font-size: 14px;margin-bottom: 8px;">Описание (для рекламной страницы): </span> 
                    <span style="display: inline-block;" class="school_content">{{ instance.content }}</span> 
                    {% if is_director %}
                    <a onclick="$('.school_content_form').show()"><i class="icon pen square blue" style="font-size: 15px;margin-left: 15px;"></i></a>
                    <form class="ui form no_margin school_content_form" style="width: 800px; display: none;">
                        <div class="ui grid">
                            <div class="twelve wide column no_padding_side">
                                <textarea class="school_content_edit no_margin" style="margin-bottom: 0;height: 70px;">{{ instance.content }}</textarea>
                            </div>
                            <div class="four wide column">
                                <a status="content" class="save_school_title ui button mini blue" id="{{ instance.id }}" url="{{ instance.change_title_url }}">Сохранить</a>      
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    <br>
                    <span style="display: inline-block;color: #909090;font-size: 14px;margin-bottom: 8px;">Короткий слоган (для карты):</span>
                    <span style="display: inline-block;" class="school_slogan">{{ instance.slogan }}</span>
                    {% if is_director %}
                    <a onclick="$('.school_slogan_form').show()"><i class="icon pen square blue" style="font-size: 15px;margin-left: 15px;"></i></a>
                    <form class="ui form no_margin school_slogan_form" style="width: 400px;display: none;">
                        <div class="ui grid">
                            <div class="twelve wide column no_padding_side">
                                <textarea class="school_slogan_edit no_margin" style="margin-bottom: 0;">{{ instance.slogan }}</textarea>
                            </div>
                            <div class="four wide column">
                                <a status="slogan" class="save_school_title ui button mini blue" id="{{ instance.id }}" url="{{ instance.change_title_url }}">Сохранить</a>      
                            </div>
                        </div>
                    </form>
                    {% endif %} 
                    <br>                   
                    <span style="display: inline-block;color: #909090;font-size: 14px;margin-bottom: 8px;">Сайт (если есть):</span>
                    <span style="display: inline-block;" class="school_site">{{ instance.site }}</span>
                    {% if is_director %}
                    <a onclick="$('.school_site_form').show()"><i class="icon pen square blue" style="font-size: 15px;margin-left: 15px;"></i></a>
                    <form class="ui form no_margin school_site_form" style="width: 400px;display: none;">
                        <div class="ui grid">
                            <div class="twelve wide column no_padding_side">
                                <textarea class="school_site_edit no_margin" style="margin-bottom: 0;">{{ instance.site }}</textarea>
                            </div>
                            <div class="four wide column">
                                <a status="site" class="save_school_title ui button mini blue" id="{{ instance.id }}" url="{{ instance.change_title_url }}">Сохранить</a>      
                            </div>
                        </div>
                    </form>
                    {% endif %} 
                    <br>                   
                    <span style="display: inline-block;color: #909090;font-size: 14px;margin-bottom: 8px;">Время работы (для карты):</span>
                    <span style="display: inline-block;" class="school_worktime">{{ instance.worktime }}</span>
                    {% if is_director %}
                    <a onclick="$('.school_worktime_form').show()"><i class="icon pen square blue" style="font-size: 15px;margin-left: 15px;"></i></a>
                    <form class="ui form no_margin school_worktime_form" style="width: 400px;display: none;">
                        <div class="ui grid">
                            <div class="twelve wide column no_padding_side">
                                <textarea class="school_worktime_edit no_margin" style="margin-bottom: 0;">{{ instance.worktime }}</textarea>
                            </div>
                            <div class="four wide column">
                                <a status="worktime" class="save_school_title ui button mini blue" id="{{ instance.id }}" url="{{ instance.change_title_url }}">Сохранить</a>
                            </div>
                        </div>
                    </form>
                    {% endif %} 
                    <br>
                    <span style="display: inline-block;color: #909090;font-size: 14px;margin-bottom: 8px;">Фотографии (для рекламной страницы):</span> 
                    <div style="display: inline-block;">
                        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                            <input type="file" name="school_banner" id="school_banner" class="postfile">
                            <label class="file_post" for="school_banner">
                                <a class="ui button mini"><i class="icon image blue"></i>Выбрать картинку</a>
                            </label>
                            <input type="submit" class="ui button mini blue save_banner" name="" value="Сохранить">
                        </form>
                    </div>
                    <br>
                    <div style="display: flex;">
                        {% for banner in instance.banners.all %}
                            {% if banner.image_banner %}
                            <div style="margin-right: 15px;display: flex;" id="banner{{banner.id}}">
                                <img src="{{ banner.image_banner.url }}" style="width: 50px;height: 50px;">
                                <a class="delete_school_banner" id="{{ banner.id }}" url="{{ banner.delete_school_banner }}"><b style="color: red;">×</b></a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <span style="display: inline-block;color: #909090;font-size: 14px;margin-bottom: 8px;">Социальные сети:</span> 
                    <div style="display: inline-block;" class="school_social_list">
                        {% for social in instance.social_networks %}
                            <a class="ui button mini social_object{{forloop.counter}}" onclick="$('.social_form{{forloop.counter}}').modal('show')" id="{{forloop.counter}}" style="padding: 7px 10px;">{{ social.1 }}</a>
                            <div class="ui modal mini social_form{{ forloop.counter }}">
                                <i class="close icon"></i>
                                <div class="content">
                                    <form class="ui form">
                                        <textarea id="social_link{{forloop.counter}}" placeholder="Введите ссылку">{{social.0}}</textarea>
                                        <a class="ui button mini blue" onclick="create_social('{{instance.create_social_url}}', '{{forloop.counter}}')">Сохранить</a>
                                        <a class="ui button mini red" onclick="delete_social('{{instance.delete_social_url}}', '{{forloop.counter}}')" style="float: right;">Удалить</a>
                                    </form>
                                    <div class="errorsocial{{forloop.counter}} highlight_red" style="display: none;">Эта социальная сеть уже записана</div>
                                </div>
                            </div>                        
                        {% endfor %}
                    </div>
                    <a class="ui button mini blue" onclick="$('.social_form_new').modal('show')" style="padding: 7px 10px;">Добавить социальную сеть</a>
                    <div class="ui modal mini social_form_new">
                        <i class="close icon"></i>
                        <div class="content">
                            <form class="ui form">
                                <textarea id="social_link_new" placeholder="Введите ссылку">{{social.0}}</textarea>
                                <a class="ui button mini blue" onclick="create_social('{{instance.create_social_url}}', '_new')">Сохранить</a>
                                <a class="ui button mini red" onclick="delete_social('{{instance.delete_social_url}}', '_new')" style="float: right;">Удалить</a>
                            </form>
                            <div class="errorsocial_new highlight_red" style="display: none;">Эта социальная сеть уже записана</div>
                        </div>
                    </div>
                </div>
                {% if is_director %}
                <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;">
                    Время уроков:
                    <div class="school_timep_list" style="display: inline-block;">
                    {% for timep in instance.time_periods.all %}
                        <a class="ui button mini green timep_object{{timep.id}}" onclick="$('#timep_form{{timep.id}}').modal('show')" id="{{timep.id}}" style="padding: 7px 10px;">{{ timep.start }}-{{ timep.end }}</a>
                        <div class="ui modal mini" id="timep_form{{ timep.id }}">
                            <i class="close icon"></i>
                            <div class="content">
                                <form class="ui form">
                                    <textarea id="timep_start{{timep.id}}" status='timep'>{{timep.start}}</textarea>
                                    <textarea id="timep_end{{timep.id}}" status='timep'>{{timep.end}}</textarea>
                                    <a class="ui button mini blue" onclick="create_timep('{{timep.create_url}}', '{{timep.id}}')">Сохранить</a>
                                    <a class="ui button mini red" onclick="delete_timep('{{timep.delete_url}}', '{{timep.id}}')" style="float: right;">Удалить</a>
                                </form>
                                <div class="errortimep{{timep.id}} highlight_red" style="display: none;">Время с таким промежутком уже сущетсвует</div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="ui button mini" onclick="$('#timep_form_new').modal('show')">Добавить время</a>
                    <div class="ui modal mini" id="timep_form_new">
                        <i class="close icon"></i>
                        <div class="content">
                            <form class="ui form">
                                <textarea class="need_clear" id="timep_start_new" status='timep' placeholder="Название"></textarea>
                                <textarea class="need_clear" id="timep_end_new" status='timep' placeholder="Название"></textarea>
                                <a class="ui button mini blue" onclick="create_timep('/schools/api/timep_create_url/', '_new');clear_textareas()">Создать</a>
                            </form>
                            <div class="errortimep_new highlight_red" style="display: none;">Время с таким промежутком уже сущетсвует</div>
                        </div>
                    </div>
                </div>
                <div class="ui segment" style="margin: 0;padding-left: 17px;">
                    Предметы школы:
                    <div class="school_subject_list" style="display: inline-block;">
                    {% for subject in instance.school_subject_categories.all %}
                        <a class="ui button mini green subject_object{{subject.id}}" onclick="$('#subject_form{{subject.id}}').modal('show')" id="{{subject.id}}" style="padding: 7px 10px;">{{ subject.title }} ({{ subject|get_subject_courses_len:instance }} курсов)</a>
                        <div class="ui modal mini" id="subject_form{{ subject.id }}">
                            <i class="close icon"></i>
                            <div class="content">
                                <form class="ui form">
                                    <div style="height: 20px;">
                                        <div class="hint_subject_title{{subject.id}}" style="display: none;"></div>
                                    </div>
                                    <textarea id="subject_title{{subject.id}}" class="object_textarea" status='subject'>{{subject.title}}</textarea>
                                    <a class="ui button mini blue" onclick="create_subject('{{subject.create_url}}', '{{subject.id}}')">Сохранить</a>
                                    <a class="ui button mini red" onclick="delete_subject('{{subject.delete_url}}', '{{subject.id}}')" style="float: right;">Удалить</a>
                                </form>
                                <div class="errorsubject{{subject.id}} highlight_red" style="display: none;">Предмет с таким названием уже сущетсвует</div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="ui button mini" onclick="$('#subject_form_new').modal('show')">Добавить предмет</a>
                    <div class="ui modal mini" id="subject_form_new">
                        <i class="close icon"></i>
                        <div class="content">
                            <form class="ui form">
                                <div style="height: 20px;">
                                    <div class="hint_subject_title_new" style="display: none;"></div>
                                </div>
                                <textarea class="object_textarea need_clear" id="subject_title_new" status='subject' placeholder="Название"></textarea>
                                <a class="ui button mini blue" onclick="create_subject('/schools/api/subject_create_url/', '_new');clear_textareas()">Создать</a>
                            </form>
                            <div class="errorsubject_new highlight_red" style="display: none;">Предмет с таким названием уже сущетсвует</div>
                        </div>
                    </div>
                </div>
                <div class="ui segment" style="margin: 0;padding-left: 17px;">
                    Возрасты учеников:
                    <div class="school_age_list" style="display: inline-block;">
                    {% for age in instance.school_subject_ages.all %}
                        <a class="ui button mini green age_object{{age.id}}" onclick="$('#age_form{{age.id}}').modal('show')" id="{{age.id}}" style="padding: 7px 10px;">{{ age.title }} ({{ age|get_age_courses_len:instance}} курсов)</a>
                        <div class="ui modal mini" id="age_form{{ age.id }}">
                            <i class="close icon"></i>
                            <div class="content">
                                <form class="ui form">
                                    <div style="height: 20px;">
                                        <div class="hint_age_title{{age.id}}" style="display: none;"></div>
                                    </div>                                    
                                    <textarea class="object_textarea" status='age' id="age_title{{age.id}}">{{age.title}}</textarea>
                                    <a class="ui button mini blue" onclick="create_age('{{age.create_url}}', '{{age.id}}')">Сохранить</a>
                                    <a class="ui button mini red" onclick="delete_age('{{age.delete_url}}', '{{age.id}}')" style="float: right;">Удалить</a>
                                </form>
                                <div class="errorage{{age.id}} highlight_red" style="display: none;">Такой возраст уже есть</div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="ui button mini" onclick="$('#age_form_new').modal('show')">Добавить предмет</a>
                    <div class="ui modal mini" id="age_form_new">
                        <i class="close icon"></i>
                        <div class="content">
                            <form class="ui form">
                                <div style="height: 20px;">
                                    <div class="hint_age_title_new" style="display: none;"></div>
                                </div>
                                <textarea class="object_textarea need_clear" status='age' id="age_title_new" placeholder="Название"></textarea>
                                <a class="ui button mini blue" onclick="create_age('/schools/api/age_create_url/', '_new');clear_textareas();">Создать</a>
                            </form>
                            <div class="errorage_new highlight_red" style="display: none;">Такой возраст уже есть</div>
                        </div>
                    </div>
                </div>
                <div class="ui segment" style="margin-top: 0;padding-left: 17px;">
                    Офисы:
                    <div class="school_office_list" style="display: inline-block;">
                    {% for office in instance.school_offices.all %}
                        <a class="ui button mini green office_object{{office.id}}" onclick="$('#office_form{{office.id}}').modal('show')" id="{{office.id}}" style="padding: 7px 10px;">{{ office.title }} ({{ office.office_subjects.all|length}} курсов)</a>
                        <div class="ui modal mini" id="office_form{{ office.id }}">
                            <i class="close icon"></i>
                            <div class="content">
                                <form class="ui form">
                                    <div style="height: 20px;">
                                        <div class="hint_office_title{{office.id}}" style="display: none;"></div>
                                    </div>
                                    <textarea class="object_textarea" status='office' id="office_title{{office.id}}">{{office.title}}</textarea>
                                    <a class="ui button mini blue" onclick="create_office('{{office.create_url}}', '{{office.id}}');clear_textareas();">Сохранить</a>
                                    <a class="ui button mini red" onclick="delete_office('{{office.delete_url}}', '{{office.id}}')" style="float: right;">Удалить</a>
                                </form>
                                <div class="erroroffice{{office.id}} highlight_red" style="display: none;">Офис с таким названием уже сущетсвует</div>
                                <div class="ui grid office_cabinets{{office.id}}" style="margin: 25px 0 0 0">
                                    <div class="sixteen wide column no_padding">
                                        Кабинеты:
                                    </div>
                                    {% for cabinet in office.cabinets.all %}
                                        <div class="three wide column highlight" style="margin-right: 7px;margin-bottom: 7px;">
                                        {{cabinet.title}}
                                        </div>
                                    {% endfor %}                                    
                                </div>
                                <a class="ui button mini blue" style="margin-top: 15px;" onclick="$('#office_cabinet_create{{office.id}}').show();$(this).hide()">Добавить кабинет</a>                                
                                <form style="display: none;margin-top: 15px;" id="office_cabinet_create{{ office.id }}" class="ui form">
                                    <div style="display: flex;">
                                        <textarea class="no_margin need_clear office_cabinet_create_title office_cabinet_create_title{{ office.id }}" placeholder="Название кабинета"></textarea>
                                        <input placeholder="Вместимость" type="number" class="office_cabinet_create_capacity office_cabinet_create_capacity{{ office.id }}">
                                    </div>
                                    <a class="ui button mini green save_office_cabinet" url="{{office.create_cabinet_url}}" id="{{office.id}}" >Создать</a>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="ui button mini" onclick="$('#office_form_new').modal('show')">Добавить предмет</a>
                    <div class="ui modal mini" id="office_form_new">
                        <i class="close icon"></i>
                        <div class="content">
                            <form class="ui form">
                                <div style="height: 20px;">
                                    <div class="hint_office_title_new" style="display: none;"></div>
                                </div>
                                <textarea class="object_textarea need_clear" status='office' id="office_title_new" placeholder="Название"></textarea>
                                <a class="ui button mini blue" onclick="create_office('/schools/api/office_create_url/', '_new');clear_textareas()">Создать</a>
                            </form>
                            <div class="erroroffice_new highlight_red" style="display: none;">Офис с таким названием уже сущетсвует</div>
                        </div>
                    </div>
                </div>
                {% include 'school/voronka_chart.html' %}
                <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;font-size: 15px;">
                    На счету: <b id="number-counter" style="color: #e09310;">{{ instance.money }}тг.</b>
                </div>
                <div class="ui grid" style="margin-bottom: 30px;">
                    <div class="six wide column" style="padding: 15px 0 0 0">
                        <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;">
                            Расходы
                        </div>
                        <div class="ui segment" style="margin-top: 0">
                            {% include 'school/money_circle_chart.html' %}
                        </div>
                    </div>
                    <div class="ten wide column"  style="padding: 15px 0 0 0">
                        <div class="ui segment" style="margin-bottom: 0;padding-left: 17px;">
                            <div class="ui grid">
                                <div class="nine wide column" style="padding: 14px">
                                    Доходы
                                </div>
                                <div class="seven wide column" style="padding: 9px">
                                    <a class="ui button mini blue">Показать графики за год</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" style="margin-top: 0;height: 273px;">
                            {% include 'school/money_chart.html' %}
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div class="school-schedule">
                                <div class="schedule-scale">
                                    <div class="schedule-scale-num"></div>
                                    <div class="schedule-scale-num"></div>
                                    <div class="schedule-scale-num"></div>
                                    <div class="schedule-scale-num"></div>
                                    <div class="schedule-scale-num"></div>
                                    <div class="schedule-scale-num"></div>
                                </div>
                                <div class="schedule-column">
                                    <div style="height: 30%" class="schedule-item-light">30</div>
                                    <div style="height: 20%" class="schedule-item-dark">20</div>
                                </div>
                                <div class="schedule-column">
                                    <div style="height: 50%" class="schedule-item-light">50</div>
                                    <div style="height: 30%" class="schedule-item-dark">30</div>
                                </div>
                                <div class="schedule-column">
                                    <div style="height: 30%" class="schedule-item-light">30</div>
                                    <div style="height: 70%" class="schedule-item-dark">70</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                {% endif %}
                {% include 'school/good_results_chart.html' %}
                {% include 'school/bad_results_chart.html' %}                
            </div>
        </div>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>

<script type="text/javascript">
    function clear_textareas(){
        $('.need_clear').val('')
    }
    function use_hint(id, name) {
        $(id).val(name);
    }
    $('.object_textarea').on('input', function(e) {
        id = $(this).attr('id')
        text = $(this).val()
        url = '/schools/api/search_url/'
        status = $(this).attr('status')
        $.ajax({
            url: url,
            data: {
                'text':text,
                'status':status,
            },
            dataType: 'json',
            success: function (data) {
                $('.hint_'+id).empty();
                if(data.res.length == 0){
                    $('.hint_'+id).hide()
                }
                else{
                    $('.hint_'+id).show()
                }
                for(var i = 0; i < data.res.length; i++){
                    name = data.res[i]
                    var element = $('<a class="ui button mini subject_hint" onclick="use_hint('+id+','+"'"+name+"'"+')">'+name+'</a>').appendTo('.hint_'+id);
                }
            }
        });
    });
   function create_subject(url, id) {
        title = $('#subject_title'+id).val()
        if (title != '') {
            $.ajax({
                url: url,
                data: {
                    'id':id,
                    'title':title,                
                },
                dataType: 'json',
                success: function (data) {
                    $('.errorsubject'+id).hide()
                    if (data.taken_name) {
                        $('.errorsubject'+id).show()
                    }
                    else{
                        if (id == '_new') {
                            $('<a class="ui button mini green subject_object'+data.idd+'" onclick="$('+"'#subject_form"+data.idd+"'"+').modal('+"'show'"+')" style="padding: 7px 10px;">'+title+'</a> <div class="ui modal mini" id="subject_form'+data.idd+'"> <i class="close icon"></i> <div class="content"> <form class="ui form"> <textarea id="subject_title'+data.idd+'">'+title+'</textarea> <a class="ui button mini blue" onclick="create_subject('+"'"+data.create_url+"'"+','+"'"+data.idd+"'"+')">Сохранить</a> <a class="ui button mini red" onclick="delete_subject('+"'"+data.delete_url+"'"+','+"'"+data.idd+"'"+')" style="float: right;">Удалить</a> </form><div class="errorsubject'+data.idd+' highlight_red" style="display: none;">Предмет с таким названием уже сущетсвует</div></div> </div>').appendTo($('.school_subject_list'))
                        }
                        else{
                            $('.subject_object'+id).text(title);
                        }
                        $('#subject_form'+id).modal('hide')
                    }
                }
            })
        }
    };
    function delete_subject(url, id) {
        $.ajax({
            url: url,
            data: {
                'id':id
            },
            dataType: 'json',
            success: function (data) {
                $('.subject_object'+id).hide('fast');
                $('#subject_form'+id).modal('hide')
            }
        })        
    };
   function create_age(url, id) {
        title = $('#age_title'+id).val()
        if (title != '') {
            $.ajax({
                url: url,
                data: {
                    'id':id,
                    'title':title,                
                },
                dataType: 'json',
                success: function (data) {
                    $('.errorage'+id).hide()
                    if (data.taken_name) {
                        $('.errorage'+id).show()
                    }
                    else{
                        if (id == '_new') {
                            $('<a class="ui button mini green age_object'+data.idd+'" onclick="$('+"'#age_form"+data.idd+"'"+').modal('+"'show'"+')" style="padding: 7px 10px;">'+title+'</a> <div class="ui modal mini" id="age_form'+data.idd+'"> <i class="close icon"></i> <div class="content"> <form class="ui form"> <textarea id="age_title'+data.idd+'">'+title+'</textarea> <a class="ui button mini blue" onclick="create_age('+"'"+data.create_url+"'"+','+"'"+data.idd+"'"+')">Сохранить</a> <a class="ui button mini red" onclick="delete_age('+"'"+data.delete_url+"'"+','+"'"+data.idd+"'"+')" style="float: right;">Удалить</a> </form><div class="errorage'+data.idd+' highlight_red" style="display: none;">Предмет с таким названием уже сущетсвует</div></div> </div>').appendTo($('.school_age_list'))
                        }
                        else{
                            $('.age_object'+id).text(title);
                        }
                        $('#age_form'+id).modal('hide')
                    }
                }
            })
        }
    };
    function delete_age(url, id) {
        $.ajax({
            url: url,
            data: {
                'id':id
            },
            dataType: 'json',
            success: function (data) {
                $('.age_object'+id).hide('fast');
                $('#age_form'+id).modal('hide')
            }
        })        
    };
    function create_office(url, id) {
        title = $('#office_title'+id).val()
        if (title != '') {
            $.ajax({
                url: url,
                data: {
                    'id':id,
                    'title':title,                
                },
                dataType: 'json',
                success: function (data) {
                    $('.erroroffice'+id).hide()
                    if (data.taken_name) {
                        $('.erroroffice'+id).show()
                    }
                    else{
                        if (id == '_new') {
                            $('<a class="ui button mini green office_object'+data.idd+'" onclick="$('+"'#office_form"+data.idd+"'"+').modal('+"'show'"+')" style="padding: 7px 10px;">'+title+'</a> <div class="ui modal mini" id="office_form'+data.idd+'"> <i class="close icon"></i> <div class="content"> <form class="ui form"> <textarea id="office_title'+data.idd+'">'+title+'</textarea> <a class="ui button mini blue" onclick="create_office('+"'"+data.create_url+"'"+','+"'"+data.idd+"'"+')">Сохранить</a> <a class="ui button mini red" onclick="delete_office('+"'"+data.delete_url+"'"+','+"'"+data.idd+"'"+')" style="float: right;">Удалить</a> </form><div class="erroroffice'+data.idd+' highlight_red" style="display: none;">Предмет с таким названием уже сущетсвует</div></div> </div>').appendTo($('.school_office_list'))
                        }
                        else{
                            $('.office_object'+id).text(title);
                        }
                        $('#office_form'+id).modal('hide')
                    }
                }
            })
        }
    };
    function delete_office(url, id) {
        $.ajax({
            url: url,
            data: {
                'id':id
            },
            dataType: 'json',
            success: function (data) {
                $('.office_object'+id).hide('fast');
                $('#office_form'+id).modal('hide')
            }
        })        
    };

    function create_timep(url, id) {
        start = $('#timep_start'+id).val()
        end = $('#timep_end'+id).val()
        if (start != '' && end != '') {
            $.ajax({
                url: url,
                data: {
                    'id':id,
                    'start':start,
                    'end':end,
                },
                dataType: 'json',
                success: function (data) {
                    $('.errortimep'+id).hide()
                    if (data.taken_name) {
                        $('.errortimep'+id).show()
                    }
                    else{
                        if (id == '_new') {
                            $('<a class="ui button mini green timep_object'+data.idd+'" onclick="$('+"'#timep_form"+data.idd+"'"+').modal('+"'show'"+')" style="padding: 7px 10px;">'+start+'-'+end+'</a> <div class="ui modal mini" id="timep_form'+data.idd+'"> <i class="close icon"></i> <div class="content"> <form class="ui form"> <textarea id="timep_title'+data.idd+'">'+start+'-'+end+'</textarea> <a class="ui button mini blue" onclick="create_timep('+"'"+data.create_url+"'"+','+"'"+data.idd+"'"+')">Сохранить</a> <a class="ui button mini red" onclick="delete_timep('+"'"+data.delete_url+"'"+','+"'"+data.idd+"'"+')" style="float: right;">Удалить</a> </form><div class="errortimep'+data.idd+' highlight_red" style="display: none;">Предмет с таким промежутком уже сущетсвует</div></div> </div>').appendTo($('.school_timep_list'))
                        }
                        else{
                            $('.timep_object'+id).text(start+'-'+end);
                        }
                        $('#timep_form'+id).modal('hide')
                    }
                }
            })
        }
    };
    function delete_timep(url, id) {
        $.ajax({
            url: url,
            data: {
                'id':id
            },
            dataType: 'json',
            success: function (data) {
                $('.timep_object'+id).hide('fast');
                $('#timep_form'+id).modal('hide')
            }
        })        
    };
   function create_social(url, id) {
        link = $('#social_link'+id).val()
        if (link != '') {
            $.ajax({
                url: url,
                data: {
                    'id':id,
                    'link':link,                
                },
                dataType: 'json',
                success: function (data) {
                    $('.errorsocial'+id).hide()
                    if (data.taken_name) {
                        $('.errorsocial'+id).show()
                    }
                    else{
                        if (id == '_new') {
                            $('<a class="ui button mini social_object'+id+'" onclick="$('+"'"+'#social_form'+id+"'"+').modal('+"'show'"+')" id="'+id+'" style="padding: 7px 10px;">'+data.social_name+'</a> <div class="ui modal mini" id="social_form'+id+'"> <i class="close icon"></i> <div class="content"> <form class="ui form"> <textarea id="social_link'+id+'">'+link+'</textarea> <a class="ui button mini blue" onclick="create_social('+"'"+data.create_url+"'"+','+"'"+id+"'"+')">Сохранить</a> <a class="ui button mini red" onclick="delete_social('+"'"+data.delete_url+"'"+','+"'"+id+"'"+')" style="float: right;">Удалить</a> </form><div class="errorsocial'+id+' highlight_red" style="display: none;">Эта социальная сеть уже записана</div></div> </div>').appendTo($('.school_social_list'))
                        }
                        else{
                            $('.social_object'+id).text(data.social_name);
                        }
                        $('.social_form'+id).modal('hide')
                    }
                }
            })
        }
    };
    function delete_social(url, id) {
        $.ajax({
            url: url,
            data: {
                'id':id
            },
            dataType: 'json',
            success: function (data) {
                $('.social_object'+id).hide('fast');
                $('.social_form'+id).modal('hide')
            }
        })        
    };

</script>
{% endblock content %}