{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load ttags %}
{% block content %}
  <div style="display: none;" class="schoolLanding__header-gallery">
      <div class="schoolLanding__header-gallery__nav"><i id="landing__gallery-download" class="icon download"></i><i id="landing__gallery-close" class="icon close"></i></div>
      <div id="schoolLanding__header-gallery__sliderone" class="owl-carousel owl-theme">
        {% for banner in school.banners.all %}
        <div style="background: center / contain no-repeat url('{{banner.image_banner.url}}');" class="schoolLanding__header-gallery__item"></div>
        {% endfor %}
      </div>
      <div id="schoolLanding__header-gallery__slidertwo" class="owl-carousel owl-theme">
        {% for banner in school.banners.all %}
        <div style="background: center / cover no-repeat url('{{banner.image_banner.url}}');" class="schoolLanding__header-gallery__item schoolLanding__header-gallery__item-small"></div>
        {% endfor %}
      </div>
  </div>
  <header class="schoolLanding__header-wrapper" style="margin-top: -5px;">
      {% if school.banners.all|length %}
          {% for banner in school.banners.all %}
              {% if banner.image_banner and forloop.counter < 4 %}
                  <div style="background: url({{banner.image_banner.url}});" class="schoolLanding__header-img"></div>
              {% endif %}
          {% endfor %}
      {% else %}
          <div style="width: 100%; background: url({% static 'images/fon2.jpeg' %});" class="schoolLanding__header-img"></div>
      {% endif %}
  </header>
  <main class="schoolLanding__container">
    <div class="schoolLanding__content-header">
      <div class="schoolLanding__content-headerLeft">
        <div class="organization__info-top-part">
          <div class="ui grid stackable mb0">
            <div class="sixteen wide column">
                <div class="organization__info-left-part ui grid stackable">
                  <div class="sixteen wide column no_padding_side">
                      {% if school.image_icon %}
                      <div class="organization__info-photo"><img src="{{ school.image_icon.url }}" class="full-w full-h"></div>
                      {% endif %}
                  </div>
                  <div class="six wide column no_padding">
                      <div class="organization__info-main">
                          <h2 class="organization__info-title">{{ school.title }}</h2>
                          <p class="organization__info-subtitle">{{ school.slogan }}</p>
                      </div>
                  </div>
                  <div class="four wide column no_padding not_in_mobile">  
                      <div class="organization__info-middle-part">
                        <div class="organization__info-middle-part__wrap">
                          <span class="organization__info-rating">
                            <span class="organization__info-rating-avg">{{school.rating}}</span>
                                <span class="organization__info-rating-icon active">
                                  {% for star in five %}
                                      {% if forloop.counter <= school.rating %}
                                          <i class="icon star"></i>
                                      {% endif %}
                                  {% endfor %}
                                </span>
                                <span class="organization__info-rating-icon">
                                  {% for star in school|rating_empty_stars %}
                                      <i class="icon star"></i>
                                  {% endfor %}
                                </span>
                          </span>
                          <br>
                          <p class="organization__info-rating-desc">
                            {{ school.reviews.all|length }} отзывов
                          </p>
                        </div>
                      </div>
                  </div>
                  <div class="six wide column no_padding_side">
                      <div class="organization__info-right-part ui grid">
                          <div class="twelve wide column no_padding_side">
                              {% for office in school.school_offices.all %}
                              <span class="organization__info-address no_margin">
                                  {{ office.address }}
                              </span>
                              {% endfor %}
                          </div>
                          <div class="four wide column no_padding_side in_mobile">
                              <a style="float: right;text-align: center;margin-top: -45px;">
                                  <i class="icon map marker alternate" style="font-size: 21px;"></i>
                                  <br>
                                  Показать <br>
                                  на карте
                              </a>
                          </div>
                      </div>                    
                  </div>
                  <div class="ui divider in_mobile full-w no_margin"></div>
                  <div class="sixteen wide column no_padding_side">
                      <p class="organization__info-buttons">
                        <span class="organization__info-buttons-call">
                          <i class="icon phone"></i>
                        </span>
                        {% for phone in school.phones %}<a href="tel:{{ phone }}">{{ phone }}</a> {% if forloop.counter < school.phones|length %},{% endif %}{% endfor %}
                      </p>
                      <div class="ui divider full-w no_margin"></div>
                  </div>
                </div>
            </div>    
            <div class="ui divider in_mobile full-w no_margin"></div>
            <div class="organization__info-bottom-part ui grid stackable no_padding">
              <div class="organization__info-list twelve wide column no_padding_side">
                <div class="ui grid stackable">
                  <div class="six wide column no_padding_side">
                      <span class="organization__info-item">
                        <i class="icon clock outline"></i>
                        {{school.worktime}}
                      </span>
                  </div>
                  <div class="ten wide column no_padding_side">
                      <span class="organization__info-item">
                        {% for social in social_networks %}
                            <a href="https://{{ social.0 }}"><i class="icon {{ social.1 }}"></i>{{ social.1 }}</a>
                        {% endfor %}
                      </span>
                  </div>
                </div>
              </div>
              <div class="four wide column">
                    <a class="ui button green make_zaiavka make_zaiavka-1" course="-1" id="{{school.id}}" status="{% if request.user.is_authenticated %}auth{%else%}nonauth{%endif%}">Оставить заявку</a>
                    <div class="ui label ok_zaiavka-1" style="display: none;">
                        <i class="check icon green"></i> Заявка оставлена
                    </div>
                    <div class="ui modal" id="zaiavka_modal">
                        <i class="close icon"></i>
                        <div class="content">
                            <form method='POST' style="width: 40%;margin: 0 auto;text-align: center;" action='' enctype='multipart/form-data' class="ui form">{% csrf_token %}
                                <b>Имя</b>
                                <input class="zaiavka_name" placeholder="Введите имя" style="margin-bottom: 15px;margin-top: 10px;">
                                <b>Телефон</b>
                                <input class="zaiavka_phone" placeholder="Введите телефон" style="margin-bottom: 15px;margin-top: 10px;">
                                <div style="text-align: center;">
                                    <input class="ui button green make_zaiavka_new" course="" id="{{ school.id }}" value="Оставить заявку" type="submit" onclick="return false">
                                </div>
                                <div class="ui label ok_zaiavka_new" style="display: none;">
                                    <i class="check icon green"></i> Заявка оставлена
                                </div>
                            </form>
                        </div>
                    </div>            
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="schoolLanding__content-headerMap not_in_mobile">
            <div id="map1" style="width: 100%; height: 232px;"></div>        
        </div>
    </div>
    <div class="full-w ui grid stackable mt15 mb15">
      {% for post in posts %}
        <div class="four wide column pt0 pb0 pl0 mb15">
          <a href="/news/{{school.id}}">
            <div class="ui segment">
                <div class="full-w mb15" style="background-size: 100% auto; background-image: url({{ post.image.url }});height: 150px;"></div>
                <div style="text-overflow: ellipsis;overflow: hidden;height: 55px;"><b>{{post.content}}</b></div>
            </div>
          </a>
        </div>
      {% endfor %}
      {% if posts|length > 0%}
        <div class="sixteen wide column pt0 pb0 pl0 mb15">
          <a href="/news/{{school.id}}" style="text-decoration: underline;">Все новости центра →</a>
        </div>
      {%endif%}
    </div>
    <div class="schoolLanding__content-services">
      <h3 class="schoolLanding__content-services__title">Курсы</h3>
      <div style="overflow: hidden;" class="full-w get_width_div">
          <div class="schoolLanding__content-category__list no_margin no_padding" number="{{school.school_subject_categories.all|length}}">
            <div class="schoolLanding__content-category__item active" id="all">
              <i class="icon list ul"></i>
              <p class="schoolLanding__content-category__item__title">Все</p>
            </div>
            {% for subject in school.school_subject_categories.all %}
            <div class="schoolLanding__content-category__item" id="{{ subject.id }}">
              <i class="icon book"></i>
              <p class="schoolLanding__content-category__item__title">{{ subject.title }}</p>
            </div>
            {% endfor %}
          </div>
      </div>
      <div class="ui divider light full-w"></div>
      {% for course in school.school_subjects.all %}
      <section class="schoolLanding__content-services__item {%for cat in course.category.all%}category{{ cat.id }} {%endfor%} categoryall ui grid">
        <div class="no_padding_side schoolLanding__content-services__item-left">
              <h2 class="schoolLanding__content-services__item-title no_padding no_margin">{{ course.title }}</h2>
              <div class="not_in_mobile schoolLanding__content-services__item-time">{{ course.content }}</div>
              <div class="schoolLanding__content-services__item-price no_padding">{% if course.cost > 0 %}{{ course.cost }} тенге{% endif %}</div>
        </div>
        <div class="schoolLanding__content-services__item-right no_padding_side">
          <a style="padding: 5px 7px 7px 0;" class="in_mobile ui button green make_zaiavka make_zaiavka{{course.id}}" id="{{school.id}}" status="{% if request.user.is_authenticated %}auth{%else%}nonauth{%endif%}" course="{{course.id}}">
              <i class="right arrow icon" style="color: #fff;"></i>
          </a>
          <a class="not_in_mobile ui right labeled icon button green make_zaiavka make_zaiavka{{course.id}}" id="{{school.id}}" status="{% if request.user.is_authenticated %}auth{%else%}nonauth{%endif%}" course="{{course.id}}">
              {%  if course.cost > 0 %}Оставить заявку на курс{% else %}Уточнить стоимость{% endif %}
              <i class="right arrow icon" style="color: #fff;"></i>
          </a>
          <div class="ui label ok_zaiavka{{course.id}}" style="display: none;">
              <i class="check icon green"></i> Заявка оставлена
          </div>
        </div>
        <div class="ui divider light full-w"></div>
      </section>
      {% endfor %}
    </div>
      {% for teacher in all_teachers %}
      <div class="schoolLanding__content-teacher ui segment no_padding">
        <a href="{{ teacher.get_absolute_url }}">
          <div class="schoolLanding__content-teacher__photo">
            <img src="{% if teacher.image %}{{teacher.image.url}}{% else %}{% static 'images/nophoto.png' %}{% endif %}" class="full-w">
          </div>
          <div class="text-center pl5 pb5 pr5">
              <div class="schoolLanding__content-teacher__name">{{teacher.first_name}}</div>
              <div class="schoolLanding__content-teacher__desc">Какое то описание учителя</div>
          </div>
        </a>
      </div>
      {% endfor %}

    <div class="schoolLanding__content-review">
      <div class="schoolLanding__content-review__left not_in_mobile">
        <div class="schoolLanding__content-review-rate">
          <span class="schoolLanding__content-review-ratenum">{{ school.rating }}</span>
          <span class="schoolLanding__content-review-ratecount">{{ school.reviews.all|length }} оценок</span>
        </div>
        <div class="schoolLanding__content-review-ratestar">
          <div class="schoolLanding__content-review-ratestar__row">
            <span class="organization__info-rating-icon active">
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
            </span>
            <div class="schoolLanding__content-review-ratestar__scale"></div>
            <span class="schoolLanding__content-review-ratestar__num">{{ school|get_ratings:5 }}</span>
          </div>
          <div class="schoolLanding__content-review-ratestar__row">
            <span class="organization__info-rating-icon active">
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
            </span>
            <span class="organization__info-rating-icon">
              <i class="icon star"></i>
            </span>
            <div class="schoolLanding__content-review-ratestar__scale"></div>
            <span class="schoolLanding__content-review-ratestar__num">{{ school|get_ratings:4 }}</span>
          </div>
          <div class="schoolLanding__content-review-ratestar__row">
            <span class="organization__info-rating-icon active">
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
            </span>
            <span class="organization__info-rating-icon">
              <i class="icon star"></i>
              <i class="icon star"></i>
            </span>
            <div class="schoolLanding__content-review-ratestar__scale"></div>
            <span class="schoolLanding__content-review-ratestar__num">{{ school|get_ratings:3 }}</span>
          </div>
          <div class="schoolLanding__content-review-ratestar__row">
            <span class="organization__info-rating-icon active">
              <i class="icon star"></i>
              <i class="icon star"></i>
            </span>
            <span class="organization__info-rating-icon">
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
            </span>
            <div class="schoolLanding__content-review-ratestar__scale"></div>
            <span class="schoolLanding__content-review-ratestar__num">{{ school|get_ratings:2 }}</span>
          </div>
          <div class="schoolLanding__content-review-ratestar__row">
            <span class="organization__info-rating-icon active">
              <i class="icon star"></i>
            </span>
            <span class="organization__info-rating-icon">
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
              <i class="icon star"></i>
            </span>
            <div class="schoolLanding__content-review-ratestar__scale"></div>
            <span class="schoolLanding__content-review-ratestar__num">{{ school|get_ratings:1 }}</span>
          </div>
        </div>
      </div>
      <div class="schoolLanding__content-review__right">
        <div class="schoolLanding__content-review-comments__header">
          Отзывы {{ school.reviews.all|length }}
        </div>
        <div class="schoolLanding__content-review-comment">
          {% for review in school.reviews.all %}
          <div class="schoolLanding__content-review-comment__rating">
            <span class="organization__info-rating-icon active">
              {% for star in five %}
                  {% if forloop.counter <= review.rating %}
                      <i class="icon star"></i>
                  {% endif %}
              {% endfor %}
            </span>
            <span class="organization__info-rating-icon">
              {% for star in review|rating_empty_stars %}
                  <i class="icon star"></i>
              {% endfor %}
            </span>
          </div>
          <div class="schoolLanding__content-review-comment__text">
              {{review.text}}
          </div>
          <div class="schoolLanding__content-review-comment__about">
            <span class="schoolLanding__content-review-comment__about-left">
              <span class="schoolLanding__content-review-comment__about-name">{{review.author_profile.first_name}}</span>
              <span class="schoolLanding__content-review-comment__about-date">{{ review.timestamp }}</span>
            </span>
          </div>
          {% endfor %}
        </div>
        <div style="text-align: center;margin-top: 15px;margin-bottom: 50px;">
            <div class="ui pointing below label no_margin" style="font-size: 17px;">
              Оставьте отзыв:
            </div>
            <br><br>
            <span class="organization__info-rating-icon result_rating" number="">
              <i class="icon star make_review" id="star1" number="1"></i>
              <i class="icon star make_review" id="star2" number="2"></i>
              <i class="icon star make_review" id="star3" number="3"></i>
              <i class="icon star make_review" id="star4" number="4"></i>
              <i class="icon star make_review" id="star5" number="5"></i>
            </span>
            <form class="ui form wright_review" style="width: 80%;margin: auto;margin-top: 15px;display: none;">
              <textarea class="review_text" placeholder="Напишите отзыв" style="height: 80px;"></textarea>
              <div style="text-align: center;">
                <input class="ui button green save_review" url="{{school.save_review_url}}" value="Отправить" type="submit" onclick="return false">                
              </div>
            </form>  
            <br><br>
            <div class="review_error highlight_red" style="display: none;">Сначала нужно войти в аккаунт или зарегестрироваться</div>        
        </div>
      </div>
    </div>
    <div class="ui segment">
        <div id="map" style="width: 80%; height: 300px;margin: 0 auto;"></div>      
    </div>
  </main>
<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script> 
<script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=e41c217e-d9c0-4663-a3b4-4dba98ca5e05&lang=ru_RU"
    type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/dragmap.js' %}"></script>
<script type="text/javascript">
        $( ".schoolLanding__content-category__list" ).draggable({ 
            axis: "x",
            stop: function( event, ui ) {
                mydiv = $('.schoolLanding__content-category__list')
                left = parseInt(mydiv.css('left'))
                width = (parseInt(mydiv.attr('number'))+2)*100
                max_width = parseInt($('.get_width_div').css('width'))
                console.log(left, max_width - width)
                if (width > max_width) {
                    if (left < max_width - width) {
                      mydiv.animate({left: max_width-width}, 100);
                    }
                    else if (left > 0) {
                      mydiv.animate({left:0}, 100);
                    }                  
                }
                else{
                    if (left < max_width - width) {
                      mydiv.animate({left: 0}, 100);
                    }
                    else if (left > 0) {
                      mydiv.animate({left:0}, 100);
                    }                                    
                }

            },
        });        
    ymaps.ready(init);
    function init(){ 
        x = parseFloat('{{school.school_offices.first.latitude}}')
        y = parseFloat('{{school.school_offices.first.longtude}}')
        var myMap = new ymaps.Map("map", {
            center: [x, y],
            zoom: {%if school.school_offices.all|length > 1 %}13{%else%}16{%endif%}
        },{
            restrictMapArea: [
                [42.8, 76.02848],
                [44.25654, 77.92848]
            ]
        })
        firstCollection = new ymaps.GeoObjectCollection(null)
        //******************************
        var myMap1 = new ymaps.Map("map1", {
            center: [x, y],
            zoom: 16
        },{
            restrictMapArea: [
                [42.8, 76.02848],
                [44.25654, 77.92848]
            ]
        })
        firstCollection1 = new ymaps.GeoObjectCollection(null)
        //********************************
        {% for office in school.school_offices.all %}
              x = parseFloat('{{office.latitude}}')
              y = parseFloat('{{office.longtude}}')
              console.log(x, y)
              firstCollection.add(new ymaps.Placemark([x, y], {id:'{{school.id}}'}, 
                  {
                      iconLayout: 'default#imageWithContent',
                      iconImageHref: '{% static "images/pointer.png" %}',
                      iconImageSize: [20, 30],
                      iconImageOffset: [-10, -30],
                      iconContentOffset: [15, 15],
                  }
              ));
              myMap.geoObjects.add(firstCollection); 
              firstCollection1.add(new ymaps.Placemark([x, y], {id:'{{school.id}}'}, 
                  {
                      iconLayout: 'default#imageWithContent',
                      iconImageHref: '{% static "images/pointer.png" %}',
                      iconImageSize: [20, 30],
                      iconImageOffset: [-10, -30],
                      iconContentOffset: [15, 15],
                  }
              ));
              myMap1.geoObjects.add(firstCollection1); 
        {% endfor %}
    }
  </script>
  <style type="text/css">
    .ymaps-2-1-74-controls__control_toolbar {}

    .ymaps-2-1-74-controls__control {
        right: 10px !important;
        left: auto !important;
    }

    .ymaps-2-1-74-search {
        display: none;
    }

    .ymaps-2-1-74-traffic {
        display: none;
    }

    .ymaps-2-1-74-listbox__button {
        display: none;
    }

    .left_p {
        padding-left: 0 !important;
    }

    .filter {
        padding-right: 0 !important;
        width: 180px !important;
    }

    .filter2 {
        padding-right: 0 !important;
        width: 150px !important;
    }
</style>

{% endblock content %}