<div class="ui modal small new_card_form">
    <i class="close icon"></i>
    <div class="content">
        <form style="width: 60%;margin: 0 auto;" class="ui form text-center">
            <div><b class="text17">Новая карточка</b></div>
            <div class="alreadyregistered highlight_red" style="min-height: 25px;margin: 10px 25px;display: none;"><b>Карточка с такими контактами уже зарегестрирована</b></div>            
            *Имя:
            <textarea class="new_card_name" placeholder="Введите имя:"></textarea>
            *Телефон:
            <textarea class="new_card_phone" placeholder="Введите телефон:"></textarea>
            <div class="wrong_mail_error wrong_mail_error highlight_red" style="min-height: 25px;margin: 10px 25px;display: none;"><b>Пожалуйста введите существующий email или оставьте поле пустым</b></div>
            Почта:
            <textarea class="new_card_mail" placeholder="Введите почту:"></textarea>
            Комментарий:
            <textarea class="new_card_comment" placeholder="Введите комментарий:"></textarea>
            <a class="ui button blue tiny add_card" id="">Сохранить</a>
        </form>
    </div>
</div>