<div class="payment_orig no_margin ui grid stackable pt5 pb5 pl15 pr15">
    <div class="three wide column no_padding">
        <span class="text13 textbold textdg student_counter"></span>
        <a class="student_name textbold textblue" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
        </a>
    </div>
    <div class="eleven wide column no_padding">
        <form class="ui form mb0 mt5 full-w">
            <div class="student_groups full-w">
            </div>
        </form>        
    </div>
    <div class="two wide column no_padding">
        <a style="right: 0" class="ui button mini white shadow_small border1 full-w pl5 pr5 show_payment_history">История оплаты</a>        
    </div>
</div>
<div class="mobmb15 deskmb5 group_box ui grid stackable mt0 ml0 mr0">
    <div class="wide column pt0 pb0 pl0 pr10" style="width: calc(100% - 377px); max-width: 250px;">
        <div class="group_name shadow_small textbold textw ui segment br5 pt5 pb5 pl5 pr5 mobmb5">
        </div>
    </div>
    <div class="wide column pt0 pb0 pl0 pr10" style="width: 219px;">
        <input style="width: 95px;" class="payment_amounts pl10 pr5 pb5 pt5" placeholder="Сумма" type="number">
        <a style="height: 29px;" class="ui button mini white border1 shadow_small make_payment ml10">Оплатить</a>
        <div class="dinline" style="width: 14px;">
            <i class="check icon green success_payment" style="display: none;"></i>
            <div class="ui active inline mini loader payment_load " style="display: none;"></div>
        </div>
    </div>
    <div class="wide column pt0 pb0 pl0 pr0" style="width: 158px;">
        <div class="text13" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
            <span class="textdg">Дата следующей оплаты:</span><br>
            <span class="payday_text textblue"></span> 
            <a class="show_change_date">
                <i class="icon pen square blue"></i>
            </a>
            <br>
            <div class="block_change_pay_date" style="display: none;">
                <input style="width: 145px;" class="pl5 pr0 pb5 pt0 payday_input" type="date" name="">
                <br>
                <a class="ui button mini white shadow_small border1 pt5 pb5 mt5 change_pay_date" style="width: 145px;height: 23px;">
                    Сохранить
                    <div class="payday_load ui active inline mini loader" style="display: none;"></div>
                    <i style="display: none;" class="paydate_check icon check blue ml5" id=""></i>
                </a>
            </div>
        </div>
    </div>
</div>
