{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" style="padding-bottom: 200px;">
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="twelve wide column">
                {% include 'school/head.html' %}
                <div class="ui segment mb0">
                    Отчет по бухгалтерии
                </div>
                <div class="ui segment no_padding no_margin">
                    <div style="display: flex;">
                    <!--    <span style="padding: 15px 0px 15px 15px;">Отчет за последнюю</span>
                        <div style="padding: 10px 0 0 10px;">
                            <a class="ui button mini green report_period" value="week" style="height: 29px;">Неделю</a>
                            <a class="ui button mini report_period" value="month" style="height: 29px;">Месяц</a>
                            <a class="ui button mini report_period" value="year" style="height: 29px;">Год</a>
                        </div>-->    
                    </div>
                    <div style="display: flex;">
                        <form class="ui form pl15 pt15" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                            <input type="date" name="first_report" style="width: 175px;height: 30px;" value="{{ weekago }}">
                            <span class="ml15 mr15">—</span>
                            <input type="date" name="second_report" style="width: 175px;height: 30px;" value="{{ today }}">
                            <div class="mt15">
                                <input type="submit" name="" class="ui button mini blue" style="height: 29px;" value="Скачать отчет">      
                            </div>
                        </form>
                    </div>
                </div>

                <div class="ui segment mb0">
                    На счету <b style="font-size: 14px;">{{ school_money }}тг</b> 
                </div>
                <div class="ui segment no_margin">
                    <div class="ui grid">                        
                        <div class="sixteen wide column pl5 pr5 ">
                            <b>Из них по группам:</b>
                        </div>
                        {% for sq in instance.groups.all %}
                        <div class="four wide column pl5 pr5 pt0">
                            <div class="ui segment">
                                <b>{{sq.title}}</b>
                                <br>
                                {{sq|squad_nms_sum}}тг
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
<span class="salary_url" url="{{ instance.salary_url }}"></span>
<span class="save_job_salary_url" url="{{ instance.save_job_salary }}"></span>

{% endblock content %}