{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details" style="padding-bottom: 200px;">
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="wide column" style="width: 80%;">
                <div class="ui segment shadow_small border1">
                    <div class="dflex text14 mb15">
                        <div class="pt5 textdg text15 textbold">Отчет по бухгалтерии</div>
                        <div class="ml50">
                            <a url="{{instance.show_money_history}}" class="ui button mini white shadow_small border1 show_money_history">Быстрая история</a>
                        </div>                        
                    </div>
                    Выберите период времени, за который нужен отчет:
                    <div class="dflex">
                        <form class="ui form pt5 mb0" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                            <input type="date" name="first_report" style="width: 175px;height: 30px;" value="{{ weekago }}">
                            <div class="ml15 mr15 dinline mt5">—</div>
                            <input type="date" name="second_report" style="width: 175px;height: 30px;" value="{{ today }}">
                            <div class="mt15 text-center">
                                <button type="submit" name="" class="ui button mini blue shadow_blue" style="height: 29px;">
                                    <i class="download icon" style="color: #fff"></i>
                                    Скачать отчет
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                {% if instance.version == 'standart' or instance.version == 'business' %}
                <div class="ui segment shadow_small border1">
                    <div class="dflex">
                        <div class="text15 textdg textbold mb15">Расходы</div>
                        <div class="textbold textgreen success_new_money" style="display: none;margin-left: 100px !important;">
                            Расходы записаны, можете посмотреть в истории
                        </div>                            
                    </div>
                    <div class="dflex">
                        <form class="ui form mb0 dflex">
                            <textarea class="no_margin new_money_title" placeholder="Название расхода"></textarea>
                            <input type="number" class="new_money_amount" name="" placeholder="Сумма">
                        </form>
                        <a class="ui button blue mini no_margin new_money_object" url="{{instance.new_money_object}}">Добавить</a>
                    </div>
                </div>
                {%endif%}
                <div class="ui segment shadow_small border1">
                    <div class="text15 textdg textbold">
                        На счету <span class="textblue">{{ school_money }}тг</span> 
                    </div>
                    <div class="ui grid stackable no_margin">                        
                        <div class="sixteen wide column textdg pl0">
                            <b>По группам:</b>
                        </div>
                        {% for sq in instance.groups.all %}
                        <div class="four wide column pl0 pr15 pt0">
                            <div class="ui segment border1 textw" style=";background-color: {%if sq.color_back == ''%}#313a57{%else%}{{ sq.color_back }}{%endif%};">
                                <b>{{sq.title}}</b>
                                <br>
                                Учитель: <span>{{sq.teacher.first_name}}</span>
                                <br>
                                {{sq|squad_nms_sum}}тг
                                <br>
                                <div class="text-center">                                
                                    <a class="mt5 ui button mini white pt5 pb5 textblue open_sq_finance" id="{{sq.id}}">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui modal sq_finance">
                    <i class="close icon"></i>
                    <div class="content text15">
                        <div class="text-center mb10">
                            <b class="group_title" style="font-size: 19px;"></b>
                            <br>
                            Учитель: 
                            <a class="group_teacher" href=""></a>
                        </div>
                        <div class="mb10 group_subjects">
                            Группа проходит курсы: 
                        </div>
                        <div class="mb15">
                            <b>Стоимость посещения данной группы:</b>
                            <span class="sq_cost"></span>
                        </div>
                        <div class="ui grid no_margin sq_students">
                        </div>
                    </div>
                </div>
                <div class="ui segment backdark mt0 textw">
                    {% include 'school/money_chart.html' %}
                </div>
                {% if instance.title == 'Тамос' %}
                    {% include 'school/good_results_chart.html' %}
                {% endif %}
                {% include 'school/bad_results_chart.html' %}
            </div>
        </div>
    </div>
</div>
<div class="ui modal small money_history" style="margin-top: 10%;min-height: 100%;">
    <i class="close icon"></i>
    <div class="content">
        <table id="keywords" cellspacing="0" cellpadding="0" style="color: #222;">
            <thead>
                <tr style="color: #222;">
                    <th>Название</th>
                    <th>Сумма</th>
                    <th>Время</th>
                </tr>
            </thead>
            <tbody class="history_cont">
            </tbody>
        </table>
    </div>
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
<span class="salary_url" group_finance="{%url 'schools:group_finance'%}" url="{{ instance.salary_url }}"></span>
<span class="save_job_salary_url" url="{{ instance.save_job_salary }}"></span>

{% endblock content %}