{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<script src='{% static "js/vue-drag/vue.min.js" %}'></script>
<script src='{% static "js/vue-drag/axios.min.js" %}'></script>
<script src='{% static "js/vue-drag/sortable.min.js" %}'></script>
<script src='{% static "js/vue-drag/vue-draggable.min.js" %}'></script>
<div id="group-details" style="padding-bottom: 200px;">
    <div class='ui container'>
        <div class="ui grid">
            {% include 'left_menu.html' %}
            <div class="w85 wide column">
                {% include 'school/head.html' %}
                <div class="ui grid stackable no_margin">
                    <div class="six wide column pt0 pl0 mobpr0 deskpr30 pb0">
                        <div class="shadow_small ui segment">
                            <div class="text17 text-center textbold mb5 textblue">
                                Аккаунты менеджеров
                            </div>
                            <div class="mt15 textdg text14">
                                Менеджеров сейчас: <b class="crnt_manager_num textblue mr15">{{managers|length}}</b>
                                <a class="ui button small pt5 pb5 blue shadow_blue" onclick="$('.new_tarif_managers_modal').modal('show')">Добавить менеджеров</a>
                            </div>
                            <div class="tarif_managers mt15 mb15">
                                {% for manager in managers %}
                                <div class="full-w dflex mb5">
                                    <a id="{{manager.id}}" style="width: calc(100% - 65px)" class="show_manager_data show_manager_data{{manager.id}} ui button small white shadow_small text-left textblue">
                                        <b class="manager_name">{{ manager.first_name }}</b>
                                        <div class="textg manager_status">{% if manager.check_end_work %}Доступен до {{manager.end_work}}{%endif%}</div>
                                    </a>
                                    {% if not manager.check_end_work and manager != profile %}
                                    <a profession="Manager" style="width: 65px;" class="delete_manager_show_modal mr0 ui button small pl5 pr5 white shadow_small textbold textred">Удалить</a>
                                    {%endif%}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="ui modal small delete_manager_modal">
                                <i class="icon close"></i>
                                <div class="content pb50">
                                    <div class="mb15 text17 text-center textblue textbold">Удаление сотрудника</div>
                                    <div class="mb5 text-center">Вы уверены, что хотите удалить сотрудника <span class="delete_manager_name textbold textblue"></span>?</div>
                                    <div class="text-center text14 textred textbold">Удаленного сотрудника нельзя будет восстановить</div>
                                    <div class="mt15 text-center">
                                        <a class="ui button small textbold mr15" onclick="$('.delete_manager_modal').modal('hide')">Отмена</a>
                                        <a class="ui button small white shadow_small textred textbold delete_manager">Удалить</a>
                                        <div class="ui inline active loader mini delete_manager_load" style="display: none;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui modal mini new_tarif_managers_modal">
                                <i class="icon close"></i>
                                <div class="content">
                                    <div class="text17 text-center textbold mb5 textblue">
                                        Добавление менеджеров
                                    </div>
                                    <form class="ui form pl15 pr15">
                                        <div class="textdg textbold text13">Количество новых менеджеров:</div>
                                        <input type="number" name="" value="1" class="managers_num_tarif mb0 pl5 pr5" style="width: 70px">
                                    </form>
                                    <div class="full-w text-center mb50">
                                        <a class="tarif_new_managers ui button blue small shadow_blue">
                                            Добавить 
                                            <span class="new_managers_cost">2 500</span> тг
                                        </a>
                                    </div>                                    
                                    <div class="text13 textddg">
                                        До конца подписки осталось <b class="textblue tarif_left_days">
                                        {{ school_crnt|tarif_days_left }}</b> дней
                                        <br>
                                        Стоимость за каждого менеджера <b class="textblue">2 500тг</b> в месяц
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column pt0 pl0 pr0 pb0">
                        <div class="shadow_small ui segment">
                            <div class="text17 text-center textbold mb5 textblue">
                                Учителя
                            </div>
                            <div class="mt15 textdg text14">
                                Учителей сейчас: <b class="textblue mr15">{{teachers|length}}</b>
                                <a class="ui button small pt5 pb5 blue shadow_blue" onclick="$('.sal_add_worker_form').modal('show')">Добавить учителя</a>                                
                            </div>
                            <div class="tarif_managers mt15 mb15">
                                {% for manager in teachers %}
                                <div class="full-w dflex mb5">
                                    <a id="{{manager.id}}" style="width: calc(100% - 65px)" class="show_manager_data show_manager_data{{manager.id}} ui button small white shadow_small text-left textblue">
                                        <b class="manager_name">{{ manager.first_name }}</b>
                                        <div class="textg manager_status">{% if manager.check_end_work %}Доступен до {{manager.end_work}}{%endif%}</div>
                                    </a>
                                    {% if not manager.check_end_work and manager != profile %}
                                    <a style="width: 65px;" profession="Teacher" class="delete_manager_show_modal mr0 ui button small pl5 pr5 white shadow_small textbold textred">Удалить</a>
                                    {%endif%}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui modal mini manager_data">
    <i class="icon close"></i>
    <div class="content">
        <div class="text-center textbold textblue text17">
            Данные менеджера 
            <span class="crnt_manager_name"></span>
        </div>
        <form class="ui form mt15">
            <div class="textdg textbold text13">
                Имя:
            </div>
            <textarea class="manager_name_change"></textarea>
            <div class="textdg textbold text13">
                Номер:
            </div>
            <textarea class="manager_phone_change"></textarea>
            <div class="textdg textbold text13">
                Почта:
            </div>
            <textarea class="manager_mail_change"></textarea>
            <div class="">
                <a class="ui button small pt5 pb5 textbold textblue white shadow_small border1 change_schooler_password">Обновить пароль аккаунта</a>
                <div class="mt10">
                    <div class="ui active inline loader mini schooler_new_password_load" style="display: none;"></div>
                    <div class="change_schooler_password_exp textdg textbold text13" style="display: none;">Новый пароль аккаунта: </div>
                    <div class="textblue textbold schooler_new_password" style="display: none;"></div>                    
                </div>
            </div>
        </form>
        <div class="text-center">
            <a class="ui button small blue shadow_blue save_manager_data">Сохранить</a>
            <div style="display: none;" class="ui active inline loader mini save_manager_load"></div>
            <i style="display: none;" class="save_manager_check icon check textgreen"></i>
        </div>
    </div>
</div>
<span class="data" change_schooler_password="{% url 'schools:change_schooler_password' %}" delete_manager="{% url 'schools:delete_manager' %}" save_manager_data="{% url 'schools:save_manager_data' %}" show_manager_data="{% url 'schools:show_manager_data' %}"></span>
<div class="ui modal small sal_add_worker_form">
    <i class="icon close"></i>
    <div class="content">
        <form style="width: 300px;margin: 0 auto;" class="ui form textbold textdg text14">
            <div class="text-center textbold textblue text15 mb10">Новый сотрудник</div>
            <div style="display: none;" class="textred textbold not_success_created_worker">Заполните все обязательные поля</div>
            Имя*
            <textarea class="new_sal_worker_name mb10"></textarea>
            Номер*
            <textarea class="new_sal_worker_phone mb10"></textarea>
            Почта
            <textarea class="new_sal_worker_mail mb5"></textarea>
            <div class="text-center">
                <a job_id="" prof="" class="ui button mini small blue add_worker_school mt10" url="{% url 'schools:add_worker_school' %}">Добавить сотрудника</a>
                <div class="add_worker_school_load ui active inline loader small" style="display: none;"></div>
            </div>
            <div style="height: 38px" class="mt30 mb15 text-center new_passowrd_place">
            </div>
        </form>        
    </div>
</div>
<div style="display: none;">
    <div class="worker_orig border1 shadow_small mb10 mt5" draggable='true' id="" job_id="">
        <div class="ui grid no_margin">
            <div class="eight wide column pt10 pr10 pb10 pl10">
                <a class="sch_worker_name" href="">
                </a>
            </div>
        </div>
    </div>    
</div>
<span class="day_id" id="" group_id = '{{ instance.id }}'></span>
<span class="salary_url" url="{{ instance.salary_url }}"></span>
<span class="save_job_salary_url" url="{{ instance.save_job_salary }}"></span>
<span style="display: none;" id="0" class="current_worker"></span>
<script type="text/javascript">
    calc_first_cost_for_managers()
    function calc_first_cost_for_managers(){
        managers_num = $('.managers_num_tarif').val()
        left_days = parseInt($('.tarif_left_days').text()) / 30
        tarif_cost = (2500 * left_days * managers_num).toFixed(0)
        tarif_cost = add_spaces_to_cost(tarif_cost)
        $('.new_managers_cost').text(tarif_cost)        
    }
    function add_spaces_to_cost(tarif_cost){
        tarif_cost = tarif_cost + ''
        temp_str = ''
        j = 1
        for (var i = tarif_cost.length - 1; i >= 0; i--) {
            temp_str = tarif_cost[i] + temp_str
            if (j % 3 == 0) {
                temp_str = ' ' + temp_str
            }
            j += 1
        }
        return temp_str        
    }
    function sal_add_worker(prof_id, job_id){
        $('.sal_add_worker_form').modal('show')
        $('.add_worker_school').attr('prof_id', prof_id)
        $('.add_worker_school').attr('job_id', job_id)
        $('.new_passowrd_place').empty()
        $('.new_sal_worker_name').val('');
        $('.new_sal_worker_phone').val('');
        $('.new_sal_worker_mail').val('');        
    }
    function save_worker_id(id){
        $('.current_worker').attr('id', id)
    }
    $('.add_worker_school').click(function(e) {
        url = $(this).attr('url');
        $('.success_worker_school').hide()
        prof_id =  $(this).attr('prof_id')
        job_id =  $(this).attr('job_id')
        name = $('.new_sal_worker_name').val();
        phone = $('.new_sal_worker_phone').val();
        mail = $('.new_sal_worker_mail').val();
        console.log(name, phone)
        if (name == '' || phone == '') {
            $('.not_success_created_worker').show()
        }
        else{
            $('.add_worker_school').addClass('disabled')
            $('.add_worker_school_load').show()
            $.ajax({
                url: url,
                data: {
                    'name':name,
                    'phone':phone,
                    'mail':mail,
                    'prof_id':prof_id,
                    'job_id':job_id,
                },
                dataType: 'json',
                success: function (data) {
                    $('.add_worker_school_load').hide()
                    $('.add_worker_school').removeClass('disabled')
                    if (data.ok) {
                        $('.success_worker_school').show()
                        $('.new_passowrd_place').html('Пароль аккаунта ' + name + ': ' + data.password + '<div class="textred textbold">Не забудьте записать пароль</div>')
                        new_worker = $('.worker_orig').clone()
                        new_worker.removeClass('worker_orig')
                        new_worker.attr('ondragstart', "save_worker_id('"+data.id+"')")
                        new_worker.attr('id', 'worker'+data.id)
                        new_worker.attr('job_id', job_id)
                        new_worker.find('.sch_worker_name').text(name)
                        new_worker.find('.sch_worker_name').attr('href', data.url)
                        new_worker.appendTo('.jobbox'+job_id)
                    }
                    else{
                        $('.not_success_created_worker').show()
                    }
                }
            })
        }
    })    
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
            }
        },
        methods: {
            move_worker(job_id) {
                id = $('.current_worker').attr('id')
                oldjob_id = $('#worker'+id).attr('job_id')
                axios.get('/schools/api/move_worker/', {
                    params: {
                        'job_id': job_id,
                        'worker_id': id,
                        'oldjob_id':oldjob_id,
                    }
                }).then( (res) => {
                        if(res.data.ok == false){
                            $('.move_worker_error').show()
                            $('#worker'+id).hide()
                        }
                        else{
                            $('#worker'+id).attr('job_id', job_id)
                            $('.move_worker_error').hide()
                        }
                    });
            },
        },
    })    
</script>
{% endblock content %}