{% extends "base.html" %}
{% block head_title %}
Расписание | {{ block.super }}
{% endblock head_title %}
{% load crispy_forms_tags %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details">
    <div class='ui container pb50'>
        <div class="ui grid pb50">
            {% include 'left_menu.html' %}
            <div class="wide column pr0" style="width: 85%;">
                <div class="ui segment margin0 shadow_small topbr5" style="font-size: 15px;">
                    <b class="text15 textdg">Расписание школы</b>
                    {% include 'modals/schedule_filters.html' %}
                </div>
                <div id="calendar" class="shadow_dark bottombr5 pb15" length='7'>
                    <div class="loading" style="display: none;">
                      <div class="animation"><div class="circle one"></div></div>
                      <div class="animation"><div class="circle two"></div></div>
                      <div class="animation"><div class="circle three"></div></div>
                      <div class="animation"><div class="circle four"></div></div>
                      <div class="animation"><div class="circle five"></div></div>
                      <div class="animation"><div class="circle six"></div></div>
                    </div>
                    {% include 'school/crm_classicschedule.html' %}
                </div>   
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
    {% include 'school/schedule_lecture.html' %}    
</div>
<script type="text/javascript">
    function show_subject_cost(cost){
        $('.subject_cost').html(cost)
    }
    get_schedule_work()
    {% include 'modals/update_schedule_lectures.html'%}
    {% include 'modals/get_schedule_work.html'%}
</script>
{% endblock content %}