{% extends "base.html" %}

{% load ttttags %}
{% load ttags %}
{% load staticfiles %}

{% block content %}
<div id="group-details">
    <div class='ui container'>
        <div class="ui grid stackable">
            {% include 'left_menu.html' %}
            <div class="wide column in_mobile no_padding">
                <div class="ui segment" style="margin-bottom: 0;margin-top: 0">
                    <form class="ui form">  
                        <div style="padding-bottom: 15px;">
                            Выберите <b>предмет</b>:
                            <div class="controls" style="margin-top: 10px"> 
                                <select class="crm_option" id="crm_subject_mobile" url="{{ instance.crm_option_url }}" option="subject"> 
                                    {% if profile.filter_data.subject %}
                                        <option value="{{ profile.filter_data.subject.id }}">{{ profile.filter_data.subject.title }}</option>
                                    {% endif %}
                                    <option value="-1">Все предметы</option>
                                    {% for subject_category in subject_categories %}
                                        {% if subject_category != profile.filter_data.subject %}
                                        <option value="{{ subject_category.id }}">{{ subject_category.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div style="padding-bottom: 15px;">
                            Выберите <b>возраст</b>:
                            <div class="controls" style="margin-top: 10px"> 
                                <select class="crm_option" id="crm_age_mobile" url="{{ instance.crm_option_url }}" option="age"> 
                                    {% if profile.skill.crm_age %}
                                        <option value="{{ profile.skill.crm_age.id }}">{{ profile.skill.crm_age.title }}</option>
                                    {% endif %}
                                    <option value="-1">Все возрасты</option>
                                    {% for subject_age in subject_ages %}
                                        {% if subject_age != profile.skill.crm_age %}
                                        <option value="{{ subject_age.id }}">{{ subject_age.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>                            
                        </div>
                        <div>
                            Выберите <b>класс</b>:
                            <div class="controls" style="margin-top: 10px"> 
                                <select class="crm_option" id="crm_squad_mobile" url="{{ instance.crm_option_url }}" option="group"> 
                                    {% if filter_data.squad.first %}
                                        <option value="{{ filter_data.squad.first.id }}">{{ filter_data.squad.first.title }}</option>
                                    {% endif %}
                                    <option value="-1">Все классы</option>
                                    {% for squad in squads %}
                                        {% if squad != filter_data.squad.first %}
                                        <option value="{{ squad.id }}">{{ squad.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>            
            <div class="nine wide column">
                <div class="ui segment" style="margin-bottom: 0;">
                    <div class="ui grid">
                        <div class="one wide column">
                            <i class="icon trophy" style="font-size: 17px;"></i>
                        </div>
                        <div class="fifteen wide column" style="padding-right: 25px;font-size: 15px;">
                            Рейтинг студентов
                        </div>
                    </div>
                </div>
                <div class="ui segment" id="calendar" style="margin-top: 0;padding: 0">
                    <div class="loading" style="display: none;">
                      <div class="animation"><div class="circle one"></div></div>
                      <div class="animation"><div class="circle two"></div></div>
                      <div class="animation"><div class="circle three"></div></div>
                      <div class="animation"><div class="circle four"></div></div>
                      <div class="animation"><div class="circle five"></div></div>
                      <div class="animation"><div class="circle six"></div></div>
                    </div>                    
                    <table id="keywords" cellspacing="0" cellpadding="0" style="background: #4A4A4A;margin: 0;width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 30%"><span><i class="sort alphabet down icon"></i> Имя</span></th>
                                <th><span>Посещаемость</span></th>
                                <th><span>Успеваемость</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if instance %}
                            {% for student in profile|rating_filter %}
                                <tr style="{% if forloop.counter|is_odd %}background-color: #545454{% endif %}">
                                    <td style="text-align: left;">
                                        <div style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                                            {{ forloop.counter }}.
                                            {{ student.first_name }}
                                        </div>
                                    </td>
                                    <td>{{ student.coins }}</td>
                                    <td>{{ student.coins }}</td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="three wide column not_in_mobile" style="padding-left: 0;">
                <div class="ui segment" style="margin-bottom: 0;margin-top: 0">
                    <form class="ui form">  
                        <div style="padding-bottom: 15px;">
                            Выберите <b>предмет</b>:
                            <div class="controls" style="margin-top: 10px"> 
                                <select class="crm_option" id="crm_subject" url="{{ instance.crm_option_url }}" option="subject"> 
                                    {% if profile.filter_data.subject %}
                                        <option value="{{ profile.filter_data.subject.id }}">{{ profile.filter_data.subject.title }}</option>
                                    {% endif %}
                                    <option value="-1">Все предметы</option>
                                    {% for subject_category in subject_categories %}
                                        {% if subject_category != profile.filter_data.subject %}
                                        <option value="{{ subject_category.id }}">{{ subject_category.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div style="padding-bottom: 15px;">
                            Выберите <b>возраст</b>:
                            <div class="controls" style="margin-top: 10px"> 
                                <select class="crm_option" id="crm_age" url="{{ instance.crm_option_url }}" option="age"> 
                                    {% if profile.skill.crm_age %}
                                        <option value="{{ profile.skill.crm_age.id }}">{{ profile.skill.crm_age.title }}</option>
                                    {% endif %}
                                    <option value="-1">Все возрасты</option>
                                    {% for subject_age in subject_ages %}
                                        {% if subject_age != profile.skill.crm_age %}
                                        <option value="{{ subject_age.id }}">{{ subject_age.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>                            
                        </div>
                        <div>
                            Выберите <b>класс</b>:
                            <div class="controls" style="margin-top: 10px"> 
                                <select class="crm_option" id="crm_squad" url="{{ instance.crm_option_url }}" option="group"> 
                                    {% if filter_data.squad.first %}
                                        <option value="{{ filter_data.squad.first.id }}">{{ filter_data.squad.first.title }}</option>
                                    {% endif %}
                                    <option value="-1">Все классы</option>
                                    {% for squad in squads %}
                                        {% if squad != filter_data.squad.first %}
                                        <option value="{{ squad.id }}">{{ squad.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock content %}