{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}
{% load ttags %}
{% load ttttags %}
{% load staticfiles %}

{% block content %}
<div class='ui container pt15'>
    <div class="ui grid stackable">
        {% include 'left_menu.html' %}
        <div class="w85 wide column">
            {% include 'school/head.html' %}
            {% for sm in socialmedias %}
            <div class="ui raised segment">
                <div style="width: 150px;" class="dinline ui {%if sm.title == 'Instagram'%}pink{%else%}blue{%endif%} ribbon label "><i class="icon {{sm.content}} textw"></i>{{sm.title}}</div>
                <div class="mb10 mt10 dinline">
                    {% if sm.accounts.all|length > 0 %}
                    <div class="ui image label shadow_small backwhite mr15">
                        {% if sm.accounts.first.image_icon %}
                        <img src="{{sm.accounts.first.image_icon.url}}">
                        {% endif %}
                        {% if sm.accounts.first.username != '-' %}
                        {{sm.accounts.first.username}}
                        {% else %}
                        Сообщество {{sm.accounts.first.groupname}}                        
                        {% endif %}
                    </div>
                    {% endif %}
                    <a class="ui button mini {% if sm.accounts.all|length == 0 %}green shadow_green{%else%}white shadow_small textblue border1{%endif%} connect_sm" status="{{sm.title}}" url="{%url 'schools:connect_sm'%}">
                        {% if sm.accounts.all|length == 0 %}Подключить{%else%}Переподключить{%endif%}
                        <i class="icon right arrow {% if sm.accounts.all|length == 0 %}textw{%endif%}"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
<!--             <div class="ui segment">
                <form method="POST" class="ui form"> {% csrf_token %}
                    <textarea name="type">confirmation</textarea>
                    <textarea name="group_id">169590398</textarea>
                    <input type='submit' value='go' class='ui button green'>
                </form>
            </div>
 -->        </div>
    </div>
</div>
<span class="check_moderator" style="display: none;" status="{%if is_moderator%}True{%else%}False{%endif%}"></span>
{% endblock content %}