{% load ttttags %}
<div class="ui segment" style="margin-bottom: 0">
  <div class="ui grid">
      <div class="one wide column">
          <i class="icon th list" style="font-size: 17px;"></i>
      </div>
      <div class="fifteen wide column">
          Рейтинг преподавателей
      </div>
  </div>
</div>
<div class="ui segment" style="margin-top: 0;padding: 0">
    <table id="keywords" cellspacing="0" cellpadding="0" style="background: #4A4A4A;margin: 0;width: 100%;">
        <thead>
            <tr>
                <th style="width: 30%"><span><i class="sort alphabet down icon"></i> Имя</span></th>
                <th><span>Посещаемость студентов</span></th>
                <th><span>Успеваемость студентов</span></th>
                <th><span>Проверено домашек</span></th>
                <th><span>Пунктуальность</span></th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in instance|top_teachers %}
                <tr style="{% if forloop.counter|is_odd %}background-color: #545454{%endif%}">
                    <td style="text-align: left;">
                        {{ forloop.counter }}. 
                        {{ teacher.first_name }}
                    </td>
                    <td>{{ teacher.coins }}</td>
                    <td>{{ teacher.coins }}</td>
                    <td>{{ teacher.coins }}</td>
                    <td>{{ teacher.coins }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

